<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.exercise_algorithm"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">

            <b-form-group
              :label="$lang.caption"
              label-for="caption"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.caption"
                :rules="$v.caption.$params"
              />
              <b-form-input
                id="caption"
                type="text"
                :autocomplete="$lang.caption"
                v-model="$v.caption.$model"
                :state="$v.caption.$dirty ? !$v.caption.$error : null"
              ></b-form-input>

              <b-form-invalid-feedback
                id="caption-feedback"
              >{{$lang.error_required | replace($lang.caption)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group label-for="has_audience" :label-cols="12">
              <b-form-checkbox id="has_audience" v-model="$v.has_audience.$model" switch>{{$lang.has_candidate}}
              </b-form-checkbox>
            </b-form-group>

            <b-form-group label-for="has_assessor" :label-cols="12">
              <b-form-checkbox id="has_assessor" v-model="$v.has_assessor.$model" switch>{{$lang.has_assessor}}
              </b-form-checkbox>
            </b-form-group>

            <b-form-group label-for="has_room" :label-cols="12">
              <b-form-checkbox id="has_room" v-model="$v.has_room.$model" switch>{{$lang.has_room}}</b-form-checkbox>
            </b-form-group>

            <b-card>
              <div class="text-center" v-show="isLoading">
                <b-spinner variant="primary" label="Text Centered"></b-spinner>
              </div>
              <div slot="header">
                ایجاد
                <strong v-text="$lang.exercise_algorithm_detail"></strong>
              </div>

              <b-form-group
                :label="$lang.run_duration"
                label-for="duration"
                :label-cols="this.$config.form.labelCol"
              >
                <b-form-input
                  id="duration"
                  type="number"
                  min="5"
                  max="600"
                  :autocomplete="$lang.run_duration"
                  v-model="$v.duration.$model"
                  :state="$v.duration.$dirty ? !$v.duration.$error : null"
                ></b-form-input>
                <small class="form-text text-muted w-100 text-right">{{$lang.minute}}</small>

                <b-form-invalid-feedback
                  id="duration-feedback"
                >{{$lang.error_required | replace($lang.run_duration)}}
                </b-form-invalid-feedback>
              </b-form-group>

            </b-card>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                 <i class="fa fa-check"></i>
                {{$lang.submitButton}}
              </b-button>
              <b-button type="reset" class="ml-2" size="md" variant="danger" @click="handleBack">
                <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>

          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Multiselect from "vue-multiselect";
    import Notify from "../../../shared/toast";
    import config from "../../../shared/config";
    import {validationMixin} from "vuelidate";
    import {
        required,
        numeric
    } from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            caption: {
                required
            },
            has_audience: {},
            has_assessor: {},
            has_room: {},
            duration: {
                required
            },
        },

        name: "add-algorithm",
        components: {Multiselect},
        props: {
            mode: {
                type: String,
                default: "add"
            },
            isModal: {
                type: Boolean,
                default: false
            },
            algorithm_id: {
                type: String,
                default: ""
            },
            entityId: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                isLoading: false,
                caption: '',
                has_audience: null,
                has_assessor: null,
                has_room: null,
                duration: null,
            };
        },
        methods: {
            handleBack() {
                if (this.backUrl) {
                    this.$route.push(this.backUrl);
                } else if (this.isModal) {
                    this.$emit("modal-end-up");
                    // this.handleBack();
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            afterSave() {
                if (this.backUrl) {
                    this.$router.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            clear() {
                (this.caption = null)
                (this.has_audience = "")
                (this.has_assessor = "")
                (this.has_room = "")
                (this.duration = "");
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                this.isLoading = false;

                let payload = {
                    caption: this.caption,
                    has_audience: this.has_audience === true ? 1 : 0,
                    has_assessor: this.has_assessor === true ? 1 : 0,
                    has_room: this.has_room === true ? 1 : 0,
                };

                this.$httpService
                    .post(config.api_url +
                        config.resources.exercise_algorithm.replace('{0}',
                            this.entityId), payload)
                    .then(response => {

                        let payload = {
                            duration: this.duration
                        };
                        this.$httpService
                            .post(config.api_url +
                                config.resources.exercise_algorithm_detail.replace(
                                    '{0}', this.entityId)
                                    .replace(
                                        '{1}', response.data.data.id
                                    ), payload)
                            .then(response => {

                                Notify.success(response.data.message);
                                this.afterSave();
                            });
                    })
                    .catch(err => {
                        console.log(err.response);
                        Notify.error(err.response.data.message);
                        err.response.data.message.forEach(element => {
                            this.errors.push(element);
                        });
                    });

                this.isLoading = true;
            },
        },
        created() {
            this.has_audience = true;
            this.has_assessor = true;
            this.has_room = true;
        },
        watch: {}
    };
</script>

<style lang="css">
  .main .container-fluid {
    padding: 0 10px !important;
  }
</style>
