<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.exercise_algorithm"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">

            <b-form-group :label="$lang.caption" label-for="caption" :label-cols="this.$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.caption" :rules="$v.caption.$params" />
              <b-form-input id="caption" type="text" :autocomplete="$lang.caption" v-model="$v.caption.$model"
                :state="$v.caption.$dirty ? !$v.caption.$error : null"></b-form-input>

              <b-form-invalid-feedback id="name-feedback">عنوان ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <b-form-checkbox id="has_audience" v-model="$v.has_audience.$model" switch>{{$lang.has_candidate}}
                </b-form-checkbox>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <b-form-checkbox id="has_assessor" v-model="$v.has_assessor.$model" switch>{{$lang.has_assessor}}
                </b-form-checkbox>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <b-form-checkbox id="has_room" v-model="$v.has_room.$model" switch>{{$lang.has_room}}</b-form-checkbox>
              </div>
            </div>

            <b-form-group :label="$lang.order" label-for="order" :label-cols="this.$config.form.labelCol">
              <b-form-input id="order" v-model="$v.order.$model" :state="$v.order.$dirty ? !$v.order.$error : null"
                type="number" min="1" max="1000" :autocomplete="$lang.order"></b-form-input>
              <b-form-invalid-feedback id="family-feedback">ترتیب ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <search :url="algorithmDetailUrl" :title="$lang.exerciseAlgorithmDetail"
              :allowFields="$lang.algorithm_detail_fields" config="exercise_algorithm_detail" addModalSize="lg"
              removeModalSize="xl" :visibleSearch="false" :visibleSettings="false" :visibleExport="false"
              :visibleFilters="false" :visibleViewCount="false" :allowEdit="false" :toggleable="true"
              ref="searchExerciseAlgorithmDetail" :dynamicButtons="buttons">
              <template slot="addModal" slot-scope="search">
                <addAlgorithmDetail isModal @modal-end-up="search.close" :exerciseId="exercise_id"
                  :algorithmId="algorithm_id" entity="exercise_algorithm"></addAlgorithmDetail>
              </template>

              <!-- <template v-slot:buttons="prop">
                <b-dropdown-item @click="changeAlgorithmDetail(prop.itemsData)">
                  <span>
                    <i class="fa fa-edit fa-lg text-success"></i>
                    <strong v-text="$lang.search.edit_tooltip"></strong>
                  </span>
                </b-dropdown-item>
              </template> -->
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_algorithm_detail" size="xl" ok-only hide-footer hide-header>
              <editAlgorithmDetail :isModal="true" :entityId="algorithm_detail_id"
                @modal-end-up="closeEditAlgorithmDetail"></editAlgorithmDetail>


            </b-modal>
            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" v-if="showPermissionButton" size="md" variant="success">
                <i class="fa fa-check"></i>
                {{$lang.submitButton}}
              </b-button>
              <b-button type="reset" class="ml-2" size="md" variant="danger" @click="handleBack">
                <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>

          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import Multiselect from "vue-multiselect";
  import Notify from "../../../shared/toast";
  import config from "../../../shared/config";
  import AddAlgorithmDetail from "./detail/addAlgorithmDetail";
  import EditAlgorithmDetail from "./detail/editAlgorithmDetail";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    numeric
  } from "vuelidate/lib/validators";
  import search from "../../search";

  export default {
    mixins: [validationMixin],
    validations: {
      caption: {
        required
      },
      has_audience: {
        required,
      },
      has_assessor: {
        required,
      },
      has_room: {
        required,
      },
      order: {
        required
      },
    },

    name: "add-algorithm",
    components: {
      Multiselect,
      search,
      AddAlgorithmDetail,
      EditAlgorithmDetail
    },
    props: {
      mode: {
        type: String,
        default: "add"
      },
      isModal: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        exercise_id: this.$route.params.id,
        algorithm_id: this.$route.params.algorithm_id,
        algorithmDetailUrl: "",
        view_edit_algorithm_detail: false,
        permission: [],
        allowPermissions: ["admin", "edit"],
        showPermissionButton: false,
        algorithm_detail_id: null,
        isLoading: false,
        booleanLoading: false,
        caption: '',
        has_assessor: '',
        has_audience: '',
        has_room: '',
        boolean_options: [],
        buttons: [{
            id: '0',
            name: "edit",
            click: this.changeAlgorithmDetail
          },
          {
            id: "1",
            name: "view",
            click: this.changeAlgorithmDetail
          },
          {
            id: "2",
            name: "enable",
          },
          {
            id: "3",
            name: "delete",
          }
        ],
      };
    },
    methods: {
      handleBack() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else if (this.isModal) {
          this.$emit("modal-end-up");
          // this.handleBack();
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        (this.caption = null)
        (this.has_audience = "")
        (this.has_assessor = "")
        (this.has_room = "")
        (this.order = null);
      },
      getBoolean() {
        this.boolean_options = [{
            value: 1,
            text: "دارد"
          },
          {
            value: 0,
            text: "ندارد"
          }
        ];
      },
      changeAlgorithmDetail(item) {
        this.view_edit_algorithm_detail = true;
        this.algorithm_detail_id = item.id.toString();;
      },
      closeEditAlgorithmDetail() {
        this.view_edit_algorithm_detail = false;
        this.$refs.searchExerciseAlgorithmDetail.getItems();
        this.algorithm_id = "";
      },
      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      save() {

        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }

        this.isLoading = false;

        let payload = {
          caption: this.caption,
          has_audience: this.has_audience === true ? 1 : 0,
          has_assessor: this.has_assessor === true ? 1 : 0,
          has_room: this.has_room === true ? 1 : 0,
          order: this.order,
        };

        // add data for exercise_algorithm
        this.$httpService
          .put(config.api_url +
            config.resources.exercise_algorithm.replace('{0}', this.exercise_id) + '/' + this.algorithm_id, payload)
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            err.response.data.message.forEach(element => {
              this.errors.push(element);
            });
          });
        this.isLoading = true;
      },
      fetchData() {
        if (isNaN(this.exercise_id)) {
          Notify.error("Not a number!");
          return false;
        }

        return this.$httpService
          .get(config.api_url + config.resources.exercise_algorithm.replace(
            '{0}', this.exercise_id
          ) + "/" + this.algorithm_id)
          .then(response => {
            let data = response.data.data;

            this.permission = response.data.permissions;
            this.caption = data.caption;
            this.order = data.order;
            this.has_audience = data.has_audience === 1 ? true : false;
            this.has_assessor = data.has_assessor === 1 ? true : false;
            this.has_room = data.has_room === 1 ? true : false;
            return true
          })
          .catch(err => {
            // Notify.error(err.response.message);
            Notify.error(err.message);
            return false
          });
      },
      PermissionButtons() {
        console.log(1)
        this.permission.map(x => {
          if (this.allowPermissions.includes(x)) {
            this.showPermissionButton = true
          }
        })

      }
    },
    created() {
      this.algorithmDetailUrl =
        config.api_url +
        config.resources.exercise_algorithm_detail.replace(
          "{0}", this.exercise_id
        ).replace(
          "{1}", this.algorithm_id
        );

      this.isLoading = true;
      this.getBoolean();
      this.fetchData().then(() => this.PermissionButtons()).finally(() => {
        this.isLoading = false
      });
    },
    watch: {}
  };

</script>

<style lang="css">
  .main .container-fluid {
    padding: 0 10px !important;
  }

</style>
