<template>
  <search :url="url" :title="$lang.searchAlgorithmExercise" :remove_item="remove_item" addModalSize="lg"
    removeModalSize="xl" :toggleable="true" :dynamicButtons="buttons">
    <template slot="addModal" slot-scope="search" config="exercise-algorithm">
      <addExerciseAlgorithm isModal @modal-end-up="search.close"></addExerciseAlgorithm>
    </template>
<!-- 
    <template v-slot:buttons="prop">
      <b-dropdown-item @click="showAlgorithmDetailSearch(prop.itemsData)">
        <span>
          <i class="fa fa-circle fa-lg text-info"></i>
          <strong v-text="$lang.search.exercise_algorithm_tooltip"></strong>
        </span>
      </b-dropdown-item>
    </template> -->

  </search>
</template>

<script>
  import search from "../../search";
  import addExerciseAlgorithm from "./addAlgorithm";
  import Notify from "../../../shared/toast.js";

  export default {
    components: {
      search,
      addExerciseAlgorithm
    },
    data() {
      return {
        loadingItem: false,
        url: this.$config.api_url + this.$config.resources.exercise_algorithm.replace(
          '{0}', this.$route.params.id
        ),
        buttons: [{
          id: '0',
          name:"exerciseAlgorithm",
          text: this.$lang.search.exercise_algorithm_tooltip,
          iconFont: "fa fa-circle fa-lg text-info",
          click: this.showAlgorithmDetailSearch
        }],
      };
    },
    methods: {
      editItem(item) {
        //   this.$router.push("/competency/edit/" + item.id);
        console.log(item);
      },
      remove_item(item) {
        console.log("remove");
        return this.$httpService
          .delete(this.url + "/" + item.id)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      },
      showAlgorithmDetailSearch(item) {
        this.$router.push("/exercise/" + item.id + '/algorithm/search');
      }
    }
  };

</script>

<style>
</style>
