<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div slot="header">
            <strong v-text="$lang.search.scoring_competency_tooltip"></strong>
          </div>
          <p>
            <span>{{$lang.status}}:</span>
            <span class="badge badge-primary" v-text="status"></span>
          </p>
          <b-card>
            <b-row>
              <div class="col-lg-6 col-md-6 col-xs-12">
                <p>
                  <strong v-text="$lang.competency"></strong>
                  : {{this.competency_name}}
                </p>
                <p>
                  <strong v-text="$lang.exercise"></strong>
                  : {{this.exercise_name}}
                </p>
                <p>
                  <strong v-text="$lang.candidate"></strong>
                  : {{this.candidate}}
                </p>
                <p>
                  <strong v-text="$lang.assessor"></strong>
                  : {{this.assessor}}
                </p>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12">
                <p>
                  <strong v-text="$lang.assessment_plan"></strong>
                  : {{this.assessment_plan_name}}
                </p>
                <p>
                  <strong v-text="$lang.template"></strong>
                  : {{this.template_name}}
                </p>
                <p>
                  <strong v-text="$lang.company"></strong>
                  : {{this.company_name}}
                </p>
              </div>
            </b-row>
          </b-card>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.score" label-for="score" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.score" :rules="$v.score.$params" />
              <b-form-input id="score" type="number"  :autocomplete="$lang.score"
                :state="$v.score.$dirty ? !$v.score.$error : null" v-model="$v.score.$model"></b-form-input>
              <b-form-invalid-feedback v-if="!$v.score.required" id="score-feedback">{{$lang.error_required | replace($lang.score)}}
              </b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="($v.score.required) && (!$v.score.minValue|!$v.score.maxValue)" id="score-feedback">{{$lang.error_Value| replace($lang.score,5,0)}}</b-form-invalid-feedback>

            </b-form-group>

            <b-form-group :label="$lang.description" label-for="description" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.description" :rules="$v.description.$params" />
              <b-form-textarea id="description" :state="$v.description.$dirty ? !$v.description.$error : null"
                v-model="$v.description.$model" type="text" :autocomplete="$lang.description"
                :rows="this.$config.form.textareaRows"></b-form-textarea>
              <b-form-invalid-feedback id="description-feedback">{{$lang.error_required | replace($lang.description)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <search v-if="case_evidenceUrl" :url="case_evidenceUrl+'?is_enable='" ref="indicator_search"
              :title="$lang.indicator" :allowFields="$lang.template_indicator_fields"
              config="template_competency_indicator" addModalSize="lg" removeModalSize="xl" :visibleSearch="false"
              :visibleSettings="false" :visibleExport="false" :visibleFilters="false" :visibleViewCount="false"
              :allowEdit="false" :allowRemove="false" :visibleAdd="false" :dynamicButtons="buttons">
              <template v-slot:buttons="prop">

              </template>
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_CenterExecuteCaseEvidence" size="lg" ok-only hide-footer hide-header>
              <editCenterExecuteCaseEvidence :isModal="true"
                :entityId="[center_execute_id,case_id,indicator_id,indicator_name,template_id,this.exercise_id]"
                @modal-end-up="closeEditCenterExecuteCaseEvidence"></editCenterExecuteCaseEvidence>

                
            </b-modal>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_history_CenterExecuteCaseEvidence" size="xl" ok-only hide-footer>
              <search :title="$lang.search.center_execute_case_evidence_history_tooltip" v-if="case_evidenceUrl"
                :url="case_evidenceUrl + '?is_enable=0'" :allowFields="$lang.center_execute_case_evidence_fields"
                ref="history_centerExecuteCaseEvidence_search" config="center_execute_case_evidence"
                :visibleSearch="false" :visibleSettings="false" :visibleExport="false" :visibleFilters="false"
                :visibleViewCount="false" :allowEdit="false" :allowRemove="false" :visibleAdd="false"
                :allowOperate="false"></search>
            </b-modal>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>

          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
        </b-card>
        <!--/.col-->
      </b-col>
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import search from "../search";
  import Notify from "../../shared/toast";
  import editCenterExecuteCaseEvidence from "../center_execute_case_evidence/editCenterExecuteCaseEvidence";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    numeric,
    minValue,
    maxValue

  } from "vuelidate/lib/validators";

  export default {
    mixins: [validationMixin],
    validations: {
      score: {
        required,
        minValue: minValue(0),
        maxValue: maxValue(5),
        numeric,
      },
      description: {}
    },
    name: "edit-center_execute_case_competency",
    components: {
      search,
      editCenterExecuteCaseEvidence
    },
    props: {
      backUrl: {
        type: String,
        default: ""
      }
    },
    data() {
      return {
        exercise_id: "",
        assessment_plan_name: "",
        competency_name: "",
        status: null,
        company_name: "",
        template_name: "",
        assessor: "",
        candidate: "",
        indicator_id: "",
        indicator_name: "",
        exercise_name: "",
        center_execute_id: this.$route.params.center_execute_id,
        case_id: this.$route.params.case_id,
        competency_id: this.$route.params.competency_id,
        template_id: "",
        execute_id: "",
        url_get_exercise: "",
        score: "",
        description: "",
        view_edit_CenterExecuteCaseEvidence: false,
        view_history_CenterExecuteCaseEvidence: false,
        isLoading: false,
        case_evidenceUrl: "",
        buttons: [{
            id: 0,
            name:"evidence", //مصداق
            click: this.showEditCenterExecuteCaseEvidence,

          },
          {
            id: 0,
            name:"viewHistory", // تاریخچه عملیات
            click: this.showHistoryCenterExecuteCaseEvidence,

          }
        ]
      };
    },
    methods: {
      handleBack() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else if (this.isModal) {
          this.$emit("modal-end-up");
          // this.handleBack();
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        this.name = "";
        this.description = "";
      },
      changes() {
        console.log(this.date);
      },
      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      closeEditCenterExecuteCaseEvidence() {
        this.view_edit_CenterExecuteCaseEvidence = false;
        this.$refs.indicator_search.getItems();
        this.case_id = "";
      },
      showEditCenterExecuteCaseEvidence(item) {
        this.indicator_id = item.indicator_object.id;
        this.indicator_name = item.indicator;
        this.view_edit_CenterExecuteCaseEvidence = true;
      },
      closeHistoryCenterExecuteCaseEvidence() {
        this.view_history_CenterExecuteCaseEvidence = false;
        this.$refs.history_centerExecuteCaseEvidence_search.getItems();
      },
      showHistoryCenterExecuteCaseEvidence() {
        this.view_history_CenterExecuteCaseEvidence = true;
      },
      save() {
        this.isLoading = true;
        this.$v.$touch();
        if (this.$v.$anyError) {
          this.isLoading = false;
          return;
        }

        let payload = {
          score: this.score,
          description: this.description
        };
        this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.center_execute_case_competency
            .replace("{0}", this.$route.params.center_execute_id)
            .replace("{1}", this.$route.params.case_id) +
            "/" +
            this.$route.params.competency_id,
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }

            this.isLoading = false;
          });
      },
      fetchData() {
        if (
          isNaN(this.center_execute_id) ||
          isNaN(this.case_id) ||
          isNaN(this.competency_id)
        ) {
          Notify.error("Not a number!");
          return false;
        }

        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.center_execute_case_competency
            .replace("{0}", this.center_execute_id)
            .replace("{1}", this.case_id) +
            "/" +
            this.competency_id +
            "?is_enable=1"
          )
          .then(response => {
            let data = response.data.data;
            console.log(data)
            if (!data || data.length == 0) {
              return false;
            }
            this.assessment_plan_name =
              data.center_execute_case.center_execute.assessment_plan
              .candidate_count +
              " " +
              this.$lang.candidate +
              " " +
              data.center_execute_case.center_execute.assessment_plan
              .assessor_count +
              " " +
              this.$lang.assessor +
              " " +
              data.center_execute_case.center_execute.assessment_plan.room_count +
              " " +
              this.$lang.room;
            this.template_name =
              data.center_execute_case.center_execute.assessment_plan.template.caption;
            this.template_id =
              data.center_execute_case.center_execute.assessment_plan.template.id;
            this.company_name =
              data.center_execute_case.center_execute.company.name;

            this.assessor = "-";
            if (data.center_execute_case.assessor !== null) {
              this.assessor =
                data.center_execute_case.assessor.person.name +
                " " +
                data.center_execute_case.assessor.person.family;
            }

            this.candidate =
              data.center_execute_case.candidate.person.name +
              " " +
              data.center_execute_case.candidate.person.family;
            this.competency_id = data.competency.id;
            this.competency_name = data.competency.name;
            this.exercise_name =
              data.center_execute_case.exercise_algorithm_detail.exercise_algorithm.exercise.name;
            this.exercise_id =
              data.center_execute_case.exercise_algorithm_detail.exercise_algorithm.exercise_id;

            this.url_get_exercise =
              this.$config.api_url +
              this.$config.resources.template_exercise
              .replace("{0}", this.template_id)
              .replace("{1}", this.exercise_id);

            this.score = data.score;

            this.status = this.$lang.pending;
            if (data.status === 2) {
              this.status = this.$lang.confirmed;
            }
            this.description = data.description;

            this.isLoading = false;

            this.case_evidenceUrl =
              this.$config.api_url +
              this.$config.resources.center_execute_case_evidences_by_competency
              .replace("{0}", this.center_execute_id)
              .replace("{1}", this.case_id)
              .replace("{2}", this.competency_id);
            return true;
          })
          .catch(err => {
            // Notify.error(err.response.data.message);
            throw err;
          });
      }
    },
    watch: {},
    created() {
      this.isLoading = true;
      this.fetchData().then(x => {
        if (!x) {
          Notify.error(this.$lang.data_not_exist)
          this.handleBack();
        }
      }).finally(() => this.isLoading = false)
    }
  };

</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }

</style>
