<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.indicator"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.competency" label-for="competency_id" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.competency"
                :rules="$v.competency_id.$params"
              />
              <selectAsync
                :options="competency_options"
                v-model="$v.competency_id.$model"
                label="text"
                :asyncFind="getCompetency"
                :isValid="$v.competency_id.$dirty ? !$v.competency_id.$error : null"
                :loading="competencyLoading"
              />

              <b-form-invalid-feedback
                id="competency_id-feedback"
              >{{$lang.error_required | replace($lang.competency)}}</b-form-invalid-feedback>
            </b-form-group>

            <div class="row">
              <div class="col-md-8">
                <b-form-group :label="$lang.caption" label-for="caption" :label-cols="12">
                  <requiredComponent
                    slot="label"
                    :label="$lang.caption"
                    :rules="$v.caption.$params"
                  />
                  <b-form-input
                    id="caption"
                    type="text"
                    :autocomplete="$lang.caption"
                    :state="$v.caption.$dirty ? !$v.caption.$error : null"
                    v-model="$v.caption.$model"
                  ></b-form-input>

                  <b-form-invalid-feedback
                    id="caption-feedback"
                  >{{$lang.error_required | replace($lang.caption)}}</b-form-invalid-feedback>
                </b-form-group>
              </div>

              <div class="col-md-4">
                <b-form-group
                  :label="$lang.type + ' ' + $lang.indicator"
                  label-for="value"
                  :label-cols="12"
                >
                  <requiredComponent
                    slot="label"
                    :label="$lang.type+' '+$lang.indicator"
                    :rules="$v.value.$params"
                  />
                  <b-form-radio-group
                    id="value"
                    v-model="$v.value.$model"
                    :state="$v.value.$dirty ? !$v.value.$error : null"
                    :options="value_options"
                    buttons
                    button-variant="outline-primary"
                    name="radios-btn-default"
                  ></b-form-radio-group>
                </b-form-group>
              </div>
            </div>

            <b-form-group
              :label="$lang.third_person"
              label-for="caption_third_person"
              :label-cols="12"
            >
              <requiredComponent
                slot="label"
                :label="$lang.third_person"
                :rules="$v.caption_third_person.$params"
              />
              <b-form-textarea
                id="caption_third_person"
                v-model="$v.caption_third_person.$model"
                type="text"
                :state="$v.caption_third_person.$dirty ? !$v.caption_third_person.$error : null"
                :autocomplete="$lang.third_person"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>

              <b-form-invalid-feedback
                id="caption_third_person-feedback"
              >{{$lang.error_required | replace($lang.third_person)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.second_person"
              label-for="caption_second_person"
              :label-cols="12"
            >
              <requiredComponent
                slot="label"
                :label="$lang.second_person"
                :rules="$v.caption_second_person.$params"
              />
              <b-form-textarea
                id="caption_second_person"
                v-model="$v.caption_second_person.$model"
                :state="$v.caption_second_person.$dirty ? !$v.caption_second_person.$error : null"
                type="text"
                :autocomplete="$lang.second_person"
                rows="4"
              ></b-form-textarea>

              <b-form-invalid-feedback
                id="caption_second_person-feedback"
              >{{$lang.error_required | replace($lang.second_person)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.imperative" label-for="caption_imperative" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.imperative"
                :rules="$v.caption_imperative.$params"
              />
              <b-form-textarea
                id="caption_imperative"
                v-model="$v.caption_imperative.$model"
                :state="$v.caption_imperative.$dirty ? !$v.caption_imperative.$error : null"
                type="text"
                :autocomplete="$lang.imperative"
                rows="4"
              ></b-form-textarea>

              <b-form-invalid-feedback
                id="caption_imperative-feedback"
              >{{$lang.error_required | replace($lang.imperative)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.managerial" label-for="caption_managerial" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.managerial"
                :rules="$v.caption_managerial.$params"
              />
              <b-form-textarea
                id="caption_managerial"
                v-model="$v.caption_managerial.$model"
                :state="$v.caption_managerial.$dirty ? !$v.caption_managerial.$error : null"
                type="text"
                :autocomplete="$lang.managerial"
                rows="4"
              ></b-form-textarea>

              <b-form-invalid-feedback
                id="caption_managerial-feedback"
              >{{$lang.error_required | replace($lang.managerial)}}</b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success" >
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
                {{$lang.cancelButton}}
               <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    caption: {
      required
    },
    value: {
      required
    },
    caption_third_person: {
      required
    },
    caption_second_person: {
      required
    },
    caption_imperative: {},
    caption_managerial: {},
    competency_id: {
      required
    }
  },
  name: "add-indicator",
  components: {},
  props: {
    isModal: {
      type: Boolean,
      default: false
    },
    backUrl: {
      type: String,
      default: ""
    },
    competency: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      isLoading: false,
      competencyLoading: false,
      caption: "",
      value: "",
      caption_third_person: "",
      caption_second_person: "",
      caption_imperative: "",
      caption_managerial: "",
      competency_id: this.competency,
      competency_selected: null,
      value_options: [
        { value: "1", text: this.$lang.positive },
        { value: "-1", text: this.$lang.negative }
      ],
      competency_options: [],
      errors: []
    };
  },
  methods: {
    handleBack() {
      if (this.isModal) {
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    clear() {
      this.caption = "";
      this.value = "";
      this.caption_third_person = "";
      this.caption_second_person = "";
      this.caption_imperative = "";
      this.caption_managerial = "";
      this.competency_selected = "";
    },
    changes() {
      console.log(this.date);
    },
    afterSave() {
      if (this.backUrl) {
        this.$route.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    save() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }

      this.isLoading = true;
      let payload = {
        caption: this.caption,
        value: this.value,
        caption_third_person: this.caption_third_person,
        caption_second_person: this.caption_second_person,
        caption_imperative: this.caption_imperative,
        caption_managerial: this.caption_managerial,
        competency_id: this.competency_id.value
      };
      this.$httpService
        .post(this.$config.api_url + this.$config.resources.indicator, payload)
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          this.isLoading = false;
        });
    },
    getCompetency(query) {
      if (!query || query.length < 3) {
        this.competency_options = [];
        return;
      }
      this.competencyLoading = true;
      this.$httpService
        .get(
          this.$config.api_url +
            this.$config.resources.competency +
            "?name=" +
            query
        )
        .then(response => {
          let competency = response.data.data.result;
          competency = competency.map(x => {
            return {
              value: x.id,
              text: x.name + " - " + x.reference.caption
            };
          });

          this.competency_options = competency;
        })
        .catch(err => {
          this.competency_options = [];
        })
        .finally(() => {
          this.competencyLoading = false;
        });
    }
  },
  created() {
    this.value = 1;
  }
};
</script>

<style scoped lang="css">
.btn {
  margin-bottom: 4px;
}
</style>
