<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>

          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.indicator"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">

            <b-form-group
              :label="$lang.competency"
              label-for="competency_id"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.competency"
                :rules="$v.competency_selected.$params"
              />
              <selectAsync
                :options="competency_options"
                v-model="$v.competency_selected.$model"
                label="text"
                track-by="id"
                :asyncFind="getCompetencies"
                :isValid="$v.competency_selected.$dirty ? !$v.competency_selected.$error : null"
                :loading="competencyLoading"
              />

              <b-form-invalid-feedback
                id="competency_selected-feedback"
              >{{$lang.error_required | replace($lang.competency)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <div class="row">
              <div class="col-md-8">
                <b-form-group :label="$lang.caption" label-for="caption" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.caption" :rules="$v.caption.$params"/>
                  <b-form-input
                    id="caption"
                    type="text"
                    :autocomplete="$lang.caption"
                    :state="$v.caption.$dirty ? !$v.caption.$error : null"
                    v-model="$v.caption.$model"
                  ></b-form-input>

                  <b-form-invalid-feedback
                    id="caption-feedback"
                  >{{$lang.error_required | replace($lang.caption)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </div>

              <div class="col-md-4">

                <b-form-group :label="$lang.type+' '+$lang.indicator" label-for="caption" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.type+' '+$lang.indicator" :rules="$v.value.$params"/>
                  <b-form-radio-group
                    id="value"
                    v-model="$v.value.$model"
                    :state="$v.value.$dirty ? !$v.value.$error : null"
                    :options="value_options"
                    buttons
                    button-variant="outline-primary"
                    name="radios-btn-default"
                    style="cursor:pointer;"
                  ></b-form-radio-group>
                </b-form-group>

                <b-form-invalid-feedback
                  id="value-feedback"
                >{{$lang.error_required | replace($lang.type+' '+$lang.indicator)}}
                </b-form-invalid-feedback>

              </div>
            </div>

            <b-form-group
              :label="$lang.third_person"
              label-for="caption_third_person"
              :label-cols="12"
            >
              <requiredComponent
                slot="label"
                :label="$lang.third_person"
                :rules="$v.caption_third_person.$params"
              />
              <b-form-textarea
                id="caption_third_person"
                v-model="$v.caption_third_person.$model"
                type="text"
                :state="$v.caption_third_person.$dirty ? !$v.caption_third_person.$error : null"
                :autocomplete="$lang.third_person"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>

              <b-form-invalid-feedback
                id="caption_third_person-feedback"
              >{{$lang.error_required | replace($lang.third_person)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.second_person"
              label-for="caption_second_person"
              :label-cols="12"
            >
              <requiredComponent
                slot="label"
                :label="$lang.second_person"
                :rules="$v.caption_second_person.$params"
              />
              <b-form-textarea
                id="caption_second_person"
                v-model="$v.caption_second_person.$model"
                :state="$v.caption_second_person.$dirty ? !$v.caption_second_person.$error : null"
                type="text"
                :autocomplete="$lang.second_person"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>

              <b-form-invalid-feedback
                id="caption_second_person-feedback"
              >{{$lang.error_required | replace($lang.second_person)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.imperative" label-for="caption_imperative" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.imperative"
                :rules="$v.caption_imperative.$params"
              />
              <b-form-textarea
                id="caption_imperative"
                v-model="$v.caption_imperative.$model"
                :state="$v.caption_imperative.$dirty ? !$v.caption_imperative.$error : null"
                type="text"
                :autocomplete="$lang.imperative"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>

              <b-form-invalid-feedback
                id="caption_imperative-feedback"
              >{{$lang.error_required | replace($lang.imperative)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.managerial" label-for="caption_managerial" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.managerial"
                :rules="$v.caption_managerial.$params"
              />
              <b-form-textarea
                id="caption_managerial"
                v-model="$v.caption_managerial.$model"
                :state="$v.caption_managerial.$dirty ? !$v.caption_managerial.$error : null"
                type="text"
                :autocomplete="$lang.managerial"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>

              <b-form-invalid-feedback
                id="caption_managerial-feedback"
              >{{$lang.error_required | replace($lang.managerial)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" v-if="showPermissionButton" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
               {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {required, numeric} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            caption: {
                required
            },
            value: {
                required
            },
            caption_third_person: {
                required
            },
            caption_second_person: {
                required
            },
            caption_imperative: {},
            caption_managerial: {},
            competency_selected: {
                required
            }
        },
        name: "edit-indicator",
        components: {},
        props: {
            mode: {
                type: String,
                default: "edit"
            },
            modal: {
                type: Boolean,
                default: false
            },
            competencyId: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                competency_id: this.competencyId,
                id: this.$route.params.id,
                caption: "",
                value: null,
                value_options: [
                    {value: "1", text: this.$lang.positive},
                    {value: "-1", text: this.$lang.negative}
                ],
                caption_third_person: "",
                caption_second_person: "",
                caption_imperative: "",
                caption_managerial: "",
                competency_options: [],
                  permission: [],
        allowPermissions: ["admin", "edit"],
        showPermissionButton:false,
                competency_selected: null,
                errors: [],
                competencyLoading: false,
                isLoading: false
            };
        },
        methods: {
            handleBack() {
                if (this.isModal) {
                    this.$emit("modal-end-up");
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            clear() {
                this.caption = "";
                this.value = null;
                this.caption_third_person = "";
                this.caption_second_person = "";
                this.caption_imperative = "";
                this.caption_managerial = "";
                this.category_selected = null;
                this.competency_id = null;
            },
            changes() {
                console.log(this.date);
            },
            getCompetencies(query) {
                if (!query || query.length < 3) {
                    this.competency_options = [];
                    return;
                }
                this.competencyLoading = true;
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.competency + "?name=" + query)
                    .then(response => {
                        let competency = response.data.data.result;
                        competency = competency.map(x => {
                            return {
                                value: x.id,
                                text: x.name + ' - ' + x.reference.caption
                            };
                        });

                        this.competency_options = competency;
                    })
                    .catch(err => {
                        this.competency_options = [];
                    })
                    .finally(() => {
                        this.competencyLoading = false;
                    });
            },
            afterSave() {
                if (this.backUrl) {
                    this.$router.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }
                this.isLoading = true;

                let payload = {
                    caption: this.caption,
                    value: this.value,
                    caption_third_person: this.caption_third_person,
                    caption_second_person: this.caption_second_person,
                    caption_imperative: this.caption_imperative,
                    caption_managerial: this.caption_managerial,
                    competency_id: this.competency_selected.value
                };
                this.$httpService
                    .put(
                        this.$config.api_url + this.$config.resources.indicator + "/" + this.id,
                        payload
                    )
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        if (err.response.status === 400) {
                            if (typeof err.response.data.message === "object") {
                                err.response.data.message.forEach(element => {
                                    this.errors.push(element);
                                });
                            } else {
                                Notify.error(err.response.data.message);
                            }
                        } else {
                            Notify.error(err.message);
                        }
                        this.isLoading = false;
                    });
            },
            fetchData() {
                if (isNaN(this.id)) {
                    Notify.error("Not a number!");
                    return false;
                }
                return this.$httpService
                    .get(this.$config.api_url + this.$config.resources.indicator + "/" + this.id)
                    .then(response => {
                        let data = response.data.data;

                        this.caption = data.caption;
                        this.value = data.value.id;
                        this.caption_third_person = data.caption_third_person;
                        this.caption_second_person = data.caption_second_person;
                        this.caption_imperative = data.caption_imperative;
                        this.caption_managerial = data.caption_managerial;

                        this.competency_selected = {
                            value: data.competency.id,
                            text: data.competency.name + ' - ' + data.competency.reference.caption
                        };

                        this.isLoading = false;
                        return true
                    })
                    /*.catch(err => {
                        // alert(JSON.stringify(err));
                        Notify.error(err.response.data.message);
                        this.isLoading = false;
                    })*/;
            },
             PermissionButtons() {
        this.permission.map(x => {
          if (this.allowPermissions.includes(x)){
              this.showPermissionButton=true
          }
        })
        
      }
        },
        watch: {},
        created() {
            this.isLoading = true;
           this.fetchData().then(()=>this.PermissionButtons());

        }
    };
</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }
</style>
