<template>
  <div class="animated fadeIn col-md-12">
    <search :url="url" :title="$lang.searchIndicator" :remove_item="remove_item" addModalSize="lg" removeModalSize="xl"
      :toggleable="true" :dynamicButtons="buttons">
      <template slot="addModal" slot-scope="search">
        <addIndicator isModal @modal-end-up="search.close"></addIndicator>
      </template>
    </search>
  </div>
</template>

<script>
  import search from "../search";
  import addIndicator from "./addIndicator";
  import Notify from "../../shared/toast.js";

  export default {
    components: {
      search,
      addIndicator
    },
    data() {
      return {
        loadingItem: false,
        url: this.$config.api_url + this.$config.resources.indicator,
        buttons: [{
            id: "0",
            name: "edit",
          },
          {
            id: "1",
            name: "view",
          },
          {
            id: "2",
            name: "enable",
          },
          {
            id: "3",
            name: "delete",
          }
        ]
      };
    },
    methods: {
      editItem(item) {
        //   this.$router.push("/competency/edit/" + item.id);
        console.log(item);
      },
      remove_item(item) {
        console.log("remove");
        return this.$httpService
          .delete(this.url + "/" + item.id)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      }
    }
  };

</script>

<style>
</style>
