<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ثبت
            <strong v-text="$lang.values"></strong>
          </div>
          <div v-show="errors.length>0" class="alert-danger">
            <h4>خطا:</h4>
            <ul v-bind:key="index" v-for="(error,index) in errors">
              <li>{{error}}</li>
            </ul>
          </div>

          <b-form @submit.prevent="save" v-show="!isLoading">

            <b-form-group
              :label="$lang.category"
              label-for="category_selected"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.category"
                :rules="$v.category_selected.$params"
              />
              <selectFind
                :options="category_options"
                v-model="$v.category_selected.$model"
                label="text"
                id="value"
                :isValid="$v.category_selected.$dirty ? !$v.category_selected.$error : null"
                :loading="categoryLoading"
              />

              <b-form-invalid-feedback id="company-feedback">
                {{$lang.error_required | replace($lang.company)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.parent"
              label-for="parent_selected"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.parent"
                :rules="$v.parent_selected.$params"
              />
              <selectFind
                :options="parent_options"
                v-model="$v.parent_selected.$model"
                label="text"
                id="value"
                :isValid="$v.parent_selected.$dirty ? !$v.parent_selected.$error : null"
                :loading="parentLoading"
              />

              <b-form-invalid-feedback id="category-feedback">
                {{$lang.error_required | replace($lang.category)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.caption"
              label-for="enum_caption"
              :label-cols="$config.form.labelCol"
            >
              <b-form-input
                id="enum_caption"
                type="text"
                :autocomplete="$lang.enum_caption"
                v-model="$v.enum_caption.$model"
                :state="$v.enum_caption.$dirty ? !$v.enum_caption.$error : null"
              ></b-form-input>

              <b-form-invalid-feedback
                id="caption-feedback"
              >{{$lang.error_required | replace($lang.caption)}}
              </b-form-invalid-feedback>
            </b-form-group>


            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="primary" v-text="$lang.submit">
                <i class="fa fa-dot-circle-o"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                v-text="$lang.cancelButton"
                @click="handleBack"
              >
                <i class="fa fa-ban"></i>
              </b-button>
            </div>

          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {
        required,
        numeric
    } from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            category_selected: {
                required
            },
            enum_caption: {
                required
            },
            parent_selected: {},
        },

        name: "add-enum",
        components: {},
        props: {
            mode: {
                type: String,
                default: "add"
            },
            modal: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                isLoading: false,
                errors: [],
                category_name: null,
                caption: null,
                category_options: [],
                parent_options: [],
                category_selected: null,
                parent_selected: null,
                categoryLoading: false,
                parentLoading: false,
            };
        },
        methods: {
            handleBack() {
                if (this.isModal) {
                    this.$emit("modal-end-up");
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            clear() {
                (this.category_selected = null)
                (this.parent_selected = null)
                (this.caption = null);
            },
            changes() {
                console.log(this.date);
            },
            getEnum() {
                this.$httpService
                    .get(this.$config.api_url + this.$config.metaData.enum_grouped)
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let enumeration = response.data.data.result;

                        enumeration = enumeration.map(x => {
                            return {
                                value: x.category_name,
                                text: x.category_caption
                            };
                        });
                        this.category_options = enumeration;
                    })
                    .catch(err => {
                        Notify.error(err.response.data.message);
                    }).finally(() => this.categoryLoading = false);
            },
            getEnumParent() {
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.enum+'?per_page=-1')
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let enumeration = response.data.data.result;

                        enumeration = enumeration.map(x => {
                            return {
                                value: x.id,
                                text: x.category_caption + ' - ' +x.enum_caption
                            };
                        });
                        this.parent_options = enumeration;
                    })
                    .catch(err => {
                        Notify.error(err.response.data.message);
                    }).finally(() => this.parentLoading = false);
            },
            afterSave() {
                if (this.backUrl) {
                    this.$route.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                this.isLoading = false;
                let parent_id;
                if(this.parent_selected === null)
                    parent_id = 0;
                else
                    parent_id = this.parent_selected.value;

                let payload = {
                    category_name: this.category_selected.value,
                    enum_caption: this.enum_caption,
                    parent_id: parent_id,
                };

                // add data for enumeration
                this.$httpService
                    .post(this.$config.api_url +
                        this.$config.resources.enum, payload)
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {

                        Notify.error(err.response.data.message);

                        this.isLoading = false;
                    });
            },
        },
        created() {
            this.isLoading = true;
            this.parentLoading = true;
            this.categoryLoading = true;
            this.getEnum();
            this.getEnumParent();
            this.isLoading = false;
        },
        watch: {
            details() {
                console.log(this.details);
            }
        }
    };
</script>

<style lang="css">
  .main .container-fluid {
    padding: 0 10px !important;
  }
</style>
