<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.base_values"></strong>
          </div>
          <div v-show="errors.length>0" class="alert-danger">
            <h4>خطا:</h4>
            <ul v-bind:key="index" v-for="(error,index) in errors">
              <li>{{error}}</li>
            </ul>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">

            <b-form-group
              :label="$lang.category"
              label-for="category_selected"
              :label-cols="$config.form.labelCol"
            >

              <requiredComponent
                slot="label"
                :label="$lang.category"
                :rules="$v.category_selected.$params"
              />
              <selectFind
                :options="category_options"
                v-model="$v.category_selected.$model"
                label="text"
                id="value"
                :isValid="$v.category_selected.$dirty ? !$v.category_selected.$error : null"
                :loading="categoryLoading"
              />

              <b-form-invalid-feedback id="category_selected-feedback">
                {{$lang.error_required | replace($lang.category)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.parent"
              label-for="parent_selected"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.parent"
                :rules="$v.parent_selected.$params"
              />
              <selectFind
                :options="parent_options"
                v-model="$v.parent_selected.$model"
                label="text"
                id="value"
                :isValid="$v.parent_selected.$dirty ? !$v.parent_selected.$error : null"
                :loading="parentLoading"
              />

              <b-form-invalid-feedback id="parent_selected-feedback">
                {{$lang.error_required | replace($lang.company)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.caption"
              label-for="enum_caption"
              :label-cols="$config.form.labelCol"
            >
              <b-form-input
                id="enum_caption"
                type="text"
                :autocomplete="$lang.enum_caption"
                v-model="$v.enum_caption.$model"
                :state="$v.enum_caption.$dirty ? !$v.enum_caption.$error : null"
              ></b-form-input>

              <b-form-invalid-feedback
                id="caption-feedback"
              >{{$lang.error_required | replace($lang.caption)}}
              </b-form-invalid-feedback>
            </b-form-group>


            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="primary" v-text="$lang.submit">
                <i class="fa fa-dot-circle-o"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                v-text="$lang.cancelButton"
                @click="handleBack"
              >
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {required} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            category_selected: {
                required
            },
            parent_selected: {},
            enum_caption: {
                required
            },
        },
        name: "edit-exercise",
        components: {},
        data() {
            return {
                id: this.$route.params.id,
                errors: [],
                enum_caption: "",
                category_options: [],
                parent_options: [],
                category_selected: null,
                parent_selected: null,
                categoryLoading: false,
                parentLoading: false,
                isLoading: false,
            };
        },
        methods: {
            handleBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
            },
            clear() {
                this.enum_caption = "";
                this.category_selected = null;
                this.parent_selected = null;
            },
            changes() {
                console.log(this.date);
            },
            getEnum() {
                return this.$httpService
                    .get(this.$config.api_url + this.$config.metaData.enum_grouped)
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let enumeration = response.data.data.result;
                        enumeration = enumeration.map(x => {
                            return {
                                value: x.category_name,
                                text: x.category_caption
                            };
                        });

                        this.category_options = enumeration;
                        return true;
                    })
                    .catch(err => {
                        Notify.error(err.message);
                    }).finally(() => this.categoryLoading = false);
            },
            getEnumParent() {
                return this.$httpService
                    .get(this.$config.api_url + this.$config.resources.enum + '?per_page=-1')
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let enumeration = response.data.data.result;

                        enumeration = enumeration.map(x => {
                            return {
                                value: x.id,
                                text: x.category_caption + ' - ' + x.enum_caption
                            };
                        });
                        enumeration.push({
                            value: 0,
                            text: 'بدون والد'
                        });
                        this.parent_options = enumeration;
                        return true;
                    })
                    .catch(err => {
                        Notify.error(err.message);
                    }).finally(() => this.parentLoading = false);
            },
            afterSave() {
                if (this.backUrl) {
                    this.$router.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                this.isLoading = false;
                let parents_id;
                if (this.parent_selected === null)
                    parents_id = 0;
                else
                    parents_id = this.parent_selected.value;

                let payload = {
                    enum_caption: this.enum_caption,
                    category_name: this.category_selected.value,
                    parent_id: parents_id
                };
                this.$httpService
                    .put(
                        this.$config.api_url + this.$config.resources.enum + "/" + this.id,
                        payload
                    )
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        if (err.response.status === 400) {
                            if (typeof err.response.data.message === "object") {
                                err.response.data.message.forEach(element => {
                                    this.errors.push(element);
                                });
                            } else {
                                Notify.error(err.response.data.message);
                            }
                        } else {
                            Notify.error(err.message);
                        }

                        this.isLoading = false;
                    });
            },
            fetchData() {
                if (isNaN(this.id)) {
                    Notify.error("Not a number!");
                    return false;
                }
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.enum + "/" + this.id + "/detail")
                    .then(response => {
                        let data = response.data.data;
                        this.enum_caption = data.enum_caption;

                        this.getEnum().then(response => {
                            this.category_selected = this.category_options.find(
                                x => x.value === data.category_name
                            );
                        });
                        this.getEnumParent().then(response => {
                            // if (data.parent_id !== 0) {
                            //     alert('a');
                                this.parent_selected = this.parent_options.find(
                                    x => x.value === data.parent_id
                                );
                            // } else {
                            //     alert('b');
                            //     this.parentLoading = false;
                            // }
                        });

                    })
                    .catch(err => {
                    });
            }
        },
        watch: {},
        created() {
            this.isLoading = true;
            this.categoryLoading = true;
            this.parentLoading = true;
            this.fetchData();
            this.isLoading = false;
        }
    };
</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }
</style>
