<template>
  <search
    :url="url"
    :title="$lang.searchEnum"
    :remove_item="remove_item"
    config="user"
    :toggleable="true"
    :toggle_item="toggle_item"
    :allowRemove="false"
    addModalSize="lg"
  >
    <template slot="addModal" slot-scope="search">
      <addEnum isModal @modal-end-up="search.close"></addEnum>
    </template>
  </search>
</template>

<script>
    import search from "../search";
    import Notify from "../../shared/toast.js";
    import AddEnum from "./addEnum";

    export default {
        components: {AddEnum, search},
        data() {
            return {
                loadingItem: false,
                url: this.$config.api_url + this.$config.resources.enum
            };
        },

        methods: {
            remove_item(item) {
                console.log("remove");
                return this.$httpService
                    .delete(this.url + "/" + item.id)
                    .then(response => {
                        Notify.success(response.data.message);
                        return true;
                    })
                    .catch(err => {
                        Notify.error(err.response.data.message);
                        throw "error";
                    });
            },
            toggle_item(item) {
                console.log(item);
            }
        }
    };
</script>

<style>
</style>
