<template>
  <div class="animated fadeIn col-md-12">
    <b-row style>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.address"></strong>
          </div>
          <b-alert variant="danger" show dismissible v-show="errors.length>0">
            <li v-bind:key="index" v-for="(error,index) in errors">{{error}}</li>
          </b-alert>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group
              :label="$lang.type"
              label-for="kind_selected"
              :label-cols="this.$config.form.labelCol"
            >

             <requiredComponent
                slot="label"
                :label="$lang.type"
                :rules="$v.kind_selected.$params"
              />
              <selectFind
                :options="address_kind_options"
                v-model="$v.kind_selected.$model"
                label="text"
                :isValid="$v.kind_selected.$dirty ? !$v.kind_selected.$error : null"
                :loading="kindLoading"
              />

              <b-form-invalid-feedback
                id="kind_selected-feedback"
                :style="{display:$v.kind_selected.$error?'block':'none'}"
              >{{$lang.error_required | replace($lang.address_kind)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.province"
              label-for="province_id"
              :label-cols="this.$config.form.labelCol"
            >
<requiredComponent
                slot="label"
                :label="$lang.province"
                :rules="$v.province_selected.$params"
              />
              <selectFind
                :options="province_options"
                v-model="$v.province_selected.$model"
                label="text"
                :isValid="$v.province_selected.$dirty ? !$v.province_selected.$error : null"
                :loading="provinceLoading"
              />
              <b-form-invalid-feedback
                id="province_id-feedback"
                :style="{display:$v.province_selected.$error?'block':'none'}"
              >{{$lang.error_required | replace($lang.province)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.city"
              label-for="city_selected"
              :label-cols="this.$config.form.labelCol"
            >
            <requiredComponent
                slot="label"
                :label="$lang.city"
                :rules="$v.city_selected.$params"
              />
              <selectFind
                :options="city_options"
                v-model="$v.city_selected.$model"
                label="text"
                :isValid="$v.city_selected.$dirty ? !$v.city_selected.$error : null"
                :loading="cityLoading"
              />

              <b-form-invalid-feedback
                id="gender_id-feedback"
                :style="{display:$v.city_selected.$error?'block':'none'}"
              >{{$lang.error_required | replace($lang.city)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.postal_code"
              label-for="address"
              :label-cols="this.$config.form.labelCol"
            >
            <requiredComponent
                slot="label"
                :label="$lang.postal_code"
                :rules="$v.postal_code.$params"
              />
              <b-form-input
                id="postal_code"
                type="text"
                v-model="$v.postal_code.$model"
                :state="$v.postal_code.$dirty ? !$v.postal_code.$error : null"
                :autocomplete="$lang.postal_code"
                class="text-right"
              ></b-form-input>
              <div
                class="invalid-feedback"
                v-if="(!$v.postal_code.minLengh|!$v.postal_code.maxLengh)"
              >{{$lang.error_length| replace($lang.postal_code,10)}}</div>
            </b-form-group>

            <b-form-group
              :label="$lang.address"
              label-for="address"
              :label-cols="this.$config.form.labelCol"
            >
            <requiredComponent
                slot="label"
                :label="$lang.address"
                :rules="$v.content.$params"
              />
              <b-form-textarea
                id="content"
                type="text"
                v-model="$v.content.$model"
                :state="$v.content.$dirty ? !$v.content.$error : null"
                :autocomplete="$lang.address"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>
              <b-form-invalid-feedback
                id="father_name-feedback"
              >{{$lang.error_required | replace($lang.address)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.description"
              label-for="address"
              :label-cols="this.$config.form.labelCol"
            >
             <requiredComponent
                slot="label"
                :label="$lang.description"
                :rules="$v.description.$params"
              />
              <b-form-textarea
                id="description"
                type="text"
                v-model="$v.description.$model"
                :autocomplete="$lang.description"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                 {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
               {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>

import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import {
  required,
  minLength,
  maxLength,
  numeric
} from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    kind_selected: {
      required
    },
    content: {},
    city_selected: {
      required
    },
    province_selected: {
      required
    },
    postal_code: {
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    },
    description: {}
  },
  name: "add-address",
  components: {},
  props: {
    entity: {
      type: String,
      default: "person"
    },
    entityId: { type: String },
    isModal: {
      type: Boolean,
      default: false
    },
    backUrl: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      isLoading: false,
      address_kind_options: [],
      kind_selected: null,
      description: "",
      province_options: [],
      province_selected: null,
      city_options: [],
      city_selected: null,
      content: "",
      postal_code: "",
      cityLoading: false,
      provinceLoading: false,
      kindLoading: false,
      errors: []
    };
  },
  methods: {
    handleBack() {
      if (this.isModal) {
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    clear() {
      this.name = "";
      this.description = "";
      this.category_id = null;
      this.exercise_id = null;
    },
    getAddressKinds() {
      this.kindLoading = true;
      let url = "";
      if (this.entity === "person") {
        url = this.$config.metaData.person_address_kind;
      } else if (this.entity === "company") {
        url = this.$config.metaData.company_address_kind;
      }

        this.$httpService
        .get(this.$config.api_url + url)
        .then(response => {
          let kind = response.data.data;
          kind = kind.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });

          this.address_kind_options = kind;
          return true;
        })
        .catch(err => {
          Notify.error(err.message);
          return false;
        })
        .finally(res => {
          this.kindLoading = false;
        });
    },
    getProvinces() {
      this.provinceLoading = true;
        this.$httpService
        .get(this.$config.api_url + this.$config.resources.province)
        .then(response => {
          let provinces = response.data.data;
          provinces = provinces.map(x => {
            return {
              value: x.id,
              text: x.name
            };
          });

          this.province_options = provinces;
          return true;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          return false;
        })
        .finally(res => {
          this.provinceLoading = false;
        });
    },
    getCities(province_id) {
      this.cityLoading = true;
      return this.$httpService
        .get(
          this.$config.api_url +
            this.$config.resources.province +
            "/" +
            province_id +
            "/city"
        )
        .then(response => {
          let cities = response.data.data;
          cities = cities.map(x => {
            return {
              value: x.id,
              text: x.name
            };
          });

          return cities;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          return [];
        })
        .finally(res => {
          this.cityLoading = false;
        });
    },
    afterSave() {
      if (this.backUrl) {
        this.$route.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    save() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }

      this.isLoading = true;

      let api_url = "";
      if (this.entity === "person") {
        api_url = this.$config.resources.person_address.replace("{0}", this.entityId);
      } else if (this.entity === "company") {
        api_url = this.$config.resources.company_address.replace(
          "{0}",
          this.entityId
        );
      }
      let payload = {
        kind_id: this.kind_selected.value,
        province_id: this.province_selected.value,
        city_id: this.city_selected.value,
        address: this.content,
        postal_code: this.postal_code,
        description: this.description
      };
        this.$httpService
        .post(this.$config.api_url + api_url, payload)
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          if (err.response.status == 400) {
            if (typeof err.response.data.message === "object") {
              err.response.data.message.forEach(element => {
                this.errors.push(element);
              });
            } else {
              Notify.error(err.response.data.message);
            }
          } else {
            Notify.error(err.message);
          }

          this.isLoading = false;
        });
    }
  },
  created() {
    this.isLoading = true;
    this.getAddressKinds();
    this.getProvinces();
    this.isLoading = false;
  },
  watch: {
    province_selected() {
      this.getCities(this.province_selected.value).then(res => {
        this.city_options = res;
      });
    }
  }
};
</script>

<style scoped lang="css">
.btn {
  margin-bottom: 4px;
}
</style>
