<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-input-group class="mb-4">
          <b-form-input
            type="text"
            class="form-control"
            :placeholder="$lang.captcha_code"
            v-model="$v.captcha.$model"
            @change="changeCaptcha"
            :state="$v.captcha.$dirty ? !$v.captcha.$error : null"
          />
          <b-input-group-append>
            <!-- <b-input-group-text> -->
            <img :src="captchaImage" height="35" />

          <b-button class="ml" @click="getCaptcha">
        <i class="fa fa-refresh"></i>
            </b-button>
            
          </b-input-group-append>
          <b-form-invalid-feedback
            id="name-feedback"
          >{{$lang.error_required | replace($lang.captcha_code)}}</b-form-invalid-feedback>
        </b-input-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
// برای استفاده از ولیدیشن این فایل import می شود
import { validationMixin } from "vuelidate";
// برای انجام ولیدیشن ولیدیشن های لازم را import می کنیم
import { required } from "vuelidate/lib/validators";

/**
 * @group auth
 * این کامپوننت برای دریافت و مدیریت کپچا تعریف شده است
 */
export default {
  mixins: [validationMixin],
  name: "captcha",
  validations: {
    captcha: {
      required
    }
  },
  props: {
    // نمایانگر مقدار خروجی کامپوننت که شامل کلید و مقدار کپچا می باشد
    value: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      // کلید کپچا
      captchaKey: null,
      // عکس کپچا
      captchaImage: null,
      // مقدار کپچا که کاربر وارد می کند
      captcha: null
    };
  },
  methods: {
    /**
     * @vuese
     * 	دریافت کپچا از سرویس
     *  @arg  بدون پارامتر
     */
    getCaptcha() {
      return this.$httpService
        .get(this.$config.server_url + this.$config.metaData.captcha)
        .then(response => {
          this.captchaKey = response.data.key;
          this.captchaImage = response.data.img;
        })
        .catch(err => {
          this.$notify.error(err.response.data.message);
        });
    },
    /**
     * @vuese
     *  تغییر خروجی کامپوننت زمانی که مقدار ورودی کاربر تغییر کند
     * @arg  بدون پارامتر
     */
    changeCaptcha() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      // مقدار خروجی یک شی از کلید و مقدار ورودی کاربر می باشد
      let out = {
        key: this.captchaKey,
        captcha: this.captcha
      };
      this.$emit("input", out);
    }
  },
  watch: {
    value() {
      this.captcha = this.value.captcha;
    }
  },
  created() {
    this.getCaptcha();
  }
};
</script>

<style>
</style>