<template>
  <b-form @submit.prevent="submit">
    <h1>{{$lang.change_password}}</h1>
    <p class="text-muted">{{$lang.change_password_description}}</p>
    <b-form-group
      class="mt-4"
      :label="$lang.new_password"
      label-for="new_password"
      :label-cols="this.$config.form.labelCol"
    >
      <b-input-group>
        <b-input-group-prepend>
          <b-input-group-text>
            <i class="icon-key"></i>
          </b-input-group-text>
        </b-input-group-prepend>
        <b-form-input
          id="new_password"
          :type="show_visible_new_password?'text':'password'"
          :autocomplete="$lang.new_password"
          :state="$v.new_password.$dirty ? !$v.new_password.$error : null"
          v-model="$v.new_password.$model"
        />
        <b-input-group-text @click.prevent="toggleShowVisibleNewPassword" style="cursor:pointer">
          <a href="#">
            <i :class="show_visible_new_password?'fa fa-eye':'fa fa-eye-slash'" aria-hidden="true"></i>
          </a>
        </b-input-group-text>
        <b-form-invalid-feedback
          id="new_password-feedback"
        >{{$lang.error_required | replace($lang.new_password)}}</b-form-invalid-feedback>
      </b-input-group>
    </b-form-group>

    <b-form-group
      :label="$lang.confirm_password"
      label-for="confirm_password"
      :label-cols="this.$config.form.labelCol"
    >
      <b-input-group class="mb-3">
        <b-input-group-prepend>
          <b-input-group-text>
            <i class="icon-key"></i>
          </b-input-group-text>
        </b-input-group-prepend>
        <b-form-input
          id="confirm_password"
          :type="show_visible_Confirm_new_password?'text':'password'"
          :autocomplete="$lang.confirm_password"
          :state="$v.confirm_password.$dirty ? !$v.confirm_password.$error : null"
          v-model="$v.confirm_password.$model"
        />
        <b-input-group-text
          @click.prevent="toggleShowVisibleConfirmNewPassword"
          style="cursor:pointer"
        >
          <a href="#">
            <i
              :class="show_visible_Confirm_new_password?'fa fa-eye':'fa fa-eye-slash'"
              aria-hidden="true"
            ></i>
          </a>
        </b-input-group-text>
        <div
          class="invalid-feedback"
          v-if="!$v.confirm_password.required"
        >{{$lang.error_required | replace($lang.confirm_password)}}</div>
        <div
          class="invalid-feedback"
          v-if="($v.confirm_password.required)&&(!$v.confirm_password.sameAs)"
        >{{$lang.error_same_as| replace($lang.confirm_password,$lang.new_password)}}</div>
      </b-input-group>
    </b-form-group>

    <div class="row">
      <b-col cols="12" class="text-left">
        <b-button type="submit" block variant="primary" :disabled="loading">
          <span v-if="!loading">{{$lang.submit}}</span>
          <span v-else>
            <b-spinner small></b-spinner>
            {{$lang.submit_loading}}
          </span>
        </b-button>
      </b-col>
      <b-col cols="12" class="text-left">
        <b-button variant="link" @click="cancel">{{$lang.login_form}}</b-button>
      </b-col>
    </div>
    <b-row>
      <b-col cols="4" class="text-center"></b-col>
      <b-col cols="4" class="text-center">
        <div class="text-center mb-1">
          <Timer
            :timeLimit="$config.login.verification_code_timeout"
            @expired="cancel"
            style="width=50px"
          ></Timer>
        </div>
        <b-col cols="4" class="text-center"></b-col>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, sameAs } from "vuelidate/lib/validators";
import Timer from "@/views/base/timer/Timer";
export default {
  name: "change-password",
  components: { Timer },
  mixins: [validationMixin],
  validations: {
    new_password: {
      required
    },
    confirm_password: {
      required,
      sameAs: sameAs("new_password")
    }
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      new_password: null,
      confirm_password: null,
      show_visible_Confirm_new_password: false,
      show_visible_new_password: false
    };
  },
  methods: {
    toggleShowVisibleNewPassword() {
      this.show_visible_new_password = !this.show_visible_new_password;
    },
    toggleShowVisibleConfirmNewPassword() {
      this.show_visible_Confirm_new_password = !this
        .show_visible_Confirm_new_password;
    },
    cancel() {
      this.$emit("cancel");
    },
    submit() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      this.$emit("submit", this.new_password, this.confirm_password);
    }
  }
};
</script>

<style>
</style>