<template>
  <b-form @submit.prevent="submit">
    <h1>{{$lang.reset_password}}</h1>
    <p class="text-muted">{{$lang.forget_password_description}}</p>
  <b-overlay :show="loading" rounded="sm" :opacity="0.7">
    <b-form-group
      class="mt-4"
      :label="$lang.mobile"
      label-for="mobile_verify"
      :label-cols="this.$config.form.labelCol"
    >
      <b-input-group class="mb-3">
        <b-input-group-prepend>
          <b-input-group-text>
            <i class="icon-phone"></i>
          </b-input-group-text>
        </b-input-group-prepend>
        <b-form-input
          id="mobile_verify"
          type="text"
          :autocomplete="$lang.mobile"
          :state="$v.mobile_verify.$dirty ? !$v.mobile_verify.$error : null"
          v-model="$v.mobile_verify.$model"
        ></b-form-input>
        <div
          class="invalid-feedback"
          v-if="!$v.mobile_verify.required"
        >{{$lang.error_required | replace($lang.mobile)}}</div>
        <div
          class="invalid-feedback"
          v-if="($v.mobile_verify.required)&&(!$v.mobile_verify.minLengh||!$v.mobile_verify.maxLengh)"
        >{{$lang.error_length| replace($lang.mobile,11)}}</div>
      </b-input-group>
    </b-form-group>
    <Captcha @change="getCaptcha" v-model="captchaObject" ref="captcha"></Captcha>
    <div class="row">
      <b-col cols="12">
        <b-button type="submit" block variant="primary" :disabled="loading">
          <span v-if="!loading">{{$lang.submit}}</span>
          <span v-else>
            <b-spinner small></b-spinner>
            {{$lang.submit_loading}}
          </span>
        </b-button>
      </b-col>
      <b-col cols="12" class="text-left">
        <b-button variant="link" @click="cancel">{{$lang.login_form}}</b-button>
      </b-col>
    </div>
  </b-overlay>
  </b-form>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
  required,
  minLength,
  maxLength,
  numeric
} from "vuelidate/lib/validators";
import Captcha from "./Captcha";
export default {
  name: "forget-password",
  mixins: [validationMixin],
  components: { Captcha },
  validations: {
    mobile_verify: {
      required,
      numeric,
      minLength: minLength(11),
      maxLength: maxLength(11)
    }
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      mobile_verify: null,
      captchaObject: null
    };
  },
  methods: {
    getCaptcha(item) {
      this.captchaObject.captcha = item.captcha;
      this.captchaObject.captchaKey = item.captchaKey;
    },
    cancel() {
      this.$emit("cancel");
    },
    submit() {
      this.$v.$touch();
      this.$refs.captcha.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      this.$emit("submit", this.mobile_verify, this.captchaObject);
    }
  },
  created() {
    this.getCaptcha();
  }
};
</script>

<style>
</style>