<template>
  <div
    class="app flex-row align-items-center"
    :style="{ 'background-image': 'url(' + background + ')','background-repeat':'no-repeat','background-size': 'cover' }"
  >
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form @submit.prevent="login" v-if="authState=='login'">
                  <h1>{{$lang.login_title}}</h1>
                  <p class="text-muted">{{$lang.login_description}}</p>
                  <b-alert variant="danger" show dismissible v-show="errors.length>0">
                    <li v-bind:key="index" v-for="(error,index) in errors">{{error}}</li>
                  </b-alert>
                  <b-overlay :show="loading" rounded="sm" :opacity="0.7">
                    <b-input-group class="mb-3">
                      <b-input-group-prepend>
                        <b-input-group-text>
                          <i class="icon-user"></i>
                        </b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input
                        type="text"
                        class="form-control"
                        :placeholder="$lang.user_name"
                        autocomplete="username email"
                        v-model="$v.mobile.$model"
                        :state="$v.mobile.$dirty ? !$v.mobile.$error : null"
                        :disabled="mobileDisabled"
                      />
                      <div
                        class="invalid-feedback"
                        v-if="!$v.mobile.required"
                      >{{$lang.error_required | replace($lang.mobile)}}</div>
                      <div
                        class="invalid-feedback"
                        v-if="($v.mobile.required)&&(!$v.mobile.minLengh||!$v.mobile.maxLengh)"
                      >{{$lang.error_length| replace($lang.mobile,11)}}</div>
                    </b-input-group>
                    <b-input-group class="mb-4">
                      <b-input-group-prepend>
                        <b-input-group-text>
                          <i class="icon-lock"></i>
                        </b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input
                        :type="showVisiblePassword?'text':'password'"
                        class="form-control"
                        :placeholder="$lang.password"
                        autocomplete="current-password"
                        v-model="$v.password.$model"
                        :state="$v.password.$dirty ? !$v.password.$error : null"
                        :disabled="passwordDisabled"
                        ref="password_input"
                      />
                      <b-input-group-text @click.prevent="toggleShowVisible" style="cursor:pointer">
                        <a href="#">
                          <i
                            :class="showVisiblePassword?'fa fa-eye':'fa fa-eye-slash'"
                            aria-hidden="true"
                          ></i>
                        </a>
                      </b-input-group-text>
                      <b-form-invalid-feedback
                        id="name-feedback"
                      >{{$lang.error_required | replace($lang.password)}}</b-form-invalid-feedback>
                    </b-input-group>

                    <b-input-group class="mb-4" v-if="otpEnabled">
                      <b-input-group-prepend>
                        <b-input-group-text>
                          <i class="icon-lock"></i>
                        </b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input
                        type="text"
                        class="form-control"
                        :placeholder="$lang.two_step_code"
                        :autocomplete="$lang.two_step_auto_complete"
                        v-model="otp"
                      />
                    </b-input-group>
                    <Captcha @change="getCaptcha" v-model="captchaObject" ref="captcha"></Captcha>

                    <b-row>
                      <b-col cols="12">
                        <b-button
                          id="login"
                          type="submit"
                          block
                          variant="primary"
                          :disabled="loading"
                        >
                          <span v-if="!loading">{{$lang.login}}</span>
                          <span v-else>
                            <b-spinner small></b-spinner>
                            {{$lang.login_loading}}
                          </span>
                        </b-button>
                      </b-col>
                      <b-col cols="12" class="text-left">
                        <b-button
                          variant="link"
                          class="px-0"
                          @click="showForgetPassword"
                        >{{$lang.reset_password}}</b-button>
                      </b-col>
                    </b-row>
                  </b-overlay>
                </b-form>

                <ForgetPassword
                  v-if="authState=='forget_password'"
                  :loading="mobileLoading"
                  @cancel="showLogin"
                  @submit="generateCode"
                ></ForgetPassword>

                <VerifyCode
                  :mobile="verifyMobile"
                  :loading="codeLoading"
                  @submit="verifyCode"
                  @cancel="showForgetPassword"
                  v-if="authState=='verify_code'"
                ></VerifyCode>

                <TwoStepVerification
                  :loading="twoStepLoading"
                  :mobile="mobile"
                  @submit="checkTwoStepVerification"
                  @cancel="showLogin"
                  v-if="authState=='two_step_verification'"
                ></TwoStepVerification>

                <ChangePassword
                  v-if="authState=='change_password'"
                  :loading="passwordLoading"
                  @cancel="showLogin"
                  @submit="changePass"
                ></ChangePassword>
              </b-card-body>
            </b-card>
            <b-card
              no-body
              class="text-white py-5 d-md-down-none"
              style="width:44%;background-color: #20a8d853 !important;border-color:#20a8d843 !important;"
            >
              <b-card-body class="text-center">
                <img
                  class="navbar-brand-full"
                  :src="$config.base_url+'/img/logo_without_text.png'"
                  alt="Rasa Logo"
                />
                <div>
                  <h2>{{$lang.rasa_title}}</h2>
                  <p>{{$lang.rasa_complete_title}}</p>
                  <b-button
                    variant="primary"
                    class="active mt-3"
                    @click="visitSite"
                  >{{$lang.visit_site}}</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
          <!--          <PulseLoader :loading="show" :color="red" :size="size"></PulseLoader>-->
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import {
  required,
  minLength,
  maxLength,
  numeric
} from "vuelidate/lib/validators";
import Notify from "../../shared/toast";
import ForgetPassword from "./ForgetPassword";
import VerifyCode from "./VerifyCode";
import ChangePassword from "./ChangePassword";
import TwoStepVerification from "./TwoStepVerification";
import Captcha from "./Captcha";

export default {
  mixins: [validationMixin],
  components: {
    ForgetPassword,
    VerifyCode,
    ChangePassword,
    TwoStepVerification,
    Captcha
  },
  validations: {
    mobile: {
      required,
      numeric,
      minLength: minLength(11),
      maxLength: maxLength(11)
    },
    password: {
      required
    },
    captchaObject: {
      required
    }
  },

  name: "Login",
  data() {
    return {
      mobile: null,
      verificationCode: null,
      password: null,
      otp: null,
      otpEnabled: false,
      mobileDisabled: false,
      passwordDisabled: false,
      loading: false,
      mobileLoading: false,
      codeLoading: false,
      passwordLoading: false,
      authState: "login",
      verifyMobile: null,
      showVisiblePassword: false,
      background: this.$config.base_url + "/img/login/",
      twoStepCode: null,
      twoStepLoading: false,
      captchaKey: null,
      captchaImage: null,
      captcha: null,
      captchaObject: null,
      errors: []
    };
  },
  methods: {
    ...mapActions(["doLogin", "fetchAccessToken"]),
    toggleShowVisible() {
      this.showVisiblePassword = !this.showVisiblePassword;
    },
    visitSite() {
      window.location = "https://rasa-hr.com/";
      // this.$router.go('https://rasa-hr.com/')
    },
    login() {
      this.$v.$touch();
      this.$refs.captcha.$v.$touch();

      /*alert(JSON.stringify(this.$v));
      delete this.$v.mobileVerify;
      delete this.$v.verificationCode;
      delete this.$v.new_password;
      delete this.$v.confirm_password;
      alert(JSON.stringify(this.$v));*/
      if (this.$v.$anyError || !this.captchaObject) {
        return;
      }
      this.errors = [];
      this.loading = true;
      let target = {
        username: this.mobile,
        password: this.password,
        mode: "login",
        ...this.captchaObject
      };
      if (this.otpEnabled) target["otp"] = this.otp;
      // console.log(target);
      let result = this.doLogin(target);
      result
        .then(res => {
          if (res.state == true) {
            if ("data" in res && "access_token" in res.data) {
              // Notify.success(res.message);
              this.$router.push("/");
            } else if (
              "data" in res &&
              "is_two_step" in res.data &&
              res.data["is_two_step"]
            ) {
              this.captcha = null;
              this.captchaKey = null;
              this.captchaImage = null;
              this.$notify.success(
                this.$lang.two_step_verification_sent_by_sms
              );
              this.showTwoStepVerification();
            }
          } else if (res.state == false) {
            let error_type = res.message;
            if (error_type in this.$lang.auth_errors)
              Notify.error(this.$lang.auth_errors[error_type]);
            else Notify.error(res.message);
            this.$refs.captcha.getCaptcha();
          }
        })
        .catch(err => {
          if (
            err.response &&
            "status" in err.response &&
            err.response.status == 400
          ) {
            if (typeof err.response.data.message === "object") {
              err.response.data.message.forEach(element => {
                this.errors.push(element);
              });
            } else {
              let error_type = err.response.data.message;
              if (error_type in this.$lang.auth_errors)
                Notify.error(this.$lang.auth_errors[error_type]);
              else this.$notify.error(err.response.data.message);
            }
          } else {
            this.$notify.error(err.message);
          }
          this.isLoading = false;
          this.$refs.captcha.getCaptcha();
        })
        .finally(() => {
          this.loading = false;
          this.$refs.captcha.changeCaptcha();
        });
    },

    showLogin() {
      this.mobile = null;
      this.password = null;
      this.authState = "login";
      this.verifyMobile = null;
      this.verificationCode = null;
      this.twoStepCode = null;
    },
    showTwoStepVerification() {
      this.authState = "two_step_verification";
      this.twoStepCode = null;
      this.verifyMobile = null;
      this.verificationCode = null;
    },
    showForgetPassword() {
      this.authState = "forget_password";
      this.verifyMobile = null;
      this.verificationCode = null;
    },
    showVerifyCode() {
      this.authState = "verify_code";
      this.verifyMobile = null;
      this.verificationCode = null;
    },
    showChangePassword() {
      this.authState = "change_password";
    },

    checkTwoStepVerification(code) {
      this.twoStepLoading = true;
      let target = {
        username: this.mobile,
        password: this.password,
        code,
        mode: "two_step"
      };
      // console.log(target);
      let result = this.doLogin(target);
      result
        .then(res => {
          if (res.status == "success") {
            if ("access_token" in res.result) {
              this.$router.push("/");
            }
          } else if (res.status == "error") {
            let error_type = res.result.response.data.error;
            console.log(error_type);
            if (error_type in this.$lang.auth_errors)
              Notify.error(this.$lang.auth_errors[error_type]);
            else Notify.error(res.result.response.data.message);
          }
        })
        .catch(err => {
          if (
            err.response &&
            "status" in err.response &&
            err.response.status == 400
          ) {
            if (typeof err.response.data.message === "object") {
              err.response.data.message.forEach(element => {
                this.errors.push(element);
              });
            } else {
              this.$notify.error(err.response.data.message);
            }
          } else {
            this.$notify.error(err.message);
          }
          this.isLoading = false;
        })
        .finally(() => (this.twoStepLoading = false));

      // return this.$httpService
      //   .get(this.$config.api_url + this.$config.resources.two_step)
      //   .then(response => {
      //     this.verificationCode = verificationCode;
      //     this.showLogin();
      //     this.codeLoading = false;
      //   })
      //   .catch(err => {
      //     this.codeLoading = false;
      //     Notify.error(err.response.data.message);
      //   });
    },
    generateCode(mobile, captchaObject) {
      this.verifyMobile = mobile;
      this.mobileLoading = true;

      let payload = {
        mobile,
        ...captchaObject
      };

      return this.$httpService
        .put(
          this.$config.api_url +
            this.$config.resources.user +
            "/generate_otp_code",
          payload,
          {},
          false
        )
        .then(response => {
          this.authState = "verify_code";
          this.mobileLoading = false;
          this.$notify.success(this.$lang.verification_code_sent_by_sms);
        })
        .catch(err => {
          this.mobileLoading = false;
          Notify.error(err.response.data.message);
        });
    },
    verifyCode(verificationCode) {
      this.codeLoading = true;

      return this.$httpService
        .get(
          this.$config.api_url +
            this.$config.resources.user +
            "/check_otp_code/" +
            verificationCode
        )
        .then(response => {
          this.verificationCode = verificationCode;
          this.authState = "change_password";
          this.codeLoading = false;
        })
        .catch(err => {
          this.codeLoading = false;
          Notify.error(err.response.data.message);
        });
    },
    changePass(password, password_confirmation) {
      this.passwordLoading = true;

      let payload = {
        mobile: this.verifyMobile,
        password,
        password_confirmation,
        verification_code: this.verificationCode
      };

      return this.$httpService
        .put(
          this.$config.api_url +
            this.$config.resources.user +
            "/change_password",
          payload
        )
        .then(response => {
          Notify.success(response.data.message);
          this.authState = "login";
          this.passwordLoading = false;
          this.verifyMobile = null;
          this.verificationCode = null;
        })
        .catch(err => {
          this.passwordLoading = false;
          Notify.error(err.response.data.message);
        });
    },
    getCaptcha(item) {
      this.captchaObject.captcha = item.captcha;
      this.captchaObject.captchaKey = item.captchaKey;
    }
  },
  created() {
    let index =
      Math.floor(
        Math.random() * Math.floor(this.$config.login.backgournd_image_count)
      ) + 1;
    this.background = this.background + index + ".jpg";
  }
};
</script>
