<template>
  <b-form @submit.prevent="submit">
    <h1>{{$lang.verify_code}}</h1>
    <p class="text-muted">{{$lang.verify_code_description| replace(mobile)}}</p>
    <b-form-group
      class="mt-4"
      :label="$lang.two_step_auto_complete"
      label-for="verification_code"
      :label-cols="this.$config.form.labelCol"
    >
      <b-input-group class="mb-3">
        <b-input-group-prepend>
          <b-input-group-text>
            <i class="icon-key"></i>
          </b-input-group-text>
        </b-input-group-prepend>
        <b-form-input
          id="verification_code"
          type="text"
          :autocomplete="$lang.two_step_auto_complete"
          :state="$v.verification_code.$dirty ? !$v.verification_code.$error : null"
          v-model="$v.verification_code.$model"
        ></b-form-input>
        <div
          class="invalid-feedback"
          v-if="!$v.verification_code.required"
        >{{$lang.error_required | replace($lang.two_step_auto_complete)}}</div>
        <div
          class="invalid-feedback"
          v-if="($v.verification_code.required)&&(!$v.verification_code.minLengh||!$v.verification_code.maxLengh)"
        >{{$lang.error_length| replace($lang.two_step_auto_complete,5)}}</div>
      </b-input-group>
    </b-form-group>

    <div class="row">
      <b-col cols="12" class="text-left">
        <b-button type="submit" block variant="primary" :disabled="loading">
          <span v-if="!loading">{{$lang.submit}}</span>
          <span v-else>
            <b-spinner small></b-spinner>
            {{$lang.submit_loading}}
          </span>
        </b-button>
      </b-col>
      <b-col cols="12" class="text-left">
        <b-button variant="link" @click="cancel">{{$lang.change_mobile}}</b-button>
      </b-col>
    </div>
    <b-row>
      <b-col cols="4" class="text-center"></b-col>
      <b-col cols="4" class="text-center">
        <div class="text-center mb-1">
          <Timer
            :timeLimit="$config.login.verification_code_timeout"
            @expired="cancel"
            style="width=50px"
          ></Timer>
        </div>
        <b-col cols="4" class="text-center"></b-col>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
import Timer from "@/views/base/timer/Timer";
import { validationMixin } from "vuelidate";
import {
  required,
  minLength,
  maxLength,
  numeric
} from "vuelidate/lib/validators";

export default {
  name: "verify-code",
  components: { Timer },
  mixins: [validationMixin],
  validations: {
    verification_code: {
      required,
      numeric,
      minLength: minLength(6),
      maxLength: maxLength(6)
    }
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    mobile: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      codeLoading: false,
      verification_code: null
    };
  },
  methods: {
    cancel() {
      this.$emit("cancel");
    },
    submit() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      this.$emit("submit", this.verification_code);
    }
  }
};
</script>

<style>
</style>