<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="loadingItem">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            {{$lang.Determine_the_level_of_access}}
            <strong
              v-if="role"
            >({{role ? role.caption : ''}})</strong>
          </div>
          <b-form @submit.prevent="save" v-show="!loadingItem">
            <b-row>
              <table class="plan table b-table table-striped text-center outlined">
                <thead role="rowgroup" class="text-center">
                  <tr role="row">
                    <th class="text-center">منبع</th>
                    <th
                      class="text-center"
                      :key="index"
                      v-for="(field, index) in fields"
                    >{{field.label?field.label:field}}</th>
                  </tr>
                </thead>
                <tbody role="rowgroup">
                  <tr role="row" :key="index" v-for="(permissionGroup, index) in permissionGroups">
                    <td class="align-middle">{{permissionGroup.permission_caption}}</td>
                    <td
                      class="td-checkbox"
                      @click="permissionCellClicked(permissionGroup,'view',permissionGroup.view.enable)"
                    >
                      <b-form-checkbox
                        :checked="permissionGroup.view.checked"
                        @change="toggleCheckBox(permissionGroup,'view')"
                        v-if="permissionGroup.view.enable"
                      ></b-form-checkbox>
                    </td>
                    <td
                      class="td-checkbox"
                      @click="permissionCellClicked(permissionGroup,'edit',permissionGroup.edit.enable)"
                    >
                      <b-form-checkbox
                        :checked="permissionGroup.edit.checked"
                        @change="toggleCheckBox(permissionGroup,'edit')"
                        v-if="permissionGroup.edit.enable"
                      ></b-form-checkbox>
                    </td>
                    <td
                      class="td-checkbox"
                      @click="permissionCellClicked(permissionGroup,'admin',permissionGroup.admin.enable)"
                    >
                      <b-form-checkbox
                        :checked="permissionGroup.admin.checked"
                        @change="toggleCheckBox(permissionGroup,'admin')"
                        v-if="permissionGroup.admin.enable"
                      ></b-form-checkbox>
                    </td>
                    <td class="text-center">
                      <b-form-group class="mt-3">
                        <b-form-radio-group
                          v-model="permissionGroup.acl_role"
                          :options="acl_role_options"
                          :name="permissionGroup.id"
                        ></b-form-radio-group>
                      </b-form-group>
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-row>
            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button type="reset" class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import { required, numeric } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    name: {
      required
    }
  },
  name: "assign-role-permissions",
  components: {},
  props: {
    isModal: {
      type: Boolean,
      default: false
    },
    backUrl: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      id: this.$route.params.id,
      loadingItem: false,
      name: "",
      role: null,
      permissionGroupLoading: false,
      permissionGroups: [],
      fields: ["خواندنی", "ویرایش", "کامل", "دسترسی به داده ها"],
      acl_role_options: this.$lang.acl_role_options
    };
  },
  methods: {
    handleBack() {
      if (this.isModal) {
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    clear() {
      this.name = "";
      this.caption = "";
    },
    changes() {
      console.log(this.date);
    },
    afterSave() {
      if (this.backUrl) {
        this.$route.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    save() {
      this.loadingItem = true;
      let permissions = this.permissionGroups
        .filter(x => {
          return x.admin.checked || x.edit.checked || x.view.checked;
        })
        .map(perm => {
          let id = null;
          if (perm.admin.checked) {
            id = perm.admin.id;
          } else if (perm.view.checked) {
            id = perm.view.id;
          } else if (perm.edit.checked) {
            id = perm.edit.id;
          }
          return {
            permission_id: id,
            acl_role: perm.acl_role
          };
        });
      console.log(permissions);
      let payload = { permissions: permissions };
      this.$httpService
        .put(
          this.$config.api_url +
            this.$config.resources.role_permissions.replace(
              "{role_id}",
              this.id
            ),
          payload
        )
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          this.loadingItem = false;
          console.log(err.response);
          Notify.error(err.response.data.message);
        })
        .finally(() => (this.loadingItem = false));
    },
    getRolePermissions() {
      return this.$httpService
        .get(
          this.$config.api_url +
            this.$config.resources.role_permissions.replace(
              "{role_id}",
              this.id
            )
        )
        .then(response => {
          this.role = response.data.data.role;
          this.role = response.data.data.role;
          let permissionGroups = response.data.data.permission_groups;
          this.permissionGroups = permissionGroups.map(perm => {
            perm.acl_role = "self";
            perm.permissions = perm.permissions.map(p => {
              if (p.name.includes("edit-")) {
                perm.edit = {
                  id: p.id,
                  checked: false,
                  enable: p.enable
                };
                if (p.assigned === true) {
                  perm.edit.checked = true;
                  perm.acl_role = p.acl_role;
                }
              } else if (p.name.includes("view-")) {
                perm.view = {
                  id: p.id,
                  checked: false,
                  enable: p.enable
                };
                if (p.assigned === true) {
                  perm.view.checked = true;
                  perm.acl_role = p.acl_role;
                }
              } else if (p.name.includes("admin-")) {
                perm.admin = {
                  id: p.id,
                  checked: false,
                  enable: p.enable
                };
                if (p.assigned === true) {
                  perm.admin.checked = true;
                  perm.acl_role = p.acl_role;
                }
              }
              return p;
            });
            // perm.acl_role = perm.permissions[''];
            return perm;
          });
          return true;
        })
        .catch(err => {
          Notify.error(err.message);
          return false;
        });
    },
    getPermissionGroups() {
      return this.$httpService
        .get(this.$config.api_url + this.$config.metaData.permission_group)
        .then(response => {
          let permissionGroups = response.data.data;
          this.permissionGroups = permissionGroups
            .filter(x => {
              return x.permissions && x.permissions.length > 0;
            })
            .map(perm => {
              perm.permissions = perm.permissions.map(p => {
                console.log(p.name);
                if (p.name.includes("edit-")) {
                  perm.edit = {
                    id: p.id,
                    checked: false
                  };
                } else if (p.name.includes("view-")) {
                  perm.view = {
                    id: p.id,
                    checked: false
                  };
                } else if (p.name.includes("admin-")) {
                  perm.admin = {
                    id: p.id,
                    checked: false
                  };
                }
                return p;
              });
              perm.acl_role = "self";
              return perm;
            });
          return true;
        })
        .catch(err => {
          Notify.error(err.message);
          return false;
        });
    },
    permissionCellClicked(item, mode, enable) {
      if (enable) {
        this.toggleCheckBox(item, mode);
      }
    },
    toggleCheckBox(item, mode) {
      item.admin.checked =
        mode == "admin" && item.admin.enable ? !item.admin.checked : false;

      item.edit.checked =
        mode == "edit" && item.edit.enable ? !item.edit.checked : false;
      item.view.checked =
        mode == "view" && item.view.enable ? !item.view.checked : false;

      // let index = this.permissionGroups.findIndex(
      //   el => el.permission_caption == item.permission_caption
      // );

      // this.permissionGroups[index].admin.checked =
      //   mode == "admin" && this.permissionGroups[index].admin.enable
      //     ? !this.permissionGroups[index].admin.checked
      //     : false;

      // this.permissionGroups[index].edit.checked =
      //   mode == "edit" && this.permissionGroups[index].edit.enable
      //     ? !this.permissionGroups[index].edit.checked
      //     : false;
      // this.permissionGroups[index].view.checked =
      //   mode == "view" && this.permissionGroups[index].view.enable
      //     ? !this.permissionGroups[index].view.checked
      //     : false;
    }
  },
  created() {
    this.loadingItem = true;
    this.permissionGroupLoading = true;
    // this.getPermissionGroups().finally(
    this.getRolePermissions().finally(() => {
      this.permissionGroupLoading = false;
      this.loadingItem = false;
    });
  }
};
</script>

<style scoped lang="css">
td-checkbox {
  cursor: pointer;
}
td {
  padding: 0 5px;
  vertical-align: inherit;
}
table {
  border: 1px solid lightgray;
}
</style>
