<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="loadingItem">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.role"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!loadingItem">
            <b-form-group
              :label="$lang.caption"
              label-for="caption"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.caption+' '+$lang.persian_type"
                :rules="$v.caption.$params"
              />
              <b-form-input
                id="name"
                type="text"
                :autocomplete="$lang.caption"
                :state="$v.caption.$dirty ? !$v.caption.$error : null"
                v-model="$v.caption.$model"
              ></b-form-input>
              <b-form-invalid-feedback
                id="caption-feedback"
              >{{$lang.error_required | replace($lang.caption)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group label-for="is_executive_role" :label-cols="this.$config.form.labelCol">
              <b-form-checkbox
                id="is_executive_role"
                v-model="$v.is_executive_role.$model"
              >{{$lang.is_executive_role}}</b-form-checkbox>
              <b-form-invalid-feedback
                id="caption-feedback"
              >{{$lang.error_required | replace($lang.is_executive_role)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-card>
              <div slot="header">
                <b-row>
                  <b-col cols="6" class="d-flex align-items-center">
                    <strong v-text="$lang.valid_ip"></strong>
                  </b-col>
                  <b-col cols="6">
                    <div class="float-right">
                      <b-button class="mr-1 btn-lightgray" @click="addValidIP">
                        <i class="fa fa-plus"></i>
                      </b-button>
                    </div>
                  </b-col>
                </b-row>
              </div>
              <div v-for="(ip,index) in $v.valid_ip.$each.$iter" :key="index">
                <b-row>
                  <b-col cols="10">
                    <b-form-group label-for="valid_ip" :label-cols="$config.form.labelCol">
                      <b-form-input
                        type="text"
                        :autocomplete="$lang.valid_ip"
                        v-model="ip.ip.$model"
                        :state="ip.ip.$dirty ? !ip.ip.$error : null"
                      ></b-form-input>
                      <b-form-invalid-feedback
                        id="caption-feedback"
                      >{{$lang.error_required | replace($lang.valid_ip)}}</b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col cols="2">
                    <b-form-group :label-cols="$config.form.labelCol">
                      <b-button
                        variant="outline-danger"
                        size="sm"
                        @click="removeValidIp(index)"
                        class="col-md-8"
                      >
                        <i class="fa fa-close"></i>
                      </b-button>
                    </b-form-group>
                  </b-col>
                </b-row>
              </div>
            </b-card>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    caption: {
      required
    },
    is_executive_role: {},
    valid_ip: {
      $each: {
        ip: {
          required
        }
      }
    }
  },
  name: "edit-exercise",
  components: {},
  props: {
    isModal: {
      type: Boolean,
      default: false
    },
    backUrl: {
      type: String,
      default: ""
    },
    pk: {
      type: String
    }
  },
  data() {
    return {
      loadingItem: false,
      id: null,
      caption: "",
      is_executive_role: false,
      parentRoleLoading: false,
      valid_ip: [{ ip: "" }],
      parent_code: null
    };
  },
  methods: {
    handleBack() {
      if (this.isModal) {
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    removeValidIp(index) {
      this.valid_ip.splice(index, 1);
    },
    addValidIP() {
      this.valid_ip.push({
        ip: ""
      });
    },
    clear() {
      this.name = "";
      this.caption = "";
    },
    changes() {
      console.log(this.date);
    },
    afterSave() {
      if (this.backUrl) {
        this.$router.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    save() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }

      this.loadingItem = true;
      let valid_ip = this.valid_ip
        .filter(x => x.ip && x.ip != "")
        .map(x => x.ip)
        .join();
      let payload = {
        name: this.name,
        caption: this.caption,
        is_executive: this.is_executive_role,
        parent_code: this.parent_code,
        valid_ip
      };
      this.$httpService
        .put(
          this.$config.api_url + this.$config.resources.role + "/" + this.id,
          payload
        )
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          this.loadingItem = false;
          console.log(err.response);
          Notify.error(err.response.data.message);
        });
    },
    fetchData() {
      this.$httpService
        .get(this.$config.api_url + this.$config.resources.role + "/" + this.id)
        .then(response => {
          let data = response.data.data;
          this.caption = data.caption;
          this.is_executive_role = data.is_executive;
          this.parent_code = data.parent_code;
          this.valid_ip = data.valid_ip.split(",").map(x => {
            return { ip: x };
          });
          console.log(this.valid_ip);
        })
        .catch(err => {})
        .finally(() => {
          this.loadingItem = false;
        });
    }
  },
  watch: {},
  created() {
    if (this.pk) {
      this.id = this.pk;
    } else {
      this.id = this.$route.params.id;
    }
    this.loadingItem = true;
    this.fetchData();
  }
};
</script>

<style scoped lang="css">
.btn {
  margin-bottom: 4px;
}
</style>
