<template>
  <div class="row">
    <div class="col-md-6">
      <b-card>
        <div slot="header">{{$lang.searchRole}}</div>
        <div class="card-body">
          <treeView
            :data="items"
            :nodesDraggable="true"
            :contextMenu="true"
            :contextMenuItems="menu"
            :renameNodeOnDblClick="true"
            :loading="isLoading"
            ref="role"
            @select="selectRole"
            @contextMenuItemSelect="menuSelect"
          ></treeView>
        </div>
      </b-card>
    </div>
    <b-col cols="6">
      <editRole v-if="mode=='edit'" :pk="pk" :isModal="true" @modal-end-up="fetchData"></editRole>
      <addRole
        v-if="mode=='add'"
        :parent_role_code="parent_role_code"
        :parent_role_name="parent_role_name"
        :isModal="true"
        @modal-end-up="fetchData"
      >></addRole>
    </b-col>

    <b-modal
      content-class="border-primary"
      header-bg-variant="primary"
      no-close-on-backdrop
      size="xl"
      v-model="view_users"
      variant="primary"
    >
      <selectSearch
        :allowFields="$lang.role_users_fields"
        :limitOneSelect="false"
        :title="$lang.role_users"
        :url="user_url"
        v-model="userSelected"
      ></selectSearch>
      <template v-slot:modal-footer>
        <b-button
          variant="success"
          @click="
            addRoleUsers();
            view_users = false;
          "
        >
          {{ $lang.submitButton }}
          <i class="fa fa-check"></i>
        </b-button>
        <b-button variant="danger" @click="view_users = false">
          {{ $lang.cancelButton }}
          <i class="fa fa-ban"></i>
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import treeView from "@/views/base/treeView";
import editRole from "@/views/role/editRole";
import addRole from "@/views/role/addRole";
import selectSearch from "@/views/base/selectSearch";
export default {
  name: "role-tree",
  components: { treeView, editRole, addRole, selectSearch },
  data() {
    return {
      view_users: false,
      userLoading: false,
      roleSelected: null,
      userSelected: [],
      user_url:
        this.$config.api_url + this.$config.resources.user + "?is_enable=1",
      mode: null,
      isLoading: false,
      items: [],
      menu: [
        {
          code: "add",
          label: this.$lang.add_child_role
        },
        {
          code: "edit",
          label: this.$lang.search.edit_tooltip
        },
        {
          code: "toggle",
          label: this.$lang.search.enable_tooltip
        },
        {
          code: "permissions",
          label: this.$lang.assign_role
        },
        {
          code: "users",
          label: this.$lang.role_users
        },
        {
          code: "delete",
          label: this.$lang.search.remove_tooltip
        }
      ],
      parent_role_name: null,
      parent_role_code: null
    };
  },
  methods: {
    menuSelect(item, vm) {
      if (item.code == "add") {
        this.parent_role_name = vm.data.name;
        this.parent_role_code = vm.data.code;
        this.mode = "add";
      } 
      else if (vm.data.code == this.items[0].code) {
        this.$notify.error(
          this.$lang.you_dont_have_permission.replace(
            "{entity}",
            this.$lang.role
          )
        );
        return;
      }
      else if (item.code == "edit") {
        this.pk = vm.data.code;
        this.mode = "edit";
      } else if (item.code == "delete") {
        this.remove_item(vm.data);
      } else if (item.code == "toggle") {
        this.toggle_status(vm.data);
      } else if (item.code == "clone") {
        this.cloneRole(vm.data);
      } else if (item.code == "users") {
        this.roleUsers(vm.data);
      } else if (item.code == "permissions") {
        this.assignRole(vm.data);
      }
    },
    selectRole(item, isSelected) {
      this.mode = null;

      if (item.load_children) {
        if (item.children.length == 0)
          this.getRoles(item.code).then(x => {
            if ("children" in x && x.children.length > 0) {
              item.children = x.children.map(child => {
                return {
                  ...child,
                  name: child.caption,
                  load_children: true,
                  children: []
                };
              });
              item.load_children = false;
            }
          });
      }
    },
    getRoles(parent = null) {
      let url = this.$config.api_url + this.$config.resources.role_tree;
      if (parent) {
        url += "?parent_code=" + parent;
      }
      return this.$httpService
        .get(url)
        .then(response => {
          let roles = response.data.data;
          return roles;
        })
        .catch(err => {
          this.$handleError(err);
          return false;
        });
    },
    fetchData() {
      this.isLoading = true;
      this.items = [];
      this.mode = null;
      this.getRoles()
        .then(roles => {
          console.log("role", roles);
          roles.icon = "fa-circle";
          let children = roles.children.map(child => {
            console.log("chgild", child);
            return {
              ...child,
              name: child.caption,
              children: [],
              load_children: true
            };
          });
          (roles.load_children = false),
            (roles.children = children),
            (roles.name = roles.caption);
          this.items = [roles];
        })
        .finally(() => (this.isLoading = false));
    },
    remove_item(item) {
      this.isLoading = true;
      return this.$httpService
        .delete(
          this.$config.api_url + this.$config.resources.role + "/" + item.code
        )
        .then(response => {
          this.$notify.success(response.data.message);
          this.fetchData();
          return true;
        })
        .catch(err => {
          this.$notify.error(err.response.data.message);
          this.isLoading = false;
          return false;
        });
    },
    toggle_status(item) {
      console.log("ha", item);
      this.isLoading = true;
      return this.$httpService
        .patch(
          this.$config.api_url + this.$config.resources.role + "/" + item.code,
          {
            is_enable: !item.is_enable ? 1 : 0
          }
        )
        .then(response => {
          this.$notify.success(response.data.message);
          this.fetchData();
          return true;
        })
        .catch(err => {
          this.$notify.error(err.response.data.message);
          this.isLoading = false;
          return false;
        });
    },
    cloneRole(item) {
      this.isLoading = true;
      this.$httpService
        .post(
          this.$config.api_url +
            this.$config.resources.role_duplicate.replace(
              "{role_id}",
              item.code
            )
        )
        .then(response => {
          this.$notify.success(response.data.message);
          this.fetchData();
          return true;
        })
        .catch(err => {
          this.$notify.error(err.response.data.message);
          this.isLoading = false;
          return false;
        });
    },
    getUsers(code) {
      return this.$httpService
        .get(
          this.$config.api_url +
            this.$config.resources.role_users.replace("{role_id}", code)
        )
        .then(response => {
          let users = response.data.data.result;
          this.userSelected = users;
          return true;
        })
        .catch(err => {
          this.$notify.error(err.response.data.message);
          return false;
        });
    },
    roleUsers(item) {
      this.roleSelected = item;
      this.isLoading = true;
      this.getUsers(this.roleSelected.code)
        .then(() => {
          this.view_users = true;
        })
        .finally(() => (this.isLoading = false));
    },
    addRoleUsers() {
      this.isLoading = true;
      let payload = {
        users: this.userSelected.map(x => x.code)
      };
      return this.$httpService
        .put(
          this.$config.api_url +
            this.$config.resources.role_users.replace(
              "{role_id}",
              this.roleSelected.code
            ),
          payload
        )
        .then(response => {
          this.$notify.success(response.data.message);
          this.fetchData();
          return true;
        })
        .catch(err => {
          this.$notify.error(err.response.data.message);
          this.isLoading = false;
          return false;
        });
    },
    assignRole(item) {
      this.$router.push({
        name: "assignRolePermissions",
        params: {
          id: item.code
        }
      });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style>
</style>