<template>
  <div class="col-md-12">
    <search :allowRemove="true" :isLoading="loadingItem" :remove_item="remove_item" :title="$lang.searchRole"
      :toggleable="true" :url="url" addModalSize="lg" config="role" remove-modal-size="xl" :dynamicButtons="buttons"
      ref="roleSearch" primaryKey="code">
      <template slot="addModal" slot-scope="search">
        <addRole @modal-end-up="search.close" isModal></addRole>
      </template>
      <!-- <template v-slot:buttons="prop">
        <b-dropdown-item @click="assignRole(prop.itemsData)">
          <span>
            <i class="fa fa-edit fa-lg text-success"></i>
            <strong v-text="$lang.assign_role"></strong>
          </span>
        </b-dropdown-item>
        <b-dropdown-item @click="roleUsers(prop.itemsData)">
          <span>
            <i class="fa fa-user fa-lg text-primary"></i>
            <strong v-text="$lang.role_users"></strong>
          </span>
        </b-dropdown-item>
        <b-dropdown-item @click="cloneRole(prop.itemsData)">
          <span>
            <i class="fa fa-clone fa-lg color-black"></i>
            <strong v-text="$lang.search.clone_tooltip"></strong>
          </span>
        </b-dropdown-item>
      </template>-->
    </search>

    <b-modal content-class="border-primary" header-bg-variant="primary" no-close-on-backdrop size="xl"
      v-model="view_users" variant="primary">
      <selectSearch :allowFields="$lang.role_users_fields" :limitOneSelect="false" :title="$lang.role_users"
        :url="user_url" v-model="userSelected"></selectSearch>
      <template v-slot:modal-footer>
        <b-button variant="success" @click="
            addRoleUsers();
            view_users = false;
          ">
          {{ $lang.submitButton }}
          <i class="fa fa-check"></i>
        </b-button>
        <b-button variant="danger" @click="view_users = false">
          {{ $lang.cancelButton }}
          <i class="fa fa-ban"></i>
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
  import search from "../search";
  import Notify from "../../shared/toast.js";
  import selectSearch from "../base/selectSearch";
  import AddRole from "./addRole";

  export default {
    components: {
      AddRole,
      search,
      selectSearch
    },
    data() {
      return {
        deleteModal: false,
        loadingItem: false,
        url: this.$config.api_url + this.$config.resources.role,
        view_users: false,
        userLoading: false,
        roleSelected: null,
        userSelected: [],
        user_url: this.$config.api_url + this.$config.resources.user + "?is_enable=1",
        buttons: [{
            id: "1",
            name: "edit"
          },
          {
            id: "2",
            name: "enable"
          },
          {
            id: "3",
            name: "assignRole",
            click: this.assignRole
          },
          {
            id: "4",
            name: "user",
            click: this.roleUsers
          },
          {
            id: "5",
            name: "clone",
            click: this.cloneRole
          },

          {
            id: "6",
            name: "view"
          },

          {
            id: "7",
            name: "delete"
          }
        ]
      };
    },

    methods: {
      assignRole(item) {
        this.$router.push({
          name: "assignRolePermissions",
          params: {
            code: item.code
          }
        });
      },
      remove_item(item) {
        console.log("remove");
        return this.$httpService
          .delete(this.url + "/" + item.code)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      },
      toggle_item(item) {
        console.log(item);
      },
      cloneRole(item) {
        this.loadingItem = true;
        this.$httpService
          .post(
            this.$config.api_url +
            this.$config.resources.role_duplicate.replace("{role_id}", item.code)
          )
          .then(response => {
            Notify.success(response.data.message);
            this.$refs.roleSearch.getItems();
            // this.$router.push({
            //   name: "editRole",
            //   params: {id: response.data.data.id}
            // });
          })
          .catch(err => {
            Notify.error(err.response.data.message);
          })
          .finally(() => (this.loadingItem = false));
      },
      getUsers(code) {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.role_users.replace("{role_id}", code)
          )
          .then(response => {
            let users = response.data.data.result;
            this.userSelected = users;
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            return false;
          });
      },
      roleUsers(item) {
        this.roleSelected = item;
        this.loadingItem = true;
        this.getUsers(this.roleSelected.code).then(() => {
          this.loadingItem = false;
          this.view_users = true;
        });
      },
      addRoleUsers() {
        this.loadingItem = true;
        console.log(this.userSelected,"sss");
        let payload = {
          users: this.userSelected.map(x => x.code)
        };
        return this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.role_users.replace(
              "{role_id}",
              this.roleSelected.code
            ),
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.$refs.roleSearch.getItems()
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            return false;
          })
          .finally(() => (this.loadingItem = false));
      }
    }
  };

</script>

<style></style>
