<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="loadingItem">
            <b-spinner label="Text Centered"  variant="primary"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.center_execute_person"></strong>
          </div>

          <b-form @submit.prevent="save" v-show="!loadingItem">

            <b-form-group
              :label="$lang.person"
              label-for="person_id"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.person"
                :rules="$v.person_selected.$params"
              />
              <selectAsync
                :options="person_options"
                v-model="$v.person_selected.$model"
                :overrideLabel="true"
                :customLabel="fullName"
                :asyncFind="getPersons"
                :isValid="$v.person_selected.$dirty ? !$v.person_selected.$error : null"
              >
                <template slot="label">{{ person_selected ? person_selected.name+' '+person_selected.family : '' }}
                </template>
              </selectAsync>
              <b-form-invalid-feedback
                id="person_id-feedback"
              >{{$lang.error_required | replace($lang.person)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.center_execute_role"
              label-for="center_execute_role_selected"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.center_execute_role"
                :rules="$v.center_execute_role_selected.$params"
              />
              <selectFind
                :options="roles_options"
                v-model="$v.center_execute_role_selected.$model"
                label="text"
                id="value"
                :isValid="$v.center_execute_role_selected.$dirty ? !$v.center_execute_role_selected.$error : null"
                :loading="rolesLoading"
              />

              <b-form-invalid-feedback id="center_execute_role_selected-feedback">
                {{$lang.error_required | replace($lang.center_execute_role)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="primary" v-text="$lang.submit">
                <i class="fa fa-dot-circle-o"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                v-text="$lang.cancelButton"
                @click="handleBack"
              >
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {required} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            person_selected: {
                required
            },
            person_id: {},
            center_execute_role_selected: {
                required
            },
            center_execute_role_id: {},
        },
        name: "add-center_execute_person",
        components: {},
        props: {
            entity: {
                type: String,
                default: "center_execute"
            },
            entityId: { type: Array },
            isModal: {
                type: Boolean,
                default: false
            },
            backUrl: {
                type: String,
                default: ""
            },
        },
        data() {
            return {
                loadingItem: false,
                rolesLoading: false,
                person_options: [],
                roles_options: [],
                person_id: null,
                center_execute_role_selected: null,
                person_selected: null
            };
        },
        methods: {
            handleBack() {
                if (this.isModal) {
                    this.$emit("modal-end-up");
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            clear() {
                this.person_selected = "";
                this.center_execute_role_selected = "";
            },
            getPersons(query) {
                if (!query || query.length < 3) {
                    this.person_options = [];
                    return;
                }
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.person_company.replace("{0}", this.entityId[1]) + "?search_txt=" + query+'&is_enable=1')
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }

                        this.person_options = response.data.data.persons;
                    })
                    .catch(err => {
                        this.person_options = [];
                    });
            },
            getRoles() {
                return this.$httpService
                    .get(this.$config.api_url + this.$config.metaData.center_execute_role)
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let center_execute_role = response.data.data;
                        center_execute_role = center_execute_role.map(x => {
                            return {
                                value: x.enum_id,
                                text: x.enum_caption
                            };
                        });

                        this.roles_options = center_execute_role;
                        return true;
                    })
                    .catch(err => {
                        Notify.error(err.message);
                    }).finally(() => this.rolesLoading = false);
            },
            changes() {
                console.log(this.date);
            },
            afterSave() {
                if (this.backUrl) {
                    this.$route.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            fullName({name, family}) {
                return `${name} ${family}`;
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                this.loadingItem = true;
                let payload = {
                    person_id: this.person_selected.id,
                    center_execute_role_id: this.center_execute_role_selected.value,
                    center_execute_id: this.entityId[0],
                };
                this.$httpService
                    .post(this.$config.api_url + this.$config.resources.center_execute_person.replace(
                        "{0}",
                        this.entityId[0]
                    ), payload)
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        this.loadingItem = false;
                        console.log(err.response);
                        Notify.error(err.response.data.message);
                    });
            }
        },
        created() {
            this.loadingItem = true;
            this.rolesLoading = true;
            this.getPersons();
            this.getRoles();
            this.loadingItem = false;
        }
    };
</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }
</style>
