<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner label="Text Centered" variant="primary"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.center_execute_person"></strong>
          </div>
          <b-alert variant="danger" show dismissible v-show="errors.length>0">
            <li v-bind:key="index" v-for="(error,index) in errors">{{error}}</li>
          </b-alert>

          <b-form @submit.prevent="save" v-show="!isLoading">
            <!-- <b-form-group :label="$lang.person" :label-cols="12">
              <span>{{this.person_name}}</span>
              <b-form-invalid-feedback id="email-feedback">{{$lang.error_required | replace($lang.email)}}
              </b-form-invalid-feedback>
            </b-form-group> -->


            <b-form-group  :label-cols="12">
              <template slot="label"> <b>{{person_name}}</b> {{$lang.candidate_order_number}}</template>
              <selectFind :options="assessor_option" v-model="$v.assessor_number_selected.$model" label="text"
                id="value" :isValid="$v.assessor_number_selected.$dirty ? !$v.assessor_number_selected.$error : null"
                :loading="assessorLoading" />

              <b-form-invalid-feedback id="assessor_number_selected-feedback">
                {{$lang.error_required | replace($lang.candidate_order)}}
              </b-form-invalid-feedback>

            </b-form-group>
            <b-form-group :label="$lang.center_execute_role" label-for="center_execute_role_selected"
              :label-cols="$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.center_execute_role"
                :rules="$v.center_execute_role_selected.$params" />
              <selectFindMultiple :options="roles_options" v-model="$v.center_execute_role_selected.$model" label="text"
                id="value"
                :isValid="$v.center_execute_role_selected.$dirty ? !$v.center_execute_role_selected.$error : null"
                :loading="rolesLoading" />

              <b-form-invalid-feedback id="center_execute_role-feedback">
                {{$lang.error_required | replace($lang.center_execute_role)}}
              </b-form-invalid-feedback>
            </b-form-group>



            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                {{ $lang.submitButton  }}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import Notify from "../../shared/toast";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required
  } from "vuelidate/lib/validators";

  export default {
    mixins: [validationMixin],
    validations: {
      center_execute_role_selected: {
        required
      },
      assessor_number_selected: {
        required
      }
    },
    name: "edit-center_execute_person",
    components: {},
    props: {
      isModal: {
        type: Boolean,
        default: false
      },
      person_name: {
        type: String,
        default: ""
      },
      entityId: {
        type: String,
        default: ""
      },
      old_role: {
        type: String,
        default: ""
      }
    },
    data() {
      return {
        id: this.$route.params.id,
        rolesLoading: false,
        center_execute_role_selected: [],
        person_id: "",
        persons_options: [],
        roles_options: [],
        isLoading: false,
        assessor_number_selected: "",
        assessor_option: [],
        assessorLoading: false,
        errors: []
      };
    },
    methods: {
      handleBack() {
        if (this.isModal) {
          this.$emit("modal-end-up");
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        this.email = "";
        this.code = "";
      },
      changes() {
        console.log(this.date);
      },
      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      getPerson() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.person + "/" + this.person_id)
          .then(response => {
            if (response.status !== 200) {
              Notify.error(response.data.message);
              return;
            }
            this.persons_options = response.data.data;
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
          })
          .finally(() => (this.rolesLoading = false));
      },
      getRoles() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.center_execute_role)
          .then(response => {
            if (response.status !== 200) {
              Notify.error(response.data.message);
              return;
            }
            let center_execute_role = response.data.data;
            center_execute_role = center_execute_role
              .filter(role => {
                return role.enum_id != 1;
              })
              .map(x => {
                return {
                  value: x.enum_id,
                  text: x.enum_caption
                };
              });

            this.roles_options = center_execute_role;
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.rolesLoading = false));
      },
      getAssessorCount() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.assessment_plan + "/" + this.entityId[0])
          .then(response => {
            if (response.status !== 200) {
              Notify.error(response.data.message);
              return;
            }
            this.assessment_plan = response.data.data;

            for (let i = 1; i <= this.assessment_plan.assessor_count; i++) {
              this.assessor_option.push({
                value: i,
                text: i
              });
            }

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
          })
          .finally(() => (this.assessorLoading = false));
      },
      save() {
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }
        this.isLoading = true;
        let payload = {
          center_execute_role_id: this.center_execute_role_selected.map(
            x => x.value
          )
        };

        this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.center_execute_person.replace("{0}", this.id) +
            "/" +
            this.person_id +
            "/role",
            payload
          )
          .then(response => {


            let payload_patch = {
              order: this.assessor_number_selected.value
            };
            this.$httpService
              .patch(
                this.$config.api_url +
                this.$config.resources.center_execute_person.replace("{0}", this.id) +
                "/" +
                this.person_id +
                "/role/2/order",
                payload_patch
              )
              .then(response => {
                Notify.success(response.data.message);
                this.afterSave();
              })
              .catch(err => {
                console.log(err.response);
                Notify.error(err.response.data.message);
                this.isLoading = false;
              });
          })
          .catch(err => {
            console.log(err.response);
            Notify.error(err.response.data.message);
            this.isLoading = false;
          });
      },
      fetchData() {
        if (isNaN(this.id)) {
          Notify.error("Not a number!");
          return false;
        }
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.center_execute_person.replace("{0}", this.id) +
            "/" +
            this.entityId[1]
          )
          .then(response => {
            let data = response.data.data;
            this.person_id = data.person_id;
            this.old_role_id = data.center_execute_role_id;
            this.person_name = data.person.name;
            // this.getPerson().then(response => {
            //     this.person_name = this.persons_options.name + ' ' + this.persons_options.family;
            // });

            this.getRoles().then(() => {
              if (
                data.center_execute_role &&
                data.center_execute_role.length > 0
              ) {
                let selected = this.roles_options.filter(x =>
                  data.center_execute_role.find(role => role.id == x.value)
                );
                this.center_execute_role_selected = selected;
              }
            });

            this.getAssessorCount().then(response => {
              this.assessor_number_selected = this.assessor_option.find(
                x => x.value === data.order
              );
            });
            return true;
          })
          .catch(err => {
            return false;
          });
      }
    },
    watch: {},
    created() {
      this.isLoading = true;
      this.assessorLoading = true;
      this.fetchData().finally(() => (this.isLoading = false));
    }
  };

</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }

</style>
