<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner label="Text Centered" variant="primary"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.center_execute_candidate"></strong>
          </div>

          <b-form @submit.prevent="save" v-show="!isLoading">
            <!-- <b-form-group :label="$lang.person" :label-cols="12">
              <span>{{this.person_name}}</span>
              <b-form-invalid-feedback
                id="email-feedback"
              >{{$lang.error_required | replace($lang.email)}}
              </b-form-invalid-feedback>
            </b-form-group> -->

            <b-form-group :label-cols="12">
              <template slot="label"> <b>{{person_name}}</b> {{$lang.candidate_order_number}}</template>

              <selectFind :options="candidate_option" v-model="$v.candidate_number_selected.$model" label="text"
                id="value" :isValid="$v.candidate_number_selected.$dirty ? !$v.candidate_number_selected.$error : null"
                :loading="candidateLoading" />

              <b-form-invalid-feedback id="candidate_number_selected-feedback">
                {{$lang.error_required | replace($lang.candidate_order)}}
              </b-form-invalid-feedback>

            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                {{ $lang.submitButton }}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import Notify from "../../shared/toast";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required
  } from "vuelidate/lib/validators";

  export default {
    mixins: [validationMixin],
    validations: {
      candidate_number_selected: {
        required
      },
    },
    name: "edit-center_execute_person",
    components: {},
    props: {
      isModal: {
        type: Boolean,
        default: false
      },
      /*
      [0] => assessment_plan_id,
      [1] => person_id
       */
      entityId: {
        type: Array,
        default: ""
      }
    },
    data() {
      return {
        id: this.$route.params.id,
        isLoading: false,
        assessment_plan_option: [],
        assessment_plan: "",
        candidate_number_selected: "",
        candidate_option: [],
        person_name: "",
        candidateLoading: false,
      };
    },
    methods: {
      handleBack() {
        if (this.isModal) {
          this.$emit("modal-end-up");
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        this.candidate_number_selected = "";
      },
      changes() {
        console.log(this.date);
      },
      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      getPerson() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.person + "/" + this.person_id)
          .then(response => {
            if (response.status !== 200) {
              Notify.error(response.data.message);
              return;
            }
            this.persons_options = response.data.data;
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
          })
          .finally(() => (this.rolesLoading = false));
      },
      getCandidateCount() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.assessment_plan + "/" + this.entityId[0])
          .then(response => {
            if (response.status !== 200) {
              Notify.error(response.data.message);
              return;
            }
            this.assessment_plan = response.data.data;

            for (let i = 1; i <= this.assessment_plan.candidate_count; i++) {
              this.candidate_option.push({
                value: i,
                text: i
              });
            }

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
          })
          .finally(() => (this.candidateLoading = false));
      },
      save() {
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }

        this.isLoading = true;
        let payload = {
          order: this.candidate_number_selected.value
        };

        this.$httpService
          .patch(
            this.$config.api_url +
            this.$config.resources.center_execute_person.replace("{0}", this.id) +
            "/" +
            this.entityId[1] +
            "/role/1/order",
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            console.log(err.response);
            Notify.error(err.response.data.message);
            this.isLoading = false;
          });
      },
      fetchData() {
        if (isNaN(this.id)) {
          Notify.error("Not a number!");
          return false;
        }
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.center_execute_person.replace("{0}", this.id) +
            "/" +
            this.entityId[1]
          )
          .then(response => {
            let data = response.data.data;

            this.getCandidateCount().then(response => {
              this.candidate_number_selected = this.candidate_option.find(
                x => x.value === data.order
              );
            });

            this.person_name = data.person.name;
            return true;
          })
          .catch(err => {
            return false;
          });
      }
    },
    watch: {},
    created() {
      this.isLoading = true;
      this.candidateLoading = true;
      this.fetchData().finally(() => (this.isLoading = false));
    }
  };

</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }

</style>
