<template>
  <search
    :url="url"
    :title="$lang.searchCompetency"
    :remove_item="remove_item"
    config="competency"
    toggleable="true"
    removeModalSize="xl"
    addModalSize="lg"
  >
    <template slot="addModal" slot-scope="search">
      <addCompetency isModal @modal-end-up="search.close"></addCompetency>
    </template>
  </search>
</template>

<script>
import search from "../search";
import addCompetency from "./addCompetency";
import Notify from "../../shared/toast.js";

export default {
  components: { search, addCompetency },
  data() {
    return {
      loadingItem: false,
      url: this.$config.api_url + this.$config.resources.competency
    };
  },
  methods: {
    remove_item(item) {
      console.log("remove");
      return this.$httpService
        .delete(this.url + "/" + item.id)
        .then(response => {
          Notify.success(response.data.message);
          return true;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          throw "error";
        });
    }
  }
};
</script>

<style>
</style>
