<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="loadingItem">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.user"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!loadingItem">

            <div class="alert alert-info"> <i class="fa fa-info-circle"></i> {{$lang.user_add_top_tooltip}} </div>
            <b-form-group
              :label="$lang.person"
              label-for="person_id"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.person"
                :rules="$v.person_id.$params"
              />
              <selectAsync
                :options="person_options"
                v-model="$v.person_id.$model"
                :overrideLabel="true"
                :customLabel="fullName"
                :asyncFind="getPersons"
                :isValid="$v.person_id.$dirty ? !$v.person_id.$error : null"
              >
                <template slot="label">{{ person_id ? person_id.name+' '+person_id.family : '' }}
                </template>
              </selectAsync>
              <b-form-invalid-feedback
                id="person_id-feedback"
              >{{$lang.error_required | replace($lang.person)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.mobile"
              label-for="mobile"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.mobile"
                :rules="$v.mobile.$params"
              />
              <b-form-input
                id="mobile"
                type="text"
                :autocomplete="$lang.mobile"
                :state="$v.mobile.$dirty ? !$v.mobile.$error : null"
                v-model="$v.mobile.$model"></b-form-input>
                
              <b-form-invalid-feedback
                id="mobile-feedback"
              >{{$lang.error_numeric | replace($lang.mobile)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.email"
              label-for="email"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.email"
                :rules="$v.email.$params"
              />
              <b-form-input
                id="email"
                type="text"
                :autocomplete="$lang.email"
                :state="$v.email.$dirty ? !$v.email.$error : null"
                v-model="$v.email.$model"></b-form-input>
              <b-form-invalid-feedback
                id="email-feedback"
              >{{$lang.error_required | replace($lang.email)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.password"
              label-for="password"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.password"
                :rules="$v.password.$params"
              />
              <b-form-input
                id="password"
                type="password"
                :autocomplete="$lang.password"
                :state="$v.password.$dirty ? !$v.password.$error : null"
                v-model="$v.password.$model"></b-form-input>
              <b-form-invalid-feedback
                id="password-feedback"
              >{{$lang.error_required | replace($lang.password)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.password_confirmation"
              label-for="password_confirmation"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.password_confirmation"
                :rules="$v.password_confirmation.$params"
              />
              <b-form-input
                id="password_confirmation"
                type="password"
                :autocomplete="$lang.password_confirmation"
                :state="$v.password_confirmation.$dirty ? !$v.password_confirmation.$error : null"
                v-model="$v.password_confirmation.$model"></b-form-input>
              <b-form-invalid-feedback
                id="password_confirmation-feedback"
              >{{$lang.error_required | replace($lang.password_confirmation)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
              {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {required,numeric} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            person_id: {
                required
            },
            mobile: {
                required,
                numeric
            },
            email: {},
            password: {
                required
            },
            password_confirmation: {
                required
            },
        },
        name: "add-user",
        components: {},
        props: {
            isModal: {
                type: Boolean,
                default: false
            },
            backUrl: {
                type: String,
                default: ""
            },
            
        },
        data() {
            return {
                loadingItem: false,
                mobile: "",
                email: "",
                password: "",
                password_confirmation: "",
                person_options: [],
                person_id: null,
            };
        },
        methods: {
            handleBack() {
                if (this.isModal) {
                    this.$emit("modal-end-up");
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            clear() {
                this.person_id = "";
                this.mobile = "";
                this.email = "";
                this.password = "";
                this.password_confirmation = "";
            },
            afterSave() {
                if (this.backUrl) {
                    this.$route.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            getPersons(query) {
                if (!query || query.length < 3) {
                    this.person_options = [];
                    return;
                }
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.person + "?search_txt=" + query + '&state_id=3')
                    .then(response => {
                        if (response.status != 200) {
                            Notify.error(response.data.message);
                            return;
                        }

                        let person = response.data.data.result;

                        this.person_options = person;
                    })
                    .catch(err => {
                        this.person_options = [];
                    });
            },
            changes() {
                console.log(this.date);
            },
            fullName({name, family}) {
                return `${name} ${family}`;
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                this.loadingItem = true;
                let payload = {
                    person_id: this.person_id.id,
                    mobile: this.mobile,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                };
                this.$httpService
                    .post(this.$config.api_url + this.$config.resources.user, payload)
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        this.loadingItem = false;
                        console.log(err.response);
                        Notify.error(err.response.data.message);
                    });
            }
        },
        created() {
            // this.loadingItem = true;
        }
    };
</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }
</style>
