<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col class="col-md-12 col-sm-12 col-lg-12">
        <b-card>
          <div slot="header">
            <strong v-text="$lang.change_password"></strong>
          </div>

          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.email" label-for="email" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.email" :rules="$v.email.$params" />
              <b-form-input
                id="email"
                type="email"
                :autocomplete="$lang.email"
                :state="$v.email.$dirty ? !$v.email.$error : null"
                v-model="$v.email.$model"
              ></b-form-input>
              <b-form-invalid-feedback
                id="email-feedback"
              >{{$lang.error_required | replace($lang.email)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.mobile" label-for="mobile" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.mobile" :rules="$v.mobile.$params" />

              <b-form-input
                id="mobile"
                type="text"
                :autocomplete="$lang.mobile"
                :state="$v.mobile.$dirty ? !$v.mobile.$error : null"
                v-model="$v.mobile.$model"
              ></b-form-input>

              <small class="form-text text-muted text-left">{{$lang.username}}</small>
              <b-form-invalid-feedback
                id="mobile-feedback"
              >{{$lang.error_required | replace($lang.mobile)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.current_password"
              label-for="current_password"
              :label-cols="12"
            >
              <requiredComponent
                slot="label"
                :label="$lang.current_password"
                :rules="$v.current_password.$params"
              />
              <b-input-group>
                <b-form-input
                  id="current_password"
                  :type="show_current_password ? 'text' : 'password'"
                  :autocomplete="$lang.current_password"
                  :state="$v.current_password.$dirty ? !$v.current_password.$error : null"
                  v-model="$v.current_password.$model"
                ></b-form-input>
                <b-input-group-text
                  @click.prevent="toggleShowCurrentVisible"
                  style="cursor:pointer"
                >
                  <a href="#">
                    <i
                      :class="show_current_password?'fa fa-eye':'fa fa-eye-slash'"
                      aria-hidden="true"
                    ></i>
                  </a>
                </b-input-group-text>
                <b-form-invalid-feedback
                  id="current_password-feedback"
                >{{$lang.error_required | replace($lang.current_password)}}</b-form-invalid-feedback>
              </b-input-group>
            </b-form-group>

            <b-form-group :label="$lang.new_password" label-for="new_password" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.new_password"
                :rules="$v.new_password.$params"
              />
              <b-input-group>
                <b-form-input
                  id="new_password"
                  :type="show_new_password?'text':'password'"
                  :autocomplete="$lang.new_password"
                  :state="$v.new_password.$dirty ? !$v.new_password.$error : null"
                  v-model="$v.new_password.$model"
                ></b-form-input>
                <b-input-group-text @click.prevent="toggleShowNewVisible" style="cursor:pointer">
                  <a href="#">
                    <i :class="show_new_password?'fa fa-eye':'fa fa-eye-slash'" aria-hidden="true"></i>
                  </a>
                </b-input-group-text>
                <b-form-invalid-feedback
                  id="new_password-feedback"
                >{{$lang.error_required | replace($lang.new_password)}}</b-form-invalid-feedback>
              </b-input-group>
              <small class="form-text text-muted text-left">{{$lang.password_template}}</small>
            </b-form-group>

            <b-form-group
              :label="$lang.confirm_password"
              label-for="confirm_password"
              :label-cols="12"
            >
              <requiredComponent
                slot="label"
                :label="$lang.confirm_password"
                :rules="$v.confirm_password.$params"
              />
              <b-input-group>
                <b-form-input
                  id="confirm_password"
                  :type="show_confirm_password?'text':'password'"
                  :autocomplete="$lang.confirm_password"
                  :state="$v.confirm_password.$dirty ? !$v.confirm_password.$error : null"
                  v-model="$v.confirm_password.$model"
                ></b-form-input>
                <b-input-group-text
                  @click.prevent="toggleShowConfirmVisible"
                  style="cursor:pointer"
                >
                  <a href="#">
                    <i
                      :class="show_confirm_password?'fa fa-eye':'fa fa-eye-slash'"
                      aria-hidden="true"
                    ></i>
                  </a>
                </b-input-group-text>
                <b-form-invalid-feedback
                  id="confirm_password-feedback"
                >{{$lang.error_required | replace($lang.confirm_password)}}</b-form-invalid-feedback>
              </b-input-group>
              <small class="form-text text-muted text-left">{{$lang.password_template}}</small>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="primary" v-text="$lang.submit">
                <i class="fa fa-dot-circle-o"></i>
              </b-button>
              <b-button
                class="ml-2"
                size="md"
                variant="danger"
                v-text="$lang.cancelButton"
                @click="handleBack"
              >
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    email: {
      email
    },
    mobile: {
      required
    },
    current_password: {
      required
    },
    new_password: {
      required
    },
    confirm_password: {
      required
    }
  },
  name: "user_change_pass",
  components: {},
  data() {
    return {
      isLoading: false,
      id: this.$route.params.id,
      email: "",
      mobile: "",
      current_password: "",
      new_password: "",
      confirm_password: "",
      show_current_password: false,
      show_new_password: false,
      show_confirm_password: false
    };
  },
  methods: {
    toggleShowCurrentVisible() {
      this.show_current_password = !this.show_current_password;
    },
    toggleShowNewVisible() {
       this.show_new_password = !this.show_new_password;
    },
    toggleShowConfirmVisible() {
       this.show_confirm_password = !this.show_confirm_password;
    },
    handleBack() {
      if (this.isModal) {
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    clear() {
      this.email = "";
      this.mobile = "";
      this.current_password = "";
      this.new_password = "";
      this.confirm_password = "";
    },
    changes() {
      console.log(this.date);
    },
    afterSave() {
      if (this.backUrl) {
        this.$router.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    save() {
      this.isLoading = false;
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }

      let payload = {
        email: this.email,
        mobile: this.mobile,
        current_password: this.current_password,
        password: this.new_password,
        password_confirmation: this.confirm_password
      };
        this.$httpService
        .put(
            this.$config.api_url +
            this.$config.resources.user +
            "/" +
            this.id +
            "/change_pass",
          payload
        )
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          this.isLoading = false;
        });
      this.isLoading = true;
    },
    fetchData() {
        this.$httpService
        .get(this.$config.api_url + this.$config.resources.user + "/" + this.id)
        .then(response => {
          let data = response.data.data;

          this.email = data.email;
          this.mobile = data.mobile;
        })
        .catch(err => {
          Notify.error(err.message);
        })
        .finally(() => {
          this.isLoading = false;
        });
    }
  },
  watch: {},
  created() {
    this.isLoading = true;
    this.fetchData();
  }
};
</script>

<style scoped lang="css">
.btn {
  margin-bottom: 4px;
}
</style>
