<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.user"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.email" label-for="email" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.email" :rules="$v.email.$params" />
              <b-form-input
                id="email"
                type="text"
                :autocomplete="$lang.email"
                :state="$v.email.$dirty ? !$v.email.$error : null"
                v-model="$v.email.$model"
              ></b-form-input>
              <b-form-invalid-feedback
                id="email-feedback"
              >{{$lang.error_required | replace($lang.email)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.mobile" label-for="mobile" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.mobile" :rules="$v.mobile.$params" />
              <b-form-input
                id="mobile"
                type="text"
                :autocomplete="$lang.mobile"
                :state="$v.mobile.$dirty ? !$v.mobile.$error : null"
                v-model="$v.mobile.$model"
              ></b-form-input>
              <small class="form-text text-muted text-left">{{$lang.username}}</small>
              <b-form-invalid-feedback
                id="mobile-feedback"
              >{{$lang.error_required | replace($lang.mobile)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group label-for="two_step_verification" :label-cols="12">
              <b-form-checkbox
                id="two_step_verification"
                v-model="$v.two_step_verification.$model"
              >{{$lang.two_step_verification}}</b-form-checkbox>
            </b-form-group>

            <b-form-group label-for="login_notify" :label-cols="12">
              <b-form-checkbox
                id="login_notify"
                v-model="$v.login_notify.$model"
              >{{$lang.login_notify}}</b-form-checkbox>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" v-if="showPermissionButton" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>

              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>

          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    email: {},
    mobile: {
      required
    },
    two_step_verification: {},
    login_notify: {}
  },
  name: "edit-exercise",
  components: {},
  data() {
    return {
      isLoading: false,
      id: this.$route.params.id,
      email: "",
      mobile: "",
      permission: [],
      allowPermissions: ["admin", "edit"],
      showPermissionButton: false,
      login_notify: false,
      two_step_verification: false
    };
  },
  methods: {
    handleBack() {
      if (this.isModal) {
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    clear() {
      this.email = "";
    },
    changes() {
      console.log(this.date);
    },
    afterSave() {
      if (this.backUrl) {
        this.$router.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    save() {
      this.isLoading = true;
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }

      let payload = {
        email: this.email,
        mobile: this.mobile,
        two_step_verification: this.two_step_verification,
        login_notify: this.login_notify
      };
      this.$httpService
        .put(
          this.$config.api_url + this.$config.resources.user + "/" + this.id,
          payload
        )
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          console.log(err.response);
          Notify.error(err.response.data.message);
          this.isLoading = false;
        });
    },
    fetchData() {
      return this.$httpService
        .get(this.$config.api_url + this.$config.resources.user + "/" + this.id)
        .then(response => {
          let data = response.data.data;
          this.permission = response.data.permissions;
          this.email = data.email;
          this.mobile = data.mobile;
          this.isLoading = false;
          this.login_notify = data.login_notify;
          this.two_step_verification = data.two_step_verification;
          return true;
        })
        .catch(err => {
          Notify.error(err.message);
          return false;
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    PermissionButtons() {
      this.permission.map(x => {
        if (this.allowPermissions.includes(x)) {
          this.showPermissionButton = true;
        }
      });
    }
  },
  watch: {
    login_notify() {
      if (this.login_notify == true) this.two_step_verification = false;
    },
    two_step_verification() {
      if (this.two_step_verification == true) this.login_notify = false;
    }
  },
  created() {
    this.isLoading = true;
    this.fetchData().then(() => this.PermissionButtons());
  }
};
</script>

<style scoped lang="css">
.btn {
  margin-bottom: 4px;
}
</style>
