<template>
  <div class="animated fadeIn col-md-12">
    <search
      :url="url"
      :title="$lang.searchUser"
      :remove_item="remove_item"
      config="user"
      :toggleable="true"
      :allowRemove="false"
      addModalSize="lg"
      :isLoading="loadingItem"
      ref="userSearch"
      :dynamicButtons="buttons"
      primaryKey="code"
    >
      <template slot="addModal" slot-scope="search">
        <addUser isModal @modal-end-up="search.close"></addUser>
      </template>

      <!-- <template v-slot:buttons="prop">
        <b-dropdown-item @click="showRoles(prop.itemsData)">
          <span>
            <i class="fa fa-user-circle-o fa-lg text-primary"></i>
            <strong v-text="$lang.add_user_role_tooltip"></strong>
          </span>
        </b-dropdown-item>
      </template>-->
    </search>
    <b-modal
      no-close-on-backdrop
      variant="primary"
      header-bg-variant="primary"
      content-class="border-primary"
      v-model="showRoleModal"
      :title="$lang.add_user_role_tooltip"
      size="md"
    >
      <b-overlay :show="roleLoading" rounded="sm" :opacity="0.7">
        <!-- <div class="text-center" v-show="roleLoading">
          <b-spinner variant="primary" label="Text Centered"></b-spinner>
        </div>-->
        <div class="col-md-12">
          <b-form-group :label="$lang.role" label-for="role_selected" :label-cols="12">
            <requiredComponent slot="label" :label="$lang.role" :rules="$v.role_selected.$params" />
            <selectFind
              :options="role_options"
              v-model="$v.role_selected.$model"
              label="text"
              id="value"
              :loading="roleLoading"
            />
          </b-form-group>
        </div>
      </b-overlay>
      <template v-slot:modal-footer>
        <b-button variant="success" @click="assignRole" :disabled="roleLoading">
          <span v-if="!roleLoading">
            {{$lang.submitButton}}
            <i class="fa fa-check"></i>
          </span>
          <span v-else>
            <b-spinner small></b-spinner>
            {{$lang.submit_loading}}
          </span>
        </b-button>
        <b-button variant="danger" @click="cancelRole" v-if="!roleLoading">
          {{$lang.cancelButton}}
          <i class="fa fa-ban"></i>
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import search from "../search";
import config from "../../shared/config.js";
import Notify from "../../shared/toast.js";
import AddUser from "./addUser";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    role_selected: {
      required
    }
  },
  components: {
    AddUser,
    search
  },
  data() {
    return {
      loadingItem: false,
      url: this.$config.api_url + this.$config.resources.user,
      selected_user: null,
      showRoleModal: false,
      roleLoading: false,
      role_options: [],
      role_selected: null,
      buttons: [
        {
          id: "0",
          name: "edit"
        },
        {
          id: "1",
          name: "view"
        },
        {
          id: "2",
          name: "enable"
        },
        {
          id: "5",
          name: "userRole",
          click: this.showRoles
        }
      ]
    };
  },

  methods: {
    remove_item(item) {
      console.log("remove");
      return this.$httpService
        .delete(this.url + "/" + item.code)
        .then(response => {
          Notify.success(response.data.message);
          return true;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          throw "error";
        });
    },
    toggle_item(item) {
      console.log(item);
    },
    showRoles(item) {
      this.selected_user = item;
      this.roleLoading = true;
      this.showRoleModal = true;
      this.fetchUserRoles().then(() => (this.roleLoading = false));
    },
    fetchUserRoles() {
      let user_role = config.resources.user_role.replace(
        "{}",
        this.selected_user.code
      );
      return this.$httpService
        .get(config.api_url + user_role)
        .then(response => {
          let roles = response.data.data.roles;
          // let role = response.data.data.roles[0];
          if (roles.length > 0) {
            this.role_selected = this.role_options.find(option => {
              return option.code == roles[0].code;
            });
            console.log(this.role_selected);
          }

          return true;
        })
        .catch(err => {
          if (
            err.response &&
            "status" in err.response &&
            err.response.status == 400
          ) {
            if (typeof err.response.data.message === "object") {
              err.response.data.message.forEach(element => {
                this.errors.push(element);
              });
            } else {
              this.$notify.error(err.response.data.message);
            }
          } else {
            this.$notify.error(err.message);
          }

          this.loadingItem = false;
          return false;
        });
    },
    fillRoles() {
      return this.$httpService
        .get(config.api_url + config.resources.role)
        .then(response => {
          let roles = response.data.data.result;
          roles = roles.map(x => {
            return {
              value: x.code,
              text: x.caption,
              name: x.name
            };
          });

          this.role_options = roles;
          return true;
        })
        .catch(err => {
          Notify.error(err.message);
          throw "error";
        });
    },
    assignRole() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        this.isLoading = false;
        return;
      }
      this.loadingItem = true;
      this.roleLoading = true;
      let payload = {
        role: this.role_selected.name
      };
      console.log(payload);
      let user_role = config.resources.user_role.replace(
        "{}",
        this.selected_user.code
      );
      this.$httpService
        .put(config.api_url + user_role, payload)
        .then(response => {
          Notify.success(response.data.message);
        })
        .catch(err => {
          if (err.response.status === 400) {
            if (typeof err.response.data.message === "object") {
              err.response.data.message.forEach(element => {
                this.errors.push(element);
              });
            } else {
              Notify.error(err.response.data.message);
            }
          } else {
            Notify.error(err.message);
          }
        })
        .finally(() => {
          this.role_selected = null;
          this.selected_user = null;
          this.$refs.userSearch.getItems();
          this.loadingItem = false;
          this.showRoleModal = false;
          this.roleLoading = false;
        });
    },
    cancelRole() {
      this.role_selected = null;
      this.selected_user = null;
      this.showRoleModal = false;
    }
  },
  created() {
    this.roleLoading = true;
    this.fillRoles().finally(() => (this.roleLoading = false));
  }
};
</script>

<style>
</style>
