<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.company"></strong>
          </div>
          <div v-show="errors.length>0" class="alert-danger">
            <h4>خطا:</h4>
            <ul v-bind:key="index" v-for="(error,index) in errors">
              <li>{{error}}</li>
            </ul>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-row>
              <b-col xs="12" md="6">
                <b-form-group :label="$lang.company_name" label-for="name" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.name" :rules="$v.name.$params" />
                  <b-form-input id="name" type="text" v-model="$v.name.$model"
                    :state="$v.name.$dirty ? !$v.name.$error : null" :autocomplete="$lang.name">
                  </b-form-input>

                  <b-form-invalid-feedback id="name-feedback">{{$lang.error_required | replace($lang.name)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="12" md="6">
                <b-form-group :label="$lang.economic_code" label-for="economic_code" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.economic_code" :rules="$v.economic_code.$params" />
                  <b-form-input id="economic_code" v-model="$v.economic_code.$model" type="text"
                    :state="$v.economic_code.$dirty ? !$v.economic_code.$error : null"
                    :autocomplete="$lang.economic_code">
                  </b-form-input>

                  <b-form-invalid-feedback v-if="!$v.economic_code.required" id="economic_code-feedback">
                    {{$lang.error_required  | replace($lang.economic_code) }}
                  </b-form-invalid-feedback>
                  <b-form-invalid-feedback v-if="$v.economic_code.required && !$v.economic_code.numeric"
                    id="economic_code-feedback">{{$lang.error_numeric  | replace($lang.economic_code) }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="12" md="6">
                <b-form-group :label="$lang.national_id" label-for="national_id" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.national_id" :rules="$v.national_id.$params" />
                  <b-form-input id="national_id" v-model="$v.national_id.$model"
                    :state="$v.national_id.$dirty ? !$v.national_id.$error : null" type="text"
                    :autocomplete="$lang.national_id"></b-form-input>
                  <b-form-invalid-feedback v-if="!$v.national_id.required" id="national_id-feedback">
                    {{$lang.error_required  | replace($lang.national_id) }}
                  </b-form-invalid-feedback>
                  <b-form-invalid-feedback v-if="$v.national_id.required && !$v.national_id.numeric"
                    id="national_id-feedback">{{$lang.error_numeric  | replace($lang.national_id) }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="12" md="6">
                <b-form-group :label="$lang.registration_code" label-for="registration_code" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.registration_code"
                    :rules="$v.registration_code.$params" />
                  <b-form-input id="registration_code" v-model="$v.registration_code.$model"
                    :state="$v.registration_code.$dirty ? !$v.registration_code.$error : null" type="text"
                    :autocomplete="$lang.registration_code"></b-form-input>
                  <b-form-invalid-feedback v-if="!$v.registration_code.required" id="registration_code-feedback">
                    {{$lang.error_required  | replace($lang.registration_code) }}
                  </b-form-invalid-feedback>
                  <b-form-invalid-feedback v-if="$v.registration_code.required && !$v.registration_code.numeric"
                    id="registration_code-feedback">{{$lang.error_numeric  | replace($lang.registration_code) }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>

              <b-col xs="12" md="6">
                <b-form-group :label="$lang.parent" label-for="parent_code_id" :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.parent" :rules="$v.parent_code_selected.$params" />
                  <selectFind :options="parent_code_options" v-model="$v.parent_code_selected.$model" label="text"
                    class="multiselect-form"
                    :isValid="$v.parent_code_selected.$dirty ? !$v.parent_code_selected.$error : null"
                    :loading="parent_code_Loading" />

                  <b-form-invalid-feedback :style="{display:$v.parent_code_selected.$error?'block':'none'}"
                    id="parent_code_id_feedback">
                    {{$lang.error_required | replace($lang.parent)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="12" md="6">
                <b-form-group :label="$lang.type" label-for="is_enable" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.status" :rules="$v.is_enable.$params" />
              <b-form-select id="is_enable" :autocomplete="$lang.status" v-model="$v.is_enable.$model"
                :state="$v.is_enable.$dirty ? !$v.is_enable.$error : null" :options="is_enable_options"></b-form-select>
              <b-form-invalid-feedback id="value-feedback">وضعیت ضروری است</b-form-invalid-feedback>
            </b-form-group>
              </b-col>
              <b-col xs="12" md="12">
                <b-form-group :label="$lang.description" label-for="description" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.description" :rules="$v.description.$params" />
                  <b-form-textarea id="description" v-model="$v.description.$model"
                    :rows="this.$config.form.textareaRows">
                  </b-form-textarea>
                </b-form-group>
              </b-col>

            </b-row>












            <search :allowCollapse="true" :url="addressUrl" :title="$lang.address_company"
              :allowFields="$lang.address_fields" config="address" addModalSize="lg" removeModalSize="xl"
              :visibleSearch="false" :visibleSettings="false" :visibleExport="false" :visibleFilters="false"
              :visibleViewCount="false" :allowEdit="false" ref="searchAddress" :dynamicButtons="buttons">
              <template slot="addModal" slot-scope="search">
                <addAddress isModal @modal-end-up="search.close" :entityId="company_id" entity="company"></addAddress>
              </template>

       
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_address" size="xl" ok-only hide-footer hide-header>
              <editAddress :isModal="true" :addressId="address_id" :entityId="company_id" entity="company"
                @modal-end-up="closeEditAddress"></editAddress>
            </b-modal>

            <search :allowCollapse="true" :url="contactUrl" :title="$lang.contact_company"
              :allowFields="$lang.contact_fields" config="contact" addModalSize="lg" removeModalSize="xl"
              :visibleSearch="false" :visibleSettings="false" :visibleExport="false" :visibleFilters="false"
              :visibleViewCount="false" :allowEdit="false" ref="searchContact" :dynamicButtons="buttonsSearchContact">
              <template slot="addModal" slot-scope="search">
                <addContact isModal @modal-end-up="search.close" :entityId="company_id" entity="company"></addContact>
              </template>

            
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_contact" size="xl" ok-only hide-footer hide-header>
              <editContact :isModal="true" :contactId="contact_id" entity="company" :entityId="company_id"
                @modal-end-up="closeEditContact"></editContact>
            </b-modal>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" v-if="showPermissionButton" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button type="reset" class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>


        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import Notify from "../../shared/toast";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    numeric
  } from "vuelidate/lib/validators";
  import search from "../search";
  import addAddress from "../address/addAddress";
  import editAddress from "../address/editAddress";
  import addContact from "../contact/addContact";
  import editContact from "../contact/editContact";

  export default {
    mixins: [validationMixin],
    validations: {
      name: {
        required
      },
      description: {},
      economic_code: {
        numeric,
        
      },
      national_id: {
        numeric,
        
      },
      registration_code: {
        numeric,
        
      },
      parent_code_selected: {
        required
      },
      is_enable:{
         required
      }
    },
    name: "edit-company",
    components: {
      search,
      addAddress,
      addContact,
      editAddress,
      editContact
    },
    props: {
      backUrl: {
        type: String,
        default: ""
      }
    },
    data() {
      return {
        id: this.$route.params.id,
        addressUrl: "",
        contactUrl: "",
        permission: [],
        parent_code_options: [],
        parent_code_selected: null,
        parent_code_Loading: false,
        allowPermissions: ["admin", "edit"],
        showPermissionButton: false,
        company_id: this.$route.params.id,
        name: "",
        economic_code: "",
        national_id: "",
        registration_code: "",
        description: "",
        is_enable:null,
        is_enable_options:[],
        isLoading: true,
        errors: [],
        view_edit_address: false,
        view_edit_contact: false,
        address_id: "",
        contact_id: "",
        buttons: [{
            id: '0',
            name: "edit",
            click: this.changeAddress
          },
          {
            id: "1",
            name: "view",
            click: this.changeAddress
          },

          {
            id: "3",
            name: "delete",
          }
        ],
        buttonsSearchContact: [{
            id: '0',
            name: "edit",
            click: this.changeContact
          },
          {
            id: "1",
            name: "view",
            click: this.changeContact
          },

          {
            id: "3",
            name: "delete",
          }
        ]
      };
    },
    methods: {
      handleBack() {
        window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
      },
      closeEditContact() {
        this.view_edit_contact = false;
        this.$refs.searchContact.getItems();
        this.contact_id = "";
      },
      changeContact(item) {
        this.contact_id = item.id.toString();
        this.view_edit_contact = true;
      },

      closeEditAddress() {
        this.view_edit_address = false;
        this.$refs.searchAddress.getItems();
        this.address_id = "";
      },
      changeAddress(item) {
        this.address_id = item.id.toString();
        this.view_edit_address = true;
      },

      clear() {
        this.name = "";
        this.description = "";
        this.category_selected = null;
        this.exercise_selected = null;
      },

      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      save() {
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }
        this.isLoading = true;

        let payload = {
          name: this.name,
          economic_code: this.economic_code,
          national_id: this.national_id,
          registration_code: this.registration_code,
          description: this.description,
          parent_code:this.parent_code_selected.value,
          is_enable:this.is_enable
        };
        this.$httpService
          .put(this.$config.api_url + this.$config.resources.company + '/' + this.id, payload)
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }

            this.isLoading = false;
          });
      },
  getValue() {
        let values;

        values = [{
            value: "1",
            text: "فعال"
          },
          {
            value: "0",
            text: "غیرفعال"
          }
        ];

        this.is_enable_options = values;
      },
      RefrenceParent(items) {
        this.parent_code_Loading = true
        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.company)
          .then(response => {

            let data = response.data.data.result
            data = data.map(x => {
              return {
                value: x.code,
                text: x.name
              }
            })
            this.parent_code_options = data
            return true
          })
           .catch(err => {
            Notify.error(err.response.data.message);
            return false
          })
          .finally(() => (this.parent_code_Loading = false));

      },
      fetchData() {

        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.company + "/" + this.company_id)
          .then(response => {
            let data = response.data.data;
            this.permission = response.data.permissions;
            // console.log(data);
            this.name = data.name;
            this.description = data.description;
            this.economic_code = data.economic_code;
            this.national_id = data.national_id;
            this.registration_code = data.registration_code;
            this.is_enable=data.is_enable
            let parent_code = ""

              this.RefrenceParent()
            .then(response => {
              this.parent_code_selected = this.parent_code_options.find(
                x => x.text === this.name
              );
             
            })
            .catch(error => {
              this.$notify.error(err.response.data.message);
            })
            .finally(() => (this.referenceLoading = false));

           console.log(this.parent_code_selected,"2")
            return true
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            return false
          })
          .finally(() => (this.isLoading = false, this.parent_code_Loading = false));
      },

      PermissionButtons() {
        this.permission.map(x => {
          if (this.allowPermissions.includes(x)) {
            this.showPermissionButton = true
            console.log(this.showPermissionButton)
          }
        })

      }
    },
    watch: {},
    created() {
      this.addressUrl =
        this.$config.api_url +
        this.$config.resources.company_address.replace("{0}", this.$route.params.id);
      this.contactUrl =
        this.$config.api_url +
        this.$config.resources.company_contact.replace("{0}", this.$route.params.id);
      this.isLoading = true;
      this.fetchData().then(() => this.PermissionButtons());
      this.getValue();
    }
  };

</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }

</style>
