<template>
  <div class="animated fadeIn col-md-12">
    <search
      :url="url"
      ref="searchCompany"
      :title="$lang.searchCompany"
      :remove_item="remove_item"
      :toggleable="true"
      addModalSize="lg"
      removeModalSize="xl"
      :allowEdit="false"
      :dynamicButtons="buttons"
      config="company"
      primaryKey="code"
      @change="RefrenceParent"
      :hiddenFields="hiddenFieldList"
    >
      <template slot="addModal" slot-scope="search">
        <addCompany
          isModal
          @modal-end-up="search.close"
          :parentRefrence="items"
        ></addCompany>
      </template>
    </search>
  </div>
</template>

<script>
import search from "../search";
import addCompany from "./addCompany";
import Notify from "../../shared/toast.js";

export default {
  components: {
    search,
    addCompany
  },
  data() {
    return {
      hiddenFieldList:["registration_code","national_id","economic_code","created_at", "created_by", "updated_by", "updated_at"],
      loadingItem: false,
      items: [],
      buttons: [
        {
          id: "0",
          name: "edit"
        },
        {
          id: "1",
          name: "view"
        },
        {
          id: "2",
          name: "enable"
        },
        {
          id: "3",
          name: "delete"
        }
      ],
      url: this.$config.api_url + this.$config.resources.company
    };
  },
  methods: {
    remove_item(item) {
      return this.$httpService
        .delete(this.url + "/" + item.code)
        .then(response => {
          Notify.success(response.data.message);
          return true;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          throw "error";
        });
    },
    RefrenceParent(items) {
      let data = items.map(x => {
        return {
          value: x.code,
          text: x.name
        };
      });
      this.items = data;
    }
  },
  created() {}
};
</script>

<style></style>
