<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.center_execute"></strong>
          </div>

          <b-form @submit.prevent="save" v-show="!isLoading">

            <b-form-group
              :label="$lang.company"
              label-for="company_id"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.company"
                :rules="$v.company_id.$params"
              />
              <selectAsync
                :options="company_options"
                v-model="$v.company_id.$model"
                label="text"
                :asyncFind="getCompany"
                :isValid="$v.company_id.$dirty ? !$v.company_id.$error : null"
                :loading="companyLoading"
              />

              <b-form-invalid-feedback id="company-feedback">
                {{$lang.error_required | replace($lang.company)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.template"
              label-for="template_id"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.template"
                :rules="$v.template_selected.$params"
              />
              <selectAsync
                :options="template_options"
                v-model="$v.template_selected.$model"
                label="text"
                :asyncFind="getTemplate"
                :isValid="$v.template_selected.$dirty ? !$v.template_selected.$error : null"
                :loading="templateLoading"
                :overrideLabel="false"
              />
              <b-form-invalid-feedback
                id="template_selected-feedback"
              >{{$lang.error_required | replace($lang.template)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.assessment_plan"
              label-for="assessment_plan_id"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.assessment_plan"
                :rules="$v.assessment_plan_selected.$params"
              />
              <selectFind
                :options="assessment_plan_options"
                v-model="$v.assessment_plan_selected.$model"
                label="text"
                id="value"
                :isValid="$v.assessment_plan_selected.$dirty ? !$v.assessment_plan_selected.$error : null"
                :loading="assessment_planLoading"
              />

              <b-form-invalid-feedback id="assessment_plan-feedback">
                {{$lang.error_required | replace($lang.assessment_plan)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.start_date"
              label-for="start_date"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.start_date"
                :rules="$v.start_date.$params"
              />
              <date-picker
                v-model="$v.start_date.$model"
                :state="$v.start_date.$dirty ? !$v.start_date.$error : null"
                format="YYYY/MM/DD"
                display-format="jYYYY/jMM/jDD"
                min="1950/01/02"
                max="2020/12/31"
                inputReq="true"
                :class="$v.start_date.$dirty ? ($v.start_date.$error)?'invalid-date':'valid-date' : null"
              ></date-picker>


              <b-form-invalid-feedback id="start_date-feedback">
                {{$lang.error_required | replace($lang.start_date)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                   {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
                  {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>

          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import VuePersianDatetimePicker from "vue-persian-datetime-picker";
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {
        required

    } from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            company_id: {
                required
            },
            assessment_plan_selected: {
                required
            },
            start_date: {
                required,
            },
            template_selected: {
                required,
            },
        },

        name: "add-center_execute",
        components: {datePicker: VuePersianDatetimePicker},
        props: {
            mode: {
                type: String,
                default: "add"
            },
            isModal: {
                type: Boolean,
                default: false
            },
            modal: {
                type: Boolean,
                default: false
            },
            center_execute_id: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                isLoading: false,
                errors: [],
                company_id: null,
                assessment_plan_selected: null,
                start_date: null,
                company_options: [],
                assessment_plan_options: [],
                person_options: [],
                companyLoading: false,
                assessment_planLoading: false,
                templateLoading: false,
                template_selected: null,
                template_options: [],
            };
        },
        methods: {
            handleBack() {
                if (this.isModal) {
                    this.$emit("modal-end-up");
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            clear() {
                (this.company_id = null),
                (this.assessment_plan_selected = null),
                (this.start_date = null);
            },
            changes() {
                console.log(this.date);
            },
            getCompany(query) {
                if (!query || query.length < 3) {
                    this.company_options = [];
                    return;
                }
                this.companyLoading = true;
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.company + "?name=" + query+'&is_enable=1')
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }

                        let company = response.data.data.result;
                        company = company.map(x => {
                            return {
                                value: x.id,
                                text: x.name
                            };
                        });

                        this.company_options = company;
                    })
                    .catch(() => {
                        this.company_options = [];
                    })
                    .finally(() => {
                        this.companyLoading = false;
                    });
            },
            getTemplate(query) {
                if (!query || query.length < 3) {
                    this.template_options = [];
                    return;
                }
                this.templateLoading = true;
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.template + "?caption=" + query)
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }

                        this.templateLoading = false;
                        let template = response.data.data.result;
                        template = template.map(x => {
                            return {
                                value: x.id,
                                text: x.caption
                            };
                        });
                        this.template_options = template;
                        this.isLoading = false;
                    })
                    .catch(err => {
                        Notify.error(err.response.data.message);
                    })
                    .finally(() => {
                        this.templateLoading = false;
                    });
            },
            getAssessment_plan(template_id) {
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.assessment_plan+'?template_id='+template_id)
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let assessment_plan = response.data.data.result;

                        assessment_plan = assessment_plan.map(x => {
                            return {
                                value: x.id,
                                text: x.candidate_count + ' ' + this.$lang.candidate + ' ' +
                                    x.assessor_count + ' ' + this.$lang.assessor + ' ' +
                                    x.room_count + ' ' + this.$lang.room
                            };
                        });
                        this.assessment_plan_options = assessment_plan;
                    })
                    .catch(err => {
                        Notify.error(err.response.data.message);
                    }).finally(() => this.assessment_planLoading = false);
            },
            afterSave() {
                if (this.backUrl) {
                    this.$route.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                this.isLoading = true;
                let payload = {
                    company_id: this.company_id.value,
                    assessment_plan_id: this.assessment_plan_selected.value,
                    start_date: this.start_date,
                };

                this.$httpService
                    .post(this.$config.api_url +
                        this.$config.resources.center_execute, payload)
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        Notify.error(err.response.data.message);

                        this.isLoading = false;
                    });
            },
        },
        watch: {
            template_selected() {
                this.getAssessment_plan(this.template_selected.value).then(res => {
                    this.assessment_plan_options = res;
                });
            }
        },
        created() {
            this.isLoading = true;
            this.getCompany();
            this.isLoading = false;
        },
    };
</script>

<style lang="css">
  .main .container-fluid {
    padding: 0 10px !important;
  }
</style>
