<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.center_execute"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.company" :label-cols="$config.form.labelCol">
              <span>{{this.companyName}}</span>
            </b-form-group>

            <b-form-group :label="$lang.template" label-for="template_id" :label-cols="$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.template" :rules="$v.template_selected.$params" />
              <selectAsync :options="template_options" v-model="$v.template_selected.$model" label="text"
                :asyncFind="getTemplate" :isValid="$v.template_selected.$dirty ? !$v.template_selected.$error : null"
                :loading="templateLoading" :overrideLabel="false" />
              <b-form-invalid-feedback id="template_selected-feedback">
                {{$lang.error_required | replace($lang.template)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.assessment_plan" label-for="assessment_plan_selected"
              :label-cols="$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.assessment_plan"
                :rules="$v.assessment_plan_selected.$params" />
              <selectFind :options="assessment_plan_options" v-model="$v.assessment_plan_selected.$model" label="text"
                id="value" :isValid="$v.assessment_plan_selected.$dirty ? !$v.assessment_plan_selected.$error : null"
                :loading="assessment_planLoading" />

              <b-form-invalid-feedback id="assessment_plan-feedback">
                {{$lang.error_required | replace($lang.assessment_plan)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.start_date" label-for="start_date" :label-cols="$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.start_date" :rules="$v.start_date.$params" />
              <date-picker v-model="$v.start_date.$model" :state="$v.start_date.$dirty ? !$v.start_date.$error : null"
                format="YYYY/MM/DD" display-format="jYYYY/jMM/jDD" min="1950/01/02" max="2020/12/31" inputReq="true"
                :class="$v.start_date.$dirty ? ($v.start_date.$error)?'invalid-date':'valid-date' : null"></date-picker>

              <b-form-invalid-feedback id="start_date-feedback">{{$lang.error_required | replace($lang.start_date)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <template>
              <search :allowCollapse="true" :url="center_execute_candidates_url"
                :title="$lang.center_execute_candidates" :allowFields="$lang.center_execute_candidates_fields"
                addModalSize="xl" removeModalSize="xl" :editable="false" :visibleSearch="false" :visibleSettings="false"
                :visibleExport="false" :visibleFilters="false" :visibleViewCount="true" primaryKey="person_id"
                :add_item="add_candidate" :remove_item="remove_person" :allowEdit="false" :isLoading="candidateLoading"
                ref="center_execute_person_search" :visibleAdd="false" :dynamicButtons="buttons" forceCollapse
                :headerTitle="$lang.selectedItem">
                <!-- <template v-slot:buttons="prop">
                  <b-dropdown-item @click="showEditCenterExecuteCandidate(prop.itemsData)">
                    <span>
                      <i class="fa fa-edit fa-lg text-success"></i>
                      <strong v-text="$lang.search.edit_tooltip"></strong>
                    </span>
                  </b-dropdown-item>
                </template>-->

                <template slot="headerButtons">
                  <b-button class="mr-1 btn-lightgray" @click="showCenterExecutePerson" v-b-tooltip.hover
                    :title="$lang.search.add_tooltip">
                    <i class="fa fa-plus"></i>
                  </b-button>
                </template>
              </search>
            </template>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_candidates_edit" size="lg" ok-only hide-footer hide-header>
              <editCenterExecuteCandidate :isModal="true" :entity-id="[this.assessment_plan_selected.value,person_id]"
                @modal-end-up="closeEditCenterExecuteCandidate"></editCenterExecuteCandidate>
            </b-modal>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_candidates_select" size="xl" ok-only hide-header>
              <selectSearch :title="$lang.candidate" :url="company_persons_url" v-model="candidates"
                :allowFields="$lang.center_execute_persons_selecting_fields" :maxSelectNumber="allowCandidateCount"
                :visibleAdd="true"></selectSearch>
              <template v-slot:modal-footer>
                <b-button variant="success" @click="add_candidate();view_candidates_select=false">
                  {{$lang.submitButton}}
                  <i class="fa fa-check"></i>
                </b-button>
                <b-button class="ml-2" size="md" variant="danger" @click="view_candidates_select=false">
                  {{$lang.cancelButton}}
                  <i class="fa fa-ban"></i>
                </b-button>
              </template>
            </b-modal>

            <template>
              <search :allowCollapse="true" :url="center_execute_assessors_url" :title="$lang.executives"
                :allowFields="$lang.center_execute_assessors_fields" addModalSize="xl" removeModalSize="xl"
                :editable="false" :visibleSearch="false" :visibleSettings="false" :visibleExport="false"
                :visibleFilters="false" :visibleViewCount="true" primaryKey="person_id" :add_item="add_assessor"
                :remove_item="remove_person" :allowEdit="false" :isLoading="assessorLoading"
                ref="center_execute_assessors_search" :visibleAdd="false" :dynamicButtons="buttonsCenterExecute"
                forceCollapse :headerTitle="$lang.selectedItem">
                <template slot="headerButtons">
                  <b-button class="mr-1 btn-lightgray" @click="showCenterExecuteAssessor" v-b-tooltip.hover
                    :title="$lang.search.add_tooltip">
                    <i class="fa fa-plus"></i>
                  </b-button>
                </template>
                <!-- <template v-slot:buttons="prop">
                  <b-dropdown-item @click="changeCenterExecutePerson(prop.itemsData)">
                    <span>
                      <i class="fa fa-edit fa-lg text-success"></i>
                      <strong v-text="$lang.edit"></strong>
                    </span>
                  </b-dropdown-item>
                </template>-->

                <template slot="addModal">
                  <selectSearch :title="$lang.executives" :url="rasa_persons_url" v-model="assessors"
                    :allowFields="$lang.center_execute_persons_selecting_fields" :maxSelectNumber="allowAssessorCount"
                    :visibleAdd="true"></selectSearch>
                </template>
              </search>
            </template>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_assessors_select" size="xl" ok-only hide-header>
              <selectSearch :title="$lang.assessors" :url="rasa_persons_url" v-model="assessors"
                :allowFields="$lang.center_execute_persons_selecting_fields" :maxSelectNumber="allowAssessorCount"
                :visibleAdd="true"></selectSearch>

              <template v-slot:modal-footer>
                <b-button variant="success" @click="add_assessor();view_assessors_select=false">
                  {{$lang.submitButton}}
                  <i class="fa fa-check"></i>
                </b-button>
                <b-button class="ml-2" size="md" variant="danger" @click="view_assessors_select=false">
                  {{$lang.cancelButton}}
                  <i class="fa fa-ban"></i>
                </b-button>
              </template>
            </b-modal>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_CenterExecutePerson" size="lg" ok-only hide-footer hide-header>
              <editCenterExecutePerson :isModal="true" :entity-id="[this.assessment_plan_selected.value,person_id]"
                @modal-end-up="closeEditCenterExecutePerson"></editCenterExecutePerson>
            </b-modal>

            <template>
              <search :allowCollapse="true" :url="roomUrl" :title="$lang.day_center_room"
                :allowFields="$lang.day_center_room_fields" config="day_center_room" addModalSize="lg"
                removeModalSize="xl" :visibleSearch="false" :visibleSettings="false" :visibleExport="false"
                :visibleFilters="false" :visibleViewCount="false" :remove_item="remove_room" :allowEdit="false"
                :dynamicButtons="buttonsAddDayCenter" :headerTitle="$lang.selectedItem">
                <template slot="addModal" slot-scope="search">
                  <addDayCenterRoom isModal @modal-end-up="search.close" :entityId="center_execute_id"
                    entity="day_center_room"></addDayCenterRoom>
                </template>

                <!-- <template v-slot:buttons="prop">
                  <b-dropdown-item @click="changeDayCenterRoom(prop.itemsData)">
                    <span>
                      <i class="fa fa-edit fa-lg text-success"></i>
                      <strong v-text="$lang.edit"></strong>
                    </span>
                  </b-dropdown-item>
                </template>-->

                <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary"
                  content-class="border-primary" v-model="view_edit_DayCenterRoom" size="lg" ok-only hide-footer
                  hide-header>
                  <editDayCenterRoom :isModal="true" :entityId="center_execute_id" @modal-end-up="closeDayCenterRoom">
                  </editDayCenterRoom>
                </b-modal>
              </search>
            </template>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import VuePersianDatetimePicker from "vue-persian-datetime-picker";
  import selectSearch from "../base/selectSearch";
  import Notify from "../../shared/toast";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required
  } from "vuelidate/lib/validators";
  import search from "../search";
  import addCenterExecutePerson from "../center_execute_person/addCenterExecutePerson";
  import addDayCenterRoom from "../day_center_room/addDayCenterRoom";
  import editCenterExecutePerson from "../center_execute_person/editCenterExecutePerson";
  import editCenterExecuteCandidate from "../center_execute_person/editCenterExecuteCandidate";
  import editDayCenterRoom from "../day_center_room/editDayCenterRoom";

  export default {
    mixins: [validationMixin],
    validations: {
      start_date: {
        required
      },
      assessment_plan_selected: {
        required
      },
      template_selected: {
        required
      }
    },
    name: "edit-center_execute",
    components: {
      search,
      addCenterExecutePerson,
      addDayCenterRoom,
      datePicker: VuePersianDatetimePicker,
      selectSearch,
      editCenterExecutePerson,
      editDayCenterRoom,
      editCenterExecuteCandidate
    },
    props: {
      isModal: {
        type: Boolean,
        default: false
      },
      backUrl: {
        type: String,
        default: ""
      },
      company_name: {
        type: String,
        default: ""
      },
      allow_candidate_count: {
        type: Number,
        default: 0
      },
      allow_assessor_count: {
        type: Number,
        default: 0
      }
    },
    data() {
      return {
        allowCandidateCount: this.allow_candidate_count,
        allowAssessorCount: this.allow_assessor_count,
        companyName: "",
        person_id: null,
        center_execute_id: this.$route.params.id,
        personUrl: "",
        roomUrl: "",
        isLoading: false,
        id: this.$route.params.id,
        start_date: "",
        company_options: [],
        company_selected: null,
        company_id: null,
        assessment_plan_options: [],
        assessment_plan_selected: null,
        assessment_plan_id: null,
        companyLoading: false,
        assessment_planLoading: false,
        view_edit_CenterExecutePerson: false,
        view_edit_DayCenterRoom: false,
        center_execute_persons_url: this.$config.api_url +
          this.$config.resources.center_execute_person.replace(
            "{0}",
            this.$route.params.id
          ),
        center_execute_candidates_url: this.$config.api_url +
          this.$config.resources.center_execute_person.replace(
            "{0}",
            this.$route.params.id
          ) +
          "?center_execute_role_id=1&order_by=order:asc-person_id:asc",
        center_execute_assessors_url: this.$config.api_url +
          this.$config.resources.center_execute_executive.replace(
            "{0}",
            this.$route.params.id
          ) +
          "?order_by=order:asc-person_id:asc",
        company_persons_url: null,
        rasa_persons_url: this.$config.api_url +
          this.$config.resources.person_company.replace("{0}", "1"),
        company_assessors_url: this.$config.api_url +
          this.$config.resources.person_company.replace("{0}", "1"),
        candidates: [],
        assessors: [],
        candidateLoading: false,
        assessorLoading: false,
        view_candidates_select: false,
        view_candidates_edit: false,
        view_assessors_select: false,
        templateLoading: false,
        template_selected: {},
        template_options: [],
        buttons: [{
            id: "0",
            name: "edit",
            click: this.showEditCenterExecuteCandidate
          },
          {
            id: "1",
            name: "delete",
          },
          {
            id: "2",
            name: "view",
          }

        ],
        buttonsAddDayCenter: [{
            id: "0",
            name: "edit",
            click: this.changeDayCenterRoom
          },
          {
            id: "1",
            name: "delete",
          },
          {
            id: "2",
            name: "view",
          }
        ],
        buttonsCenterExecute: [{
            id: "0",
            name: "edit",
            click: this.changeCenterExecutePerson
          },
          {
            id: "1",
            name: "delete",
          },
          {
            id: "2",
            name: "view",
          }
        ]
      };
    },
    methods: {
      showCenterExecutePerson() {
        this.view_candidates_select = true;
      },
      showCenterExecuteAssessor() {
        this.view_assessors_select = true;
      },
      showEditCenterExecuteCandidate(item) {
        this.person_id = item.person_id;
        this.view_candidates_edit = true;
      },
      handleBack() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else if (this.isModal) {
          this.$emit("modal-end-up");
          // this.handleBack();
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        this.caption = "";
        this.category_selected = null;
      },
      changes() {
        console.log(this.date);
      },

      closeEditCenterExecutePerson() {
        this.view_edit_CenterExecutePerson = false;
        this.$refs.center_execute_assessors_search.getItems();
        this.center_execute_id = "";
      },

      closeEditCenterExecuteCandidate() {
        this.view_candidates_edit = false;
        this.$refs.center_execute_person_search.getItems();
        this.center_execute_id = "";
      },
      closeDayCenterRoom() {
        this.view_edit_DayCenterRoom = false;
        this.$refs.searchDayCenterRoom.getItems();
        this.center_execute_id = "";
      },
      changeCenterExecutePerson(item) {
        this.person_id = item.person_id.toString();
        this.view_edit_CenterExecutePerson = true;
      },
      changeDayCenterRoom(item) {
        this.room_id = item.id.toString();
        this.view_edit_DayCenterRoom = true;
      },

      remove_person(item) {
        return this.$httpService
          .delete(this.center_execute_persons_url + "/" + item.person_id)
          .then(response => {
            Notify.success(response.data.message);
            this.fillChoosedAssessor();
            this.fillChoosedCandidate();
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      },
      add_candidate() {
        this.candidateLoading = true;
        let payload = {
          person_id: this.candidates.map(c => c.id),
          center_execute_role_id: 1
        };
        return this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.center_execute_person.replace(
              "{0}",
              this.id
            ),
            payload
          )
          .then(response => {
            Notify.success(response.data.message);

            return true;
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }
            return false;
          })
          .finally(() => {
            this.$refs.center_execute_person_search.getItems();
            this.candidateLoading = false;
          });
      },
      add_assessor() {
        this.assessorLoading = true;
        let payload = {
          person_id: this.assessors.map(c => c.id),
          center_execute_role_id: 2
        };
        return this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.center_execute_person.replace(
              "{0}",
              this.id
            ),
            payload
          )
          .then(response => {
            Notify.success(response.data.message);

            return true;
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }
            return false;
          })
          .finally(() => {
            this.$refs.center_execute_assessors_search.getItems();
            this.assessorLoading = false;
          });
      },
      getCompany() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.company)
          .then(response => {
            if (response.status !== 200) {
              Notify.error(response.data.message);
              return;
            }
            let company = response.data.data.result;
            company = company.map(x => {
              return {
                value: x.id,
                text: x.name
              };
            });

            this.company_options = company;
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
          })
          .finally(() => (this.companyLoading = false));
      },
      getTemplate(query) {
        if (!query || query.length < 3) {
          this.template_options = [];
          return;
        }
        this.templateLoading = true;
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.template +
            "?caption=" +
            query
          )
          .then(response => {
            if (response.status !== 200) {
              Notify.error(response.data.message);
              return;
            }

            this.templateLoading = false;
            let template = response.data.data.result;
            template = template.map(x => {
              return {
                value: x.id,
                text: x.caption
              };
            });
            this.template_options = template;
            this.isLoading = false;
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
          })
          .finally(() => {
            this.templateLoading = false;
          });
      },
      getAssessment_plan(template_id) {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.assessment_plan +
            "?template_id=" +
            template_id
          )
          .then(response => {
            if (response.status !== 200) {
              Notify.error(response.data.message);
              return;
            }
            let assessment_plan = response.data.data.result;
            assessment_plan = assessment_plan.map(x => {
              return {
                value: x.id,
                text: x.candidate_count +
                  " " +
                  this.$lang.candidate +
                  " " +
                  x.assessor_count +
                  " " +
                  this.$lang.assessor +
                  " " +
                  x.room_count +
                  " " +
                  this.$lang.room,
                candidate_count: x.candidate_count,
                assessor_count: x.assessor_count
              };
            });

            this.assessment_plan_options = assessment_plan;
            // alert(this.assessment_plan_options);
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.assessment_planLoading = false));
      },
      remove_room(item) {
        return this.$httpService
          .delete(this.roomUrl + "/" + item.id)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      },
      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      save() {
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }

        //fill person_id prop
        this.center_execute_id = this.id;

        this.isLoading = true;
        let payload = {
          caption: this.caption,
          company_id: this.company_id,
          assessment_plan_id: this.assessment_plan_selected.value,
          start_date: this.start_date
        };
        this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.center_execute +
            "/" +
            this.id,
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }

            this.isLoading = false;
          });
      },
      fillChoosedCandidate() {
        return this.$httpService
          .get(this.center_execute_candidates_url)
          .then(response => {
            let data = response.data.data;

            if ("result" in data) {
              let center_execute_person = data.result;

              center_execute_person = center_execute_person.map(x => x.person);

              this.candidates = center_execute_person;
              return true;
            }
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          });
      },
      fillChoosedAssessor() {
        return this.$httpService
          .get(this.center_execute_assessors_url)
          .then(response => {
            let data = response.data.data;

            if ("result" in data) {
              let center_execute_person = data.result;

              center_execute_person = center_execute_person.map(x => x.person);

              this.assessors = center_execute_person;
              return true;
            }
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          });
      },
      fetchData() {
        if (isNaN(this.id)) {
          Notify.error("Not a number!");
          return false;
        }
        this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.center_execute +
            "/" +
            this.id
          )
          .then(response => {
            let data = response.data.data;
            this.start_date = data.start_date;

            this.template_selected = {
              value: data.assessment_plan.template.id,
              text: data.assessment_plan.template.caption
            };

            this.getCompany().then(response => {
              this.companyName = this.company_options.find(
                x => x.value === data.company_id
              ).text;
              this.company_id = this.company_options.find(
                x => x.value === data.company_id
              ).value;
            });

            this.getAssessment_plan(this.template_selected.value).then(
              response => {
                this.assessment_plan_selected = this.assessment_plan_options.find(
                  x => x.value === data.assessment_plan_id
                );
                this.allowCandidateCount = this.assessment_plan_options.find(
                  x => x.value === data.assessment_plan_id
                ).candidate_count;
                this.allowAssessorCount = this.assessment_plan_options.find(
                  x => x.value === data.assessment_plan_id
                ).assessor_count;
              }
            );

            this.company_persons_url =
              this.$config.api_url +
              this.$config.resources.person_company.replace(
                "{0}",
                data.company_id
              );
          })
          .then(() => this.fillChoosedCandidate())
          .then(() => this.fillChoosedAssessor())
          .catch(err => {})
          .finally(() => (this.isLoading = false));
      }
    },
    watch: {
      template_selected(item) {
        this.assessment_plan_selected = {};
        this.assessment_planLoading = true;
        this.getAssessment_plan(item.value).then(
          () => (this.assessment_planLoading = false)
        );
      }
    },
    created() {
      this.companyName = this.company_name;
      this.roomUrl =
        this.$config.api_url +
        this.$config.resources.center_execute_room.replace(
          "{0}",
          this.center_execute_id
        );

      this.isLoading = true;
      this.companyLoading = true;
      this.assessment_planLoading = true;
      this.fetchData();
      // this.getAssessment_plan(this.template_selected.value).then(res => {
      //     this.assessment_plan_options = res;
      // });
    },
    mounted() {}
  };

</script>

<style scoped lang="css">
</style>
