<template>
  <div class="animated fadeIn col-md-12">
     
    <search  :allowFields="$lang.searchCenterExecute" :url="url" :title="$lang.searchCenter_execute" :remove_item="removeItem" config="center_execute"
      :toggleable="true" :allowRemove="false" add-modal-size="lg" remove-modal-size="xl" ref="search_center_execute"
      :allowEdit="false" :isLoading="isLoading" :dynamicButtons="availableButtons">
      <template slot="addModal" slot-scope="search">
        <addCenterExecute isModal @modal-end-up="search.close"></addCenterExecute>
      </template>
      <template v-slot:buttons="prop"></template>
    </search>
    <confirm :title="modalTitle" :description="message" v-model="changeModal" :ok-title="$lang.yes"
      :cancel-title="$lang.no" @ok="ok" @cancel="cancel"></confirm>
  </div>
</template>

<script>
  import search from "../search";
  import addCenterExecute from "./addCenter_execute";
  import Notify from "../../shared/toast.js";
  import axios from "axios";
  import confirm from "../base/confirm";
  export default {
    components: {
      search,
      addCenterExecute,
      confirm
    },
    data() {
      return {
        changeModal: false,
        isLoading: false,
        url: this.$config.api_url + this.$config.resources.center_execute,
        buttons: [{
            id: 0,
            name: "edit",
            click: this.searchCenterExecute,
            status: [1]
          },

          {
            id: 2,
            name: "enable",
            status: [2]
          },
          {
            id: 3,
            name: "creatingCase",
            click: this.creatingCase,
            status: [1]
          },
          {
            id: 4,
            name: "visitCases", //مشاهده پرونده ها
            click: this.searchCase,
            status: [2, 3, 4]
          },
          {
            id: 5,
            name: "returnToEditing", //بازگشت به ویرایش
            click: this.returnToEditing,
            status: [2]
          },
          // {
          //   id: 6,
          //   name: "executing", // در حال اجرا
          //   click: this.executing,
          //   status: [2]
          // },
          {
            id: 7,
            name: "washup",
            click: this.showWashUp,
            status: [3,4]
          },
          {
            id: 8,
            name: "endCenter", // اتمام کانون
            click: this.endCenter,
            status: [this.$config.metaData.center_execute_status.in_progress]
          },
          {
            id: 9,
            name: "excelExport",
            click: this.export_excel,
            status: [4]
          },
          {
            id: 10,
            name: "delete",
            click: this.removeItem,
            status: [1]
          }
        ],
        mode: "",
        modalTitle: "",
        message: "",
        changingItems: null,
        removingItem: null
      };
    },
    methods: {
      clearModal() {
        this.mode = "";
        this.modalTitle = "";
      },
      ok() {
        if (this.mode == "change_status") {
          this.confirmedChangeStatus();
        } else if (this.mode == "remove_item") {
          this.confirmedRemoveItem();
        }
        this.clearModal();
      },
      cancel() {
        if (this.mode == "change_status") {
          this.notConfirmedChangeStatus();
        } else if (this.mode == "remove_item") {
          this.notConfirmedRemoveItem();
        }
        this.clearModal();
      },

      availableButtons(item) {
        if (!item || !("status_object" in item)) return [];
        console.log(item)
        return this.buttons.filter(x => {
          if('status' in x && x.status.length >0 )
            return x.status.includes(item.status_object.id) //true 
          return true;
        });
      },
      endCenter(item) {
        this.changeStatus(item, 4);
      },
      executing(item) {
        this.changeStatus(item, 3);
      },
      returnToEditing(item) {
        this.changeStatus(item, 1);
      },
      creatingCase(item) {
        this.changeStatus(item, 2);
      },
      handleBack() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else if (this.isModal) {
          this.$emit("modal-end-up");
          // this.handleBack();
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      searchCenterExecute(item) {
        this.$router.push("/center_execute/edit/" + item.id);
      },
      searchCase(item) {
        this.$router.push("/center_execute/" + item.id + "/case/search");
      },
      showWashUp(item) {
        this.$router.push("/center_execute/" + item.id + "/washup/search");
      },
      editItem(item) {
        //   this.$router.push("/competency/edit/" + item.id);
        console.log(item);
      },
      confirmedRemoveItem() {
        if (this.removingItem) {
          this.isLoading = true;
          return this.$httpService
            .delete(this.url + "/" + this.removingItem.id)
            .then(response => {
              Notify.success(response.data.message);
              return true;
            })
            .catch(err => {
              Notify.error(err.response.data.message);
              throw "error";
            })
            .finally(() => {
              this.isLoading = false;
              this.removingItem = null;
              this.message = "";
              this.$refs.search_center_execute.getItems();
            });
        }
      },
      notConfirmedRemoveItem() {
        this.removingItem = null;
        this.message = "";
      },
      removeItem(item) {
        this.removingItem = item;
        this.mode = "remove_item";
        this.message = this.$lang.are_you_sure;
        this.modalTitle = this.$lang.remove_item;
        this.changeModal = true;
      },
      toggle_item(item) {
        console.log(item);
      },
      confirmedChangeStatus() {
        if (this.changingItems != null && this.status != null) {
          this.isLoading = true;
          let payLoad = {
            status: this.status
          };
          this.isLoading = true;
          return this.$httpService
            .patch(
              this.$config.api_url +
              this.$config.resources.center_execute +
              "/" +
              this.changingItems.id +
              "/state",
              payLoad
            )
            .then(response => {
              Notify.success(response.data.message);
              this.$refs.search_center_execute.getItems();
              return true;
            })
            .catch(err => {
              Notify.error(err.response.data.message);
              throw "error";
            })
            .finally(() => {
              this.isLoading = false;
              this.changingItems = null;
              this.status = null;
              this.message = "";
              this.$refs.search_center_execute.getItems();
            });
        }
      },
      notConfirmedChangeStatus() {
        this.changingItems = null;
        this.status = null;
        this.message = "";
      },
      changeStatus(item, status) {
        this.mode = "change_status";
        this.changingItems = item;
        this.status = status;
        let message = this.$lang.are_you_sure;
        if (status === 2) {
          message =
            this.$lang.you_will_create_cases + " " + this.$lang.are_you_sure;
        }
        this.message = message;
        this.modalTitle = this.$lang.change_status;
        this.changeModal = true;
      },
      export_excel(item) {
        this.isLoading = true;
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.center_execute +
            "/" +
            item.id +
            "/export"
          )
          .then(response => {
            Notify.success(response.data.message);
            this.$refs.search_center_execute.getItems();

            var fileURL = response.data.data;
            var fileLink = document.createElement("a");
            fileLink.href = fileURL;
            fileLink.setAttribute("download", "center_execute_export.xlsx");
            document.body.appendChild(fileLink);

            fileLink.click();

            /*axios({
                                url: response.data.data,
                                method: 'GET',
                                responseType: 'blob',
                            })
                                .then((res) => console.log(res.data))
                                .catch(err => console.log(err));*/

            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          })
          .finally(() => {
            this.isLoading = false;
          });
      }
    },
    computed: {}
  };

</script>

<style></style>
