<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.exercise"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.caption" label-for="name" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.name" :rules="$v.name.$params"/>
              <b-form-input
                id="name"
                type="text"
                :autocomplete="$lang.caption"
                :state="$v.name.$dirty ? !$v.name.$error : null"
                v-model="$v.name.$model"
              ></b-form-input>

              <b-form-invalid-feedback
                id="name-feedback"
              >{{$lang.error_required | replace($lang.name)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.definition" label-for="description" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.definition"
                :rules="$v.description.$params"
              />
              <b-form-textarea
                id="description"
                :state="$v.description.$dirty ? !$v.description.$error : null"
                v-model="$v.description.$model"
                type="text"
                :rows="this.$config.form.textareaRows"
                :autocomplete="$lang.definition"
              ></b-form-textarea>
              <b-form-invalid-feedback
                id="description-feedback"
              >{{$lang.error_required | replace($lang.definition)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <!--<b-form-group :label="$lang.category" label-for="category_id" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.category"
                :rules="$v.category_id.$params"
              />
              <selectFind
                :options="category_options"
                v-model="$v.category_id.$model"
                :loading="categoryLoading"
                label="text"
                id="value"
                :isValid="$v.category_id.$dirty ? !$v.category_id.$error : null"
              />

              <b-form-invalid-feedback
                id="category_id-feedback"
              >{{$lang.error_required | replace($lang.category)}}
              </b-form-invalid-feedback>
            </b-form-group>-->

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">

                <i class="fa fa-check"></i>
                {{$lang.submitButton}}
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
                   <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {required} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            name: {
                required
            },
            description: {
                required
            },
            category_id: { }
        },
        name: "add-exercise",
        components: {},
        props: {
            isModal: {
                type: Boolean,
                default: false
            },
            backUrl: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                isLoading: false,
                name: "",
                description: "",
                // category_options: [],
                // category_id: null,
                // categoryLoading: false
            };
        },
        methods: {
            handleBack() {
                if (this.isModal) {
                    this.$emit("modal-end-up");
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            clear() {
                this.name = "";
                this.description = "";
                // this.category_id = null;
            },
            changes() {
                console.log(this.date);
            },
            /*getExerciseCategory() {
                return httpService
                    .get(config.api_url + config.metaData.exercise_category)
                    .then(response => {
                        if (response.status !== 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let exercise_category = response.data.data;
                        exercise_category = exercise_category.map(x => {
                            return {
                                value: x.enum_id,
                                text: x.enum_caption
                            };
                        });
                        this.category_options = exercise_category;
                    })
                    .catch(err => {
                        Notify.error(err.message);
                    });
            },*/
            afterSave() {
                if (this.backUrl) {
                    this.$route.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            save() {
                this.isLoading = true;
                this.$v.$touch();
                if (this.$v.$anyError) {
                    this.isLoading = false;
                    return;
                }

                this.isLoading = true;
                let payload = {
                    name: this.name,
                    description: this.description,
                    category_id: 1
                };
                return this.$httpService
                    .post(this.$config.api_url + this.$config.resources.exercise, payload)
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        this.isLoading = false;
                        Notify.error(err.response.data.message);
                    });
            }
        },
        created() {
            // this.categoryLoading = true;
            // this.getExerciseCategory().finally(() => (this.categoryLoading = false));
        }
    };
</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }
</style>
