<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.exercise"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.caption" label-for="name" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.caption" :rules="$v.name.$params" />
              <b-form-input id="name" type="text" :autocomplete="$lang.caption"
                :state="$v.name.$dirty ? !$v.name.$error : null" v-model="$v.name.$model"></b-form-input>

              <b-form-invalid-feedback id="name-feedback">{{$lang.error_required | replace($lang.name)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.definition" label-for="description" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.definition" :rules="$v.description.$params" />
              <b-form-textarea id="description" :state="$v.description.$dirty ? !$v.description.$error : null"
                v-model="$v.description.$model" type="text" :autocomplete="$lang.definition"
                :rows="this.$config.form.textareaRows"></b-form-textarea>

              <b-form-invalid-feedback id="description-feedback">{{$lang.error_required | replace($lang.definition)}}
              </b-form-invalid-feedback>
            </b-form-group>


            <b-form-group :label="$lang.category" label-for="
            " :label-cols="12">
              <requiredComponent slot="label" :label="$lang.category" :rules="$v.category_selected.$params" />
              <selectFind :options="category_options" v-model="$v.category_selected.$model" label="text" id="value"
                :loading="categoryLoading" :isValid="$v.category_selected.$dirty ? !$v.category_selected.$error : null"
                :showButton="showPermissionButton" categoryName="exercise_category" @enumSaved="refreshReference" />

              <b-form-invalid-feedback id="category_selected-feedback">
                {{$lang.error_required | replace($lang.category)}}
              </b-form-invalid-feedback>
            </b-form-group>




            <b-form-group :label="$lang.exerciseType" label-for="exercise_type_selected" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.exerciseType" :rules="$v.exercise_type_selected.$params" />
              <b-form-select id="exercise_type_selected" :autocomplete="$lang.exerciseType"
                v-model="$v.exercise_type_selected.$model"
                :state="$v.exercise_type_selected.$dirty ? !$v.exercise_type_selected.$error : null"
                :options="exercise_type_options">
              </b-form-select>
              <b-form-invalid-feedback id="value-feedback">وضعیت ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.workEnvironment" label-for="work_environment_selected" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.workEnvironment"
                :rules="$v.work_environment_selected.$params" />
              <b-form-select id="work_environment_selected" :autocomplete="$lang.workEnvironment"
                v-model="$v.work_environment_selected.$model"
                :state="$v.work_environment_selected.$dirty ? !$v.work_environment_selected.$error : null"
                :options="exercise_type_options">
              </b-form-select>
              <b-form-invalid-feedback id="value-feedback">وضعیت ضروری است</b-form-invalid-feedback>
            </b-form-group>


            <b-form-group :label="$lang.industry_sector" label-for="industry_sector_selected" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.industry_sector"
                :rules="$v.industry_sector_selected.$params" />
              <b-form-select id="industry_sector_selected" :autocomplete="$lang.status"
                v-model="$v.industry_sector_selected.$model"
                :state="$v.industry_sector_selected.$dirty ? !$v.industry_sector_selected.$error : null"
                :options="industry_sector_options">
              </b-form-select>
              <b-form-invalid-feedback id="value-feedback">وضعیت ضروری است</b-form-invalid-feedback>
            </b-form-group>


            <b-form-group :label="$lang.level" label-for="level_selected" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.level" :rules="$v.level_selected.$params" />
              <b-form-select id="level_selected" :autocomplete="$lang.level" v-model="$v.level_selected.$model"
                :state="$v.level_selected.$dirty ? !$v.level_selected.$error : null" :options="exercise_level_options">
              </b-form-select>
              <b-form-invalid-feedback id="value-feedback">وضعیت ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.business_function" label-for="business_function_selected" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.business_function"
                :rules="$v.business_function_selected.$params" />
              <b-form-select id="business_function_selected" :autocomplete="$lang.status"
                v-model="$v.business_function_selected.$model"
                :state="$v.business_function_selected.$dirty ? !$v.business_function_selected.$error : null"
                :options="business_function_options">
              </b-form-select>
              <b-form-invalid-feedback id="value-feedback">وضعیت ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <search :url="algorithmUrl" :title="$lang.exerciseAlgorithm" :allowFields="$lang.algorithm_fields"
              config="exercise_algorithm" addModalSize="lg" removeModalSize="xl" :visibleSearch="false"
              :visibleSettings="false" :visibleExport="false" :visibleFilters="false" :visibleViewCount="false"
              :allowEdit="false" :toggleable="true" ref="searchExerciseAlgorithm" :dynamicButtons="buttons">
              <template slot="addModal" slot-scope="search">
                <addAlgorithm isModal @modal-end-up="search.close" :entityId="id" entity="exercise"></addAlgorithm>
              </template>

              <!-- <template v-slot:buttons="prop">
                <b-dropdown-item @click="changeAlgorithm(prop.itemsData)">
                  <span>
                    <i class="fa fa-edit fa-lg text-success"></i>
                    <strong
                      v-text="$lang.search.edit_tooltip+' / '+$lang.search.insert_exercise_detail_tooltip"></strong>
                  </span>
                </b-dropdown-item>
              </template> -->
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_algorithm" size="xl" ok-only hide-footer hide-header>
              <editAlgorithm :isModal="true" :exerciseId="id" :entityId="algorithm_id"
                @modal-end-up="closeEditAlgorithm"></editAlgorithm>
            </b-modal>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" v-if="showPermissionButton" variant="success">
                <i class="fa fa-check"></i>
                {{$lang.submitButton}}
              </b-button>
              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import Notify from "../../shared/toast";
  import addAlgorithm from "./algorithm/addAlgorithm";
  import editAlgorithm from "./algorithm/editAlgorithm";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required
  } from "vuelidate/lib/validators";
  import search from "../search";

  export default {
    mixins: [validationMixin],
    validations: {
      name: {
        required
      },
      description: {
        required
      },
      category_selected: {},
      exercise_type_selected: {},
      work_environment_selected: {},
      level_selected: {},
      business_function_selected: {},
      industry_sector_selected: {}
    },
    name: "edit-exercise",
    components: {
      search,
      addAlgorithm,
      editAlgorithm
    },


    data() {
      return {
        id: this.$route.params.id,
        entityKey: 'exercise',
        algorithm_id: null,
        view_edit_algorithm: false,
        permission: [],
        allowPermissions: ["admin", "edit"],
        showPermissionButton: false,
        name: "",
        algorithmUrl: "",
        description: "",
        category_options: [],
        category_selected: null,
        category_id: null,
        isLoading: false,
        errors: [],
        categoryLoading: false,
        exercise_type_selected: null,
        work_environment_selected: null,
        level_selected: null,
        business_function_selected: null,
        industry_sector_selected: null,
        exercise_level_options: [],
        exercise_type_options: [],
        work_environment_options: [],
        business_function_options: [],
        industry_sector_options: [],

        buttons: [{
            id: '0',
            name: "insertExerciseDetail",
            click: this.changeAlgorithm
          },
          {
            id: "1",
            name: "view",
            click: this.changeAlgorithm
          },
          {
            id: "2",
            name: "enable",
          },
          {
            id: "3",
            name: "delete",
          }
        ]
      };
    },
    methods: {
      refreshReference() {
        this.categoryLoading = true;
        this.getExerciseCategory()
          .then()
          .catch(err => {
            Notify.error(err.response.data.message);
          })
          .finally(() => (this.categoryLoading = false));
      },
      handleBack() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else if (this.isModal) {
          this.$emit("modal-end-up");
          // this.handleBack();
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        this.name = "";
        this.description = "";
        this.category_selected = null;
      },
      changes() {
        console.log(this.date);
      },
      changeAlgorithm(item) {
        this.$router.push("/exercise/" + item.exercise_object.id + '/algorithm/edit/' + item.id);
      },
      closeEditAlgorithm() {
        this.view_edit_algorithm = false;
        this.$refs.searchExerciseAlgorithm.getItems();
        this.algorithm_id = "";
      },
      getExerciseCategory() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.exercise_category)
          .then(response => {
            let exercise_category = response.data.data;
            exercise_category = exercise_category.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });

            this.category_options = exercise_category;
            console.log(exercise_category, "exercise_category")
          })
          .catch(err => {
            Notify.error(err.message);
          });
      },

      getExerciseLevel() {

        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder.replace("{entity}", this.entityKey)
            .replace(
              "{enum}", "level"))
          .then(response => {
            let exerciseLevel = response.data.data;
            exerciseLevel = exerciseLevel.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });

            this.exercise_level_options = exerciseLevel;

          })
          .catch(err => {
            Notify.error(err.message);
          });
      },
      getWorkEnvironment() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder.replace("{entity}", this.entityKey)
            .replace(
              "{enum}", "work_environment"))
          .then(response => {
            let work_environment = response.data.data;
            work_environment = work_environment.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });

            this.work_environment_options = work_environment;

          })
          .catch(err => {
            Notify.error(err.message);
          });
      },

      getBusinessFunction() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder.replace("{entity}", this.entityKey)
            .replace(
              "{enum}", "business_function"))
          .then(response => {
            let business_function = response.data.data;
            business_function = business_function.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });

            this.business_function_options = business_function;

          })
          .catch(err => {
            Notify.error(err.message);
          });
      },

      getindustrySector() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder.replace("{entity}", this.entityKey)
            .replace("{enum}", "industry_sector")
          )
          .then(response => {
            let industry_sector = response.data.data;
            industry_sector = industry_sector.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });

            this.industry_sector_options = industry_sector;

          })
          .catch(err => {
            Notify.error(err.message);
          });
      },
      getExerciseType() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder.replace("{entity}", this.entityKey)
            .replace(
              "{enum}", "type"))
          .then(response => {
            let exercise_type = response.data.data;
            exercise_type = exercise_type.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });

            this.exercise_type_options = exercise_type;

          })
          .catch(err => {
            Notify.error(err.message);
          });
      },
      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      save() {
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }
        this.isLoading = true;
        let payload = {
          name: this.name,
          description: this.description,
          category_id: this.category_selected.value,
          level_id: this.level_selected,
          work_environment_id: this.work_environment_selected,
          type_id: this.exercise_type_selected,
          business_function_id: this.business_function_selected,
          industry_sector_id: this.industry_sector_selected
        };
        console.log(payload, "payload")
        this.$httpService
          .put(
            this.$config.api_url + this.$config.resources.exercise + "/" + this.id,
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            this.isLoading = false;
          });
      },
      fetchData() {
        if (isNaN(this.id)) {
          Notify.error("Not a number!");
          return false;
        }
        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.exercise + "/" + this.id)
          .then(response => {
            let data = response.data.data;
            this.permission = response.data.permissions;
            this.name = data.name;
            this.description = data.description;
            let category_id = data.category_id;
            this.level_selected = data.level_id
            this.work_environment_selected = data.work_environment_id
            this.exercise_type_selected = data.type_id
            this.business_function_selected = data.business_function_id
            this.industry_sector_selected = data.industry_sector_id
            this.getExerciseCategory()
              .then(() => {
                this.category_selected = this.category_options.find(
                  x => x.value === category_id
                );
              })
              .finally(() => (this.categoryLoading = false));
            return true
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            return true
          })
          .finally(() => (this.isLoading = false));
      },
      PermissionButtons() {
        this.permission.map(x => {
          if (this.allowPermissions.includes(x)) {
            this.showPermissionButton = true
          }
        })

      }
    },
    watch: {},
    created() {
      this.algorithmUrl =
        this.$config.api_url +
        this.$config.resources.exercise_algorithm.replace(
          "{0}", this.$route.params.id
        );

      this.categoryLoading = true;
      this.isLoading = true;

      this.getExerciseCategory()
      this.getBusinessFunction()
      this.getindustrySector()
      this.getExerciseType()
      this.getExerciseLevel()
      this.getWorkEnvironment()
      this.fetchData().then(() => this.PermissionButtons());
    }
  };

</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }

</style>
