<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ثبت
            <strong v-text="$lang.person"></strong>
          </div>
          <div v-show="errors.length>0" class="alert-danger">
            <h4>خطا:</h4>
            <ul v-bind:key="index" v-for="(error,index) in errors">
              <li>{{error}}</li>
            </ul>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group
              :label="$lang.name"
              label-for="name"
              :label-cols="this.$config.form.labelCol"
            >
             <requiredComponent
                slot="label"
                :label="$lang.name"
                :rules="$v.name.$params"
              />
              <b-form-input
                id="name"
                type="text"
                :autocomplete="$lang.name"
                v-model="$v.name.$model"
                :state="$v.name.$dirty ? !$v.name.$error : null"
              ></b-form-input>

              <b-form-invalid-feedback id="name-feedback">نام ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.family"
              label-for="family"
              :label-cols="this.$config.form.labelCol"
            >
            <requiredComponent
                slot="label"
                :label="$lang.family"
                :rules="$v.family.$params"
              />
              <b-form-input
                id="family"
                v-model="$v.family.$model"
                :state="$v.family.$dirty ? !$v.family.$error : null"
                type="text"
                :autocomplete="$lang.family"
              ></b-form-input>
              <b-form-invalid-feedback v-if="!$v.family.required" id="family-feedback">{{$lang.error_required | replace($lang.family)}}</b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="$v.family.required && !$v.national_code.maxLengh" id="family-feedback">{{$lang.error_length| replace($lang.family,35)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.father_name"
              label-for="father_name"
              :label-cols="this.$config.form.labelCol"
            >
            <requiredComponent
                slot="label"
                :label="$lang.father_name"
                :rules="$v.father_name.$params"
              />
              <b-form-input
                id="father_name"
                type="text"
                v-model="$v.father_name.$model"
                :state="$v.father_name.$dirty ? !$v.father_name.$error : null"
                :autocomplete="$lang.father_name"
              ></b-form-input>
              <b-form-invalid-feedback id="father_name-feedback">نام پدر ضروری است</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              :label="$lang.national_code"
              label-for="national_code"
              :label-cols="this.$config.form.labelCol"
            >
            <requiredComponent
                slot="label"
                :label="$lang.national_code"
                :rules="$v.national_code.$params"
              />
              <b-form-input
                id="national_code"
                v-model="$v.national_code.$model"
                :state="$v.national_code.$dirty ? !$v.national_code.$error : null"
                type="text"
                :autocomplete="$lang.national_code"
              ></b-form-input>

              <div
                class="invalid-feedback"
                v-if="!$v.national_code.required"
              >{{$lang.error_required | replace($lang.national_code)}}</div>
              <div
                class="invalid-feedback"
                v-if="($v.national_code.required)&&(!$v.national_code.minLengh|!$v.national_code.maxLengh)"
              >{{$lang.error_length| replace($lang.national_code,10)}}</div>
            </b-form-group>

            <b-form-group
              :label="$lang.birth_date"
              label-for="birth_date"
              :label-cols="this.$config.form.labelCol"
            >
            <requiredComponent
                slot="label"
                :label="$lang.birth_date"
                :rules="$v.birth_date.$params"
              />
              <date-picker
                v-model="$v.birth_date.$model"
                :state="$v.birth_date.$dirty ? !$v.birth_date.$error : null"
                format="YYYY/MM/DD"
                display-format="dddd jDD jMMMM jYYYY"
                min="1950/01/02"
                max="1999/12/31"
                inputReq="true"
                :class="$v.birth_date.$dirty ? ($v.birth_date.$error)?'invalid-date':'valid-date' : null"
              ></date-picker>
              <b-form-invalid-feedback
                :style="{display:$v.birth_date.$error?'block':'none'}"
                id="gender_id-feedback"
              >{{$lang.error_required | replace($lang.birth_date)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.gender"
              label-for="gender_id"
              :label-cols="this.$config.form.labelCol"
            >
            <requiredComponent
                slot="label"
                :label="$lang.gender_id"
                :rules="$v.gender_id.$params"
              />
              <selectFind
                :options="gender_options"
                v-model="$v.gender_id.$model"
                label="text"
                class="multiselect-form"
                :isValid="$v.gender_id.$dirty ? !$v.gender_id.$error : null"
              />

              <b-form-invalid-feedback
                :style="{display:$v.gender_id.$error?'block':'none'}"
                id="gender_id-feedback"
              >{{$lang.error_required | replace($lang.gender)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.marriage"
              label-for="marriage_id"
              :label-cols="this.$config.form.labelCol"
              class="multiselect-form"
            >
             <requiredComponent
                slot="label"
                :label="$lang.marriage_id"
                :rules="$v.marriage_id.$params"
              />
              <selectFind
                :options="marriage_options"
                v-model="$v.marriage_id.$model"
                label="text"
                :isValid="$v.marriage_id.$dirty ? !$v.marriage_id.$error : null"
              />
              <b-form-invalid-feedback
                :style="{display:$v.marriage_id.$error?'block':'none'}"
                v-show="$v.marriage_id.$dirty ? !$v.marriage_id.$error : null"
                id="marriage_id-feedback"
              >{{$lang.error_required | replace($lang.marriage)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-row>
              <b-col cols="12">
                <b-card class="mb-2">
                  <div class="card-title row">
                    <h4 class="col-md-8">{{$lang.address}}</h4>
                    <div class="col-md-4 text-right">
                      <b-button
                        class="col-md-5"
                        variant="outline-primary"
                        size="sm"
                        @click="addAddress"
                      >
                        <i class="icon-plus"></i>
                      </b-button>
                    </div>
                  </div>
                  <b-card-text>
                    <b-card :key="index" v-for="(address, index) in $v.addresses.$each.$iter">
                      <b-row>
                        <b-form-group
                          class="col-xl-1"
                          :label="$lang.row"
                          :label-cols="12"
                        >{{++index}}</b-form-group>
                        <b-col class="col-xl-3 col-12">
                          <b-form-group
                            :label="$lang.type"
                            label-for="address_kind_id"
                            :label-cols="12"
                            :key="index"
                          >
                            <!-- <b-form-select
                              id="address.address_kind_id"
                              :plain="true"
                              :options="address_kind_options"
                              v-model="address.kind_id.$model"
                              :state="address.kind_id.$dirty ? !address.kind_id.$error : null"
                              :key="index"
                            ></b-form-select>-->

                            <selectFind
                              :options="address_kind_options"
                              v-model="address.kind_id.$model"
                              label="text"
                              :isValid="address.kind_id.$dirty ? !address.kind_id.$error : null"
                            />

                            <b-form-invalid-feedback
                              id="gender_id-feedback"
                            >{{$lang.error_required | replace($lang.address_kind)}}</b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                        <b-col class="col-xl-3 col-12">
                          <b-form-group
                            :label="$lang.province"
                            label-for="province_id"
                            :label-cols="12"
                            :key="index"
                          >
                            <selectFind
                              :options="province_options"
                              v-model="address.province_id.$model"
                              label="text"
                              :isValid="address.province_id.$dirty ? !address.province_id.$error : null"
                              @input="check(index)"
                            />

                            <!-- <b-form-select
                              id="address.province_id"
                              :plain="true"
                              :options="province_options"
                              v-model="address.province_id.$model"
                              :state="address.province_id.$dirty ? !address.province_id.$error : null"
                              :key="index"
                              @input="check(index)"
                            ></b-form-select>-->
                            <b-form-invalid-feedback
                              id="province_id-feedback"
                            >{{$lang.error_required | replace($lang.province)}}</b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                        <b-col class="col-xl-3 col-12">
                          <b-form-group
                            :label="$lang.city"
                            label-for="city_id"
                            :label-cols="12"
                            :key="index"
                          >
                            <selectFind
                              :options="address.city_options.$model"
                              v-model="address.city_id.$model"
                              label="text"
                              :isValid="address.city_id.$dirty ? !address.city_id.$error : null"
                            />

                            <!-- <b-form-select
                              id="address.city_id"
                              :plain="true"
                              :options="address.city_options.$model"
                              v-model="address.city_id.$model"
                              :state="address.city_id.$dirty ? !address.city_id.$error : null"
                              :key="index"
                            ></b-form-select>-->
                            <b-form-invalid-feedback
                              id="gender_id-feedback"
                            >{{$lang.error_required | replace($lang.city)}}</b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-form-group class="col-xl-1" :label-cols="12"></b-form-group>
                        <b-col class="col-xl-3 col-12">
                          <b-form-group
                            :label="$lang.postal_code"
                            label-for="address"
                            :label-cols="12"
                          >
                            <b-form-input
                              id="address.postal_code"
                              type="text"
                              v-model="address.postal_code.$model"
                              :state="address.postal_code.$dirty ? !address.postal_code.$error : null"
                              :autocomplete="$lang.postal_code"
                              class="text-right"
                            ></b-form-input>
                            <b-form-invalid-feedback
                              id="father_name-feedback"
                            >{{$lang.error_required | replace($lang.postal_code)}}</b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                        <b-col class="col-xl-3 col-12">
                          <b-form-group :label="$lang.address" label-for="address" :label-cols="12">
                            <b-form-textarea
                              id="address.content"
                              type="text"
                              v-model="address.content.$model"
                              :state="address.content.$dirty ? !address.content.$error : null"
                              :autocomplete="$lang.address"
                            ></b-form-textarea>
                            <b-form-invalid-feedback
                              id="father_name-feedback"
                            >{{$lang.error_required | replace($lang.address)}}</b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                        <b-col class="col-xl-3 col-12">
                          <b-form-group
                            :label="$lang.description"
                            label-for="address"
                            :label-cols="12"
                          >
                            <b-form-textarea
                              id="address.description"
                              type="text"
                              v-model="address.description.$model"
                              :state="address.description.$dirty ? !address.description.$error : null"
                              :autocomplete="$lang.description"
                            ></b-form-textarea>
                            <b-form-invalid-feedback
                              id="father_name-feedback"
                            >{{$lang.error_required | replace($lang.description)}}</b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                        <b-form-group class="col-xl-1" :label="$lang.remove" :label-cols="12">
                          <b-button
                            variant="outline-danger"
                            size="md"
                            @click="removeAddress(index)"
                            class="col-md-12"
                          >
                            <i class="fa fa-trash"></i>
                          </b-button>
                        </b-form-group>
                      </b-row>
                    </b-card>
                  </b-card-text>
                </b-card>
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="12">
                <b-card class="mb-2">
                  <div class="card-title row">
                    <h4 class="col-md-8">{{$lang.contact}}</h4>
                    <div class="col-md-4 text-right">
                      <b-button
                        class="col-md-5"
                        variant="outline-primary"
                        size="sm"
                        @click="addContact"
                      >
                        <i class="icon-plus"></i>
                      </b-button>
                    </div>
                  </div>
                  <b-card-text>
                    <b-card :key="index" v-for="(contact, index) in $v.contacts.$each.$iter">
                      <b-row>
                        <b-form-group
                          class="col-xl-1"
                          :label="$lang.row"
                          :label-cols="12"
                        >{{++index}}</b-form-group>
                        <b-col class="col-xl-3 col-12">
                          <b-form-group
                            :label="$lang.type"
                            label-for="contact_kind_id"
                            :label-cols="12"
                            :key="index"
                          >
                            <b-form-select
                              id="contact.contact_kind_id"
                              :plain="true"
                              :options="contact_kind_options"
                              v-model="contact.kind_id.$model"
                              :state="contact.kind_id.$dirty ? !contact.kind_id.$error : null"
                              :key="index"
                            ></b-form-select>
                            <b-form-invalid-feedback id="gender_id-feedback">
                              نوع الزامی
                              است
                            </b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                        <b-col class="col-xl-3 col-12">
                          <b-form-group :label="$lang.value" label-for="content" :label-cols="12">
                            <b-form-input
                              id="contact.content"
                              type="text"
                              v-model="contact.content.$model"
                              :state="contact.content.$dirty ? !contact.content.$error : null"
                              :autocomplete="$lang.content"
                              class="text-right"
                            ></b-form-input>
                            <b-form-invalid-feedback id="father_name-feedback">
                              مقدار ضروری
                              است
                            </b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                        <b-col class="col-xl-4 col-12">
                          <b-form-group
                            :label="$lang.description"
                            label-for="contact"
                            :label-cols="12"
                          >
                            <b-form-textarea
                              id="contact.content"
                              type="text"
                              v-model="contact.content.$model"
                              :state="contact.content.$dirty ? !address.content.$error : null"
                              :autocomplete="$lang.contact"
                            ></b-form-textarea>
                            <b-form-invalid-feedback id="father_name-feedback">
                              آدرس ضروری
                              است
                            </b-form-invalid-feedback>
                          </b-form-group>
                        </b-col>
                        <b-form-group class="col-xl-1" :label="$lang.remove" :label-cols="12">
                          <b-button
                            variant="outline-danger"
                            size="sm"
                            @click="removeContact(index)"
                            class="col-md-8"
                          >
                            <i class="icon-minus"></i>
                          </b-button>
                        </b-form-group>
                      </b-row>
                    </b-card>
                  </b-card-text>
                </b-card>
              </b-col>
            </b-row>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="primary">
                <i class="fa fa-check"></i>
                {{$lang.submitButton}} 
              </b-button>
              <b-button @click="back" class="ml-2" size="md" variant="danger">
                <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import VuePersianDatetimePicker from "vue-persian-datetime-picker";

import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import {
  required,
  minLength,
  maxLength,
  numeric
} from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    name: {
      required
    },
    family: {
      required,
      maxLength: maxLength(35)
    },
    national_code: {
      required,
      minLength: minLength(10),
      maxLength: maxLength(10)
    },
    birth_date: {
      required
    },
    father_name: {
      required
    },
    gender_id: {
      required
    },
    marriage_id: {
      required
    },
    company_id: {
      required
    },
    addresses: {
      $each: {
        kind_id: {
          required
        },
        content: {
          required
        },
        city_id: {
          required
        },
        province_id: {
          required
        },
        city_options: {},
        postal_code: {},
        description: {}
      }
    },
    contacts: {
      $each: {
        kind_id: {
          required,
          numeric
        },
        content: {
          required
        }
      }
    }
  },

  name: "add-person",
  components: { datePicker: VuePersianDatetimePicker, Multiselect },
  props: {
    mode: {
      type: String,
      default: "add"
    },
    modal: {
      type: Boolean,
      default: false
    },
    personId: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      person_id: this.personId,
      isLoading: false,
      errors: [],
      addresses: [
        {
          id: null,
          kind_id: null,
          content: "",
          city_id: null,
          province_id: null,
          postal_code: "",
          description: "",
          city_options: []
        }
      ],
      contacts: [{ id: null, kind_id: null, content: "" }],
      family: null,
      name: null,
      father_name: null,
      national_code: null,
      birth_date: null,
      gender_options: [],
      marriage_options: [],
      contact_kind_options: [],
      address_kind_options: [],
      company_options: [],
      gender_id: null,
      marriage_id: null,
      company_id: null,
      address_kind_id: null,
      contact_kind_id: null,
      content: "",
      img: null,
      city_options: [[]],
      province_options: []
    };
  },
  methods: {
    addAddress() {
      this.addresses.push({
        id: null,
        kind_id: null,
        content: "",
        city_id: null,
        province_id: null,
        postal_code: "",
        description: "",
        city_options: []
      });
    },
    removeAddress(index) {
      this.addresses.splice(--index, 1);
      this.city_options[--index] = [];
    },
    addContact() {
      this.contacts.push({ kind_id: null, content: "" });
    },
    removeContact(index) {
      this.contacts.splice(--index, 1);
    },
    clear() {
      (this.name = null),
        (this.family = null),
        (this.birth_date = ""),
        (this.national_code = null),
        (this.father_name = null),
        (this.gender_id = null),
        (this.marriage_id = null),
        (this.company_id = null);
    },
    getGender() {
        this.$httpService
        .get(this.$config.api_url + this.$config.metaData.gender)
        .then(response => {
          if (response.status != 200) {
            Notify.error(response.data.message);
            return;
          }
          let gender = response.data.data;
          gender = gender.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });
          this.gender_options = gender;
        })
        .catch(err => {
          Notify.error(err.message);
        });
    },
    getMarriage() {
        this.$httpService
        .get(this.$config.api_url + this.$config.metaData.marriage)
        .then(response => {
          if (response.status != 200) {
            Notify.error(response.data.message);
            return;
          }
          let marriage = response.data.data;
          marriage = marriage.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });

          this.marriage_options = marriage;
        })
        .catch(err => {
          Notify.error(err.message);
        });
    },
    getContactKinds() {
        this.$httpService
        .get(this.$config.api_url + this.$config.metaData.contact_kind)
        .then(response => {
          if (response.status != 200) {
            Notify.error(response.data.message);
            return;
          }
          let kind = response.data.data;
          kind = kind.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });

          this.contact_kind_options = kind;
        })
        .catch(err => {
          Notify.error(err.message);
        });
    },
    getAddressKinds() {
        this.$httpService
        .get(this.$config.api_url + this.$config.metaData.address_kind)
        .then(response => {
          if (response.status != 200) {
            Notify.error(response.data.message);
            return;
          }
          let kind = response.data.data;
          kind = kind.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });

          this.address_kind_options = kind;
        })
        .catch(err => {
          Notify.error(err.message);
        });
    },
    getCompanies(query) {
      if (!query || query.length < 3) {
        this.company_options = [];
        return;
      }
        this.$httpService
        .get(this.$config.api_url + this.$config.resources.company + "?name=" + query)
        .then(response => {
          if (response.status != 200) {
            Notify.error(response.data.message);
            return;
          }

          let company = response.data.data.data;
          company = company.map(x => {
            return {
              value: x.id,
              text: x.name
            };
          });

          this.company_options = company;
        })
        .catch(err => {
          this.company_options = [];
        });
    },
    getProvinces() {
        this.$httpService
        .get(this.$config.api_url + this.$config.resources.province)
        .then(response => {
          let provinces = response.data.data;
          provinces = provinces.map(x => {
            return {
              value: x.id,
              text: x.name
            };
          });

          this.province_options = provinces;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
        });
    },
    getCities(province_id) {
      return this.$httpService
        .get(
            this.$config.api_url +
            this.$config.resources.province +
            "/" +
            province_id +
            "/city"
        )
        .then(response => {
          let provinces = response.data.data;
          provinces = provinces.map(x => {
            return {
              value: x.id,
              text: x.name
            };
          });

          return provinces;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          return [];
        });
    },
    saveAddress(address) {},
    saveContact(contact) {},
    postData() {
      this.errors = [];

      let payload = {
        name: this.name,
        family: this.family,
        father_name: this.father_name,
        national_code: this.national_code,
        birth_date: this.birth_date,
        marriage_id: this.marriage_id.value,
        gender_id: this.gender_id.value
      };
        this.$httpService
        .post(this.$config.api_url + this.$config.resources.person, payload)
        .then(response => {
          //   Notify.success(response.data.message);

          //fill person_id prop
          this.person_id = response.data.data.id;

          // person company add relation
          let payload = {
            person_id: this.person_id,
            company_id: this.company_id.value
          };

          let api_url = this.$config.resources.person_company.replace(
            "{0}",
            this.company_id.value
          );
          console.log(api_url);
            this.$httpService
            .post(this.$config.api_url + api_url, payload)
            .then(response => {
              //   Notify.success(response.data.message);
            })
            .catch(err => {
              console.log(err.response);
              Notify.error(err.response.data.message);
              err.response.data.message.forEach(element => {
                this.errors.push(element);
              });
            });

          // person addresses add
          this.addresses.forEach(address => {
            console.log(address);
            let api_url = this.$config.resources.person_address.replace(
              "{0}",
              this.person_id
            );
            let payload = {
              kind_id: address.kind_id.value,
              province_id: address.province_id.value,
              city_id: address.city_id.value,
              address: address.content,
              postal_code: address.postal_code,
              description: address.description
            };
              this.$httpService
              .post(this.$config.api_url + api_url, payload)
              .then(response => {
                console.log(response);
                //   Notify.success(response.data.message);
              });
          });

          // person contacts add
          //   this.mode = "edit";
          //   this.clear();

          this.isLoading = false;
        })
        .catch(err => {
          console.log(err.response);
          Notify.error(err.response.data.message);
          err.response.data.message.forEach(element => {
            this.errors.push(element);
          });
          this.isLoading = false;
        });
    },
    putData() {
      console.log("putData");
      this.isLoading = false;
    },
    save() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }

      this.isLoading = true;
      if (this.person_id) this.putData();
      else this.postData();
    },

    back() {
      console.log(this.$router);
      this.$router.history.back();
    },
    check(index) {
      console.log(index);
      //   this.addresses[--index].city_options = [];
      this.addresses[--index].city_id = null;
      this.addresses[index].city_options = [];
      let province_id = this.addresses[index].province_id.value;
      this.getCities(province_id).then(response => {
        console.log(response);
        this.addresses[index].city_options = response;
      });
    }
  },
  created() {
    this.isLoading = true;
    this.getMarriage();
    this.getGender();
    this.getContactKinds();
    this.getAddressKinds();
    // this.getCompanies();
    this.getProvinces();
    this.isLoading = false;
  },
  watch: {
    addresses() {
      console.log(this.addresses);
    }
  }
};
</script>

<style lang="css">
.main .container-fluid {
  padding: 0 10px !important;
}
</style>
<style lang="scss">
.multiselect-form::v-deep .multiselect {
  .multiselect,
  .multiselect__input,
  .multiselect__single {
    font-size: 14px !important;
  }
}
</style>
