<template ref="person_detail">
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.person"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-row>
              <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div v-if="imgLoading" class="align-middle text-center justify-content-center">
                  <b-spinner variant="primary" label="Text Centered"></b-spinner>
                </div>
                <div class="text-center" v-else>
                  <!-- <cropper
                    :img="img"
                    aspectRatio="1"
                    :resultCoordinates="resultCoordinates"
                    :stencilCoordinates="stencilCoordinates"
                  ></cropper>-->

                  <img :src="image_dispay" alt="..." class="img-thumbnail align-middle my-2"
                    style="width: 200px; height: 200px;cursor:pointer"
                    @click="$refs.image_form.$el.childNodes[0].click()" />
                  <br />
                  <div v-if="progressbar">
                    <b-progress :value="progress" variant="success" :max="100" show-progress animated></b-progress>
                  </div>
                  <div v-else>
                    <b-button v-if="showPermissionButton" size="md" variant="success"
                      @click="$refs.image_form.$el.childNodes[0].click()">
                      <i class="fa fa-camera"></i>
                      <!--                    {{$lang.change_image}}-->
                    </b-button>
                    <b-button v-if="showPermissionButton" @click="deleteImage" class="ml-2" size="md" variant="danger">
                      <i class="fa fa-trash"></i>
                      <!--                    {{$lang.delete_image}}-->
                    </b-button>
                  </div>
                </div>
                <b-form-file id="imageFile" ref="image_form" accept="image/*" v-model="img"
                  :placeholder="$lang.choose_profile_pic" hidden style="display: none" @change="changeImage">
                </b-form-file>
              </div>
              <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <b-form-group :label="$lang.name" label-for="name" :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.name" :rules="$v.name.$params" />
                  <b-form-input id="name" type="text" :autocomplete="$lang.name" v-model="$v.name.$model"
                    :state="$v.name.$dirty ? !$v.name.$error : null"></b-form-input>

                  <b-form-invalid-feedback v-if="!$v.name.required" id="name-feedback">
                    {{$lang.error_required | replace($lang.name)}}
                  </b-form-invalid-feedback>
                  <b-form-invalid-feedback v-if="$v.name.required && !$v.name.maxLengh" id="name-feedback">
                    {{$lang.error_max| replace($lang.name,"بین 2 تا 35")}}</b-form-invalid-feedback>
                </b-form-group>

                <b-form-group :label="$lang.family" label-for="family" :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.family" :rules="$v.family.$params" />
                  <b-form-input id="family" v-model="$v.family.$model"
                    :state="$v.family.$dirty ? !$v.family.$error : null" type="text" :autocomplete="$lang.family">
                  </b-form-input>
                  <b-form-invalid-feedback v-if="!$v.family.required" id="family-feedback">
                    {{$lang.error_required | replace($lang.family)}}</b-form-invalid-feedback>
                  <b-form-invalid-feedback v-if="$v.family.required && !$v.family.maxLengh" id="family-feedback">
                    {{$lang.error_max| replace($lang.family,"بین 3 تا 35")}}</b-form-invalid-feedback>
                </b-form-group>

                <b-form-group :label="$lang.person_internal_code" label-for="name"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.person_internal_code"
                    :rules="$v.person_internal_code.$params" />
                  <b-form-input id="personCode" type="text" :autocomplete="$lang.person_internal_code"
                    v-model="$v.person_internal_code.$model"
                    :state="$v.person_internal_code.$dirty ? !$v.person_internal_code.$error : null"></b-form-input>

                  <b-form-invalid-feedback v-if="!$v.person_internal_code.maxLength" id="person_internal_code-feedback">
                    {{$lang.error_max| replace($lang.person_internal_code,"20 حداکثر")}}</b-form-invalid-feedback>
                </b-form-group>
              </div>
            </b-row>

            <b-form-group :label="$lang.father_name" label-for="father_name" :label-cols="this.$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.father_name" :rules="$v.father_name.$params" />
              <b-form-input id="father_name" type="text" v-model="$v.father_name.$model"
                :state="$v.father_name.$dirty ? !$v.father_name.$error : null" :autocomplete="$lang.father_name">
              </b-form-input>
              <b-form-invalid-feedback id="father_name-feedback">{{$lang.error_required | replace($lang.father_name)}}
              </b-form-invalid-feedback>
            </b-form-group>

             <b-form-group :label="$lang.years_management" label-for="years_management" :label-cols="this.$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.years_management" :rules="$v.years_management.$params" />
              <b-form-input id="years_management" type="number" min="0" max="30" v-model="$v.years_management.$model"
                :state="$v.years_management.$dirty ? !$v.years_management.$error : null" :autocomplete="$lang.years_management">
              </b-form-input>
              <b-form-invalid-feedback id="years_management-feedback">{{$lang.error_required | replace($lang.years_management)}}
              </b-form-invalid-feedback>
            </b-form-group>


            <b-form-group :label="$lang.national_code" label-for="national_code"
              :label-cols="this.$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.national_code" :rules="$v.national_code.$params" />
              <b-form-input id="national_code" v-model="$v.national_code.$model"
                :state="$v.national_code.$dirty ? !$v.national_code.$error : null" type="text"
                :autocomplete="$lang.national_code"></b-form-input>

              <div class="invalid-feedback" v-if="!$v.national_code.numeric">
                {{$lang.error_numeric | replace($lang.national_code)}}
              </div>
              <div class="invalid-feedback"
                v-if="($v.national_code.numeric) && (!$v.national_code.minLength | !$v.national_code.maxLength)">
                {{$lang.error_max| replace($lang.national_code,10)}}
              </div>
            </b-form-group>

            <b-form-group :label="$lang.birth_date" label-for="birth_date" :label-cols="this.$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.birth_date" :rules="$v.birth_date.$params" />
              <date-picker v-model="$v.birth_date.$model" :state="$v.birth_date.$dirty ? !$v.birth_date.$error : null"
                format="YYYY/MM/DD" display-format="dddd jDD jMMMM jYYYY" min="1950/01/02" max="1999/12/31"
                inputReq="true"
                :class="$v.birth_date.$dirty ? ($v.birth_date.$error)?'invalid-date':'valid-date' : null"></date-picker>
              <b-form-invalid-feedback :style="{display:$v.birth_date.$error?'block':'none'}" id="gender_id-feedback">
                {{$lang.error_required | replace($lang.birth_date)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.gender" label-for="gender_id" :label-cols="this.$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.gender" :rules="$v.gender_selected.$params" />
              <selectFind :options="gender_options" v-model="$v.gender_selected.$model" label="text"
                class="multiselect-form" :isValid="$v.gender_selected.$dirty ? !$v.gender_selected.$error : null"
                :loading="genderLoading" />

              <b-form-invalid-feedback :style="{display:$v.gender_selected.$error?'block':'none'}"
                id="gender_id-feedback">{{$lang.error_required | replace($lang.gender)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.marriage" label-for="marriage_id" :label-cols="this.$config.form.labelCol"
              class="multiselect-form">
              <requiredComponent slot="label" :label="$lang.marriage" :rules="$v.marriage_selected.$params" />
              <selectFind :options="marriage_options" v-model="$v.marriage_selected.$model" label="text"
                :isValid="$v.marriage_selected.$dirty ? !$v.marriage_selected.$error : null"
                :loading="marriageLoading" />
              <b-form-invalid-feedback :style="{display:$v.marriage_selected.$error?'block':'none'}"
                v-show="$v.marriage_selected.$dirty ? !$v.marriage_selected.$error : null" id="marriage_id-feedback">
                {{$lang.error_required | replace($lang.marriage)}}</b-form-invalid-feedback>
            </b-form-group>

            <!--<div class="row">

              <div class="col-md-2">
                <span>{{$lang.status}}: </span>
                <span class="badge badge-primary">{{this.status}}</span>
              </div>

              <div class="col-md-10">
                <b-form-group>
                  <span>{{$lang.change_status}}: </span>
                  <b-button-group class="text-left">
                    <b-button variant="outline-primary" @click="changeState(2)"
                              :disabled="this.state_id === 2 ? true : false">{{$lang.temporary_confirm}}
                    </b-button>
                    <b-button variant="outline-success" @click="changeState(3)"
                              :disabled="this.state_id === 3 ? true : false">{{$lang.confirmed}}
                    </b-button>
                    <b-button variant="outline-danger" @click="changeState(4)"
                              :disabled="this.state_id === 4 ? true : false">{{$lang.reject}}
                    </b-button>
                  </b-button-group>
                </b-form-group>
              </div>
            </div>-->

            <!-- ************************************************************************ -->

            <search :allowCollapse="true" :url="companyUrl" :title="$lang.companyPerson"
              :allowFields="$lang.company_fields" primaryKey="company_code" config="person_company" addModalSize="lg" removeModalSize="xl"
              :visibleSearch="false" :visibleSettings="false" :visibleExport="false" :visibleFilters="false"
              :visibleViewCount="false" :allowEdit="false" :toggleable="true" :visibleAccordion="true"
              ref="searchCompany" :dynamicButtons="buttonsCompany"   >

              <template slot="addModal" slot-scope="search">
                <addPersonCompany isModal @modal-end-up="search.close" :entityId="person_code" entity="person">
                </addPersonCompany>
              </template>

              <!-- <template v-slot:buttons="prop">
                <b-dropdown-item @click="changeCompany(prop.itemsData)">
                  <span>
                    <i class="fa fa-edit fa-lg text-success"></i>
                    <strong v-text="$lang.search.edit_tooltip"></strong>
                  </span>
                </b-dropdown-item>
              </template> -->
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_company" size="xl" ok-only hide-footer hide-header>
              <editPersonCompany :isModal="true" :companyId="company_code" :entityId="person_code"
                @modal-end-up="closeEditCompany"></editPersonCompany>
            </b-modal>

            <!-- ************************************************************************ -->

            <search :allowCollapse="true" :url="addressUrl" :title="$lang.addressPerson"
              :allowFields="$lang.address_fields" config="address" addModalSize="lg" removeModalSize="xl"
              :visibleSearch="false" :visibleSettings="false" :visibleExport="false" :visibleFilters="false"
              :visibleViewCount="false" :allowEdit="false" :visibleAccordion="true" ref="searchAddress"
              :dynamicButtons="buttonsAddress"   >
              <template slot="addModal" slot-scope="search">
                <addAddress isModal @modal-end-up="search.close" :entityId="person_code" entity="person"></addAddress>
              </template>

              <!-- <template v-slot:buttons="prop">
                <b-dropdown-item @click="changeAddress(prop.itemsData)">
                  <span>
                    <i class="fa fa-edit fa-lg text-success"></i>
                    <strong v-text="$lang.search.edit_tooltip"></strong>
                  </span>
                </b-dropdown-item>
              </template> -->
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_address" size="xl" ok-only hide-footer hide-header>
              <editAddress :isModal="true" :addressId="address_id" :entityId="person_code"
                @modal-end-up="closeEditAddress"></editAddress>
            </b-modal>

            <!-- ************************************************************************ -->

            <search :allowCollapse="true" :url="contactUrl" :title="$lang.contactPerson"
              :allowFields="$lang.contact_fields" config="contact" addModalSize="lg" removeModalSize="xl"
              :visibleSearch="false" :visibleSettings="false" :visibleExport="false" :visibleFilters="false"
              :visibleViewCount="false" :allowEdit="false" :visibleAccordion="true" ref="searchContact"
              :dynamicButtons="buttons"   >

              <template slot="addModal" slot-scope="search">
                <addContact isModal @modal-end-up="search.close" :entityId="person_code" entity="person"></addContact>
              </template>
              <!-- v-slot:cell(name)="data"      v-slot:buttons="prop"-->
              <!-- <template v-slot:cell(buttons)="prop">
                <b-dropdown-item @click="changeContact(prop.itemsData)">
                  <span>
                    <i class="fa fa-edit fa-lg text-success"></i>
                    <strong v-text="$lang.search.edit_tooltip"></strong>
                  </span>
                </b-dropdown-item>
              </template> -->
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_edit_contact" size="xl" ok-only hide-footer hide-header>
              <editContact :isModal="true" :contactId="contact_id" :entityId="person_code"
                @modal-end-up="closeEditContact"></editContact>
            </b-modal>

            <!-- ************************************************************************ -->

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_crop" size="md" ok-only>
              <Cropper :src="image_to_crop" :stencilComponent="$options.components.CircleStencil" @change="cropImage" />
              <template v-slot:modal-footer>
                <b-button variant="success" @click="view_crop=false;uploadImage()">
                  {{$lang.submitButton}}
                  <i class="fa fa-check"></i>
                </b-button>
              </template>
            </b-modal>
            <div slot="footer" v-if="showPermissionButton" class="form-group form-btn mt-1">
              <b-button type="submit" size="md" variant="success">
                <i class="fa fa-check"></i>
                {{$lang.submitButton}}
              </b-button>
              <b-button @click="handleBack" class="ml-2" size="md" variant="danger">
                <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>

  import VuePersianDatetimePicker from "vue-persian-datetime-picker";
  import Notify from "../../shared/toast";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    minLength,
    maxLength,
    numeric
  } from "vuelidate/lib/validators";
  import search from "../search";
  import addPersonCompany from "../person_company/addPersonCompany";
  import editPersonCompany from "../person_company/editPersonCompany";
  import addAddress from "../address/addAddress";
  import editAddress from "../address/editAddress";
  import addContact from "../contact/addContact";
  import editContact from "../contact/editContact";
  import {
    mapActions
  } from "vuex";
  import {
    Cropper,
    CircleStencil
  } from "vue-advanced-cropper";

  export default {
    mixins: [validationMixin],
    validations: {
      name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(30)
      },
      family: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(35)
      },
      national_code: {
        numeric,
        minLength: minLength(10),
        maxLength: maxLength(10)
      },
      birth_date: {},
      father_name: {},
      gender_selected: {
        required
      },
      marriage_selected: {
        required
      },
      img: {},
      person_internal_code: {
        maxLength: maxLength(20)
      },
      years_management:{
        
      }
    },

    name: "edit-person",
    components: {
      datePicker: VuePersianDatetimePicker,
      search,
      addPersonCompany,
      addAddress,
      addContact,
      editPersonCompany,
      editAddress,
      editContact,
      Cropper,
      CircleStencil
    },
    props: {
      isModal: {
        type: Boolean,
        default: false
      },
      backUrl: {
        type: String,
        default: ""
      }
    },
    data() {
      return {
        companyUrl: "",
        addressUrl: "",
        contactUrl: "",
        years_management:"",
        person_code: this.$route.params.id,
        permission: [],
        allowPermissions: ["admin", "edit"],
        showPermissionButton: false,
        isLoading: false,
        family: null,
        name: null,
        father_name: null,
        national_code: null,
        birth_date: null,
        gender_options: [],
        marriage_options: [],
        company_options: [],
        gender_selected: null,
        marriage_selected: null,
        company_selected: null,
        state_id: null,
        img: null,
        province_options: [],
        marriageLoading: true,
        genderLoading: true,
        view_edit_company: false,
        view_edit_address: false,
        view_edit_contact: false,
        company_code: "",
        address_id: "",
        contact_id: "",
        person_internal_code: "",
        image_dispay: this.$config.server_url +
          this.$config.resources.upload_folder +
          "/" +
          this.$config.metaData.sample_profile_pic,
        stencilCoordinates: {
          height: "200",
          width: "200",
          left: "0",
          top: "0"
        },
        resultCoordinates: {
          height: "200",
          width: "200",
          left: "0",
          top: "0"
        },
        view_crop: false,
        image_to_crop: null,
        imgLoading: false,
        buttons: [{
            id: 0,
            name: "edit",
            click: this.changeContact,
          },
          {
            id: "1",
            name: "view",
            click: this.changeContact
          },
          {
            id: "2",
            name: "enable",
          },
            {
            id: "3",
            name: "delete",
            // click: this.changeCompany
          }
        ],
        buttonsCompany: [{
            id: 0,
            name: "edit",
            click: this.changeCompany,

          },
          {
            id: "1",
            name: "view",
            click: this.changeCompany
          },
          {
            id: "2",
            name: "enable",
          },
          {
            id: "3",
            name: "delete",
            // click: this.changeCompany
          }
        ],
        buttonsAddress: [
          {
            id: 0,
            name: "edit",
            click: this.changeAddress,
          },
          {
            id: "1",
            name: "view",
            click: this.changeAddress
          },
          {
            id: "2",
            name: "enable",
          },
          {
            id: "3",
            name: "delete",
            // click: this.changeCompany
          }
        ],
        progressbar: false,
        progress: 0
      };
    },
    methods: {
      ...mapActions(["getUserInfo"]),
      handleBack() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else if (this.isModal) {
          this.$emit("modal-end-up");
          // this.handleBack();
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      uploadImage() {
        console.log(this.img, this.image_dispay);
        if (!this.img) return;
        this.progressbar = true;
        fetch(this.image_dispay)
          .then(res => res.blob())
          .then(
            blob =>
            new File([blob], this.img.name, {
              type: "image/png"
            })
          )
          .then(image => {
            console.log(image);
            let api_url = this.$config.resources.person_attachment.replace(
              "{0}",
              this.person_code
            );
            const formData = new FormData();
            formData.append("image", image);
            formData.append("type", "original");
            this.$httpService
              .post(
                this.$config.api_url + api_url,
                formData, {
                  "Content-Type": "multipart/form-data"
                },
                true, {
                  onUploadProgress: e => {
                    if (e.lengthComputable) {
                      this.progress = (e.loaded / e.total) * 100;
                    }
                  }
                }
              )
              .then(response => {
                // for update user profile in view
                this.getUserInfo();
                Notify.success(response.data.message);
              })
              .catch(err => {
                if (err.response.status == 400) {
                  if (typeof err.response.data.message === "object") {
                    err.response.data.message.forEach(element => {
                      this.errors.push(element);
                    });
                  } else {
                    Notify.error(err.response.data.message);
                  }
                } else {
                  Notify.error(err.message);
                }
                this.isLoading = false;
              })
              .finally(() => {
                this.imgLoading = false;
                this.progressbar = false;
              });
          });
      },
      cropImage({
        coordinates,
        canvas
      }) {
        this.coordinates = coordinates;
        // You able to do different manipulations at a canvas
        // but there we just get a cropped image
        this.image_dispay = canvas.toDataURL();
      },
      changeImage() {},
      deleteAttachment() {
        let api_url = this.$config.resources.person_attachment.replace(
          "{0}",
          this.person_code
        );
        return this.$httpService
          .delete(this.$config.api_url + api_url)
          .then(response => {
            // for update user profile in view
            this.getUserInfo();
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            if (err.response.status == 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }

            return false;
          });
      },
      deleteImage() {
        this.imgLoading = true;
        this.deleteAttachment()
          .then(() => {
            this.img = null;
            this.image_dispay =
              this.$config.server_url +
              this.$config.resources.upload_folder +
              "/" +
              this.$config.metaData.sample_profile_pic;
          })
          .finally(() => (this.imgLoading = false));
      },
      closeEditContact() {
        this.view_edit_contact = false;
        this.$refs.searchContact.getItems();
        this.contact_id = "";
      },
      changeContact(item) {
        this.contact_id = item.id.toString();
        this.view_edit_contact = true;
      },

      closeEditAddress() {
        this.view_edit_address = false;
        this.$refs.searchAddress.getItems();
        this.address_id = "";
      },
      changeAddress(item) {
        console.log(item,"changeAddress")
        this.address_id = item.id.toString();
        
        this.view_edit_address = true;
      },

      closeEditCompany() {
        this.view_edit_company = false;
        this.$refs.searchCompany.getItems();
        this.company_code = "";
      },
      changeCompany(item) {
      console.log(item.code)
        this.company_code = item.company_code
        console.log(item)
        this.view_edit_company = true;
      },

      clear() {
        (this.name = null)((this.family = null))((this.birth_date = ""))(
          (this.national_code = null)
        )((this.father_name = null))((this.gender_id = null))(
          (this.marriage_id = null)
        )((this.company_code = null));
      },
      getGender() {
        
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.gender)
          .then(response => {
            
            let gender = response.data.data;
            gender = gender.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });
            this.gender_options = gender;
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          });
      },
      getMarriage() {
        
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.marriage)
          .then(response => {
            let marriage = response.data.data;
            marriage = marriage.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });

            this.marriage_options = marriage;
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          });
      },
      getCompanies(query) {
        if (!query || query.length < 3) {
          this.company_options = [];
          return;
        }
        this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.company +
            "?name=" +
            query
          )
          .then(response => {
       

            let company = response.data.data.result;
            // company = company.map(x => {
            //   return {
            //     value: x.id,
            //     text: x.name
            //   };
            // });

            this.company_options = company;
          })
          .catch(err => {
            this.company_options = [];
          });
      },
      afterSave() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      putData() {
        let payload = {
          name: this.name,
          family: this.family,
          father_name: this.father_name,
          internal_code: this.person_internal_code,
          national_code: this.national_code,
          birth_date: this.birth_date,
          gender_id: this.gender_selected.value,
          years_management:this.years_management
        };
        if (this.marriage_selected && "value" in this.marriage_selected) {
          payload.marriage_id = this.marriage_selected.value;
        }
        console.log(this.marriage_selected ,"this.marriage_selected")
        this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.person +
            "/" +
            this.person_code,
            payload
          )
          .then(response => {
            // console.log(response, "response put")

            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            if (err.response.status == 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }

            this.isLoading = false;
          });
      },
      changeState(state) {
        this.isLoading = true;

        let payload = {
          state: state
        };

        return this.$httpService
          .patch(
            this.$config.api_url +
            this.$config.resources.person +
            "/" +
            this.person_code +
            "/state",
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.fetchData();
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            this.isLoading = false;
          });
      },
      save() {
        this.$v.$touch();
        if (this.$v.$anyError) {
          console.log("error");
          return;
        }

        this.isLoading = true;
        this.putData();
      },

      check(index) {
        console.log(index);
        //   this.addresses[--index].city_options = [];
        this.addresses[--index].city_id = null;
        this.addresses[index].city_options = [];
        let province_id = this.addresses[index].province_id.value;
        this.getCities(province_id).then(response => {
          console.log(response);
          this.addresses[index].city_options = response;
        });
      },
      fetchData() {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.person +
            "/" +
            this.person_code
          )
          .then(response => {
            let data = response.data.data;
            this.permission = response.data.permissions;
            this.name = data.name;
            this.family = data.family;
            this.father_name = data.father_name;
            this.national_code = data.national_code;
            this.birth_date = data.birth_date.gregorian;
            this.company_selected = data.company[0];
            let marriage_id = data.marriage.id;
            let gender_id = data.gender.id;
            this.years_management=data.years_management
            // this.state_id = data.state.id;
            console.log(marriage_id,"marriage_id")
            console.log(gender_id,"gender_id")
            this.person_internal_code = data.internal_code;
            let pic = data.images_kind.find(x => x.type === "original");
            this.status = this.$lang.pending;
            // if (data.state.id === 2) this.status = this.$lang.temporary_confirm;
            // else if (data.state.id === 3) this.status = this.$lang.confirmed;
            // else if (data.state.id === 4) this.status = this.$lang.reject;

            if (pic) {
              this.image_dispay = pic.path;
            }
            // fetch combo boxes
           
            this.getMarriage()
              .then(response => {
                this.marriageLoading = true;
               console.log(this.marriage_options,"marriage_options")
                this.marriage_selected = this.marriage_options.find(
                  x => x.value === marriage_id
                );
              })
              .finally(() => (this.marriageLoading = false));
            this.getGender()
              .then(response => {
                this.gender_selected = this.gender_options.find(
                  x => x.value === gender_id
                );
              })
              .finally(() => (this.genderLoading = false));

            return true
          })
          .catch(err => {
            // Notify.error(err.response);
            return false
          })
          .finally(() => {
            this.isLoading = false;
            this.imgLoading = false;
          });
      },
      prepare() {
        this.person_code = this.$route.params.id;
        this.companyUrl =
          this.$config.api_url +
          this.$config.resources.company_person.replace(
            "{0}",
            this.$route.params.id
          );

        this.addressUrl =
          this.$config.api_url +
          this.$config.resources.person_address.replace(
            "{0}",
            this.$route.params.id
          );

        this.contactUrl =
          this.$config.api_url +
          this.$config.resources.person_contact.replace(
            "{0}",
            this.$route.params.id
          );

        this.isLoading = true;
        this.imgLoading = true;
        this.marriageLoading = true;
        this.genderLoading = true;

        this.fetchData().then(() => this.PermissionButtons());
      },
      PermissionButtons() {
        this.permission.map(x => {
          if (this.allowPermissions.includes(x)) {
            this.showPermissionButton = true
            // console.log(this.showPermissionButton)
          }
        })

      }
    },
    created() {
      this.prepare();
    },
    watch: {
      $route() {
        this.prepare();
      },
      // person_code() {
      //   this.fetchData();
      // },
      addresses() {
        console.log(this.addresses);
      },
      img() {
        // .then(e => (this.image_dispay = e.target.result));
        console.log(this.img);
        if (this.img) {
          let file = this.img;
          let reader = new FileReader();

          reader.onload = e => (this.image_to_crop = e.target.result);
          reader.readAsDataURL(file);
          this.view_crop = true;
        }
      }
    }
  };

</script>

<style lang="css">
  .main .container-fluid {
    padding: 0 10px !important;
  }

</style>
