<template>
  <div class="animated fadeIn col-md-12">
    <search :url="url" :title="$lang.searchPerson" :remove_item="remove_item" config="person" :toggleable="true"
      addModalSize="lg" removeModalSize="xl" :dynamicButtons="buttons" :hiddenFields="hiddenFieldList" primaryKey="code">
      <template slot="addModal" slot-scope="search" >
        <addPerson isModal @modal-end-up="search.close"></addPerson>
      </template>
    </search>
  </div>
</template>

<script>
  import search from "../search";
  import addPerson from "./addPersonNew";
  import Notify from "../../shared/toast";
  export default {
    components: {
      search,
      addPerson
    },
    data() {
      return {
        hiddenFieldList:["created_at", "created_by", "updated_by", "updated_at","birth_date","national_code" ,"years_management"],
        loadingItem: false,
        url: this.$config.api_url + this.$config.resources.person,
        buttons: [
          {
            id: "0",
            name: "edit",
          },
          {
            id: "1",
            name: "view",
          },
          {
            id: "2",
            name: "enable",
          },
          {
            id: "3",
            name: "delete",
          }
        ]
      };
    },
    methods: {
      handleBack() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else if (this.isModal) {
          this.$emit("modal-end-up");
          // this.handleBack();
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      remove_item(item) {
        console.log("remove");
        return this.$httpService
          .delete(this.url + "/" + item.code)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      }
    }
  };

</script>

<style>
</style>
