<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col class="col-md-12 col-sm-12 col-lg-12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.assessment_plan"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group
              :label="$lang.template"
              label-for="template_id"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.template"
                :rules="$v.template_id.$params"
              />
              <selectAsync
                :options="template_options"
                v-model="$v.template_id.$model"
                label="text"
                :asyncFind="getTemplate"
                :isValid="$v.template_id.$dirty ? !$v.template_id.$error : null"
                :loading="templateLoading"
                :overrideLabel="false"
              />
              <b-form-invalid-feedback
                id="template_id-feedback"
              >{{$lang.error_required | replace($lang.template)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.candidate_count"
              label-for="candidate_count"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.candidate_count"
                :rules="$v.candidate_count.$params"
              />
              <b-form-input
                id="candidate_count"
                type="number"
                min="1"
                max="999"
                :autocomplete="$lang.candidate_count"
                v-model="$v.candidate_count.$model"
                :state="$v.candidate_count.$dirty ? !$v.candidate_count.$error : null"
              ></b-form-input>

              <b-form-invalid-feedback id="candidate_count-feedback">تعداد شرکت کنندگان الزامی است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.assessor_count"
              label-for="assessor_count"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.assessor_count"
                :rules="$v.assessor_count.$params"
              />
              <b-form-input
                id="assessor_count"
                type="number"
                min="1"
                max="99"
                :autocomplete="$lang.assessor_count"
                v-model="$v.assessor_count.$model"
                :state="$v.assessor_count.$dirty ? !$v.assessor_count.$error : null"
              ></b-form-input>

              <b-form-invalid-feedback id="assessor_count-feedback">تعداد ارزیاب ها الزامی است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.room_count"
              label-for="room_count"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.room_count"
                :rules="$v.room_count.$params"
              />
              <b-form-input
                id="room_count"
                type="number"
                min="1"
                max="999"
                :autocomplete="$lang.room_count"
                v-model="$v.room_count.$model"
                :state="$v.room_count.$dirty ? !$v.room_count.$error : null"
              ></b-form-input>

              <b-form-invalid-feedback id="room_count-feedback">تعداد اتاق ها الزامی است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.start_time" label-for="start_time" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.start_time"
                :rules="$v.start_time.$params"
              />
              <date-picker
                v-model="$v.start_time.$model"
                :state="$v.start_time.$dirty ? !$v.start_time.$error : null"
                format="HH:mm"
                display-format="HH:mm"
                :jumpMinute="5"
                min="00:00"
                max="23:59"
                type="time"
                inputReq="true"
                :roundMinute="true"
                :class="$v.start_time.$dirty ? ($v.start_time.$error)?'invalid-date':'valid-date' : null"
              ></date-picker>
              <b-form-invalid-feedback id="start_time-feedback">زمان شروع ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.end_time" label-for="end_time" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.end_time" :rules="$v.end_time.$params" />
              <date-picker
                v-model="$v.end_time.$model"
                :state="$v.end_time.$dirty ? !$v.end_time.$error : null"
                format="HH:mm"
                display-format="HH:mm"
                :jumpMinute="5"
                min="00:00"
                max="23:59"
                type="time"
                inputReq="true"
                :roundMinute="true"
                :class="$v.end_time.$dirty ? ($v.end_time.$error)?'invalid-date':'valid-date' : null"
              ></date-picker>
              <b-form-invalid-feedback id="end_time-feedback">زمان پایان ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.day_count"
              label-for="day_count"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.day_count"
                :rules="$v.day_count.$params"
              />
              <b-form-input
                id="day_count"
                type="number"
                min="1"
                max="9"
                :autocomplete="$lang.day_count"
                v-model="$v.day_count.$model"
                :state="$v.day_count.$dirty ? !$v.day_count.$error : null"
              ></b-form-input>

              <b-form-invalid-feedback id="day_count-feedback">تعداد روزها الزامی است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.time_step"
              label-for="time_step"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.time_step"
                :rules="$v.time_step_selected.$params"
              />

              <selectFind
                :options="time_step_options"
                v-model="$v.time_step_selected.$model"
                label="text"
                id="value"
                class="multiselect-form"
                :isValid="$v.time_step_selected.$dirty ? !$v.time_step_selected.$error : null"
              />

              <b-form-invalid-feedback id="time_step_selected-feedback">تعداد روزها الزامی است</b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button type="reset" class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
import VuePersianDatetimePicker from "vue-persian-datetime-picker";
import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import { required, numeric } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    template_id: {
      required
    },
    candidate_count: {
      required,
      numeric
    },
    assessor_count: {
      required,
      numeric
    },
    room_count: {
      required,
      numeric
    },
    start_time: {
      required
    },
    end_time: {
      required
    },
    day_count: {
      required
    },
    time_step_selected: {
      required
    }
  },

  name: "add-assessment_plan",
  components: { datePicker: VuePersianDatetimePicker },
  props: {
    isModal: {
      type: Boolean,
      default: false
    },
    backUrl: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      loadingItem: false,
      isLoading: false,
      template_id: null,
      template_selected: null,
      candidate_count: null,
      assessor_count: null,
      room_count: null,
      template_options: [],
      start_time: null,
      end_time: null,
      day_count: 1,
      time_step_selected: null,
      time_step_options: [],
      templateLoading: false
    };
  },
  methods: {
    handleBack() {
      if (this.isModal) {
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    clear() {
      this.caption = "";
      this.value = "";
      this.caption_third_person = "";
      this.caption_second_person = "";
      this.caption_imperative = "";
      this.caption_managerial = "";
      this.competency_selected = "";
    },
    changes() {
      console.log(this.date);
    },
    afterSave() {
      if (this.backUrl) {
        this.$route.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    timeStep() {
      this.time_step_options = [];
      for (let i = 5; i <= 60; i += 5) {
        this.time_step_options.push({
          value: i,
          text: i
        });
      }
    },
    getTemplate(query) {
      if (!query || query.length < 3) {
        this.template_options = [];
        return;
      }
      this.templateLoading = true;
      this.$httpService
        .get(
          this.$config.api_url +
            this.$config.resources.template +
            "?caption=" +
            query +
            "&complete=true"
        )
        .then(response => {
          if (response.status !== 200) {
            Notify.error(response.data.message);
            return;
          }

          this.templateLoading = false;
          let template = response.data.data.result;
          template = template.map(x => {
            return {
              value: x.id,
              text: x.caption
            };
          });
          this.template_options = template;
          this.templateLoading = false;
        })
        .catch(err => {
          Notify.error(err.message);
        })
        .finally(() => {
          this.templateLoading = false;
        });
    },
    save() {
      this.isLoading = true;
      this.$v.$touch();
      if (this.$v.$anyError) {
        this.isLoading = false;
        return;
      }
      this.isLoading = true;

      let payload = {
        template_id: this.template_id.value,
        candidate_count: this.candidate_count,
        assessor_count: this.assessor_count,
        room_count: this.room_count,
        start_time: this.start_time,
        end_time: this.end_time,
        day_count: this.day_count,
        time_step: this.time_step_selected.value
      };

      this.$httpService
        .post(
          this.$config.api_url + this.$config.resources.assessment_plan,
          payload
        )
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          this.isLoading = false;
          Notify.error(err.response.data.message);
        });
    }
  },
  created() {
    this.timeStep();
  }
};
</script>

<style lang="css">
.main .container-fluid {
  padding: 0 10px !important;
}
</style>
