<template>
  <div class="animated fadeIn col-md-12">
    <search :url="url" :title="$lang.searchAssessment_plan" :remove_item="remove_item" :toggleable="false"
      :toggle_item="toggle_item" :allowRemove="true" remove-modal-size="xl" add-modal-size="lg"
      :dynamicButtons="buttons">
      <template slot="addModal" slot-scope="search">
        <addAssessment_plan isModal @modal-end-up="search.close"></addAssessment_plan>
      </template>
      <template v-slot:buttons="prop">
        <!-- <b-dropdown-item @click="addData(prop.itemsData)">
        <span>
          <i class="fa fa-database fa-lg color-black"></i>
          <strong v-text="$lang.search.add_data_tooltip"></strong>
        </span>
      </b-dropdown-item> -->

      </template>
    </search>
  </div>
</template>

<script>
  import search from "../search";
  import addAssessment_plan from "./addAssessment_plan";
  import Notify from "../../shared/toast.js";

  export default {
    components: {
      search,
      addAssessment_plan
    },
    data() {
      return {
        loadingItem: false,
        url: this.$config.api_url + this.$config.resources.assessment_plan,
        buttons: [,
          {
            id: "0",
            name: "edit",
          },
          {
            id: "1",
            name: 'assessmentPlan',
            click: this.addData,
          },
          {
            id: "2",
            name: "view",
          },
          {
            id: "3",
            name: "delete",
          }
        ]
      };
    },
    methods: {
      addData(item) {
        this.$router.push({
          name: 'assessment_plan_pseudo_data',
          params: {
            id: item.id
          }
        })
      },
      editItem(item) {
        //   this.$router.push("/competency/edit/" + item.id);
        console.log(item);
      },
      remove_item(item) {
        console.log("remove");
        return this.$httpService
          .delete(this.url + "/" + item.id)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      },
      toggle_item(item) {
        console.log(item);
      }
    }
  };

</script>

<style>
</style>
