<template>
  <router-view></router-view>
</template>

<script>
export default {
  name: "app"
};
</script>

<style lang="scss">
// CoreUI Icons Set
@import "~@coreui/icons/css/coreui-icons.min.css";
/* Import Font Awesome Icons Set */
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome.scss";
/* Import Simple Line Icons Set */
$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~simple-line-icons/scss/simple-line-icons.scss";
/* Import Flag Icons Set */
@import "~flag-icon-css/css/flag-icon.min.css";
/* Import Bootstrap Vue Styles */
@import "~bootstrap-vue/dist/bootstrap-vue.css";
// Import Main styles for this application
$iransans-font-path: "/fonts/";
@import "assets/scss/style";

/* Import Bootstrap RTL Styles */
@import "~bootstrap-v4-rtl/dist/css/bootstrap-rtl.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

// @import "~toastr/build/toastr.min.css";
@import "toastr";
@import "~toastr/build/toastr.min.css";
.container-fluid {
  padding: 0 !important;
}
</style>

