<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col class="col-md-12 col-sm-12 col-lg-12">
        <b-card>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.competency"></strong>
          </div>
          <b-alert variant="danger" show dismissible v-show="errors.length>0">
            <li v-bind:key="index" v-for="(error,index) in errors">{{error}}</li>
          </b-alert>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group
              :label="$lang.caption"
              label-for="name"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent slot="label" :label="$lang.caption" :rules="$v.name.$params" />
              <b-form-input
                data-testid="name"
                type="text"
                name="name"
                class="name"
                :autocomplete="$lang.caption"
                :state="$v.name.$dirty ? !$v.name.$error : null"
                v-model="$v.name.$model"
              ></b-form-input>
              <b-form-invalid-feedback
                id="name-feedback"
              >{{$lang.error_required | replace($lang.caption)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.definition" label-for="description" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.definition"
                :rules="$v.description.$params"
              />
              <b-form-textarea
                name="description"
                data-testid="description"
                :state="$v.description.$dirty ? !$v.description.$error : null"
                v-model="$v.description.$model"
                type="text"
                :autocomplete="$lang.description"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>
              <b-form-invalid-feedback
                id="description-feedback"
              >{{$lang.error_required | replace($lang.definition)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.category" label-for="category_id" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.category"
                :rules="$v.category_id.$params"
              />

              <selectFind
                name="category_id"
                :options="category_options"
                v-model="$v.category_id.$model"
                label="text"
                id="category_id"
                :isValid="$v.category_id.$dirty ? !$v.category_id.$error : null"
                :loading="categoryLoading"
              />

              <b-form-invalid-feedback
                id="category_id-feedback"
              >{{$lang.error_required | replace($lang.category)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.reference" label-for="reference_id" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.reference"
                :rules="$v.reference_id.$params"
              />

              <selectFind
                name="reference_id"
                :options="reference_options"
                v-model="$v.reference_id.$model"
                label="text"
                id="reference_id"
                :isValid="$v.reference_id.$dirty ? !$v.reference_id.$error : null"
                :loading="referenceLoading"
                showButton
                categoryName="competency_reference"
                @enumSaved="refreshReference"
              />

              <b-form-invalid-feedback
                id="reference_id-feedback"
              >{{$lang.error_required | replace($lang.reference)}}</b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button data-testid="submit-button" type="submit" size="md" variant="success">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button
                id="cancel"
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>

          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
// برای استفاده از ولیدیشن این فایل import می شود
import { validationMixin } from "vuelidate";
// برای انجام ولیدیشن ولیدیشن های لازم را import می کنیم
import { required } from "vuelidate/lib/validators";
// // api های لازم را import می کنیم
// import repoFactory from "@/services";
// // از پترن فکتوری برای گرفتن سرویس های شایستگی استفاده میکنیم
// const repo = repoFactory.get("competency");

/**
 * @group competency
 * این کامپوننت برای ویرایش کردن شایستگی تعریف شده است
 */
export default {
  inject: ["competencyRepository", "enumRepository"],
  mixins: [validationMixin],
  validations: {
    name: {
      required
    },
    description: {
      required
    },
    category_id: {
      required
    },
    reference_id: {
      required
    }
  },
  name: "add-competency",
  components: {},
  props: {
    // نمایانگر این است که کامپوننت بصورت مدال اجرا شده است یا فرم
    isModal: {
      type: Boolean,
      // false
      default: false
    },
    // نمایانگر مسیر بازگشت پس از انجام یا لغو عملیات کامپوننت
    backUrl: {
      type: String,
      // null
      default: ""
    }
  },
  data() {
    return {
      isLoading: false, // دیفالت مقدار مودال false است
      name: "", // عنوان
      description: "", // توضیحات
      category_options: [], // ساختن دیتا لازم برای ایجاد مولتی سلکت
      reference_options: [], // ساختن دیتا لازم برای ایجاد مولتی سلکت
      category_id: null, // id دسته بندی
      reference_id: null, // id مرجع
      categoryLoading: false, // مودال در دسته بندی
      referenceLoading: false, // مودال در مرجع
      errors: [] // لیست خطا
    };
  },
  methods: {
    /**
     * @vuese
     * 	بروزرسانی لیست مراجع شایستگی
     *  @arg  بدون پارامتر
     */
    // برای گرفتن دوباره مرجع
    refreshReference() {
      this.referenceLoading = true;
      // برای گرفتن شایستگی های مرجع
      this.getCompetencyReference()
        .then()
        .catch(err => {
          this.$notify.error(err.response.data.message);
        })
        .finally(() => (this.referenceLoading = false));
    },
    /**
     * @vuese
     *  در زمانی که مودال برای انجام فرایندی باز می شود بعد تایید در همان صفحه بماند یا به صفحه قبل خود برود
     * @arg  بدون پارامتر
     */

    handleBack() {
      if (this.isModal) {
        // برای بسته شدن مودال
        // @arg بدون پارامتر
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    /**
     * @vuese
     *  بعد از این که یک شایستگی add شد input ها خالی شود بای add دوباره data
     * @arg   بدون پارامتر
     */
    clear() {
      this.name = "";
      this.description = "";
      this.category_id = null;
      this.reference_id = null;
    },
    /**
     * @vuese
     * بارگزاری لیست دسته بندی های شایستگی
     * @arg بدون پارامتر
     */
    getCompetencyCategory() {
      return this.enumRepository
        .list("competency_category")
        .then(response => {
          let competency_category = response.data.data;

          competency_category = competency_category.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });
          this.category_options = competency_category;
        })
        .catch(err => {
          this.$notify.error(err.message);
        });
    },
    /**
     * @vuese
     * بارگزاری لیست مراجع شایستگی
     * @arg بدون پارامتر
     */
    getCompetencyReference() {
      return this.enumRepository
        .list("competency_reference")
        .then(response => {
          let competency_reference = response.data.data;
          competency_reference = competency_reference.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });
          this.reference_options = competency_reference;
        })
        .catch(err => {
          this.$notify.error(err.message);
        });
    },
    /**
     * @vuese
     * بعد از خیره داده ایا به یک route قبل خود برود یا نه
     * @arg بدون پارامتر
     */
    afterSave() {
      if (this.backUrl) {
        this.$route.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    /**
     * @vuese
     *    فرایند ذخیره سازی در کامپوننت جاری
     * @arg بدون پارامتر
     */
    save() {
      this.isLoading = true;
      this.$v.$touch();
      // چک کردن این که ولیدیشن های خواسته شده درست باشد
      if (this.$v.$anyError) {
        this.isLoading = false;
        return;
      }

      let payload = {
        name: this.name,
        description: this.description,
        category_id: this.category_id.value,
        reference_id: this.reference_id.value
      };

      // ایجاد شایستگی
      this.competencyRepository
        .create(payload)
        .then(response => {
          // شایستگی  add شدند
          // @arg بدون پارامتر
          this.$emit("competency-added");
          this.$notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          // شایستگی  add به error دارد
          // @arg بدون پارامتر
          this.$emit("competency-error");
          if (
            err.response &&
            "status" in err.response &&
            err.response.status == 400
          ) {
            if (typeof err.response.data.message === "object") {
              err.response.data.message.forEach(element => {
                this.errors.push(element);
              });
            } else {
              this.$notify.error(err.response.data.message);
            }
          } else {
            this.$notify.error(err.message);
          }
          this.isLoading = false;
        });
    }
  },
  /**
   * @vuese
   * اقدامات زمان ساخته شدن کامپوننت
   */
  created() {
    this.categoryLoading = true;
    this.referenceLoading = true;
    this.getCompetencyCategory().finally(() => (this.categoryLoading = false));
    this.getCompetencyReference().finally(
      () => (this.referenceLoading = false)
    );
  }
};
</script>

<style scoped lang="css">
.btn {
  margin-bottom: 4px;
}
</style>
