<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.competency"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.caption" label-for="name" :label-cols="12">
              <requiredComponent slot="label" :label="$lang.caption" :rules="$v.name.$params" />
              <b-form-input
                data-testid="name"
                type="text"
                :autocomplete="$lang.caption"
                :state="$v.name.$dirty ? !$v.name.$error : null"
                v-model="$v.name.$model"
              ></b-form-input>
              <b-form-invalid-feedback
                id="name-feedback"
              >{{$lang.error_required | replace($lang.caption)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.definition" label-for="description" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.definition"
                :rules="$v.description.$params"
              />
              <b-form-textarea
                name="description"
                data-testid="description"
                :state="$v.description.$dirty ? !$v.description.$error : null"
                v-model="$v.description.$model"
                type="text"
                :autocomplete="$lang.description"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>
              <b-form-invalid-feedback
                id="description-feedback"
              >{{$lang.error_required | replace($lang.definition)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.category" label-for="category_selected" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.category"
                :rules="$v.category_selected.$params"
              />
              <selectFind
                :options="category_options"
                v-model="$v.category_selected.$model"
                data-testid="category_selected"
                label="text"
                id="value"
                :isValid="$v.category_selected.$dirty ? !$v.category_selected.$error : null"
                :loading="categoryLoading"
              ></selectFind>

              <b-form-invalid-feedback
                id="category_selected-feedback"
              >{{$lang.error_required | replace($lang.category)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.reference" label-for="reference_selected" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.reference"
                :rules="$v.reference_selected.$params"
              />
              <selectFind
                :options="reference_options"
                v-model="$v.reference_selected.$model"
                data-testid="reference_selected"
                label="text"
                id="value"
                :isValid="$v.reference_selected.$dirty ? !$v.reference_selected.$error : null"
                :loading="referenceLoading"
                :showButton="showPermissionButton"
                categoryName="competency_reference"
                @enumSaved="refreshReference"
              />

              <b-form-invalid-feedback
                id="reference_selected-feedback"
              >{{$lang.error_required | replace($lang.reference)}}</b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button
                data-testid="submit-button"
                type="submit"
                v-if="showPermissionButton"
                size="md"
                variant="success"
              >
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>

          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
// برای استفاده از ولیدیشن این فایل import می شود
import { validationMixin } from "vuelidate";
// برای انجام ولیدیشن ولیدیشن های لازم را import می کنیم
import { required } from "vuelidate/lib/validators";
// import repoFactory from "@/services";
// // از پترن فکتوری برای گرفتن سرویس های شایستگی استفاده میکنیم
// const repo = repoFactory.get("competency");

/**
 * @group competency
 *  این کامپوننت برای ویرایش کردن شایستگی تعریف شده است
 */
export default {
  inject: ["competencyRepository", "enumRepository"],
  mixins: [validationMixin],
  validations: {
    name: {
      required
    },
    description: {
      required
    },
    category_selected: {
      required
    },
    reference_selected: {
      required
    }
  },
  name: "edit-competency",
  components: {},
  props: {
    // نمایانگر مسیر بازگشت پس از انجام یا لغو عملیات کامپوننت
    backUrl: {
      type: String,
      // null
      default: ""
    }
  },
  data() {
    return {
      isLoading: false, // دیفالت مقدار مودال false است
      id: this.$route.params.id, // آیدی که از یورل فرستاده شده
      name: "", // عنوان
      description: "", // توضیحات
      category_options: [], // ساختن دیتا لازم برای ایجاد مولتی سلکت
      reference_options: [], // ساختن دیتا لازم برای ایجاد مولتی سلکت
      category_selected: null, // دسته بندب انتخاب شده
      reference_selected: null, // مرجع انتخاب شده
      categoryLoading: false, // مودال در دسته بندی
      referenceLoading: false, // مودال در مرجع
      permission: [], // مجوز ها برای نمایش دکمه ها
      allowPermissions: ["admin", "edit"], // مجوز های مورد قبول
      showPermissionButton: false // نمایش یا عدم نمایش دکمه ها
    };
  },
  methods: {
    /**
     * @vuese
     * 	بروزرسانی لیست مراجع شایستگی
     *  @arg  بدون پارامتر
     */
    // برای گرفتن دوباره مرجع
    refreshReference() {
      this.referenceLoading = true;
      this.getCompetencyReference()
        .then()
        .catch(err => {
          this.$notify.error(err.response.data.message);
        })
        .finally(() => (this.referenceLoading = false));
    },
    /**
     * @vuese
     *  در زمانی که مودال برای انجام فرایندی باز می شود بعد تایید در همان صفحه بماند یا به صفحه قبل خود برود
     * @arg  بدون پارامتر
     */
    handleBack() {
      if (this.isModal) {
        // برای بسته شدن مودال
        // @arg بدون پارامتر
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    /**
     * @vuese
     *  بعد از این که یک شایستگی add شد input ها خالی شود بای add دوباره data
     * @arg   بدون پارامتر
     */
    clear() {
      this.name = "";
      this.description = "";
      this.category_selected = null;
      this.reference_selected = null;
    },

    /**
     * @vuese
     * بارگزاری لیست دسته بندی های شایستگی
     * @arg بدون پارامتر
     */
    getCompetencyCategory() {
      return this.enumRepository
        .list("competency_category")
        .then(response => {
          let competency_category = response.data.data;
          competency_category = competency_category.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });

          this.category_options = competency_category;
          return true;
        })
        .catch(err => {
          this.$notify.error(err.message);
          throw "error";
        });
    },
    /**
     * @vuese
     * بارگزاری لیست مراجع شایستگی
     * @arg بدون پارامتر
     */
    getCompetencyReference() {
      return this.enumRepository
        .list("competency_reference")
        .then(response => {
          let competency_reference = response.data.data;
          competency_reference = competency_reference.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });

          this.reference_options = competency_reference;
          return true;
        })
        .catch(err => {
          this.$notify.error(err.message);
          throw "error";
        });
    },
    /**
     * @vuese
     * بعد از خیره داده ایا به یک روت قبل خود برود یا نه
     * @arg بدون پارامتر
     */
    afterSave() {
      if (this.backUrl) {
        this.$router.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    /**
     * @vuese
     *    فرایند ذخیره سازی در کامپوننت جاری
     * @arg بدون پارامتر
     */
    save() {
      this.isLoading = true;
      this.$v.$touch();
      // چک کردن این که ولیدیشن های خواسته شده درست باشد
      if (this.$v.$anyError) {
        this.isLoading = false;
        return;
      }

      let payload = {
        name: this.name,
        description: this.description,
        category_id: this.category_selected.value,
        reference_id: this.reference_selected.value
      };
      this.competencyRepository
        .edit(this.id, payload)
        .then(response => {
          this.$emit("competency-edited");
          this.$notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          this.$emit("competency-error");
          this.$notify.error(err.response.data.message);
          this.isLoading = false;
        });
    },
    /**
     * @vuese
     *    برای گرفتن دیتا های صفحه شایستگی بر اساس آیدی شخص
     * @arg بدون پارامتر
     */
    fetchData() {
      if (isNaN(this.id)) {
        this.$notify.error("Not a number!");
        return false;
      }

      return this.competencyRepository
        .find(this.id)
        .then(response => {
          let data = response.data.data;
          // console.log(data);
          this.permission = response.data.permissions;
          this.name = data.name;
          this.description = data.description;
          let category_id = data.category_id;
          let reference_id = data.reference_id;

          this.isLoading = false;

          this.getCompetencyCategory()
            .then(response => {
              this.category_selected = this.category_options.find(
                x => x.value === category_id
              );
            })
            .catch(error => {
              this.$notify.error(err.response.data.message);
            })
            .finally(() => (this.categoryLoading = false));

          this.getCompetencyReference()
            .then(response => {
              this.reference_selected = this.reference_options.find(
                x => x.value === reference_id
              );
            })
            .catch(error => {
              this.$notify.error(err.response.data.message);
            })
            .finally(() => (this.referenceLoading = false));
          return true;
        })
        .catch(err => {
          this.$notify.error(err.response.data.message);
          return false;
        });
    },
    /**
     * @vuese
     * برای چک کردن مجوز های لازم جهت چک کردن نمایش یا عدم نمایش دکمه ها
     * @arg بدون پارامتر
     */
    PermissionButtons() {
      this.permission.map(x => {
        if (this.allowPermissions.includes(x)) {
          this.showPermissionButton = true;
        }
      });
    }
  },
  watch: {},
  /**
   * @vuese
   * اقدامات زمان ساخته شدن کامپوننت
   */
  created() {
    this.isLoading = true;
    this.categoryLoading = true;
    this.referenceLoading = true;
    this.fetchData().then(() => this.PermissionButtons());
  }
};
</script>

<style scoped lang="css">
.btn {
  margin-bottom: 4px;
}
</style>
