<template>
  <div class="animated fadeIn col-md-12">
    <search :url="url" :title="$lang.searchCompetency" :remove_item="remove_item" config="competency" :toggleable="true"
      removeModalSize="xl" addModalSize="lg" :dynamicButtons="buttons">
      <template slot="addModal" slot-scope="search">
        <addCompetency isModal @modal-end-up="search.close"></addCompetency>
      </template>
    </search>
    <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
      v-model="addIndicatorVisible" size="xl" hide-footer hide-header v-on:modal-end-up="closeAddIndicatorModal"
      @hidden="closeAddIndicatorModal">
      <addIndicator :isModal="true" :competency="competency_selected" @modal-end-up="indicatorAdded" ref="addIndicator">
      </addIndicator>
      <search :url="competencyIndicatorsUrl" :title="competencyIndicatorsTitle" :visibleAdd="false"
        :visibleSearch="false" :visibleSettings="false" :visibleExport="false" :visibleFilters="false"
        :visibleViewCount="true" :toggleable="false" :allowOperate="false" :isLoading="competencyIndicatorsLoading"
        ref="competencyIndicatorsSearch" :allowFields="$lang.competency_indicator_fields"></search>
      <div class="text-right">
        <b-button type="reset" class="my-2" size="md" variant="danger" @click="closeAddIndicatorModal">
          {{$lang.close}}
          <i class="fa fa-ban"></i>
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
  // برای استفاده از کامپوننت سرچ
  import search from "../search";
  // برای add شایستگی
  import addCompetency from "./addCompetency";
  // برای استفاده از نونیف این فایل import می شود 
  import Notify from "../../shared/toast.js";
  // برای add قالب 
  import addIndicator from "../indicator/addIndicator";

  /**
   * @group competency
   * این کامپوننت برای جستجو کردن شایستگی تعریف شده است
   */
  export default {
    // برای استفاده از کامپوننت ها  
    components: {
      search,
      addCompetency,
      addIndicator
    },
    name: "search-competency",
    data() {
      return {
        loadingItem: false, // مودال صفحه 
        url: this.$config.api_url + this.$config.resources.competency, // لینک api
        // درست کردن دکمه  های لازم در کامپوننت جاری 
        buttons: [

          {
            id: "0",
            name: "edit",
          },
          {
            id: "1",
            name: "view",
          },
          {
            id: "2",
            name: "enable",
          },
          {
            id: "3",
            name: "addIndicator",
            click: this.showIndicator
          },
          {
            id: "4",
            name: "delete",
          }

        ],
        competency_selected: null, // شایستگی انتخاب شده 
        addIndicatorVisible: false, // مقدار مودال قالب 
        competencyIndicatorsTitle: this.$lang.competency_indicators, // عنوان کامپوننت قالب 
        competencyIndicatorsLoading: false, //مودال کامپوننت فالب
        competencyIndicatorsUrl: this.$config.api_url + this.$config.resources
          .competency_indicator // لینک کامپوننت قالب 
      };
    },
    methods: {
      /**
       * @vuese
       * بروزرسانی جداول زمانی که نشانگر اضافه شده باشد
       *  @arg پارامتر ندارد 
       */
      indicatorAdded() {
        this.$refs.addIndicator.isLoading = false;
        this.$refs.addIndicator.clear();
        this.$refs.competencyIndicatorsSearch.getItems();
      },
      /**
       * @vuese
       * بستن مدال اضافه کردن نشانگر
       *  @arg پارامتر ندارد 
       */
      closeAddIndicatorModal() {
        this.competency_selected = null;
        this.competencyIndicatorsTitle = this.$lang.competency_indicators;
        this.competencyIndicatorsUrl =
          this.$config.api_url + this.$config.resources.competency_indicator;
        this.addIndicatorVisible = false;
      },
      /**
       * @vuese
       * نمایش مدال نشانگر
       * @arg پارامتر ورودی item
       */
      showIndicator(item) {
        this.competency_selected = {
          value: item.id,
          text: item.name + " - " + item.reference_object.caption
        };
        this.competencyIndicatorsUrl = this.competencyIndicatorsUrl.replace(
          "{0}",
          item.id
        );
        this.competencyIndicatorsTitle = this.competencyIndicatorsTitle.replace(
          "{0}",
          item.name
        );
        this.addIndicatorVisible = true;
      },
      /**
       * @vuese
       * حذف رکورد شایستگی
       *  @arg پارامتر ورودی item
       */
      remove_item(item) {
        console.log("remove");
        return this.$httpService
          .delete(this.url + "/" + item.id)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      }
    }
  };

</script>

<style>
</style>
