<template>
    <div>
      <span class="count">{{ count }}</span>
      <button @click="increment">Increment</button>
    </div>
</template>
<script>

export default {
    name:"Countre",
    props:{
        count:{
            type:String,
            default:"0"
        }
    },
    data() {
  },

  methods: {
    increment() {
      this.count++
    }
  }
}
</script>