<template>
  <div class="row">
    <div class="col-12">
      <h1>Arrange the seven options based on what you are great at</h1>
      <p>
        select a description and click the best position for it on the right drag
      </p>
    </div>
    <div class="col-12 col-md-4">

      <Tree class="tree1" :data="tree1data" draggable="draggable" cross-tree="cross-tree">
        <div slot-scope="{data}"><template><span>{{data.text}}&nbsp;</span></template>
        </div>
      </Tree>
    </div>
    <div class="col-12 col-md-4 pr-0">
      <Tree class="tree2" :data="tree2data" draggable="draggable" cross-tree="cross-tree">
        <div slot-scope="{data}"><template><span>{{data.text}}&nbsp;</span></template>
        </div>
      </Tree>
    </div>
    <div class="col-12 col-md-4 px-0">
      <Tree class="tree3" :data="tree3data" draggable="draggable" cross-tree="cross-tree">
        <div slot-scope="{data}"><template><span>{{data.text}}&nbsp;</span></template>
        </div>
      </Tree>
    </div>
  </div>
</template>

<script>
  import {
    DraggableTree
  } from 'vue-draggable-nested-tree'
  import {
    treeHelper
  } from 'tree-helper'

  const th = treeHelper
  export default {
    components: {
      Tree: DraggableTree
    },
    computed: {

    },
    data() {
      return {
        tree1data: [{
            text: 'div 1',
            droppable: false
          },
          {
            text: '',
            droppable: true
          },
          {
            text: 'div 3',
            droppable: true

          },
          {
            text: 'Events reporting any changes ',
            droppable: true
          },
          {
            text: 'Events reporting any changes ',
            droppable: true

          },

        ],
        tree2data: [{
            text: 'div 1'
          },
          {
            text: ''
          },
          {
            text: 'div 3',
            droppable: true

          },
          {
            text: ''
          },

          {
            text: '',
          },
          {
            text: ''
          },
          {
            text: ''
          },
          {
            text: ''
          },
          {
            text: ''
          },
          {
            text: ''
          },
          {
            text: 'div 10'
          },
        ],
        tree3data: [{
            text: 'div 1',
            droppable: false
          },
          {
            text: ''
          },
          {
            text: 'div 3',
            droppable: true

          },
          {
            text: ''
          },

          {
            text: '',
          },
          {
            text: ''
          },
          {
            text: ''
          },
          {
            text: 'div 7'
          },
          {
            text: 'div 8'
          },
          {
            text: 'div 9'
          },
          {
            text: 'div 10'
          },
        ]

      }
    },
    methods: {
      ChangeColor(key) {
        switch (key) {

          case "0":
            return "blue-3"
            break;
          case "1":
            return "blue-2"
            break;
          case "2":
            return "blue-1"
            break;
          case "3":
            return "orange-1"
            break;
          case "4":
            return "orange-1"
            break;
          case "5":
            return "orange-2"
            break;
          case "6":
            return "orange-2"
            break;
          case "4":
            return "orange-2"
            break;
          default:
            return "orange-3"
            break;
        }
      }
    },
    watch: {
      tree1data: function (e) {
        const items = e
        for (const key in items) {
          if (items.hasOwnProperty(key)) {
            const element = items[key];
            if (element.children) {
              for (const key in element.children) {
                if (element.children.hasOwnProperty(key)) {
                  const element = element.children[key];
                  element.class = ""
                }
              }
            }
            if (element.text.length < 7) {
              element.class = 'bg-black'
            }

            if (element.text.length > 7) {
              element.class = `bg-lightgray `
            }
            if (!element.text) {
              element.class = 'bg-white'

            }


          }
        }
      },
      tree2data: function (e) {
        const items = e
        for (const key in items) {
          if (items.hasOwnProperty(key)) {
            const element = items[key];

            element.class = `bg-blue `
            if (element.children) {
              for (const key in element.children) {
                if (element.children.hasOwnProperty(key)) {
                  const element = element.children[key];
                  element.class = ""
                }
              }
            }
            if (!element.text) {
              element.class = "bg-transparent"
            }
          }

        }
      },
      tree3data: function (e) {
        const items = e
        for (const key in items) {
          if (items.hasOwnProperty(key)) {

            const element = items[key];
            element.class = `bg-orange ${this.ChangeColor(key)}`
            if (element.children) {
              for (const key in element.children) {
                if (element.children.hasOwnProperty(key)) {
                  const element = element.children[key];
                  element.class = ""
                }
              }
            }

          }
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .tree-node-inner-back {
    margin: 0 !important;
  }

  .bg-lightgray {
    background-color: lightgray;
    position: relative;
    margin: 10px 0;
    border: 1px solid lightgray;
  }

  .bg-lightgray::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 25px solid lightgray;
    border-bottom: 16px solid transparent;
    top: 6px;
    right: -23px;
  }

  .bg-transparent {
    background-color: transparent;
    position: relative;
    margin: 10px 0;
    border: 1px solid transparent;
  }

  .bg-transparent::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 16px solid transparent;
    top: 6px;
    right: -23px;
  }

  .bg-blue {
    background-color: #2196F3;
    position: relative;
    margin: 10px 0;
    border: 1px solid #2196F3;
    color: white;
  }

  .bg-blue::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 25px solid #2196F3;
    border-bottom: 16px solid transparent;
    top: 1px;
    right: -23px;
    z-index: 10;
  }

  .bg-orange {
    background-color: #fdd835;
    position: relative;
    margin: 10px 0;
    border: 1px solid #fdd835;
    color: white;
  }

  .bg-orange::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 25px solid white;
    border-bottom: 16px solid transparent;
    top: 1px;
    left: -1px;
    z-index: 9;
  }

  .bg-white {
    background-color: white;
    position: relative;
    margin: 10px 0;
    border: 1px solid lightgray;
  }

  .bg-white::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 25px solid lightgray;
    border-bottom: 16px solid transparent;
    top: 6px;
    right: -25px;
  }

  .bg-white::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 20px solid white;
    border-bottom: 12px solid transparent;
    top: 10px;
    right: -20px;
    z-index: 1;
  }

  .bg-black {
    background-color: white;
    position: relative;
    margin: 10px 0;
    border: 1px solid black;
  }

  .bg-black::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 25px solid black;
    border-bottom: 16px solid transparent;
    top: 6px;
    right: -25px;
  }

  .bg-black::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 20px solid white;
    border-bottom: 12px solid transparent;
    top: 10px;
    right: -20px;
    z-index: 1;
  }

  .tree-node-inner {
    padding: 10px;
    /* border: 1px solid #ccc; */
    cursor: pointer;
  }

  .draggable-placeholder-inner {
    border: 1px dashed #0088f8;
    box-sizing: border-box;
    background: rgba(0, 136, 249, 0.09);
    color: #0088f9;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .tree2 .tree-node-inner {
    padding: 5px;
  }

  .tree3 .tree-node-inner {
    padding: 5px;
    text-align: right;
  }






  .tree4 .tree-node-inner {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
  }

  .tree4 .draggable-placeholder-inner {
    background-color: orangered;
  }

  .blue-1 {
    background-color: #80d8ff;
    border: 1px solid #80d8ff;
  }

  .blue-2 {
    background-color: #40c4ff;
    border: 1px solid #40c4ff;
  }

  .blue-3 {
    background-color: #00b0ff;
    border: 1px solid #00b0ff;
  }

  .orange-1 {
    background-color: #ffe0b2;
    border: 1px solid #ffe0b2;
  }

  .orange-2 {
    background-color: #ffa726;
    border: 1px solid #ffa726;
  }

  .orange-3 {
    background-color: #ef6c00;
    border: 1px solid #ef6c00;
  }
</style>