<template>
    <div>
        <Tree />
        <!-- <Tree class="item node" :model="treeData"> -->

    </div>
</template>
<script>
    import Tree from './treeViewcopy'
    export default {
        components: {
            Tree,

        },
        data() {
            return {
                treeData: [{
                        id: 1,
                        name: "Users",
                        // icon: "fa-users",
                    },
                    {
                        id: 2,
                        name: "Books",
                        // icon: "fa-book",
                        children: [{
                            id: 3,
                            name: "Neptune",
                            icon: "fa-book",
                        }, ],
                    },
                    {
                        id: 5,
                        name: "Vehicles",
                        children: [{
                                id: 23,
                                name: "Cars",
                                // icon: "fa-car",
                            },
                            {
                                id: 34,
                                name: "Trucks",
                                // icon: "fa-truck",
                                children: [{
                                    id: 101,
                                    name: "Mars",
                                }, ],
                            },
                        ],
                    },
                ]
            }
        },
    }
</script>
<style>
    /* .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    } */
</style>