<template>
    <div>
         <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand href="#">KORN FERRY</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item to="/instructions">Instructions</b-nav-item>
        <b-nav-item href="#">Cancel Page</b-nav-item>
        <b-nav-item href="#"><b-button size="sm" class="my-2 my-sm-0 border-radius-0" type="submit">Submit</b-button></b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
    </div>
</template>
<style>
    .border-radius-0{
    border-radius: 0 !important;
    }
</style>