<template>
    <div class="content-wrapper">
        <!-- <preLoader v-if="loader"></preLoader> -->
        <!-- <date-picker v-model="date"></date-picker> -->

        <br>

        <!-- <span id="mintime" style="display:none">{{ new Date() | moment("jYYYY/jMM/jDD") }}</span> -->



        <div class="container">
            <label>{{ 'Choose date'}}</label>
            <!-- <custom-time-picker v-model="date" @change="setData()"></custom-time-picker> -->

        </div>

        <br>

        <div id="skeduler-container" class="skeduler-container">
            <div class="skeduler-headers">
                <div v-for="(person, index) in timingItems" :key="index">
                    <div class="media">
                        <div class="media-left">
                            <img :src="`/`+person.image" class="media-object" style="width:60px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ person.name }}</h4>
                            <p>{{ person.family }}</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="skeduler-main">
                <div class="skeduler-main-timeline">
                    <div style="display: none">00:00</div>
                    <div style="display: none"></div>
                    <div style="display: none">01:00</div>
                    <div style="display: none"></div>
                    <div style="display: none">02:00</div>
                    <div style="display: none"></div>
                    <div style="display: none">03:00</div>
                    <div style="display: none"></div>
                    <div style="display: none">04:00</div>
                    <div style="display: none"></div>
                    <div style="display: none">05:00</div>
                    <div style="display: none"></div>
                    <div>06:00</div>
                    <div></div>

                    <div>07:00</div>
                    <div></div>
                    <div>08:00</div>

                    <div></div>
                    <div>09:00</div>
                    <div></div>
                    <div>10:00</div>
                    <div></div>
                    <div>11:00</div>
                    <div></div>
                    <div>12:00</div>
                    <div></div>
                    <div>13:00</div>
                    <div></div>
                    <div>14:00</div>
                    <div></div>
                    <div>15:00</div>
                    <div></div>
                    <div>16:00</div>
                    <div></div>
                    <div>17:00</div>
                    <div></div>
                    <div>18:00</div>
                    <div></div>
                    <div>19:00</div>
                    <div></div>
                    <div>20:00</div>
                    <div></div>
                    <div>21:00</div>
                    <div></div>
                    <div>22:00</div>
                    <div></div>
                    <div>23:00</div>
                    <div></div>
                </div>
                <div class="skeduler-main-body" v-for="(person ,index) in timingItems" :key="index">

                    <div>
                        <div class="skeduler-task-placeholder" v-for="(order_services ,index) in person.order_services"
                            :key="index">
                            <div v-if="order_services.service" class="tooltip1" style="overflow: visible!important;"
                                :style="`top:`+convertTimeM(order_services.start)*62+`px;height:`+(convertTimeM(order_services.end)-convertTimeM(order_services.start))*60+`px; width: 186px; left: 4px`"
                                :title="formatTime(order_services.start) +`-`+ formatTime(order_services.end)">

                                <!-- height: 119px; width: 186px; left: 4px -->

                                <span v-if="order_services.contact" class="tooltiptext" style="font-size: 12px">
                                    {{ 'time' }}
                                    {{ formatTime(order_services.start) +` تا `+ formatTime(order_services.end)}}
                                    {{ order_services.contact.first_name }} {{ order_services.contact.last_name }}
                                    {{ 'phone' }} : {{ order_services.contact.mobile }}
                                </span>
                                <span v-else class="tooltiptext" style="font-size: 12px">
                                    {{ 'time' }}
                                    {{ formatTime(order_services.start) +` تا `+ formatTime(order_services.end)}}
                                </span>


                                <div style="font-weight: bold">
                                    <router-link class="text-link" style="display: block;"
                                        :to="`/payment/`+order_services.order_id"> {{  order_services.service.title}}
                                    </router-link>
                                </div>
                                <div v-if="order_services.contact">
                                    <router-link class="text-link" style="display: block;"
                                        :to="`/profile/`+order_services.contact.id"><span v-if="order_services.contact"
                                            style="font-size: 11px">{{"mehdi"}}:
                                            {{ order_services.contact.first_name }}
                                            {{ order_services.contact.last_name }} </span></router-link>
                                </div>
                                <!-- <div style="font-weight: bold"> {{  order_services.service.title}}</div>
                                <div> <span v-if="order_services.contact" style="font-size: 11px">{{$customerLable}}: {{ order_services.contact.first_name }} {{ order_services.contact.last_name }} </span></div> -->

                            </div>

                            <!-- <div style="top: 188px; height: 57px; width: 186px; left: 4px" title="04:00 - 05:00">
                                <div></div>
                                <div>Service 0 1 mehdi</div>
                                </div>
                                <div style="top: 312px; height: 150px; width: 186px; left: 4px" title="06:00 - 07:00">
                                <div>26011</div>
                                <div>Service 0 2 mehdi</div>
                                </div>
                                <div style="top: 498px; height: 119px; width: 186px; left: 4px" title="08:00 - 10:00">
                                <div>35912</div>
                                <div>Service 0 3 mehdi</div>
                                </div>
                                <div style="top: 684px; height: 57px; width: 186px; left: 4px" title="11:00 - 12:00">
                                <div>47217</div>
                                <div>Service 0 4 mehdi</div>
                                </div>
                                <div style="top: 777px; height: 150px; width: 186px; left: 4px" title="12:30 - 15:00">
                                <div>72655</div>
                                <div>Service 0 5 mehdi</div>
                                </div>
                                <div style="top: 963px; height: 150px; width: 186px; left: 4px" title="15:30 - 18:00">
                                <div>39183</div>
                                <div>Service 0 6 mehdi</div>
                                </div>
                                <div style="top: 1180px; height: 57px; width: 186px; left: 4px" title="19:00 - 20:00">
                                <div>29772</div>
                                <div>Service 0 7 mehdi</div>
                                </div>
                                <div style="top: 1273px; height: 57px; width: 186px; left: 4px" title="20:30 - 21:30">
                                <div>84605</div>
                                <div>Service 0 8 mehdi</div>
                                </div>
                                <div style="top: 1397px; height: 88px; width: 186px; left: 4px" title="22:30 - 24:00">
                                <div>89330</div>
                                <div>Service 0 9 mehdi</div>
                                </div> -->
                        </div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <div class="skeduler-cell"></div>
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                        <!--<div class="skeduler-cell"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>



<script>
    // const auth = {
    //     headers: {
    //         Authorization: 'bearer ' + localStorage.getItem('token')
    //     }
    // };

    export default {
        props: {
            dateInOut: ''
        },
        data() {
            return {
                // auth: {
                //     headers: {
                //         Authorization: 'bearer ' + localStorage.getItem('token')
                //     }
                // },
                date: '1398/09/10',

                timingItems: [{
                        name: '',
                        family: '',
                        image: '',
                        order_services: [{
                            start: "0",
                            end: "4",
                            service_id: "",
                            note: "",
                            date: "",
                        }]
                    },


                ],

                date_from: '1398/08/18',
                loader: false
            }
        },


        mounted() {
            this.loader = true
            // this.$on('submit', this.change)
            // this.date = document.getElementById("mintime").innerHTML



            this.$axios
                // .get("'/api/workCalendar/?' + 'date_from=' + (this.date || this.dateInOut), this.auth")
                .get("./sch.json")
                .then(response => {
                    this.timingItems = response.data;
                    // console.log(this.timingItems);
                    // console.log('Information updated successfully');
                    this.loader = false
                })
                .catch(error => {
                    this.loader = false
                    if (error.response.data.message == 'User does not have any of the necessary access rights.') {
                        console.log('Your access to this section is restricted');
                    } else {
                        console.log(error.response.data.message);
                    }

                    console.log(error);
                })
            //              .finally(() => this.loading = false);


        },

        methods: {

            changeSetData(timingItems) {
                this.timingItems = timingItems

            },
            setData() {

                var app = this;

                app.$axios
                    // .get('/api/workCalendar/?' + 'date_from=' + app.date, app.auth)
                    .get('./sch.json')
                    .then(response => {
                        app.timingItems = response.data;
                        // console.log(response.data);
                        // console.log(app.date);

                        // console.log("ssss")
                        // console.log('Information updated successfully');


                    })
                    .catch(error => {
                        console.log(error);
                        console.log('Unable to update information');

                        app.errored = true
                    })
                    .finally(() => app.loading = false);



            },





            convertTimeM(time) {
                console.log(time, "m")
                if (typeof time != 'undefined' && time != null) {
                    var res = time.split(":");
                    console.log(res, "res")
                    console.log(res[0] - 6) + '.' + (Math.round(res[1] / 6))
                    return (res[0] - 6) + '.' + (Math.round(res[1] / 6));


                } else {
                    return 18;
                }

            },



            formatTime(time) {
                console.log(time, "time")
                if (typeof time != 'undefined' && time != null) {
                    var res = time.split(":");
                    return res[0] + ':' + (res[1])

                } else {
                    return 'بین وقت';
                }
            },









        }

    }
</script>


<style>
    .inline-block {
        width: 200px;
        display: inline-block;
    }

    .text-link {
        color: white !important;
    }


    .skeduler-container {

        overflow-x: scroll;
    }


    .skeduler-container * {
        /* box-sizing: content-box; */
    }

    .skeduler-headers {
        /* border-left: 1px solid #b0cee9; */
        display: flex;
        padding-right: 50.9px;
        position: relative;
    }

    .skeduler-headers:before {
        /* border-top: 1px solid #b0cee9; */
        content: "";
        width: 60px;
        position: absolute;
        left: 0;
    }

    .skeduler-headers>div {
        flex: 0 0 200px;
        height: 70px;
        padding-top: 10px;
        background-color: #fce4ec;
        border-left: 1px solid #f8bbd0;
        border-bottom: 1px solid #f8bbd0;
        border-top: 1px solid #f8bbd0;
        text-align: center;
    }

    .skeduler-headers>div:last-child,
    .skeduler-main-body>div>div.skeduler-cell {
        border-right: 1px solid #f8bbd0;
    }

    .skeduler-main {
        display: flex;
    }

    .skeduler-main-timeline {
        margin-top: -1px;
    }

    .skeduler-main-timeline div {
        width: 50px;
        height: 27px;
        text-align: left;
        padding-left: 10px;
        padding-top: 3px;
        color: #333333;
        border-right: 1px solid #ffc1e3;
        border-left: 1px solid #ffc1e3;
    }

    .skeduler-main-timeline div:first-child {
        border-top: 1px solid #ffc1e3;
    }

    .skeduler-main-body {
        display: flex;
    }

    .skeduler-main-timeline div,
    .skeduler-main-body>div>div.skeduler-cell {
        background-color: #FFFFFF;
    }

    .skeduler-main-timeline div:nth-child(even),
    .skeduler-main-body>div>div.skeduler-cell:nth-child(odd) {
        border-top: 1px dotted #B0CEE9;
        border-bottom: 1px solid #B0CEE9;
    }

    .skeduler-main-body>div>div.skeduler-cell {
        width: 200px;
        height: 30px;
    }

    .skeduler-main-body>div>.skeduler-task-placeholder {
        height: 0;
        position: relative;
    }

    .skeduler-main-body>div>.skeduler-task-placeholder>div {
        position: absolute;
        overflow: hidden;
        /*background-color: #576D7C;*/
        /*background-color: rgba(22,22,130,.6);*/
        background-color: rgba(236, 64, 122, .7);
        padding: 10px;
        box-sizing: border-box;
        box-shadow: -5px -5px 8px rgba(0, 0, 0, .35);
        margin-top: 2px;
        cursor: pointer;
        color: #FFFFFF;
        word-wrap: break-word;
        min-width: 0;
        min-height: 30px;
        transition: all .4s;
        border-radius: 6px;
    }

    /* 
.skeduler-main-body > div > .skeduler-task-placeholder > div:hover {
  box-shadow: 0 .25em .5em rgba(0,0,0,.5);
  background-color: #3A9852;
  min-width: 200px;

 
} */
</style>