<template>
  <div>
    <!-- item template -->
    <script type="text/x-template" id="item-template">
                <div v-class="bold: isFolder"
        v-on="click: toggle, dblclick: changeType">
        {{model.name}}
        <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
      </div>
      <ul v-show="open" v-if="isFolder">
        <li class="item"
          v-repeat="model: model.children"
          v-component="item">
        </li>
        <li v-on="click: addChild">+</li>
      </ul>
    </script>

    <p>(You can double click on an item to turn it into a folder.)</p>

    <!-- the demo root element -->
    <ul id="demo">
      <item model="{{ treeData }}"></item>
    </ul>
  </div>
</template>
<script>
// demo data
var data = {
  name: "My Tree",
  children: [
    {
      name: "wat",
    },
    {
      name: "child folder",
      children: [
        {
          name: "child folder",
          children: [
            {
              name: "hello",
            },
            {
              name: "wat",
            },
          ],
        },
        {
          name: "hello",
        },
        {
          name: "wat",
        },
        {
          name: "child folder",
          children: [
            {
              name: "hello",
            },
            {
              name: "wat",
            },
          ],
        },
      ],
    },
  ],
};

// define the item component
Vue.component("item", {
  template: "#item-template",
  props: ["model"],
  data: function() {
    return {
      open: false,
      model: {},
    };
  },
  computed: {
    isFolder: function() {
      return this.model.children && this.model.children.length;
    },
  },
  methods: {
    toggle: function() {
      if (this.isFolder) {
        this.open = !this.open;
      }
    },
    changeType: function() {
      if (!this.isFolder) {
        this.model.$add("children", []);
        this.addChild();
        this.open = true;
      }
    },
    addChild: function() {
      this.model.children.push({
        name: "new stuff",
      });
    },
  },
});

// boot up the demo
var demo = new Vue({
  el: "#demo",
  data: {
    treeData: data,
  },
});
</script>
<style>
body {
  font-family: Menlo, Consolas, monospace;
  color: #444;
}

.item {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

ul {
  padding-left: 1em;
  line-height: 1.5em;
  list-style-type: dot;
}
</style>
