<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <!-- <div @click=" collapse"> -->
            <b-tree-view dir="rtl" :data="treeData" ref="tree" :nodesDraggable="true" :contextMenu="true"
              :contextMenuItems="contextMenuItems" :renameNodeOnDblClick="true" :showIcons="true" iconClassProp="icon"
              prependIconClass="fas" @contextMenuItemSelect="menuItemSelected" @nodeSelect="nodeSelect"
              @click="collapse"></b-tree-view>
            <!-- </div> -->


            <!-- :nodeLabelProp="`id`"   label put key  -->
            <!-- :contextMenu="true" menu click right -->
          </div>
        </div>
      </div>
      <div class="col-md-8" v-if="selectedNode">
        <div class="card">
          <div class="card-body">Node {{ selectedNode.name }} is selected</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {
    bTreeView
  } from "bootstrap-vue-treeview";

  export default {
    components: {
      bTreeView,
    },
    data() {
      return {
        treeData: [{
            id: 1,
            name: "مدیر",
            icon: "fa-users",
          },
          {
            id: 2,
            name: "ازریاب",
            icon: "fa-book",
            children: [{
              id: 3,
              name: "ازریاب",
              icon: "fa-book",
            }, ],
          },
          {
            id: 5,
            name: "ویرایش",
            children: [

            ],
          },
        ],
        selectedNode: null,
        contextMenuItems: [{
            code: "DELETE_NODE",
            label: "Delete node",
          },
          {
            code: "ADD_CHILD_NODE",
            label: "Add child",
          },
          {
            code: "RENAME_NODE",
            label: "Rename",
          },
        ],
      };
    },
    methods: {
      nodeSelect(node, isSelected) {
        // console.log(node,"node")
        // console.log(
        //   "Node " +
        //     node.data.name +
        //     " has been " +
        //     (isSelected ? "selected" : "deselected")
        // );
        if (isSelected) {
          this.selectedNode = node.data;
          console.log(node.data.id)
          this.collapse(node.data.id)
        } else if (node.data === this.selectedNode) {
          this.selectedNode = null;
        }
      },
      menuItemSelected(item, node) {
        console.log(item, "menuItemSelected")
        if (item.code === "ADD_CHILD_NODE") {
          node.appendChild({
            id: count++,
            name: "My new node",
          });
        }
      },
      expandChild() {

        console.log("expand")
      },
      toggleChild() {
        console.log("toggle")
      },
      deSelectChild() {
        console.log("deSelectChild")
      },
      collapse(id) {
        console.log("collapse")
        console.log(this.$refs.tree)
        let data = this.treeData.find(x => x.id == id)
        data.children.push({
          id: 23,
          name: "Cars",
          icon: "fa-car",
        }, {
          id: 34,
          name: "Trucks",
          icon: "fa-truck",
          children: [{
            id: 101,
            name: "Mars",
          }, ],
        })

      }
    },
  };
</script>
<style>

.tree-view{
  text-align: right !important;
}
.tree-node {
    margin-right: 16px;
}
.tree-node-children {
    margin-right: 22px;
}
</style>