<template>
  <!-- <search
    :url="url"
    :title="$lang.washup"
    :remove_item="remove_item"
    config="center_execute_person_competency_score"
    toggleable="true"
    removeModalSize="xl"
    addModalSize="lg"
  ></search>-->
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            <strong v-text="$lang.washup"></strong>
          </div>
          <b-row>
            <div class="table-responsive" v-show="!isLoading">
              <table
                class="washup-table table b-table table-striped table-bordered text-center table-hover align-middle"
              >
                <thead role="rowgroup" class="text-center">
                  <tr role="row">
                    <th class="empty"></th>
                    <th
                      :colspan="fields.length"
                      class="text-center align-middle"
                      role="columnheader"
                    >تمرینات</th>
                  </tr>
                </thead>
                <thead role="rowgroup">
                  <tr role="row" class="text-center">
                    <th class="empty text-danger text-center align-middle" role="columnheader">مخاطب</th>
                    <th
                      class="text-center align-middle"
                      :key="index"
                      v-for="(field, index) in fields"
                      role="columnheader"
                    >{{field.name}}</th>
                    <th class="text-center" role="columnheader">واشاپ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr :key="index" v-for="(item,index) in items">
                    <td class="text-danger align-middle">{{item.full_name}}</td>
                    <template v-for="(field,i) in fields">
                      <td
                        class="align-middle"
                        :key="i"
                        v-if="item.exercises.find(x=>x.exercise.id==field.id)"
                      >{{item.exercises.find(x=>x.exercise.id==field.id).status.caption}}</td>
                      <td :key="i" v-else class="bg-secondary"></td>
                    </template>
                    <td v-if="item.allow_washup">
                      <b-button
                        variant="success m-1"
                        @click="washup(item)"
                        v-b-tooltip.hover
                        :title="$lang.washup_job"
                      >
                        <i class="fa fa-edit"></i>
                      </b-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import search from "../search";
import Notify from "../../shared/toast.js";

export default {
  components: { search },
  data() {
    return {
      center_execute_id: this.$route.params.center_execute_id,
      fields: [],
      items: [],
      isLoading: false,
      fieldsLoading: false
    };
  },
  methods: {
    getExercises() {
      return this.$httpService
        .get(
          this.$config.api_url +
            this.$config.resources.washup.replace("{0}", this.center_execute_id)
        )
        .then(response => {
          if (response.status !== 200) {
            Notify.error(response.data.message);
            return;
          }
          this.fields = response.data.data;
        })
        .catch(err => {
          Notify.error(err.message);
          return false;
        });
    },
    getWashups() {
      return this.$httpService
        .get(
          this.$config.api_url +
            this.$config.resources.washup.replace("{0}", this.center_execute_id)
        )
        .then(response => {
          if (response.status !== 200) {
            Notify.error(response.data.message);
            return;
          }
          this.items = response.data.data;
          let exercises = this.items
            .map(item => item.exercises.map(ex => ex.exercise))
            .flat()
            .filter((v, i, a) => a.findIndex(i => i.id === v.id) === i);
          this.fields = [...new Set(exercises.flat())];
        })
        .catch(err => {
          Notify.error(err.message);
          return false;
        });
    },
    washup(item) {
      this.$router.push({
        name: "editWashUp",
        params: {
          center_execute_id: this.center_execute_id,
          center_execute_candidate_id: item.center_execute_candidate_id
        }
      });
    }
  },
  created() {
    this.isLoading = true;

    this.getWashups().finally(() => (this.isLoading = false));
  }
};
</script>

<style>
</style>
