<template>
  <b-row>
    <b-col>
      <!-- Form category name -->
      <b-form-group :label="$lang.name" label-for="category_selected" :label-cols="12">
        <requiredComponent
          slot="label"
          :label="$lang.enum_caption"
          :rules="$v.enum_caption.$params"
        />
        <b-form-input
          id="name"
          type="text"
          v-model="$v.enum_caption.$model"
          :autocomplete="$lang.caption"
          :disabled="isLoading"
        ></b-form-input>
      </b-form-group>
      <!-- Form button -->
      <b-button
        type="submit"
        size="md"
        variant="success"
        class="my-1 float-right"
        :disabled="isLoading"
        @click.prevent="saveEnum"
      >
        <template v-if="isLoading">
          <b-spinner small></b-spinner>
          {{$lang.inSubmit}}
        </template>
        <template v-else> {{$lang.submit}} <i class='fa fa-check'></i></template>
      </b-button>
    </b-col>
  </b-row>
</template>

<script>
// This is a description of the component

import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    enum_caption: {
      required
    }
  },
  name: "add-enum",
  props: {
    // The name of the enum in api, String,required
    categoryName: String
  },
  data() {
    return {
      enum_caption: "",
      parent_id: 0,
      isLoading: false
    };
  },
  methods: {
    afterSave() {
      this.$emit("saved");
    },
    // @vuese
    // Used to emit enum saved
    // @arg No arguement needed
    // Fire when the enum is saved via api
    saveEnum() {
      this.isLoading = true;
      this.$v.$touch();
      if (this.$v.$anyError) {
        this.isLoading = false;
        return;
      }

      let payload = {
        parent_id: this.parent_id,
        enum_caption: this.enum_caption,
        category_name: this.categoryName
      };
      this.$httpService
        .post(this.$config.api_url + this.$config.resources.enum, payload)
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          this.isLoading = false;
        });
    }
  }
};
</script>

<style>
</style>
