<template>
  <b-row v-if="headers.length >0">

    <b-col v-if="showItems">
      <div role="tablist" class="filterDiv">
        <div class="border-card mb-2" v-for="(header, index) in headers" :key="index">

          <b-button class="text-left p-1 bg-transparent h" :aria-expanded="visible ? 'true' : 'false'"
            aria-controls="collapse-4" @click="get(header)">
            {{ header.key_filter_caption }}
            <span class="badge badge-pill badge-danger" v-if="countSelect(header)"> {{ countSelect(header)}}
            </span>
          </b-button>

          <!-- <button @click="itemHeader.show = !itemHeader.show" class="text-left p-1 bg-transparent">
              {{itemHeader.text}}
              <span v-if="itemHeader.selected !==null && itemHeader.selected.length > 0" class="float-right">

                ( انتخاب {{ checkLength(itemHeader.selected)}})
              </span>
            </button> -->
          <b-collapse id="collapse-4" v-model="header.open">
            <div v-if="header.loader" class="p-2">
              <b-spinner></b-spinner>
            </div>

            <div class="text-left">
              <template v-if="header.type == 'checkbox_multiselect'">

                <div class="owerDiv p-2">
                  <b-form-checkbox-group stacked v-model="value[header.key_service]"
                    :options="items[header.key_filter_name]" value-field="id" text-field="caption" @input="call">
                  </b-form-checkbox-group>
                </div>
              </template>
              <template v-if="header.type == 'checkbox_singleselect'">
                <div class=" owerDiv p-2">
                  <b-form-group label="">
                    <b-form-checkbox v-for="item in items[header.key_filter_name]" :key="item.id" :value="item.id"
                      name="flavour" v-model="value[header.key_service]" @input="call">
                      {{ item.caption }}
                    </b-form-checkbox>
                  </b-form-group>
                </div>
              </template>
              <template v-if="header.type == 'text'">
                <div>
                  <b-form-group>
                    <b-input-group>
                      <b-form-input type="text" v-model="searchTextValue" :placeholder="$lang.search.place_holder">
                      </b-form-input>
                      <b-input-group-prepend>
                        <b-button class="btn-lightgray" @click="searchText()" v-b-tooltip.hover
                          :title="$lang.search.search_tooltip">
                          <i class="fa fa-search"></i>
                        </b-button>
                      </b-input-group-prepend>
                    </b-input-group>
                  </b-form-group>
                </div>
              </template>
            </div>

          </b-collapse>
        </div>

      </div>

    </b-col>
  </b-row>
</template>
<script>
  export default {
    props: {
      showItems: {
        type: Boolean,
        default: true
      },
      headers: {
        type: Array,
        default: []
      },
      items: {
        type: [Object, Array],
        default: {}
      },
      getFilterItems: {
        type: Function,
        default: () => {}
      }
    },
    data() {
      return {
        value: {},
        showCollapse: null,
        visible: true,
        searchTextValue: ""
      };
    },
    methods: {
      countSelect(header) {
        if (typeof this.value[header.key_service] === "number") {
          return "1"
        }
        if (typeof this.value[header.key_service] === "object") {
          return this.value[header.key_service].length
        }
      },
      checkLength(item) {
        if (typeof item == "string") {
          return "1";
        } else {
          return item.length;
        }
      },
      async get(header) {
        console.log(header);
        header.open = !header.open;
        if (header.open) {
          await this.getFilterItems(header);
          header.loader = false;
        }
      },
      call() {
        this.$emit("changeUrl", this.value);
      },
      searchText() {
        this.$emit('searchTextValue', this.searchTextValue)
      }
    },
    //  watch: {
    //   value() {
    //     console.log("11");
    //     this.$emit("changeUrl", this.value);
    //   }
    //  }
  };

</script>
<style scoped lang="scss">
  .bg-transparent {
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-weight: bold;
    color: #701347;
  }

  fieldset {
    margin: 0;
  }

  .filterDiv {
    // text-align: center;
    // min-height: 250px;
    // background: #fff;
    // border-radius: 4px;
    // box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    // padding: 10px;


    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #bec5ca;
  }

  .border-card {
    border-radius: 4px;
    border: 1px solid lightgray;
  }

  .owerDiv {
    max-height: 300px;
    overflow-y: auto;
  }

</style>
