<template>
  <b-modal
    :title="title"
    header-bg-variant="danger"
    :ok-variant="okVariant"
    :cancel-variant="cancelVariant"
    @cancel="cancel"
    @ok="ok"
    @change="updateValue"
    :size="size"
    v-bind="$attrs"
    v-model="output"
  >
    <p>{{description}}</p>
    <slot name></slot>
  </b-modal>
</template>

<script>
export default {
  name: "confirm",
  components: {},
  props: {
    title: String,
    description: String,
    okVariant: {
      type: String,
      default: "success"
    },
    cancelVariant: {
      type: String,
      default: "danger"
    },
    size: {
      type: String,
      default: "md"
    },
    value: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      output: this.value
    };
  },
  methods: {
    updateValue() {
      console.log(this.output);
      this.$emit("input", this.output);
    },
    cancel() {
      this.$emit("cancel");
    },
    ok() {
      this.$emit("ok");
    }
  },
  watch: {
    value() {
      this.output = this.value;
    }
  }
};
</script>

<style>
</style>