<template>
  <div>
    {{label}}
    <span class="text-danger" v-if="'required' in rules">* &nbsp;</span>
    <!-- <span class="text-danger" v-if="'numeric' in rules">[ عددی ] &nbsp;</span>
    <span class="text-danger" v-if="'minute' in rules">[ دقیقه ] &nbsp;</span>
    <template v-if="'minLength' in rules && 'maxLength' in rules">
      <span class="text-danger">{{minMaxLabel}} &nbsp;</span>
    </template>
    <template v-else>
      <span class="text-danger" v-if="'minLength' in rules">{{minLabel}} &nbsp;</span>
      <span class="text-danger" v-if="'maxLength' in rules">{{maxLabel}}</span>
    </template> -->
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    rules: Object
  },
  computed: {
    minLabel() {
      return `[ طول حداقل ${this.rules.minLength.min}]`;
    },
    maxLabel() {
      return `[طول حداکثر ${this.rules.maxLength.max}]`;
    },
    minMaxLabel() {
      if (this.rules.minLength.min == this.rules.maxLength.max) {
        return `[ طول دقیقا ${this.rules.maxLength.max}]`;
      } else {
        return `[ طول بین ${this.rules.minLength.min} و ${this.rules.maxLength.max}]`;
      }
    }
  }
};
</script>

<style>
</style>
