<template>
  <div>
    <b-table borderless outlined :dark="dark" :hover="hover" :striped="striped" :small="small" :fixed="fixed" responsive
      :items="items" :fields="captions" :current-page="1" :per-page="perPage" @row-clicked="rowClicked" :busy="isBusy"
      stickyColumn="true">
      <template v-slot:table-busy>
        <!-- <div class="text-center" v-show="loadingItem || isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
        </div>-->
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle" variant="primary"></b-spinner>
          <strong class="m-2 text-primary">{{ $lang.textLoding }}</strong>

          <!-- <b-spinner variant="primary" label="Text Centered"></b-spinner> -->
        </div>
      </template>
<!-- 
       <template v-slot:table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template> -->
      <template v-slot:cell(status)="data">
        <b-badge :variant="getBadge(data.item.status)" class="badge-lightblue">{{data.item.status}}</b-badge>
      </template>
      <template v-slot:cell(row)="data" v-if="allowRow ">{{((currentPage-1)*perPage)+(data.index+1)}}</template>

      <template v-slot:cell(is_enable)="data">
        <template v-if="searchMode">
          <div class="text-center" @click="toggle(data.item)" v-show="toggleable" v-b-tooltip.hover
            :title="data.item.is_enable?$lang.search.enabled_tooltip:$lang.search.disabled_tooltip">
            <summary>
              <i class="fa fa-unlock text-warning fa-lg" v-if="data.item.is_enable"></i>
              <i class="fa fa-lock text-warning fa-lg" v-else></i>
            </summary>
          </div>
        </template>
        <template v-else>
          <span v-if="data.item.is_enable">{{$lang.search.enabled_tooltip}}</span>
          <span v-else>{{$lang.search.disabled_tooltip}}</span>
        </template>
      </template>
      <template v-slot:cell(button)="data" v-if="!readOnly ">

        <div class="d-block d-md-none">
          <b-dropdown variant="primary" left class="mr-1">
            <template slot="button-content">
              <i class="fa fa-bars"></i>
            </template>
            <b-dropdown-item v-for="(button,index) in availableButtons(data.item)" :key="index"
              @click="button.click(data.item)">
              <span>
                <i :class="button.iconFont"></i>
                <strong v-text="button.text"></strong>
              </span>
            </b-dropdown-item>
            
          </b-dropdown>
        </div>

        <div class="d-none d-md-block">
          <div class="d-flex justify-content-center">
            <div class="dynamicButtonGenerated" v-for="(button,index) in availableButtons(data.item)" :key="index">
              <div class="ml-3 dynamic-buttons" @click="button.click(data.item)">
                <summary class="list-unstyled" v-b-tooltip.hover :title="button.text" :class="button.iconFont">
                  <i></i>
                </summary>
              </div>
            </div>
          </div>
        </div>
      </template>
    </b-table>

    <nav v-show="allowPaginate && totalRows>perPage">
      <!-- hide-goto-end-buttons =>for show or hiden last or first -->
      <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="page" :prev-text="$lang.paginate.prev"
        :next-text="$lang.paginate.next" align="right" @input="paging" />
    </nav>
  </div>
</template>

<script>
  export default {
    name: "c-table",
    inheritAttrs: false,
    props: {
      dynamicButtons: {
        type: [Array, Function],
        default: () => []
      },
      isBusy: {
        type: Boolean,
        default: false
      },
      caption: {
        type: String,
        default: "Table"
      },
      hover: {
        type: Boolean,
        default: false
      },
      editable: {
        type: Boolean,
        default: false
      },
      searchMode: {
        type: Boolean,
        default: true
      },
      removable: {
        type: Boolean,
        default: false
      },
      toggleable: {
        type: Boolean,
        default: false
      },
      striped: {
        type: Boolean,
        default: false
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      },
      tableData: {
        type: [Array, Function],
        default: () => []
      },
      fields: {
        type: [Array, Object],
        default: () => []
      },
      perPage: {
        type: Number,
        default: 5
      },
      dark: {
        type: Boolean,
        default: false
      },
      modify: {
        type: Function,
        default: () => []
      },
      remove: {
        type: Function,
        default: () => []
      },
      toggle: {
        type: Function,
        default: () => []
      },
      changePage: {
        type: Function,
        default: () => []
      },
      currentPage: {
        type: Number,
        default: 1
      },
      totalRows: {
        type: Number,
        default: 1
      },
      readOnly: {
        type: Boolean,
        default: false
      },
      allowPaginate: {
        type: Boolean,
        default: true
      },
      allowRow: {
        type: Boolean,
        default: true
      },
      editTitle: {
        type: String,
        default: ""
      },
      removeTitle: {
        type: String,
        default: ""
      },
      permissionButtons: {
        type: Object,
        default () {
          return {};
        }
      }
    },
    data() {
      return {
        page: this.currentPage,
        defaultButtons: [{
            id: '0',
            name: 'enable', // فعال و غیر فعال
            iconFont: "fa fa-lock text-warning fa-lg",
            text: this.$lang.search.enable_tooltip,
            AllowPermissions: ["admin", "edit"],
            click: this.toggle
          },

          {
            id: '1',
            name: "edit", // ویرایش
            iconFont: "fa fa-edit text-success fa-lg",
            text: this.$lang.search.edit_tooltip,
            AllowPermissions: ["admin", "edit"],
            click: this.modify
          },
          {
            id: '2',
            name: "delete", //حذف
            text: this.$lang.search.remove_tooltip,
            iconFont: "fa fa-remove text-danger fa-lg",
            AllowPermissions: ["admin"],
            click: this.remove
          },

          {
            id: '3',
            name: "view", //نمایش
            text: this.$lang.show,
            iconFont: "fa fa-eye fa-lg text-success",
            AllowPermissions: ['view'],
            click: this.modify
          },
          {
            id: '4',
            name: "userRole", // نقش کاربر
            text: this.$lang.add_user_role_tooltip,
            iconFont: "fa fa-id-badge fa-lg text-primary",
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: "5",
            text: this.$lang.assign_role,
            name: "assignRole", //سطح دسطرسی
            iconFont: "fa fa-id-card-o text-info",
            AllowPermissions: ["admin"]
          },
          {
            id: "6",
            text: this.$lang.role_users,
            name: "user", // کاربران
            iconFont: "fa fa-user fa-lg text-primary",
            click: this.roleUsers,
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: "7",
            text: this.$lang.search.clone_tooltip,
            name: "clone", //کپی
            iconFont: "fa fa-clone fa-lg color-black",
            click: this.cloneRole,
            AllowPermissions: ['admin']
          },
          {
            id: "8",
            name: "addIndicator", // ثبت نشانگر
            text: this.$lang.add_indicator,
            iconFont: "fa fa-plus fa-lg text-success",
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: "9",
            name: 'assessmentPlan', // داده برنامه ارزیابی 
            iconFont: "fa fa fa-table fa-lg text-info",
            text: this.$lang.search.add_data_tooltip,
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: "10",
            name: "excelExport", // خروجی اکسل
            iconFont: "fa fa-file-excel-o fa-lg text-warning",
            text: this.$lang.search.excel_export,
            AllowPermissions: ["admin"]
          },
          {
            id: "11",
            name: "endCenter", // اتمام کانون
            iconFont: "fa fa-stop-circle-o fa-lg text-danger",
            text: this.$lang.search.end_center_tooltip,
            AllowPermissions: ["admin"]
          },
          {
            id: "12",
            name: "washup",
            iconFont: "fa fa-drivers-license-o fa-lg text-success",
            text: this.$lang.search.washup_tooltip,
            AllowPermissions: ["admin", "edit", "view"]
          },
          // {
          //   id: "13",
          //   name: "executing", // در حال اجرا
          //   iconFont: "fa fa-forward fa-lg text-warning",
          //   text: this.$lang.search.executing_tooltip,
          //   AllowPermissions: ["admin", "edit"]
          // },
          {
            id: "14",
            name: "creatingCase", //ساخت پرونده
            iconFont: "fa fa-file-text-o fa-lg text-success",
            text: this.$lang.search.creating_case_tooltip,
            AllowPermissions: ["admin"]
          },
          {
            id: "15",
            name: "visitCases", //مشاهده پرونده ها
            iconFont: "fa fa-folder fa-lg text-info",
            text: this.$lang.search.visit_cases_tooltip,
            AllowPermissions: ["admin", "edit", "view"]
          },
          {
            id: "16",
            name: "returnToEditing", //حذف پرونده ها و ویرایش کانون
            iconFont: "fa fa fa-share-square-o rotateY fa-lg text-danger",
            text: this.$lang.search.return_to_editing_tooltip,
            AllowPermissions: ["admin"]
          },
          {
            id: '17',
            name: "exerciseAlgorithm", //الگوریتم تمرین
            text: this.$lang.search.exercise_algorithm_tooltip,
            iconFont: "fa fa-circle fa-lg text-info",
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: '18',
            name: "insertExerciseDetail", // ویرایش / درج جزء الگوریتم
            text: this.$lang.search.edit_tooltip + ' / ' + this.$lang.search.insert_exercise_detail_tooltip,
            iconFont: "fa fa-edit fa-lg text-success",
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: '19',
            name: "competencyIndicators", //درج/ویرایش نشانگر
            text: this.$lang.template_competency_indicators_tooltip,
            iconFont: "fa fa-plus fa-lg text-primary",
            AllowPermissions: ["admin", "edit"]
          },
          {

            id: "20",
            name: "searchCompetencies", //شایستگی ها
            iconFont: "fa fa-file fa-lg text-info",
            text: this.$lang.search.competencies_tooltip,
            AllowPermissions: ["admin", "edit", "view"]
          },
          {
            id: "21",
            name: "confirm", // ارسال پرونده کانون
            iconFont: "fa fa-check-circle fa-lg text-success",
            text: this.$lang.case_confirm,
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: "22",
            iconFont: "fa fa-reply-all fa-lg text-danger",
            name: "reject", //بازگشت پرونده 
            text: this.$lang.search.reject_tooltip,
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: "23",
            iconFont: "fa fa-history fa-lg text-warning",
            name: "viewHistory", //// تاریخچه عملیات وشایستگی های پرونده های کانون
            text: this.$lang.search.view_history_tooltip,
            AllowPermissions: ["admin"]
          },
          {
            id: "24",
            name: "scoring", //امتیاز
            iconFont: "fa fa-edit fa-lg text-info",
            text: this.$lang.search.scoring_tooltip,
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: '25',
            name: "evidence", //مصداق
            iconFont: "fa fa fa-map fa-lg text-info",
            text: this.$lang.search.evidence_tooltip,
            AllowPermissions: ["admin", "edit"]
          },
          {
            id: '25',
            name: "fileSend", //ارسال پرونده
            iconFont: "fa fa-paper-plane fa-lg text-warning",
            text: this.$lang.fileSend,
            AllowPermissions: ["admin", "edit"]
          }
        ]

      };
    },
    computed: {
      items: function () {
        const items = this.tableData;
        return Array.isArray(items) ? items : items();
      },
      captions: function () {
        return this.items.length > 0 ? this.fields : [];
      }
    },
    methods: {

      availableButtons(item) {

        // create buttons 
        let generateButtons = [];
        if (typeof this.dynamicButtons === "object") generateButtons = this.dynamicButtons;
        else generateButtons = this.dynamicButtons(item);

   
        return generateButtons.filter(button => {


          let permission = this.defaultButtons.find(x => x.name == button.name);

          // compare button permission and user permissions
          let ok = Object.values(this.permissionButtons.permissions).filter(x => permission.AllowPermissions
            .includes(x))
          // compare keys button has and defult button dosent have 
          return ok.length > 0
        }).map(but => {
          let temp = Object.assign({}, but) // clone 
          let permission = this.defaultButtons.find(x => x.name == but.name);
          if (permission.name == 'enable') {
            temp.iconFont = item.is_enable == 1 ? "fa fa-unlock text-warning fa-lg" :
              "fa fa-lock text-warning fa-lg"
            temp.text = item.is_enable == 1 ? this.$lang.search.enabled_tooltip : this.$lang.search.disabled_tooltip
          }
          return {
            ...permission,
            ...temp
          }
        })
      },
      getBadge(status) {
        return status === "Active" ?
          "success" :
          status === "Inactive" ?
          "secondary" :
          status === "Pending" ?
          "warning" :
          status === "Banned" ?
          "danger" :
          "primary";
      },
      getRowCount: function () {
        
        return this.items.length;
      },
      rowClicked(item) {
        this.$emit("row-clicked", item);
      },
      paging(page) {
        this.changePage(page);
      }
    }
  };

</script>
<style>
  .scrolly {
    overflow-x: scroll;
  }


  .table thead th {
    vertical-align: inherit;
    outline: 0;
  }

  .table th,
  .table td {
    vertical-align: inherit;
    outline: 0;
  }
  .rotateY{
    transform: rotateY(180deg);
  }
</style>
