<template>
  <b-col>
    <b-spinner v-if="loading"></b-spinner>
    <b-card border-variant="default" class="text-center ">
      <template v-slot:header>
        <div class="float-left">

          {{ title }}
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-lightgray" @click="showFilter"><i class="fa fa-filter "></i></button>
        </div>
      </template>
      <b-row class="over-hidden height">
        <b-col v-if="filter" :class="classFilter">
          <advanceFilter />
        </b-col>
        <b-col :class="classData">
          <b-table  v-sortable="sortableOptions" responsive outlined hover :items="filteredData" :fields="headers" class="table_main">

            <template v-slot:head()="data" class="">

              <div v-if="data.label">
                <b-dropdown size="xs" variant="bg-transparent" v-if="data.field.filter"
                  toggle-class="text-decoration-none" no-caret class="float-right d-none d-md-block">
                  <template v-slot:button-content>
                    <i class="fa fa-filter icon_filter"></i>
                  </template>
                  <b-dropdown-header id="dropdown-header-label">
                    {{data.label}}
                  </b-dropdown-header>
                  <b-form-group label="" v-if="filters.hasOwnProperty(data.field.key)" class="width-100">
                    <b-form-checkbox class="m-2" v-for="(option,index) in columnValueList(data.field.key)"
                      v-model="filters[data.field.key]" :key="index" :value="option" name="flavour">
                      {{ option }}
                    </b-form-checkbox>
                  </b-form-group>
                </b-dropdown>
              </div>

              <div v-else class="text-center">
                <b-form-checkbox v-model="allSelected" :indeterminate.sync="indeterminate" @change="toggleAll">
                </b-form-checkbox>
              </div>
              <div class="text-center white-space">{{ data.label }}</div>
            </template>
            <template v-slot:cell(selected)="data">
              <b-form-group>
                <b-form-checkbox @input="toggleCheck(data)" v-model="data.item.selected"></b-form-checkbox>
              </b-form-group>
            </template>
            
           <template v-slot:cell(evidance)="data" style="width:300px">
              <div v-if="data" class="drag">
                <a name="" id="" class="btn btn-primary" href="#" role="button">انتخاب مصداق</a>
              </div>
            </template>

          </b-table>
        </b-col>
      </b-row>
    </b-card>
  </b-col>

</template>

<script>
  /**
   * @group exerciseDesign
   * این کامپوننت برای ایجاد کردن تمرین تعریف شده است
   */
  const createSortable = (el, options, vnode) => {
      console.log(options,"options")
  return Sortable.create(el, {
    ...options
  });
};

const sortable = {
  name: 'sortable',
  bind(el, binding, vnode) {
    const table = el.querySelector('table');
    table._sortable = createSortable(el.querySelector("tbody"), binding.value, vnode);
    console.log(this.items)
  }
};

  export default {

     directives: { sortable },
    props: {
      items: {
        type: Array,
        default: []
      },
      filters: {
        type: [Array, Object],
        default: {}
      },
      //   headers: {
      //     type: Array,
      //     default: []
      //   },
      url: {
        type: String,
        default: ""
      },
      title: {
        type: String,
        default: ""
      }
    },
    data() {
      return {
          sortableOptions: {
        chosenClass: 'is-selected'
      },
        id: this.$route.params.id,
        // url: this.$config.api_url + this.$config.resources.exercise,
        filter: false,
        loading: false,
        classFilter: "",
        classData: "col-12",
        SelectAllOrNot: false,
        allSelected: true,
        indeterminate: true,
        headers: [],
        selected: [],

      }
    },
    computed: {
      /**
       * @vuese
       *    فیلتر کردن داده ها استفاده می شود
       *  @arg  بدون پارامتر
       */
      filteredData() {
        return this.items.filter(d => {
          return Object.keys(this.filters).every(f => {
            return this.filters[f].length < 1 || this.filters[f].includes(d[f])
          })
        })
      }
    },

    methods: {
      /**
       * @vuese
       *    فیلتر کردن عنوان ها و ایتم هایی که دارند استفاده می شود
       *  @arg  val کلیدی است برای این که داده مربوط به هر عنوان را شناسایی کیم 
       */
      columnValueList(val) {
        const items = [...this.items]
        const distinct = [...new Set(items.map(d => d[val]))]
        return distinct
      },
      /**
       * @vuese
       *    دکمه فیلتر برای تغییر حالت دیایویی ها 
       *  @arg  بدون پارامتر
       */
      showFilter() {
        this.filter = !this.filter
        if (this.filter) {
          this.classFilter = "col-12 col-md-4";
          this.classData = "col-12 col-md-8";
        } else {
          this.classFilter = "";
          this.classData = "col-12";
        }
      },
      /**
       * @vuese
       *   چک باکس های درون هر سطر اضافه و خذف شدن برای ارایه که قرار ارسال شود 
       *  @arg  row  هر سطر
       */
      toggleCheck(row) {
        const item = this.items.find(x => x.id == row.item.id)
        if (item.selected) {
          this.selected.push(item)
        } else {
          const index = this.selected.indexOf(item)
          this.selected.splice(index, 1)
        }
      },
      /**
       * @vuese
       *  برای تیک زدن تمام چک باکس ها 
       *  @arg  checked هر سطر تیک خورده یا نه 
       */
      toggleAll(checked) {
        if (checked) {
          this.selected = this.items.slice()
          this.selected.map(x => x.selected = true)
        } else {
          this.selected.map(x => x.selected = false)
          this.selected = []
        }

      },
      extractValue(item, v) {
        if (item[v] && typeof item[v] === "object") {
          if ("jalali" in item[v]) {
            return item[v].jalali;
          } else if ("caption" in item[v]) {
            return item[v]["caption"];
          } else if ("name" in item[v]) {
            return item[v]["name"];
          } else if ("view_label" in item[v]) {
            return item[v].view_label ? item[v].view_label : "";
          }
        } else {
          return item[v];
        }
      },
      fetchData() {

        // this.loading = true
        // return this.$httpService.get(this.url.replace("{0}",
        //     this.id))
        //   .then(response => {
        //     console.log(response)
        //   })
        //   .catch(err => {
        //     this.$notify(err)
        //   })

        if (this.items.length > 0) {
          Object.keys(this.items[0]).map(col => {
            console.log(col)
            if (col in this.$lang) {
              console.log(this.$lang[col])
              let sorting = col == `selected` ? false : true
              this.headers.push({
                label: this.$lang[col],
                key: col,
                sortable: sorting,
                filter: true
              });
            }
          });
          let data = this.items
          data = data.map(item => {
            Object.keys(item).map(v => {
              // برای نگهداری دیتای قبلی
              if (typeof item[v] === "object") {
                item[v.concat("_object")] = item[v];
                console.log(item[v])
              }
              if (item[v] && Array.isArray(item[v])) {
                item[v] = item[v]
                  .map((value, idx) => {

                    return this.extractValue(item[v], idx);
                  })
                  .join("، ");
              } else {

                item[v] = this.extractValue(item, v);


              }
            });
            // item.row = index + 1;
            // item._cellVariants= { status: 'info', first_name: 'warning' }
            // item._rowVariant= 'success'
            return item;
          });
          console.log(data)
          this.items = data;
        }



      }
    },
    created() {
      this.fetchData()
    }
  }

</script>
<style>
  .table thead th {
    vertical-align: inherit !important;
    outline: 0;
    border-left: 1px solid lightgray;
  }

  .table th,
  .table td {
    vertical-align: inherit !important;
    outline: 0;
  }

  .height {
    height: 100vh;
  }

  .dropdown-toggle {
    padding: 0 !important;
  }

  .width-100 {
    min-width: 300px;
    width: 100%;
  }

  .table_main {
    height: 100% !important;
  }

  .white-space {
    white-space: nowrap;
  }

  .icon_filter {
    position: absolute;
    bottom: -7px;
    left: -11px;
  }

</style>
