<template>
  <div>
    <!-- <label class="typo__label" for="ajax">Async multiselect</label> -->
    <multiselect
      :allow-empty="false"
      :class="(isValid===null)?'':(isValid)?'multiselect__valid':'multiselect__invalid'"
      :clear-on-select="false"
      :close-on-select="true"
      :custom-label="createLabel"
      :hide-selected="true"
      :internal-search="false"
      :label="label"
      :loading="loading"
      :max-height="600"
      :multiple="false"
      :options="options"
      :placeholder="$lang.select_async.placeholder"
      :searchable="true"
      :selectLabel="$lang.multiselect.selectLabel"
      :selectedLabel="$lang.multiselect.selectedLabel"
      :show-labels="true"
      :track-by="id"
      @input="updateValue"
      @search-change="asyncFind"
      deselect-label
      v-model="output"
    >
      <template slot="noOptions">
        <strong>{{$lang.multiselect.noOptions}}</strong>
      </template>
      <template slot="noResult">
        <strong>{{$lang.multiselect.noResult}}</strong>
      </template>
      <template slot="singleLabel" slot-scope="{ option }">
        <span v-if="overrideLabel">
          <slot name="label"></slot>
        </span>
        <span v-else>{{ option[label] }}</span>
      </template>
    </multiselect>
  </div>
</template>

<script>
  import Multiselect from "vue-multiselect";
  // import persons from "../persons";
  export default {
    components: {
      Multiselect
    },
    props: {
      value: {
        type: Object
      },
      label: {
        type: String,
        default: ""
      },
      id: {
        type: String,
        default: ""
      },
      isValid: {
        type: Boolean,
        default: true
      },
      options: {
        type: Array,
        default() {
          return [];
        }
      },
      asyncFind: {
        type: Function,
        default: null
      },
      customLabel: {
        type: Function,
        default: option => {
          console.log(option);
          return option["label"];
        }
      },
      loading: {
        type: Boolean,
        default: false
      },
      overrideLabel: {type: Boolean, default: false}
    },
    data() {
      return {
        selectedCountries: [],
        output: this.value,
        isLoading: false
      };
    },
    methods: {
      updateValue() {
        console.log(this.output);
        this.$emit("input", this.output);
      },
      createLabel(option) {
        if (this.overrideLabel) {
          return this.customLabel(option);
        } else {
          return option[this.label];
        }
      }
    },
    watch: {
      value() {
        this.output = this.value;
      }
    }
  };
</script>

<style>
</style>
