<template>
  <b-container>
    <b-row>
      <b-col>
        <b-card>
          <div slot="header">

            <b-row>
              <b-col md="6" class="d-flex align-items-center">
                {{$lang.select}}

                <strong>{{title}} </strong>&nbsp;
                <template v-if="choosed.length>0">
                  <span class="text-success">({{choosed.length}} {{$lang.select_count}}) </span>
                </template>
              </b-col>
              <b-col md="6">
                <div class="float-right">
                  <b-button @click="isCollapsed=!isCollapsed" class="btn-lightgray"><i class="fa fa-search"></i></b-button>
                </div>
              </b-col>
            </b-row>
          </div>

          <b-collapse id="CollapseSelectSearch"  v-model="isCollapsed" class="mt-2">
            <!-- <b-card></b-card> -->
            <b-form-group v-show="visibleSearch">
              <b-input-group>
                <b-form-input type="text" v-model="inputSearch" :placeholder="$lang.search.place_holder"
                  @keydown.enter="getItems"></b-form-input>
                <b-input-group-prepend>
                  <b-button @click="getItems
                            " variant="primary" v-b-tooltip.hover :title="$lang.search.search_tooltip">
                    <i class="fa fa-search"></i>
                  </b-button>
                </b-input-group-prepend>
              </b-input-group>
            </b-form-group>

          </b-collapse>

          <b-row>
            <div class="col-md-4 d-none d-md-block">
              <b-row v-show="visibleViewCount">
                <b-col class="form-inline">
                  <label class="mr-1">{{$lang.search.view_count}}</label>
                  <b-form-select size="sm" id="view_count_selectSearch" :plain="true" :options="viewCountList"
                    v-model="viewCount"></b-form-select>
                </b-col>
              </b-row>
            </div>

            <b-col md="8" sm="12" class="text-right">
              <b-form-group>
                <b-button variant="primary" class="mr-1" @click="addItem"
                  v-show="buttons && buttons.includes('add') && visibleAdd" v-b-tooltip.hover
                  :title="$lang.search.add_tooltip">
                  <i class="fa fa-plus"></i>
                </b-button>

                <b-dropdown variant="primary" right class="mr-1" v-b-tooltip.hover :title="$lang.search.export_tooltip"
                  v-show="visibleExport">
                  <template slot="button-content">
                    <i class="fa fa-cloud-download"></i>
                  </template>
                  <b-dropdown-item>
                    <span>
                      <i class="fa fa-file-excel-o fa-lg color-black"></i>
                      <strong>Excel</strong>
                    </span>
                  </b-dropdown-item>
                  <b-dropdown-item>
                    <span>
                      <i class="fa fa-file-pdf-o fa-lg color-black"></i>
                      <strong>Pdf</strong>
                    </span>
                  </b-dropdown-item>
                  <b-dropdown-item disabled>
                    <span>
                      <i class="fa fa-file-word-o fa-lg color-black"></i>
                      <strong>Word</strong>
                    </span>
                  </b-dropdown-item>
                </b-dropdown>

                <b-button variant="primary" class="mr-1" disabled v-show="visibleFilters">
                  <i class="fa fa-filter"></i>
                </b-button>
                <b-button variant="primary" class @click="filterModal=true" v-b-tooltip.hover
                  :title="$lang.search.settings_tooltip" v-show="visibleSettings">
                  <i class="fa fa-gear"></i>
                </b-button>
              </b-form-group>
            </b-col>
          </b-row>

          <c-table :table-data="items" :fields="availableColumns" :perPage="viewCount" :striped="true" bordered
            caption="<i class='fa fa-align-justify'></i> Bordered Table" :remove="remove" :modify="editItem"
            v-show="!loadingItem && !isLoading" :changePage="changePage" :currentPage="page" :totalRows="totalRows"
            :editable="editable" :removable="removable" :toggleable="toggleable" :toggle="toggle_item"
            @row-clicked="clicked"></c-table>
          <div class="text-center" v-show="loadingItem || isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
        </b-card>
      </b-col>
      <b-modal :title="$lang.search.columns_setting" variant="primary" header-bg-variant="primary"
        content-class="border-primary" v-model="filterModal" ok-only @ok="doFilter" :ok-title="$lang.submitButton">
        <p>{{$lang.search.columns_setting_hint}}</p>
        <b-form-group>
          <b-form-checkbox v-model="filterAllSelected" :indeterminate="indeterminate" aria-describedby="flavours"
            aria-controls="flavours" @change="toggleAllFilters" size="lg">
            {{ filterAllSelected ? $lang.search.all_deselect : $lang.search.all_select }}</b-form-checkbox>

          <b-form-checkbox-group id="checkbox-group-1" v-model="filterSelected" name="flavour-1" stacked
            class="pull-right ml-2 col-md-12" cols="6" size="lg">
            <draggable v-model="columns" group="people" @start="drag=true" @end="drag=false"
              @change="updateSortedColumn" tags="ul" ghost-class="moving-column">
              <div v-bind:key="index" v-for="(column, index) in columns" name="checkbox-1"
                class="mb-1 pl-1 flex justify-between items-center bg-white shadow rounded-lg cursor-move">
                <b-form-checkbox :value="column.label" class>
                  <span class="m-1">{{column.label}} </span>
                </b-form-checkbox>
              </div>
            </draggable>
          </b-form-checkbox-group>

        </b-form-group>
      </b-modal>

      <b-modal :title="$lang.search.delete_modal_title" header-bg-variant="danger" v-model="deleteModal"
        :ok-title="$lang.search.delete_modal_ok" ok-variant="danger" :cancel-title="$lang.search.delete_modal_cancel"
        cancel-variant="success" @cancel="!deleteModal" @ok="removing" :size="removeModalSize">
        <p>{{$lang.search.delete_modal_description}} mehdi</p>
        <c-table :table-data="[confirmRemoveItem]" :fields="availableColumns.slice(0,availableColumns.length - 1)"
          :striped="true" bordered caption="<i class='fa fa-align-justify'></i> Bordered Table" :readOnly="true"
          :allowPaginate="false" :allowRow="false"></c-table>
      </b-modal>

      <b-modal title v-model="addModal" hide-footer hide-header header-bg-variant="success"
        content-class="border-success" v-on:modal-end-up="handleAddModal" :size="addModalSize">
        <slot name="addModal" :close="handleAddModal"></slot>

      </b-modal>
    </b-row>
  </b-container>
</template>
<script>
  import cTable from "./TableCheckBox";
  import bTable from "./tabletable";
  import {
    watch
  } from "fs";
  import draggable from "vuedraggable";
  import Notify from "../../shared/toast.js";

  export default {
    components: {
      cTable,
      bTable,
      draggable
    },
    props: {
      isLoading: {
        type: Boolean,
        default: false
      },
      limitOneSelect: {
        type: Boolean,
        default: false
      },
      maxSelectNumber: {
        type: Number,
        default: -1
      },
      allowRemove: {
        type: Boolean,
        default: true
      },
      allowEdit: {
        type: Boolean,
        default: true
      },
      choosedUrl: {
        type: String,
        default: ""
      },
      url: {
        type: String,
        default: ""
      },
      value: {
        type: Array,
        default () {
          return [];
        }
      },
      title: {
        type: String,
        default: ""
      },
      remove_item: {
        type: Function
      },
      toggle_item: {
        type: Function
      },
      edit_item: {
        type: Function
      },
      config: {
        type: String,
        default: ""
      },
      toggleable: {
        type: Boolean,
        default: false
      },
      addModalSize: {
        type: String,
        default: "md"
      },
      removeModalSize: {
        type: String,
        default: "md"
      },
      visibleSearch: {
        type: Boolean,
        default: true
      },
      visibleSettings: {
        type: Boolean,
        default: false
      },
      visibleExport: {
        type: Boolean,
        default: false
      },
      visibleViewCount: {
        type: Boolean,
        default: false
      },
      visibleFilters: {
        type: Boolean,
        default: false
      },
      visibleAdd: {
        type: Boolean,
        default: false
      },
      allowFields: {
        type: Object,
        default () {
          return {};
        }
      },
       // فیلد هایی که در نمایش جدول نباید نمایش داده شود
      disAllowFields: {
        type: Array,
        default () {
          return ["is_enable" ];
        }
      }
    },
    data() {
      return {
        loadingItem: false,
        isCollapsed:false,
        items: [],
        inputSearch: "",
        width: 800,
        myArray: [],
        drag: true,
        columns: [],
        filterModal: false,
        filterSelected: [],
        filterAllSelected: false,
        indeterminate: false,
        viewCountList: [5, 10, 20, 50, 100],
        viewCount: 5,
        page: 1,
        buttons: [],
        buttonsAvailable: [],
        deleteModal: false,
        addModal: false,
        totalRows: 0,
        confirmRemoveItem: null,
        editable: false,
        removable: false,
        sortedColumns: [],
        choosed: this.value
      };
    },
    methods: {
      sortClick() {
        this.items.sort(function (x, y) {
          return (x.row === y.row) ? 0 : x.row ? -1 : 1;
        });

        // console.log(this.items);
      },
      updateValue() {
        this.$emit("input", this.choosed);
      },
      clicked(item) {
        console.log("hahaha", item);
        item.row = !item.row;
        if (this.limitOneSelect) {
          this.choosed = item.row ? [item] : [];
          this.items = this.items.map(it => {
            if (it.id != item.id) {
              it.row = false;
            }
            return it;
          });
        } else if (!item.row) {
          this.choosed = this.choosed.filter(({
            id
          }) => id != item.id);
        } else {
          if (
            this.maxSelectNumber == -1 ||
            this.choosed.length + 1 <= this.maxSelectNumber
          ) {
            this.choosed.push(item);
          } else {
            item.row = !item.row;
          }
        }
        this.updateValue();

        //   let it = this.items.findIndex(itm => item.id === itm.id);
        //   this.items[it].row = !this.items[it].row;
      },

      removing() {
        this.loadingItem = true;
        console.log("inside");
        return this.$httpService
          .delete(this.url + "/" + this.confirmRemoveItem.id)
          .then(response => {
            Notify.success(response.data.message);
            this.getItems();
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            this.loadingItem = false;
          });

        // if (this.remove_item) {
        //   this.remove_item(this.confirmRemoveItem)
        //     .then(response => {
        //       this.getItems();
        //     })
        //     .catch(err => {
        //     });
        // } else {
        //   return http
        //     .delete(this.url + "/" + this.confirmRemoveItem.id)
        //     .then(response => {
        //       Notify.success(response.data.message);
        //       this.getItems();
        //     })
        //     .catch(err => {
        //       Notify.error(err.response.data.message);
        //     });
        // }
      },
      handleAddModal() {
        this.addModal = !this.addModal;
        this.getItems();
      },
      fillChoosed() {
        this.loadingItem = true;
        this.columns = [];
        this.updateConfig();

        let url = this.choosedUrl;
        url += "?per_page=-1";
        return this.$httpService
          .get(url)
          .then(response => {
            if (response.data.data && "result" in response.data.data) {
              let items = response.data.data.result;
              if (!items) {
                this.items = [];
                this.loadingItem = false;
                return true;
              }

              this.totalRows = response.data.data.total;
              // this.initialColumns();
              if (items.length > 0) {
                // this.columns.concat(Object.keys(items[0]));

                //use allow field from outside
                if (Object.keys(this.allowFields).length !== 0) {
                  this.columns = Object.keys(this.allowFields).map(item => {
                    return {
                      label: this.allowFields[item],
                      key: item,
                      sortable: true
                    };
                  });

                } else {
                  // extract field from api
                  Object.keys(items[0]).map(item => {
                    if (item in this.$lang) {
                      this.columns.push({
                        label: this.$lang[item],
                        key: item,
                        sortable: true
                      });
                    }
                  });
                }
                items = items.map((item, index) => {
                  Object.keys(item).map(v => {
                    if (item[v] && Array.isArray(item[v])) {
                      item[v] = item[v]
                        .map((value, idx) => {
                          return this.extractValue(item[v], idx);
                        })
                        .join("، ");
                    } else {
                      item[v] = this.extractValue(item, v);
                    }
                  });
                  // item.row = index + 1;
                  item.row =
                    this.choosed.filter(({
                      id
                    }) => id == item.id).length > 0 ?
                    true :
                    false;
                  return item;
                });
                this.choosed = items;
              } else {
                this.choosed = [];
              }

              this.loadingItem = false;
              return true;
            } else {
              this.choosed = [];
              this.loadingItem = false;
              return true;
            }
          })
          .catch(err => {
            if ("response" in err && err.response.status == 400) {
              Notify.error(err.response.data.message);
            } else {
              Notify.error(err.message);
            }

            throw err;
          });
      },
      search() {},
      doFilter() {
        this.filterModal = false;
      },
      toggleAllFilters(checked) {
        this.filterSelected = checked ?
          this.columns.map(({
            label
          }) => label).slice() : [];
      },
      updateSortedColumn() {
        this.filterSelected = this.columns.map(column => {
          if (this.filterSelected.includes(column.label)) {
            return column.label;
          }
        });
        // this.filterSelected
        // this.columns = [];
        // this.initialColumns();
        // this.columns.concat(this.sortedColumns);
        this.updateConfig;
      },
      updateConfig() {
        // save search config to vuex
        let config = {};
        config[this.config] = {
          page: this.page,
          inputSearch: this.inputSearch,
          viewCount: this.viewCount,
          filterSelected: this.filterSelected
        };

        // this.changeSearchConfig(config);
        /// Tamam
      },

      extractValue(item, v) {
        if (item[v] && typeof item[v] === "object") {
          if ("jalali" in item[v]) {
            return item[v].jalali;
          } else if ("caption" in item[v]) {
            return item[v]["caption"];
          } else if ("name" in item[v]) {
            return item[v]["name"];
          } else if ("view_label" in item[v]) {
            return item[v].view_label ? item[v].view_label : "";
          }
        } else {
          return item[v];
        }
      },

      getItems() {
        this.loadingItem = true;
        this.columns = [];
        this.updateConfig();

        let url = this.url;

        if (url.indexOf("?") >= 0) {
          url +=
            "&page=" +
            this.page +
            "&search_txt=" +
            this.inputSearch +
            "&per_page=" +
            this.viewCount;
        } else {
          url +=
            "?page=" +
            this.page +
            "&search_txt=" +
            this.inputSearch +
            "&per_page=" +
            this.viewCount;
        }
        return this.$httpService
          .get(url)
          .then(response => {
            if (response.data.data && "result" in response.data.data) {
              let items = response.data.data.result;
              if (!items) {
                this.items = [];
                this.loadingItem = false;
                return true;
              }

              this.totalRows = response.data.data.total;
             
              // this.initialColumns();
              if (items.length > 0) {
                // this.columns.concat(Object.keys(items[0]));

                //use allow field from outside
                if (Object.keys(this.allowFields).length !== 0) {
                  this.columns = Object.keys(this.allowFields).map(item => {
                    return {
                      label: this.allowFields[item],
                      key: item,
                      sortable: true
                    };
                  });
                } else {
                  // extract field from api
                  Object.keys(items[0]).map(item => {
                     if (
                      !this.disAllowFields ||
                      !this.disAllowFields.includes(item)
                    )
                    if (item in this.$lang) {
                      this.columns.push({
                        label: this.$lang[item],
                        key: item,
                        sortable: true
                      });
                    }
                  });
                }
                items = items.map((item, index) => {
                  Object.keys(item).map(v => {
                    // برای نگهداری دیتای قبلی
                    if (typeof item[v] === "object") {
                      item[v.concat("_object")] = item[v];
                    }
                    if (item[v] && Array.isArray(item[v])) {
                      item[v] = item[v]
                        .map((value, idx) => {
                          return this.extractValue(item[v], idx);
                        })
                        .join("، ");
                    } else {
                      item[v] = this.extractValue(item, v);
                    }
                  });
                  // item.row = index + 1;
                  item.row =
                    this.choosed.filter(({
                      id
                    }) => id == item.id).length > 0 ?
                    true :
                    false;
                  return item;
                });
                this.items = items;
                this.sortClick()
              } else {
                this.items = [];
              }

              this.loadingItem = false;
              return true;
            } else {
              this.items = [];
              this.loadingItem = false;
              return true;
            }
          })
          .catch(err => {
            if ("response" in err && err.response.status == 400) {
              Notify.error(err.response.data.message);
            } else {
              Notify.error(err.message);
            }

            throw err;
          });
      },
      initialColumns() {
        this.columns = [{
          label: "",
          key: "row",
          // width: 100,
          sortable: false
        }];
      },
      fillTable() {
        return this.getItems();
      },
      remove(item) {
        console.log("remove");
        this.confirmRemoveItem = item;
        this.deleteModal = true;
        console.log(item);
      },
      addItem() {
        // this.$router.push("/competency/add");
        this.addModal = true;
      },
      editItem(item) {
        if (this.edit_item) {
          this.edit_item();
        } else {
          this.$router.push("edit/" + item.id);
        }
      },
      changePage(page) {
        this.page = page;
        this.getItems();
      }
    },
    watch: {
      filterSelected(newVal, oldVal) {
        if (newVal.length === 0) {
          this.indeterminate = false;
          this.filterAllSelected = false;
        } else if (
          newVal.length === this.columns.map(({
            label
          }) => label).slice().length
        ) {
          this.indeterminate = false;
          this.filterAllSelected = true;
        } else {
          this.indeterminate = true;
          this.filterAllSelected = false;
        }

        this.updateConfig();
      },
      viewCount() {
        this.fillTable();
      },
      items() {
        //   if (this.columns && !this.columns.includes("button")) {
        //     this.columns.push({
        //       label: this.$lang.search.operation,
        //       key: "button",
        //       width: 100,
        //       sortable: false
        //     });
        //   }
      },
      buttons() {
        if (this.buttons) {
          this.editable =
            this.allowEdit &&
            (this.buttons.includes("edit")  || this.buttons.includes("view")) ?
            true :
            false;
          this.removable = this.allowRemove &&  this.buttons.includes("admin");
        }
      }
    },
    computed: {
      availableColumns() {
        let cols = this.columns.map(column => {
          if (!this.filterSelected.includes(column.label)) {
            column.thClass = "d-none";
            column.tdClass = "d-none";
            column.index = -1;
          } else {
            column.thClass = "";
            column.tdClass = "";

            column.index = this.filterSelected.indexOf(column.label) + 1;
          }
          return column;
        });

        let columns = [{
            label: "",
            key: "row",
            // width: 100,
            sortable: false,
            index: 0
          },
          ...cols.sort((a, b) => a.index - b.index)
        ];

        return columns;
      }
    },
    created() {
      //for testing
      if (this.choosedUrl) {
        this.fillChoosed().then(() => {
          this.fillTable()
            .then(() => {
              this.filterSelected = this.columns.map(({
                label
              }) => label);
            })
            .catch();
        });
      } else {
        this.fillTable()
          .then(() => {
            this.filterSelected = this.columns.map(({
              label
            }) => label);
          })
          .catch();
      }
    }
  };

</script>
<style scoped lang="scss">
</style>
