<template>
  <div class="form-row  trigger">
    <b-col class="float-left ">
      <multiselect
        :allow-empty="false"
        :class="(isValid === null)?'':(isValid)?'multiselect__valid ':'multiselect__invalid '"
        :label="label"
        :loading="loading"
        :options="options"
        :placeholder="$lang.multiselect.placeholder"
        :searchable="true"
        :selectLabel="$lang.multiselect.selectLabel"
        :selectedLabel="$lang.multiselect.selectedLabel"
        :show-labels="true"
        :track-by="id"
        @input="updateValue"
        deselect-label
        v-bind="$attrs"
        v-model="output"
      >
        <template slot="noOptions">
          <strong>{{$lang.multiselect.noOptions}}</strong>
        </template>
        <template slot="noResult">
          <strong>{{$lang.multiselect.noResult}}</strong>
        </template>
        <template slot="singleLabel" slot-scope="{ option }">
          <span>{{ option[label] }}</span>
        </template>
        <template slot="tag" slot-scope="{ option, remove }">
          <span>
            <span>{{ option.name }}</span>
            <span @click="remove(option)" class="custom__remove">❌</span>
          </span>
        </template>
      </multiselect>
      <div :style="style" class="addForm">
        <transition name="fade">
          <addEnum :categoryName="categoryName" @saved="enumSaved" v-if="!isAdd"></addEnum>
        </transition>
      </div>
    </b-col>
    <div class="float-right" v-if="showButton">
      <b-button :variant="isAdd?'':'danger'" @click="buttonClicked" class="m-1 plusButton btn-lightgray">
        <i class="fa fa-plus" v-if="isAdd"></i>
        <i class="fa fa-close" v-else></i>
      </b-button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.66s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0;
  }
</style>

<script>
  import addEnum from "../base/addEnum";
  import Multiselect from "vue-multiselect";

  export default {
    components: {Multiselect, addEnum},
    props: {
      value: {
        type: Object
      },
      id: {
        type: String,
        default: ""
      },
      isValid: {
        type: Boolean,
        default: true
      },
      label: {
        type: String,
        default: ""
      },
      options: {
        type: Array,
        default() {
          return [];
        }
      },
      loading: {
        type: Boolean,
        default: false
      },
      showButton: {
        type: Boolean,
        default: false
      },
      categoryName: {
        type: String
      }
    },
    data() {
      return {
        output: this.value,
        isAdd: true,
        style: "",
        default:
          "background-color:whiteSmoke;padding-right: 12px;padding-left: 12px;  display: block;"
      };
    },
    methods: {
      enumSaved() {
        this.isAdd = true;
        this.$emit("enumSaved");
      },
      buttonClicked() {
        this.$emit("buttonClick");
        if (this.isAdd) {
          this.$emit("addClick");
        } else {
          this.$emit("closeClick");
        }
        this.isAdd = !this.isAdd;
      },
      updateValue() {
        console.log(this.output);
        this.$emit("input", this.output);
      }
    },
    watch: {
      value() {
        this.output = this.value;
      }
    },
    created() {
      this.style = this.default;
    }
  };
</script>

