<template>
  <div>
    <b-overlay :show="loading" rounded="sm" :opacity="0.7">
      <b-tree-view
        dir="rtl"
        ref="tree"
        :showIcons="true"
        iconClassProp="icon"
        prependIconClass="fa"
        @contextMenuItemSelect="menuItemSelected"
        @nodeSelect="nodeSelect"
        v-bind="$attrs"
      ></b-tree-view>
    </b-overlay>
    <!-- </div> -->
    <!-- :nodeLabelProp="`id`"   label put key  -->
    <!-- :contextMenu="true" menu click right -->
  </div>
</template>
<script>
import { bTreeView } from "bootstrap-vue-treeview";

export default {
  components: {
    bTreeView
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selectedNode: null
    };
  },
  methods: {
    nodeSelect(node, isSelected) {
      if (isSelected) {
        this.selectedNode = node.data;
        this.click(node.data);
        this.$emit("select", this.selectedNode);
      } else if (node.data === this.selectedNode) {
        this.selectedNode = null;
        this.$emit("deselect");
      }
    },
    menuItemSelected(item, node) {
      this.$emit("contextMenuItemSelect", item, node);
      // console.log(item, "menuItemSelected");
      // if (item.code === "ADD_CHILD_NODE") {
      //   node.appendChild({
      //     id: count++,
      //     name: "My new node"
      //   });
      // }
    },
    expandChild() {
      console.log("expand");
    },
    toggleChild() {
      console.log("toggle");
    },
    deSelectChild() {
      console.log("deSelectChild");
    },
    click(item) {
      this.$emit("click", item);
    }
  }
};
</script>
<style>
.tree-view {
  text-align: right !important;
}
.tree-node {
  margin-right: 16px;
}
.tree-node-children {
  margin-right: 22px;
}
</style>