// Here you can add other styles
$direction: rtl;
$opposite-direction: ltr;

$start-direction: right;
$end-direction: left;

$transform-direction: -1;

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_Black.eot");
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_Black.eot?#iefix") format("embedded-opentype"),
  /* IE6-8 */
  url("#{$iransans-font-path}/woff2/IRANSansWeb(FaNum)_Black.woff2") format("woff2"),
  /* FF39+,Chrome36+, Opera24+*/
  url("#{$iransans-font-path}/woff/IRANSansWeb(FaNum)_Black.woff") format("woff"),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("#{$iransans-font-path}/ttf/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_Bold.eot");
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"),
  /* IE6-8 */
  url("#{$iransans-font-path}/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
  /* FF39+,Chrome36+, Opera24+*/
  url("#{$iransans-font-path}/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("#{$iransans-font-path}/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"),
  /* IE6-8 */
  url("#{$iransans-font-path}/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
  /* FF39+,Chrome36+, Opera24+*/
  url("#{$iransans-font-path}/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("#{$iransans-font-path}/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_Light.eot");
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"),
  /* IE6-8 */
  url("#{$iransans-font-path}/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
  /* FF39+,Chrome36+, Opera24+*/
  url("#{$iransans-font-path}/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("#{$iransans-font-path}/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"),
  /* IE6-8 */
  url("#{$iransans-font-path}/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"),
  /* FF39+,Chrome36+, Opera24+*/
  url("#{$iransans-font-path}/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("#{$iransans-font-path}/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum).eot");
  src: url("#{$iransans-font-path}/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),
  /* IE6-8 */
  url("#{$iransans-font-path}/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
  /* FF39+,Chrome36+, Opera24+*/
  url("#{$iransans-font-path}/woff/IRANSansWeb(FaNum).woff") format("woff"),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("#{$iransans-font-path}/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

// $font-family-base:IRANSans !important;

body {
  font-family: IRANSans !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSans !important;
}

table.scrolling.scrollx tbody {
  overflow-x: scroll;
}

.form-btn {
  text-align: left;
  margin-bottom: 4px;
  margin-top: 4px;
}

.modal-footer> :not(:last-child) {
  margin-left: 0.25rem;
}

.modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.header-dropdown-right {
  left: 0;
  right: auto;
}

.dropdown-menu-right {
  left: 0 !important;
  right: auto !important;
}

.draggable-li {
  // border: 2px solid #c8ced3;
  border: 2px solid black;
  // @extend .border;
  @extend .border-primary;
  // @extend .rounded;

}

.column-span {
  font-size: 0.875rem;
}

.dragColumn {
  // box-shadow: 0 0.5rem 1rem #dee2e615 !important;
  // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.11) !important;
  // background-color: white;
  // border: 2px solid rgba(0, 0, 0, 0.11);

  border: 1px solid lightgray;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.moving-column {
  // @extend .opacity-50;
  opacity: 50%;
  // @extend .border;
  // border-top: 2px solid $bg-blue;
  // border-top: 2px solid $bg-blue;
  border: 2px solid $bg-blue;
  // background-color: $bg-blue;
  color: $bg-blue;
  // @extend .border-blue-500;

}

.my_checkbox {
  width: 10vw;
  height: 10vh;
}


// .multiselect-form {
//   display: block;
//   width: 100%;
//   height: calc(1.5em + 0.75rem + 2px) !important;
//   font-size: 0.875rem !important;
//   // font-weight: 400;
// }

// .multiselect {
//   font-size: 14px !important;
// }

.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: 14px !important;
}

.multiselect__invalid {
  .multiselect__tags {
    @extend .form-control.is-invalid;
  }
}

.multiselect__valid {
  .multiselect__tags {
    // border-color: #4dbd74;
    @extend .form-control.is-valid;
  }
}

.invalid-date {
  input {
    border-color: #f86c6b !important;
    @extend .form-control.is-invalid;
  }
}

.valid-date {
  input {
    border-color: #4dbd74 !important;
  }
}

.btn-collapse-has-item{
background-color:#4dbd74 !important
}

.btn-lightgray {
  outline: 0;
  border-radius: 0.25rem;
  background-color: $bg-lightgray;
  border: $bg-lightgray;
  box-shadow: 0 0 0 0 rgba(243, 243, 243, 0.5);
  color: black;

  &:hover {
    outline: 0;
    background-color: $bg-blue !important;
    color: white;
  }

  &:focus {
    box-shadow: 0 0 0 0 rgba(243, 243, 243, 0.5);
    outline: 0;
  }
}

.badge-lightblue {
  outline: 0;
  background-color: $bg-blue !important;
  color: white;
}



.custom-control-input:checked ~ .custom-control-label::before{
  background-color: $bg-blue;
  color: #fff;
  border-color: $bg-blue;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before{
  background-color: $bg-blue;
  color: #fff;
  border-color: $bg-blue;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: $bg-blue;
  border-color: $bg-blue;
}