<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.user"></strong>
          </div>
          <b-form @submit.prevent="save">

            <b-form-group
              :label="$lang.email"
              label-for="email"
              :label-cols="12"
            >
              <requiredComponent
                slot="label"
                :label="$lang.email"
                :rules="$v.email.$params"
              />
              <b-form-input
                id="email"
                type="email"
                :autocomplete="$lang.email"
                :state="$v.email.$dirty ? !$v.email.$error : null"
                v-model="$v.email.$model"
              ></b-form-input>
              <b-form-invalid-feedback
                id="email-feedback"
              >{{$lang.error_required | replace($lang.email)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.code"
              label-for="code"
              :label-cols="12"
            >
              <requiredComponent
                slot="label"
                :label="$lang.code"
                :rules="$v.code.$params"
              />
              <b-form-input
                id="code"
                type="text"
                :autocomplete="$lang.code"
                :state="$v.code.$dirty ? !$v.code.$error : null"
                v-model="$v.code.$model"
              ></b-form-input>
              <b-form-invalid-feedback
                id="code-feedback"
              >{{$lang.error_required | replace($lang.code)}}</b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="primary" v-text="$lang.submit">
                <i class="fa fa-dot-circle-o"></i>
              </b-button>
              <b-button
                class="ml-2"
                size="md"
                variant="danger"
                v-text="$lang.cancelButton"
                @click="handleBack"
              >
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>

    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {required} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            email: {
                required
            },
            code: {
                required
            },
        },
        name: "edit-exercise",
        components: {},
        data() {
            return {
                id: this.$route.params.id,
                email: "",
                code: "",
            };
        },
        methods: {
            handleBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
            },
            clear() {
                this.email = "";
                this.code = "";
            },
            changes() {
                console.log(this.date);
            },
            afterSave() {
                if (this.backUrl) {
                    this.$router.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                let payload = {
                    code: this.code,
                    email: this.email,
                };
                this.$httpService
                    .put(
                        this.$config.api_url + this.$config.resources.user + "/" + this.$route.params.id,
                        payload
                    )
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        console.log(err.response);
                        Notify.error(err.response.data.message);
                    });
            },
            fetchData() {
                if (isNaN(this.id)) {
                    Notify.error("Not a number!");
                    return false;
                }
                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.user + "/" + this.id)
                    .then(response => {
                        let data = response.data.data;
                        this.email = data.email;
                        this.code = data.code;
                    })
                    .catch(err => {
                    });
            }
        },
        watch: {},
        created() {
            this.fetchData();
        }
    };
</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }
</style>
