<template>
  <div class="animated fadeIn col-md-12">
    <b-row style>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.contact"></strong>
          </div>
          <b-alert variant="danger" show dismissible v-show="errors.length>0">
            <li v-bind:key="index" v-for="(error,index) in errors">{{error}}</li>
          </b-alert>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group
              :label="$lang.type"
              label-for="kind_selected"
              :label-cols="this.$config.form.labelCol"
            >
              <selectFind
                :options="contact_kind_options"
                v-model="$v.kind_selected.$model"
                label="text"
                :isValid="$v.kind_selected.$dirty ? !$v.kind_selected.$error : null"
                :loading="kindLoading"
              />

              <b-form-invalid-feedback
                id="kind_selected-feedback"
                :style="{display:$v.kind_selected.$error?'block':'none'}"
              >{{$lang.error_required | replace($lang.address_kind)}}</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              :label="$lang.value"
              label-for="content"
              :label-cols="this.$config.form.labelCol"
            >
              <b-form-input
                id="content"
                type="text"
                v-model="$v.content.$model"
                :state="$v.content.$dirty ? !$v.content.$error : null"
                :autocomplete="$lang.address"
                :rows="this.$config.form.textareaRows"
              ></b-form-input>
              <b-form-invalid-feedback
                id="father_name-feedback"
              >{{$lang.error_required | replace($lang.address)}}</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              :label="$lang.description"
              label-for="address"
              :label-cols="this.$config.form.labelCol"
            >
              <b-form-textarea
                id="description"
                type="text"
                v-model="$v.description.$model"
                :autocomplete="$lang.description"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
             {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
import Notify from "../../shared/toast";
import { validationMixin } from "vuelidate";
import {
  required,
  minLength,
  maxLength,
  numeric
} from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  validations: {
    kind_selected: {
      required
    },
    content: {
      required
    },
    description: {}
  },
  name: "add-contact",
  components: {},
  props: {
    entity: {
      type: String,
      default: "person"
    },
    entityId: { type: String },
    isModal: {
      type: Boolean,
      default: false
    },
    backUrl: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      isLoading: false,
      contact_kind_options: [],
      kind_selected: null,
      description: "",
      content: "",
      kindLoading: false,
      errors: []
    };
  },
  methods: {
    handleBack() {
      if (this.isModal) {
        this.$emit("modal-end-up");
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    clear() {
      this.name = "";
      this.description = "";
      this.category_id = null;
      this.exercise_id = null;
    },
    getContactKinds() {
      this.kindLoading = true;
      let url = this.$config.metaData.contact_kind;

        this.$httpService
        .get(this.$config.api_url + url)
        .then(response => {
          let kind = response.data.data;
          kind = kind.map(x => {
            return {
              value: x.enum_id,
              text: x.enum_caption
            };
          });

          this.contact_kind_options = kind;
          return true;
        })
        .catch(err => {
          Notify.error(err.message);
          return false;
        })
        .finally(res => {
          this.kindLoading = false;
        });
    },

    afterSave() {
      if (this.backUrl) {
        this.$route.push(this.backUrl);
      } else {
        this.handleBack();
      }
    },
    save() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }

      this.isLoading = true;

      let api_url = "";
      if (this.entity === "person") {
        api_url = this.$config.resources.person_contact.replace("{0}", this.entityId);
      } else if (this.entity === "company") {
        api_url = this.$config.resources.company_contact.replace(
          "{0}",
          this.entityId
        );
      }

      let payload = {
        kind_id: this.kind_selected.value,
        content: this.content,
        description: this.description
      };
        this.$httpService
        .post(this.$config.api_url + api_url, payload)
        .then(response => {
          Notify.success(response.data.message);
          this.afterSave();
        })
        .catch(err => {
            Notify.error(err.response.data.message);
            this.isLoading = false;
        });
    }
  },
  created() {
    this.isLoading = true;
    this.getContactKinds();
    this.isLoading = false;
  },
  watch: {}
};
</script>

<style scoped lang="css">
.btn {
  margin-bottom: 4px;
}
</style>
