<template>
  <div>
    <searchFilter :items="data" :filters="filters" :url="url" :title="$lang.exerciseDesign" />
  </div>
</template>

<script>
  import searchFilter from './../../base/searchFilter'
  export default {
    components: {
      searchFilter
    },
    data() {
      return {
        url: this.$config.api_url + this.$config.resources.exercise_indicator,
        data: [{
            id: 0,
            competency: {
              id: 0,
              caption: "آگاهی تجاری"
            },
            indicator:{
              id: 0,
              caption:"گرفتن وقت گروه با زیاد صحبت کردن."
            } ,
            evidance: "مصداق",
            selected: true,

          },
          {
            id: 1,
            selected: true,
            competency: 'تحلیل مساله',
            calories: 237,
            indicator: "در این شایستگی از طریق آزمون قضاوت موقعیتی ارزیابی شده‌اید و نمره آن برای شما لحاظ شده است.",
            carbs: 37,
            protein: 4.3,
            iron: '1%',
             evidance: "مصداق",
          },
          {
            id: 10,
            selected: false,
            competency: 'تحلیل مساله',
            calories: 237,
            indicator: "در این شایستگی از طریق آزمون قضاوت موقعیتی ارزیابی شده‌اید و نمره آن برای شما لحاظ شده است.",
            carbs: 37,
            protein: 4.3,
            iron: '1%',
             evidance: "مصداق",
          },
          {
            id: 2,
            selected: false,
            competency: 'کار تیمی',
            calories: 262,
            indicator: "توافق با کارمند خود برای جلسات بعدی.",
            carbs: 23,
            protein: 6.0,
            iron: '7%',
             evidance: "مصداق",
          },
          {
            id: 3,
            selected: false,
            competency: 'ارتباطات شفاهی متقاعد‌کننده',
            calories: 305,
            indicator: "توضیح پیامدهای تکرار رفتار کارمند خود برای وی.",
            carbs: 67,
            protein: 4.3,
            iron: '8%',
             evidance: "مصداق",
          },
          {
            id: 4,
            selected: false,
            competency: 'کنترل زیردستان',
            calories: 356,
            indicator: "به کارمند خود نشان دادن اینکه برخی اقدامات برای ایجاد تعهد جمعی لازم است",
            carbs: 49,
            protein: 3.9,
            iron: '16%',
             evidance: "مصداق",
          },
          {
            id: 5,
            selected: false,
            competency: 'برنامه‌ریزی و سازماندهی',
            calories: 375,
            indicator: "تایید کردن اینکه خطاها و قانون شکنی ها باید مورد رصد قرار بگیرد.",
            carbs: 94,
            protein: 0.0,
            iron: '0%',
             evidance: "مصداق",
          },
          {
            id: 6,
            selected: false,
            competency: 'رهبری',
            calories: 392,
            indicator: "مشخص نکردن گام های بعدی.",
            carbs: 98,
            protein: 0,
            iron: '2%',
             evidance: "مصداق",
          },
          {
            id: 7,
            selected: false,
            competency: 'دیدگاه راهبردی',
            calories: 408,
            indicator: "عدم توانایی توافق با کارمند در مورد اینکه رفتار های او ممکن است به یک الگوی بد برای دیگران تبدیل بشود.",
            carbs: 87,
            protein: 6.5,
            iron: '45%',
             evidance: "مصداق",
          },
          {
            id: 8,
            selected: false,
            competency: 'ارتباطات شفاهی متقاعد‌کننده',
            calories: 452,
            indicator: "تعریف نکردن هیچ شاخصی برای کنترل.",
            carbs: 51,
            protein: 4.9,
            iron: '22%',
             evidance: "مصداق",
          },
          {
            id: 9,
            selected: false,
            competency: 'کنترل زیردستان',
            calories: 518,
            indicator: "در این شایستگی از طریق آزمون قضاوت موقعیتی ارزیابی شده‌اید و نمره آن برای شما لحاظ شده است.",
            carbs: 65,
            protein: 7,
            iron: '6%',
             evidance: "مصداق",
          }
        ],
        filters: {
          competency: [],
          indicator: [],
          carbs: [],
          iron: [],
          calories: [],
          protein: []
        },
        // fields: []
      }
    },
  }

</script>
