<template>
  <div class="animated fadeIn col-md-12">
    <b-modal size="lg" no-close-on-backdrop title v-model="formModal" hide-footer hide-header>
      <b-row>
        <b-col cols="12">
          <b-card>
            <div slot="header">{{ $lang.assessment_plan_data }}</div>
            <div v-show="errors.length > 0" class="alert-danger">
              <h4>خطا:</h4>
              <ul v-bind:key="index" v-for="(error, index) in errors">
                <li>{{ error }}</li>
              </ul>
            </div>
            <div class="text-center" v-show="isLoading">
              <b-spinner variant="primary" label="Text Centered"></b-spinner>
            </div>
            <b-form @submit.prevent="save" v-show="!isLoading">
              <b-form-group label="زمان" label-for="time" :label-cols="this.$config.form.labelCol">
                <requiredComponent slot="label" label="زمان شروع" :rules="$v.time.$params" />

                <date-picker v-model="$v.time.$model" :state="$v.time.$dirty ? !$v.time.$error : null" format="HH:mm"
                  display-format="HH:mm" :min="start_time" :jumpMinute="duration" :max="end_time" type="time"
                  inputReq="true" :roundMinute="true" :class="
                          $v.time.$dirty
                            ? $v.time.$error
                              ? 'invalid-date'
                              : 'valid-date'
                            : null
                        "></date-picker>

                <b-form-invalid-feedback id="category_id-feedback">دسته بندی ضروری است</b-form-invalid-feedback>
              </b-form-group>
              <!-- <b-form-group label="شرکت کننده" label-for="candidate_selected" :label-cols="this.$config.form.labelCol"> -->
              <!-- 
                      <selectFind :options="candidate_options" v-model="$v.candidate_selected.$model" label="text"
                        id="value" class="multiselect-form"
                      :isValid="$v.candidate_selected.$dirty ? !$v.candidate_selected.$error : null" />-->
              <!-- <b-form-checkbox-group v-model="" :options=""
                  name="candidate_options" aria-label="candidate_options"></b-form-checkbox-group> -->


              <!-- <b-form-checkbox-group id="flavors" v-model="$v.candidate_selected.$model" :options="candidate_options"
                  name="flavors" class="ml-4" aria-label="Individual flavours" stacked></b-form-checkbox-group>


                <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate"
                  aria-describedby="candidate_selected" aria-controls="candidate_selected" @change="toggleAll">
                  {{ allSelected ? 'Un-select All' : 'Select All' }}
                </b-form-checkbox>


                <b-form-invalid-feedback id="category_id-feedback">شرکت کننده ضروری است</b-form-invalid-feedback>
              </b-form-group> -->


              <b-form-group>
                <template v-slot:label>

                  <requiredComponent slot="label" label="شرکت کننده" :rules="$v.candidate_selected.$params" />
                  <br>
                  <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate" aria-describedby="flavours"
                    aria-controls="flavours" @change="toggleAll">
                    {{ allcandidate_selected ? $lang.UnSelectAll : $lang.selectAll }}
                  </b-form-checkbox>
                </template>

                <b-form-checkbox-group id="flavors" v-model="$v.candidate_selected.$model"
                  :options="candidate_options_checkbox" name="flavors" aria-label="Individual flavours" inline>
                </b-form-checkbox-group>
              </b-form-group>





              <b-form-group label="تمرین" label-for="category_id" :label-cols="this.$config.form.labelCol"
                class="multiselect-form">
                <requiredComponent slot="label" label="تمرین" :rules="$v.exercise_detail_selected.$params" />

                <selectFind :options="exercise_detail_options" v-model="$v.exercise_detail_selected.$model" label="text"
                  id="value" :isValid="
                          $v.exercise_detail_selected.$dirty
                            ? !$v.exercise_detail_selected.$error
                            : null
                        " :loading="exerciseAlgorithmDetailLoading" />

                <b-form-invalid-feedback id="category_id-feedback">دسته بندی ضروری است</b-form-invalid-feedback>
              </b-form-group>


              <b-form-group label="ارزیاب" label-for="assessor_selected" :label-cols="this.$config.form.labelCol">
                <b-row>
                  <b-col cols="12">
                    <requiredComponent slot="label" :rules="$v.assessor_selected.$params" />
                    <!-- <selectFind :options="assessor_options" v-model="$v.assessor_selected.$model" label="text"
                            id="value" class="multiselect-form"
                            :isValid="$v.assessor_options.$dirty ? !$v.assessor_options.$error : null"
                          :loading="assessorLoading" />-->
                    <b-form-checkbox v-for="option in assessor_options" v-model="$v.assessor_selected.$model"
                      :key="option.value" :value="option.value" name="assessor_options" inline>{{ option.text }}
                    </b-form-checkbox>
                  </b-col>
                </b-row>
              </b-form-group>
              <b-form-group label="اتاق" label-for="room_selected" :label-cols="this.$config.form.labelCol">
                <b-row>
                  <b-col cols="12">
                    <requiredComponent slot="label" :rules="$v.room_selected.$params" />
                    <b-form-checkbox v-for="option in room_options" v-model="$v.room_selected.$model"
                      :key="option.value" :value="option.value" name="room_options" inline>{{ option.text }}
                    </b-form-checkbox>
                    <!-- <selectFind :options="room_options" v-model="$v.room_selected.$model" label="text" id="value"
                            class="multiselect-form"
                          :isValid="$v.room_selected.$dirty ? !$v.room_selected.$error : null" />-->
                  </b-col>
                </b-row>
              </b-form-group>

              <div slot="footer" class="form-group form-btn" v-show="!isLoading">
                <b-button type="submit" size="md" variant="success" class="mr-2" v-if="mode == 'insert'">
                  {{ $lang.submitButton }}
                  <i class="fa fa-check"></i>
                </b-button>
                <b-button size="md" variant="success" @click="editPlan" class="mr-2" v-if="mode == 'edit'">
                  {{ $lang.edit }}
                  <i class="fa fa-check"></i>
                </b-button>
                <b-button size="md" variant="danger" @click="removePlan" class="mr-2" v-if="mode == 'edit'">
                  {{ $lang.remove }}
                  <i class="fa fa-ban"></i>
                </b-button>
                <b-button size="md" variant="warning" @click="cancelPlan()">
                  {{ $lang.cancelButton }}
                  <i class="fa fa-dot-circle-o"></i>
                </b-button>
              </div>
            </b-form>
          </b-card>
        </b-col>
      </b-row>
    </b-modal>
    <b-row>
      <!-- <b-col class="col-12 col-md-6"> -->
      <!-- <div class="float-left"> -->
      <!-- <svg 
    :style="{transform: `rotateX(160deg)`}"
    height="50" 
    width="50">
    <line x1="0" y1="0" x2="150" y2="150" style="stroke:red;strokeWidth:5" 
    content="I'm a Tippy tooltip!" 
    v-tippy='{followCursor : "initial", animation:"fade", delay:100, arrow : true}'></line>
</svg> -->
      <!-- </div>
      </b-col>
      <b-col class="col-12 col-md-6">
        
        <div class="line-height" v-else>
          <div>{{ $lang.candidate }}sss</div>
        </div>
      </b-col> -->
    </b-row>
    <b-row>
      <b-col>
        <b-card bg-variant="light" header="Light" class="text-left">

          <div slot="header">
            <div class="d-flex float-right">
              <div v-if="day_options && day_options.length > 1 ">
                <!-- <b-form-group  label-for="category_id" > -->
                <requiredComponent slot="label" :rules="$v.day_selected.$params" />

                <selectFind :options="day_options" v-model="$v.day_selected.$model" label="text" id="category_id"
                  :isValid="
                                  $v.day_selected.$dirty
                                    ? !$v.day_selected.$error
                                    : null
                                " />

                <b-form-invalid-feedback id="category_id-feedback">دسته بندی ضروری است
                </b-form-invalid-feedback>
                <!-- </b-form-group> -->
              </div>
              <b-form-input class="mx-3" type="number" v-model="selectedZoom" :min="duration" max="60"
                :step="time_step">
              </b-form-input>
              <b-button-group size="md">
                <b-button variant="success" active @click="viewMode = 'total'">کلی</b-button>
                <b-button variant="info" @click="viewMode = 'exercise'">تمرین</b-button>
                <b-button variant="warning" @click="viewMode = 'assessor'">ارزیاب</b-button>
                <b-button variant="secondary" @click="viewMode = 'room'">اتاق</b-button>
              </b-button-group>


              <b-button variant="primary" v-b-tooltip.hover :title="$lang.new_data" class="ml-3" @click="addPlan">
                <i class="fa fa-plus"></i>
              </b-button>

            </div>

            <div class="d-flex float-left">



              <!-- {{ $lang.assessment_plan_data }}
              <strong>{{ title}} ({{ $lang.exercise }}
                {{ exercise_detail_options.length }})</strong> -->
            </div>
          </div>
          <div class="content-wrapper">
            <div id="skeduler-container" class="skeduler-container">
              <div class="skeduler-headers">
                <!-- candidate_options -->
                <div class="" :style="`${widthStyle()}`" v-for="(item, index) in items" :key="index">
                  <div class="media ">
                    <div class="media-body">
                      <h4 :class="`media-heading `" :id="index">
                        {{ item.name }}
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="skeduler-main">
                <div class="skeduler-main-timeline">
                  <template v-for="(time,index)  in  timeGrid">
                    <div class="timeline" :key="index">{{time}}</div>
                  </template>
                </div>
                <div :class="`skeduler-main-body`" :style="`${widthStyle()}`" :id="itemBody.name"
                  v-for="(itemBody, timingIndex) in items" :key="timingIndex.id">
                  <div class="w-100" v-if="items">
                    <div class="skeduler-task-placeholder" v-for="(item, eventIndex) in itemBody.event"
                      :key="eventIndex">
                      <div class="text-width" :style="styleEvent(item) " v-b-tooltip.hover.bottom.html :title="titleText(item)
                     " @dragstart="dragStart" @drag="dragging($event,item)" draggable="true"
                        :id="`dragtarget-` + timingIndex +`-` +eventIndex " @click="selectPlan(item)">
                        <div :class="selectedZoom>30? `white-space` :``">
                          <span v-if="item.exercise && (viewMode == 'total' || viewMode == 'exercise') ">
                            تمرین:{{item.exercise.caption}}</span>
                          <span v-if="item.assessor && (viewMode == 'total' || viewMode == 'assessor')">
                            - ارزیاب: {{item.assessor}} </span>
                          <span v-if="item.room && (viewMode == 'total' || viewMode == 'room')">-اتاق: {{item.room}}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div :class="`skeduler-cell w-100`" v-for="(item,index) in countGrid" :key="item" @drop="drop"
                      @dragover="allowDrop" @dragenter="dragEnter" @dragleave="dragLeave" :id="index"
                      @click="addPlan($event,itemBody.name,index)">
                      <!-- -->
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>
          <div class="text-center" v-show="assessment_plan_dataLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>

</template>

<script>
  import VuePersianDatetimePicker from "vue-persian-datetime-picker";
  import Notify from "../../shared/toast";
  import {
    range
  } from "../../shared/utils";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required
  } from "vuelidate/lib/validators";
  import {
    scroller
  } from "vue-scrollto/src/scrollTo";

  const scroll = scroller();
  export default {
    mixins: [validationMixin],
    validations: {
      exercise_detail_selected: {
        required
      },
      assessor_options: {},
      assessor_selected: {},
      candidate_selected: {
        required
      },
      room_selected: {},
      time: {
        required
      },
      day_selected: {}
    },
    name: "add-assessment-plan-data",
    components: {
      datePicker: VuePersianDatetimePicker
    },
    props: {
      isModal: {
        type: Boolean,
        default: false
      },
      backUrl: {
        type: String,
        default: ""
      }
    },
    data() {
      return {

        flavours: ['Orange', 'Grape', 'Apple', 'Lime', 'Very Berry'],
        selected: [],
        allSelected: false,
        indeterminate: false,
        id: this.$route.params.id,
        showContext: false,
        mode: "insert",
        title: "",
        isLoading: false,
        exerciseAlgorithmDetailLoading: false,
        errors: [],
        exercise_detail_options: [],
        candidate_number: [],
        candidate_options_checkbox: [],
        assessor_options: [],
        room_options: [],
        assessorLoading: false,
        assessor_selected: null,
        room_selected: null,
        candidate_selected: [],
        exercise_detail_selected: null,
        items: [],
        countGrid: [],
        fields: [],
        timeGrid: [],

        time: "",
        plans: [],
        day_options: [],
        day_selected: null,
        assessment_plan_dataLoading: false,
        assessment_plan_data: [],
        start_time: "",
        end_time: "",
        colorsObject: {},
        viewMode: "total",
        selected_plan_id: null,
        formModal: false,
        edit_assessor_selected: null,
        edit_room_selected: null,
        edit_candidate_selected: null,
        edit_exercise_detail_selected: null,
        edit_time: null,
        editLoading: false,
        edit_day_selected: null,
        duration: "",
        time_step: null,
        selectedZoom: null,
        itemGragging: null,
        optionsZoom: [{
            value: 5,
            text: 5
          },
          {
            value: 10,
            text: 10
          },
          {
            value: 15,
            text: 15
            // disabled: true
          }, ,
          {
            value: 60,
            text: 60
            // disabled: true
          }
        ]
      };
    },



    methods: {
      toggleAll(checked) {
        this.candidate_selected = checked ? this.candidate_options_checkbox.slice() : []
      },
      addPlan(event, candidate = null, time = null) {
        this.assessor_selected = null;
        this.exercise_detail_selected = null;
     
        this.candidate_selected = [candidate];
      
        if (time) {
          let convertToTime = event.path[4].childNodes[1].childNodes[0].childNodes[event.path[0].id].textContent
          this.time = convertToTime
        } else {
          this.time = this.start_time
        }
        this.room_selected = null;
        this.selected_plan = null;
        this.selected_plan_id = null;
        this.formModal = true;
        this.mode = "insert";
      },
      showContextMenu(item, e) {
        if (!this.isEmptyPlan(item)) {
        
          e.preventDefault();
          this.showContext = true;
          this.$refs.contextMenu;
          var menu = document.getElementById("context-menu");
       
         
          menu.style.left = e.pageX + "px";
          menu.style.top = e.pageY + "px";
          menu.style.display = "block";
          menu.cid = e.target.id.replace(/title-/, "");
          // this.showContext=true
        
        }
      },
      scrollToTop() {
        // window.scrollTo(0, 0);
        scroll("#form");
      },
      afterSave() {
        this.clear();
        this.formModal = false;
        this.isLoading = false;
        this.assessment_plan_dataLoading = true;
    
        this.getAssessment_plan_data().finally(
          () => (this.assessment_plan_dataLoading = false)
        );
      },
      cancelPlan() {
        this.formModal = false;
        this.clear();
      },
      removePlan() {
        this.isLoading = true;
        this.errors = [];
        let id = this.selected_plan_id;
        if (!id) return;
        return this.$httpService
          .delete(
            this.$config.api_url +
            this.$config.resources.assessment_plan_pseudo_data.replace(
              "{0}",
              this.id
            ) +
            "/" +
            id
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();

            // this.items = assessment_plan_data;
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }
          })
          .finally(() => (this.isLoading = false));
      },
      editPlan() {
        this.isLoading = true;
        this.errors = [];

        let start = new Date();
        start.setHours(this.start_time.split(":")[0]);
        start.setMinutes(this.start_time.split(":")[1]);

        let end = new Date();
        end.setHours(this.time.split(":")[0]);
     
        end.setMinutes(this.time.split(":")[1]);
        let diffMs = end - start;
        let diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);

        let payload = {
          exercise_algorithm_detail_id: this.exercise_detail_selected.value,

          candidate_number: this.candidate_selected ?
            this.candidate_selected : null,
          assessor_number: this.assessor_selected ? this.assessor_selected : null,
          room_number: this.room_selected ? this.room_selected : null,
          day_number: this.day_selected.value && "value" in this.day_selected ?
            this.day_selected.value : this.day_options[0],
          delay_from_start: diffMins
        };

        this.updateAssessmentPlan("1", payload)
      },
      dropEdit(time, candidateNumber) {
        let start = new Date();
        start.setHours(this.start_time.split(":")[0]);
        start.setMinutes(this.start_time.split(":")[1]);
   
        let end = new Date();
   
        end.setHours(time.split(":")[0]);
        end.setMinutes(time.split(":")[1]);
    
        let diffMs = end - start;
        let diffMins = Math.round(((diffMs) / 60000))
        let payload = {
          exercise_algorithm_detail_id: this.itemGragging.exercise.id,
          candidate_number: candidateNumber ? parseInt(candidateNumber) : null,
          assessor_number: this.itemGragging.assessor ? this.itemGragging.assessor : null,
          room_number: this.itemGragging.room ? this.itemGragging.room : null,
          day_number: this.itemGragging.day_number ? this.itemGragging.day_number : null,
          delay_from_start: diffMins
        }
        return this.updateAssessmentPlan(event, payload)
          .then(() => {

            return true
          })
          .catch(() => {

            return false
          });

      },
      updateAssessmentPlan(event, payload) {
        let id = this.itemGragging.assessment_plan_pseudo_data_id;

        return this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.assessment_plan_pseudo_data.replace(
              "{0}",
              this.$route.params.id
            ) +
            "/" +
            id,
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.formModal = false;
            return true
          })
          .catch(err => {


   
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }
            throw err;
          })
          .finally(() => (this.isLoading = false));
      },
      handleBack() {
        if (this.isModal) {
          this.$emit("modal-end-up");
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        this.time = this.start_time;
        this.exercise_detail_selected = null;
        this.candidate_selected = [];
        this.assessor_selected = null;
        this.room_selected = null;
        this.exercise_id = null;
        this.selected_plan = null;
        this.selected_plan_id = null;
      },
      diff_minutes_save(dt2, dt1) {
        var diff = (dt2.getTime() - dt1.getTime()) / 1000;
        diff /= 60;
        return Math.abs(Math.round(diff));
      },
      save() {
        this.errors = [];
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }


        let dt1 = new Date(
          2020,
          1,
          15,
          this.start_time.split(":")[0],
          this.start_time.split(":")[1]
        );
        let dt2 = new Date(
          2020,
          1,
          15,
          this.time.split(":")[0],
          this.time.split(":")[1]
        );
        this.isLoading = true;
        let payload = {
          exercise_algorithm_detail_id: this.exercise_detail_selected.value,

          day_number: this.day_selected.value,
          delay_from_start: this.diff_minutes_save(dt2, dt1)
        };
        if (this.candidate_selected)
          payload["candidate_number"] = this.candidate_selected;
        if (this.assessor_selected)
          payload["assessor_number"] = this.assessor_selected;
        if (this.room_selected) payload["room_number"] = this.room_selected;
        this.$httpService
          .post(
            this.$config.api_url +
            this.$config.resources.assessment_plan_data.replace(
              "{0}",
              this.$route.params.id
            ),
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }

            this.isLoading = false;
          });
      },
      getExerciseAlgorithmDetails(template_id) {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.template +
            "/" +
            template_id +
            "/exercise_algorithm_detail"
          )
          .then(response => {

            let exercises = response.data.data;
            this.exercise_detail_options = exercises.map(ex => {
              return {
                text: ex.caption,
                value: ex.algorithm_detail_id
              };
            });
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.exerciseAlgorithmDetailLoading = false));
      },
      getAssessment_plan() {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.assessment_plan +
            "/" +
            this.id
          )
          .then(response => {
            let assessment_plan = response.data.data;
            this.end_time = assessment_plan.end_time;
            this.start_time = assessment_plan.start_time;
            this.duration = assessment_plan.time_step;
            let timeStep = ""
            if (!this.selectedZoom && this.selectedZoom == null) {
              timeStep = response.data.data.time_step
              this.selectedZoom = response.data.data.time_step
            } else {
              timeStep = this.selectedZoom
            }

            this.createTimePlan(timeStep, this.start_time, this.end_time)
            this.getExerciseAlgorithmDetails(assessment_plan.template.id);
            this.assessor_options = Array.from({
                length: assessment_plan.assessor_count
              },
              (v, k) => k + 1
            ).map(x => {
              return {
                value: x,
                text: x
              };
            });
            this.room_options = Array.from({
                length: assessment_plan.room_count
              },
              (v, k) => k + 1
            ).map(x => {
              return {
                value: x,
                text: x
              };
            });
            this.candidate_options_checkbox = Array.from({
                length: assessment_plan.candidate_count
              },
              (v, k) => k + 1
            );
            this.candidate_number = Array.from({
                length: assessment_plan.candidate_count
              },
              (v, k) => k + 1
            ).map(x => {
              return {
                value: x,
                text: x
              };
            });
            this.day_options = Array.from({
                length: assessment_plan.day_count
              },
              (v, k) => k + 1
            ).map(x => {
              return {
                value: x,
                text: x
              };
            });

            if (this.day_options && this.day_options.length == 1)
              this.day_selected = this.day_options[0];
            this.fields = [
              ...this.candidate_number.map(c => c.value.toString())
            ];

            this.title =
              " ( " +
              assessment_plan.template.caption +
              " - " +
              assessment_plan.candidate_count +
              " " +
              this.$lang.candidate +
              " " +
              assessment_plan.assessor_count +
              " " +
              this.$lang.assessor +
              " " +
              assessment_plan.room_count +
              " " +
              this.$lang.room +
              " )";
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.assessment_planLoading = false));
      },
      createTimePlan(timeStep, startTime, endTime) {
        this.time_step = timeStep
        let start = new Date(
          2020,
          1,
          15,
          startTime.split(":")[0],
          startTime.split(":")[1]
        );

        let end = new Date(
          2020,
          1,
          15,
          endTime.split(":")[0],
          endTime.split(":")[1]
        );
        let outTimes = [];
        let diff = (start.getTime() - end.getTime()) / 1000;
        diff /= 60;
        let mins_step = Math.abs(Math.round(diff)) / timeStep;
        for (let index = 0; index < mins_step + 1; index++) {
          let createTime = new Date();
          let calculation = start.getTime() + timeStep * index * 60 * 1000
          createTime.setTime(calculation)
          outTimes.push(
            `${(createTime.getHours()<10?'0':'')+createTime.getHours()}:${(createTime.getMinutes()<10?'0':'')+createTime.getMinutes()}`
          );
        }
        this.timeGrid = outTimes

        this.countGrid = [...Array(mins_step)]
      },
      getAssessment_plan_data() {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.assessment_plan_pseudo_data.replace(
              "{0}",
              this.id
            )
          )
          .then(response => {
            let assessment_plan_data = response.data.data;
            let candidates = []
            let event = []
            let candidates_number = [...this.candidate_number]

            candidates_number.map(x => {
              candidates.push({
                name: x.value,
                event: []
              })
            })


            assessment_plan_data.map(x => {
              let temp = candidates.find(a => a.name == x.candidate_number);
              if (temp) {
                temp.event.push(x);
              }
            })
            this.items = candidates
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.assessment_plan_dataLoading = false));
      },
      fetchData() {
        this.getAssessment_plan().then(() => {
          this.assessment_plan_dataLoading = true;
          this.getAssessment_plan_data().finally(
            () => (this.assessment_plan_dataLoading = false)
          );
        });
      },
      getRandomColor(id) {
        const Colors = [
          "#607d8b",
          "#ff5722",
          "#795548",
          "#9e9e9e",
          "#2f353a",
          "#81d4fa",
          "#006064",
          "#4caf50",
          "#8bc34a",
          "#cddc39",
          "#03a9f4",
          "#00bcd4",
          "#009688",
          "#673ab7",
          "#3f51b5",
          "#2196f3",
          "#f44336",
          "#e91e63",
          "#9c27b0",
          "#d50000"
        ];
        // let number = Math.floor(Math.random() * 20);
        return Colors[id];
      },
      randomColor(item, idx) {
        if (!item) return;

        let index = item.assessment_plan_pseudo_data_id;
        if (this.viewMode == "exercise") index = item.exercise.id;
        if (this.viewMode == "assessor") index = item.assessor;
        if (this.viewMode == "room") index = item.room;
        if (!index) return;
        if (this.viewMode == "total") {
          return "#73818f";
        }
        if (!(index in this.colorsObject)) {

          this.colorsObject[index] = this.getRandomColor(index);
        }
        return this.colorsObject[index];
      },
      isEmptyPlan(item) {
        if (!item) return true;
        let index = item.assessment_plan_pseudo_data_id;
        if (this.viewMode == "exercise") index = item.exercise.id;
        if (this.viewMode == "assessor") index = item.assessor;
        if (this.viewMode == "room") index = item.room;
        if (!index) return true;
        return false;
      },
      selectPlan(item) {
        if (this.isEmptyPlan(item)) return;
        this.formModal = true;
        this.selected_plan = item;
        this.selected_plan_id = item.assessment_plan_pseudo_data_id;
        this.mode = "edit";
        this.exercise_detail_selected = this.exercise_detail_options.find(x => x.value == item.exercise.id)
        this.assessor_selected = item.assessor
        this.room_selected = item.room
        this.candidate_selected = [item.candidate_number]
        this.time = item.start;
      },
      clearAssessor() {
        this.assessor_selected = null;
      },
      clearRoom() {
        this.room_selected = null;
      },
      dragStart(event) {
        var format = "Text";
        const data = event.dataTransfer.setData("id", event.target.id);
      },
      dragging(event, item) {
        this.itemGragging = item
      },
      dragEnter(event) {
        event.target.style.outline = "3px dotted #039be5";
      },
      dragLeave(event) {
        event.target.style.outline = "";

      },
      allowDrop(event) {

        event.preventDefault();
        if (event.target.getAttribute("draggable") == "true")
          event.dataTransfer.dropEffect = "none";
        // dropping is not allowed
        else event.dataTransfer.dropEffect = "all"; // drop it like it's hot
      },
      drop(event) {
        event.preventDefault();
        let data = event.dataTransfer.getData("id");
        this.dragged = document.getElementById(data);
        let time = event.path[4].childNodes[1].childNodes[0].childNodes[event.path[0].id].textContent
        let candidate = event.path[2].id
        this.dropEdit(time, candidate).then(x => {
          if (x) {
            event.target.style.outline = "";
            event.target.appendChild(this.dragged);
            this.dragged.className += " dropped";
          }
        })



      },
      convertTime(time) {
        if (typeof time != "undefined" && time != null) {
          var res = time.split(":");
          return res[0] + "." + res[1];
        }
      },
      titleText(event) {
        let caption = event.exercise.caption ? `${this.$lang.exercise} :${event.exercise.caption}` : ``
        let assessor = event.assessor ? `${this.$lang.assessor}:${event.assessor}` : ``
        let room = event.room ? `${this.$lang.room}:${event.room}` : ``
        let html = `<ul class='text-left'>
          <li v-if='${caption}'>${caption}</li>
          <li v-if='${assessor}'>${assessor}</li>
          <li v-if='${room}'>${room}</li>
         
        </ul>`

        return html
      },
      diff_minutes(timeOne, timeTwo) {
        let time_two = new Date(2020,
          1,
          15,
          timeTwo.split(":")[0],
          timeTwo.split(":")[1])
        let time_one = new Date(2020,
          1,
          15,
          timeOne.split(":")[0],
          timeOne.split(":")[1])

        var diff = (time_one.getTime() - time_two.getTime()) / 1000;
        diff /= 60;
        return Math.abs(Math.round(diff));

      },
      styleEvent(timing) {

        const diffTop = (this.diff_minutes(timing.start, this.start_time) / this.time_step)
        const top = diffTop * 26 + diffTop
        const diffPosition = (this.diff_minutes(timing.end, timing.start) / this.time_step)
        const position = diffPosition * 26 + diffPosition
        return `top: ${top}px; height: ${position}px; width: 90%; right: 0px;background-color:${this.randomColor(timing)}`;

      },
      widthStyle() {
        let count_candidate = this.candidate_number.length
        let percent = 100
        let number = percent / count_candidate
        return `width:${number}%`
      }
    },
    created() {
      this.assessment_plan_dataLoading = true;
      this.exerciseAlgorithmDetailLoading = true;
      this.fetchData();
    },
    watch: {
      selectedZoom() {
        this.getAssessment_plan()
      },
      allcandidate_selected(newVal) {
        if (newVal) {
          this.candidate_selected = this.candidate_number
        }
      },
      candidate_selected(newVal, oldVal) {
        // Handle changes in individual flavour checkboxes
       
        if (newVal.length === 0) {
       
          this.indeterminate = false
          this.allcandidate_selected = false
        } else if (newVal.length === this.candidate_number.length) {
         
          this.indeterminate = false
          this.allcandidate_selected = true
        } else {
       
          this.indeterminate = true
          this.allcandidate_selected = false
        }
      }
    }
  };

</script>

<style lang="css">
  .inline-block {
    width: 200px;
    display: inline-block;
  }

  .text-link {
    color: white !important;
  }

  .skeduler-container {
    overflow-x: scroll;
  }

  .skeduler-headers {
    display: flex;
    padding-right: 50.9px;
    position: relative;
  }

  .skeduler-headers:before {
    content: "";
    width: 60px;
    position: absolute;
    left: 0;
  }

  .skeduler-headers>div {
    padding-top: 10px;
    border-bottom: 1px solid #0000004a;
    text-align: center;
  }

  .skeduler-cell {
    border-bottom: 1px solid #0000004a;
  }


  .skeduler-main {
    display: flex;
  }

  .skeduler-main-timeline {
    margin-top: 0;
    border-left: 1px solid #0000004a;
  }

  .timeline {
    position: relative;
    width: 50px;
    height: 27px;
    text-align: left;
    padding-left: 10px;
    color: #333333;
    top: -12px;
  }

  .skeduler-main-timeline div:nth-child(even)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 7px;
    background: #aaacae;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 12px;
    left: 2px;
  }


  .skeduler-main-body {
    display: flex;
  }

  .skeduler-main-timeline div,
  .skeduler-main-body>div>div.skeduler-cell {
    background-color: transparent;
  }



  .skeduler-main-body>div>div.skeduler-cell {
    width: 200px;
    height: 27px;
    border-left: 1px solid #aaacae;
  }

  .skeduler-main-body>div>.skeduler-task-placeholder {
    height: 0;
    position: relative;
  }

  .skeduler-main-body>div>.skeduler-task-placeholder>div {
    position: absolute;
    overflow: hidden;
    background-color: #039be5;
    border-right: 3px solid;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 2px;
    cursor: pointer;
    color: #ffffff;
    min-width: 0;
    min-height: 30px;
    transition: all 0.4s;
    border-radius: 4px;
  }



  .showTime {
    width: 100%;
    height: 4px;
    top: 300px;
    background: red;
    position: absolute;
    left: 0;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

  .circleShowTime {
    width: 10px;
    height: 10px;
    top: 297px;
    background: red;
    border-radius: 50%;
    background: red;
    position: absolute;
    right: 0;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .dropped {
    overflow: hidden;

    border-right: 3px solid #039be5;
    margin-top: 1px;
    cursor: pointer;
    color: #ffffff;
    min-width: 0;
    border-radius: 4px;
  }

  .white-space {
    white-space: pre;
  }

</style>
