<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col class="col-md-12 col-sm-12 col-lg-12">
        <b-card id="form">
          <div slot="header">
            {{ $lang.assessment_plan_data }}
            <strong>{{ title }} ({{ $lang.exercise }}
              {{ exercise_detail_options.length }})</strong>
          </div>

          <b-modal size="lg" no-close-on-backdrop title v-model="formModal" hide-footer hide-header>
            <b-row>
              <b-col cols="12">
                <b-card>
                  <div slot="header">{{ $lang.assessment_plan_data }}</div>
                  <div v-show="errors.length > 0" class="alert-danger">
                    <h4>خطا:</h4>
                    <ul v-bind:key="index" v-for="(error, index) in errors">
                      <li>{{ error }}</li>
                    </ul>
                  </div>
                  <div class="text-center" v-show="isLoading">
                    <b-spinner variant="primary" label="Text Centered"></b-spinner>
                  </div>
                  <b-form @submit.prevent="save" v-show="!isLoading">
                    <b-form-group label="زمان" label-for="time" :label-cols="this.$config.form.labelCol">
                      <requiredComponent slot="label" label="زمان شروع" :rules="$v.time.$params" />

                      <date-picker v-model="$v.time.$model" :state="$v.time.$dirty ? !$v.time.$error : null"
                        format="HH:mm" display-format="HH:mm" :min="start_time" :jumpMinute="duration" :max="end_time"
                        type="time" inputReq="true" :roundMinute="true" :class="
                          $v.time.$dirty
                            ? $v.time.$error
                              ? 'invalid-date'
                              : 'valid-date'
                            : null
                        "></date-picker>

                      <b-form-invalid-feedback id="category_id-feedback">دسته بندی ضروری است</b-form-invalid-feedback>
                    </b-form-group>
                    <b-form-group label="تمرین" label-for="category_id" :label-cols="this.$config.form.labelCol"
                      class="multiselect-form">
                      <requiredComponent slot="label" label="تمرین" :rules="$v.exercise_detail_selected.$params" />

                      <selectFind :options="exercise_detail_options" v-model="$v.exercise_detail_selected.$model"
                        label="text" id="value" :isValid="
                          $v.exercise_detail_selected.$dirty
                            ? !$v.exercise_detail_selected.$error
                            : null
                        " :loading="exerciseAlgorithmDetailLoading" />

                      <b-form-invalid-feedback id="category_id-feedback">دسته بندی ضروری است</b-form-invalid-feedback>
                    </b-form-group>

                    <b-form-group label="شرکت کننده" label-for="candidate_selected"
                      :label-cols="this.$config.form.labelCol">
                      <requiredComponent slot="label" label="شرکت کننده" :rules="$v.candidate_selected.$params" />
                      <!-- 
                      <selectFind :options="candidate_options" v-model="$v.candidate_selected.$model" label="text"
                        id="value" class="multiselect-form"
                      :isValid="$v.candidate_selected.$dirty ? !$v.candidate_selected.$error : null" />-->
                      <b-form-checkbox-group v-model="$v.candidate_selected.$model" :options="candidate_options"
                        name="candidate_options" aria-label="candidate_options"></b-form-checkbox-group>

                      <b-form-invalid-feedback id="category_id-feedback">شرکت کننده ضروری است</b-form-invalid-feedback>
                    </b-form-group>
                    <b-form-group label="ارزیاب" label-for="assessor_selected" :label-cols="this.$config.form.labelCol">
                      <b-row>
                        <b-col cols="12">
                          <requiredComponent slot="label" :rules="$v.assessor_selected.$params" />
                          <!-- <selectFind :options="assessor_options" v-model="$v.assessor_selected.$model" label="text"
                            id="value" class="multiselect-form"
                            :isValid="$v.assessor_options.$dirty ? !$v.assessor_options.$error : null"
                          :loading="assessorLoading" />-->
                          <b-form-checkbox v-for="option in assessor_options" v-model="$v.assessor_selected.$model"
                            :key="option.value" :value="option.value" name="assessor_selected" inline>{{ option.text }}
                          </b-form-checkbox>
                        </b-col>
                      </b-row>
                    </b-form-group>
                    <b-form-group label="اتاق" label-for="room_selected" :label-cols="this.$config.form.labelCol">
                      <b-row>
                        <b-col cols="12">
                          <requiredComponent slot="label" :rules="$v.room_selected.$params" />
                          <b-form-checkbox v-for="option in room_options" v-model="$v.room_selected.$model"
                            :key="option.value" :value="option.value" name="candidate_options" inline>{{ option.text }}
                          </b-form-checkbox>
                          <!-- <selectFind :options="room_options" v-model="$v.room_selected.$model" label="text" id="value"
                            class="multiselect-form"
                          :isValid="$v.room_selected.$dirty ? !$v.room_selected.$error : null" />-->
                        </b-col>
                      </b-row>
                    </b-form-group>

                    <div slot="footer" class="form-group form-btn" v-show="!isLoading">
                      <b-button type="submit" size="md" variant="success" class="mr-2" v-if="mode == 'insert'">
                        {{ $lang.submitButton }}
                        <i class="fa fa-check"></i>
                      </b-button>
                      <b-button size="md" variant="success" @click="editPlan" class="mr-2" v-if="mode == 'edit'">
                        {{ $lang.edit }}
                        <i class="fa fa-check"></i>
                      </b-button>
                      <b-button size="md" variant="danger" @click="removePlan" class="mr-2" v-if="mode == 'edit'">
                        {{ $lang.remove }}
                        <i class="fa fa-ban"></i>
                      </b-button>
                      <b-button size="md" variant="warning" @click="cancelPlan()">
                        {{ $lang.cancelButton }}
                        <i class="fa fa-dot-circle-o"></i>
                      </b-button>
                    </div>
                  </b-form>
                </b-card>
              </b-col>
            </b-row>
          </b-modal>
          <b-row>
            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0" v-show="!assessment_plan_dataLoading">
                <thead>
                  <tr role="row">
                    <th class="empty"></th>
                    <th :colspan="fields.length">
                      <b-row>
                        <b-col class="col-12 col-md-6">
                          <div class="float-left">
                            <b-button variant="primary" v-b-tooltip.hover :title="$lang.new_data" class="mr-3"
                              @click="addPlan">
                              <i class="fa fa-plus"></i>
                            </b-button>
                            <b-button-group size="md">
                              <b-button variant="success" active @click="viewMode = 'total'">کلی</b-button>
                              <b-button variant="info" @click="viewMode = 'exercise'">تمرین</b-button>
                              <b-button variant="warning" @click="viewMode = 'assessor'">ارزیاب</b-button>
                              <b-button variant="secondary" @click="viewMode = 'room'">اتاق</b-button>
                            </b-button-group>
                          </div>
                        </b-col>
                        <b-col class="col-12 col-md-6">
                          <div v-if="day_options && day_options.length > 1">
                            <b-form-group label="روز" label-for="category_id" :label-cols="1">
                              <requiredComponent slot="label" label="روز" :rules="$v.day_selected.$params" />

                              <selectFind :options="day_options" v-model="$v.day_selected.$model" label="text"
                                id="category_id" :isValid="
                                  $v.day_selected.$dirty
                                    ? !$v.day_selected.$error
                                    : null
                                " />

                              <b-form-invalid-feedback id="category_id-feedback">دسته بندی ضروری است
                              </b-form-invalid-feedback>
                            </b-form-group>
                          </div>
                          <div class="line-height" v-else>
                            <div>{{ $lang.candidate }}</div>
                          </div>
                        </b-col>
                      </b-row>
                    </th>
                  </tr>
                  <tr role="row">
                    <th class="empty"></th>

                    <th :key="index" v-for="(field, index) in fields">
                      {{ field.label ? field.label : field }}
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content">
              <table cellpadding="0" cellspacing="0" border="0" v-show="!assessment_plan_dataLoading">
                <tbody v-if="items">
                   <tr role="row" :key="index" v-for="(item, index) in Object.keys(items)" @drop="drop"
                    @dragover="allowDrop" @dragenter="dragEnter" @dragleave="dragLeave">
                    <td>{{ item }}</td>
                  <!--  <td :key="i" v-for="(cel, i) in Object.keys(items[item])"  :style="{
                        backgroundColor: randomColor(items[item][cel], i),
                        'text-align': 'right',
                        color: 'white',
                        cursor: isEmptyPlan(items[item][cel])
                          ? 'default'
                          : 'pointer'
                      }" @click="selectPlan(items[item][cel], cel, item)">
                      <div v-for="(item, j) in getTitle(items[item][cel])" :key="j" @drop="drop"
                        @dragover="allowDrop">
                        <p @dragstart="dragStart" draggable="true" :id="`dragtarget-${ index}-${i}-${j}`">
                          <span :key="j">{{ item }} </span>
                        </p>
                      </div>
                    </td>
 -->
                  </tr>


                </tbody>
              </table>
            </div>
          </b-row>
          <div class="text-center" v-show="assessment_plan_dataLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import VuePersianDatetimePicker from "vue-persian-datetime-picker";
  import Notify from "../../shared/toast";
  import {
    range
  } from "../../shared/utils";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required
  } from "vuelidate/lib/validators";
  import {
    scroller
  } from "vue-scrollto/src/scrollTo";

  const scroll = scroller();
  export default {
    mixins: [validationMixin],
    validations: {
      exercise_detail_selected: {
        required
      },
      assessor_options: {},
      assessor_selected: {},
      candidate_selected: {
        required
      },
      room_selected: {},
      time: {
        required
      },
      day_selected: {}
    },
    name: "add-assessment-plan-data",
    components: {
      datePicker: VuePersianDatetimePicker
    },
    props: {
      isModal: {
        type: Boolean,
        default: false
      },
      backUrl: {
        type: String,
        default: ""
      }
    },
    data() {
      return {
        id: this.$route.params.id,
        showContext: false,
        mode: "insert",
        title: "",
        isLoading: false,
        exerciseAlgorithmDetailLoading: false,
        errors: [],
        exercise_detail_options: [],
        candidate_options: [],
        assessor_options: [],
        room_options: [],
        assessorLoading: false,
        assessor_selected: null,
        room_selected: null,
        candidate_selected: null,
        exercise_detail_selected: null,
        items: [],
        fields: [],
        time: "",
        plans: [],
        day_options: [],
        day_selected: null,
        assessment_plan_dataLoading: false,
        assessment_plan_data: [],
        start_time: "",
        end_time: "",
        colorsObject: {},
        viewMode: "total",
        selected_plan_id: null,
        formModal: false,
        edit_assessor_selected: null,
        edit_room_selected: null,
        edit_candidate_selected: null,
        edit_exercise_detail_selected: null,
        edit_time: null,
        editLoading: false,
        edit_day_selected: null,
        duration: 5
      };
    },
    methods: {
      addPlan() {
        this.assessor_selected = null;
        this.exercise_detail_selected = null;
        this.candidate_selected = null;
        this.room_selected = null;
        this.selected_plan = null;
        this.selected_plan_id = null;
        this.formModal = true;
        this.mode = "insert";
      },
      showContextMenu(item, e) {
        if (!this.isEmptyPlan(item)) {
          console.log("yes");
          e.preventDefault();
          this.showContext = true;
          this.$refs.contextMenu;
          var menu = document.getElementById("context-menu");
          console.log(this.$refs.contextMenu);
          console.log(menu);
          menu.style.left = e.pageX + "px";
          menu.style.top = e.pageY + "px";
          menu.style.display = "block";
          menu.cid = e.target.id.replace(/title-/, "");
          // this.showContext=true
          console.log("cid");
          console.log(this.$refs.contextMenu.cid);
        }
      },
      scrollToTop() {
        // window.scrollTo(0, 0);
        scroll("#form");
      },
      afterSave() {
        this.clear();
        this.formModal = false;
        this.isLoading = false;
        this.assessment_plan_dataLoading = true;
        console.log("a");
        this.getAssessment_plan_data().finally(
          () => (this.assessment_plan_dataLoading = false)
        );
      },
      cancelPlan() {
        this.formModal = false;
        this.clear();
      },
      removePlan() {
        this.isLoading = true;
        this.errors = [];
        let id = this.selected_plan_id;
        if (!id) return;
        return this.$httpService
          .delete(
            this.$config.api_url +
            this.$config.resources.assessment_plan_pseudo_data.replace(
              "{0}",
              this.id
            ) +
            "/" +
            id
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();

            // this.items = assessment_plan_data;
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }
          })
          .finally(() => (this.isLoading = false));
      },
      editPlan() {
        this.isLoading = true;
        this.errors = [];
        let id = this.selected_plan_id;
        let start = new Date();
        start.setHours(this.start_time.split(":")[0]);
        start.setMinutes(this.start_time.split(":")[1]);
        console.log(start);
        let end = new Date();
        end.setHours(this.time.split(":")[0]);
        end.setMinutes(this.time.split(":")[1]);
        console.log(end);
        let diffMs = end - start;
        console.log(diffMs);
        let diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);
        console.log(diffMins);
        let payload = {
          exercise_algorithm_detail_id: this.exercise_detail_selected.value,
          candidate_number: this.candidate_selected ?
            this.candidate_selected : null,
          assessor_number: this.assessor_selected ? this.assessor_selected : null,
          room_number: this.room_selected ? this.room_selected : null,
          day_number: this.day_selected.value && "value" in this.day_selected ?
            this.day_selected.value : this.day_options[0],
          delay_from_start: diffMins
        };
        return this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.assessment_plan_pseudo_data.replace(
              "{0}",
              this.$route.params.id
            ) +
            "/" +
            id,
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.formModal = false;

            // this.items = assessment_plan_data;
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }
          })
          .finally(() => (this.isLoading = false));
      },
      getTitle(item) {
        let title = [];
        if (
          item.exercise.caption &&
          (this.viewMode == "total" || this.viewMode == "exercise")
        )
          title.push(`${item.exercise.caption} `);
        if (
          item.assessor &&
          (this.viewMode == "total" || this.viewMode == "assessor")
        )
          title.push(`ارزیاب ${item.assessor}`);
        if (item.room && (this.viewMode == "total" || this.viewMode == "room"))
          title.push(`اتاق ${item.room}`);

        return title;
      },
      handleBack() {
        if (this.isModal) {
          this.$emit("modal-end-up");
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        this.time = this.start_time;
        this.exercise_detail_selected = null;
        this.candidate_selected = null;
        this.assessor_selected = null;
        this.room_selected = null;
        this.exercise_id = null;
        this.selected_plan = null;
        this.selected_plan_id = null;
      },
      changes() {
        console.log(this.date);
      },
      diff_minutes(dt2, dt1) {
        var diff = (dt2.getTime() - dt1.getTime()) / 1000;
        diff /= 60;
        return Math.abs(Math.round(diff));
      },
      save() {
        this.errors = [];
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }
        let dt1 = new Date(
          2020,
          1,
          15,
          this.start_time.split(":")[0],
          this.start_time.split(":")[1]
        );
        let dt2 = new Date(
          2020,
          1,
          15,
          this.time.split(":")[0],
          this.time.split(":")[1]
        );
        this.isLoading = true;
        let payload = {
          exercise_algorithm_detail_id: this.exercise_detail_selected.value,

          day_number: this.day_selected.value,
          delay_from_start: this.diff_minutes(dt2, dt1)
        };
        if (this.candidate_selected)
          payload["candidate_number"] = this.candidate_selected;
        if (this.assessor_selected)
          payload["assessor_number"] = this.assessor_selected;
        if (this.room_selected) payload["room_number"] = this.room_selected;
        this.$httpService
          .post(
            this.$config.api_url +
            this.$config.resources.assessment_plan_data.replace(
              "{0}",
              this.$route.params.id
            ),
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            if (err.response.status === 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }

            this.isLoading = false;
          });
      },
      getExerciseAlgorithmDetails(template_id) {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.template +
            "/" +
            template_id +
            "/exercise_algorithm_detail"
          )
          .then(response => {
         
            let exercises = response.data.data;
            // console.log(exercises)
            this.exercise_detail_options = exercises.map(ex => {
              return {
                text: ex.caption,
                value: ex.algorithm_detail_id
              };
            });
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.exerciseAlgorithmDetailLoading = false));
      },
      getAssessment_plan() {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.assessment_plan +
            "/" +
            this.id
          )
          .then(response => {
     
            let assessment_plan = response.data.data;
            this.start_time = assessment_plan.start_time;
            this.end_time = assessment_plan.end_time;
            this.time = assessment_plan.start_time;
            this.duration = assessment_plan.time_step;
            this.getExerciseAlgorithmDetails(assessment_plan.template.id);
            this.assessor_options = Array.from({
                length: assessment_plan.assessor_count
              },
              (v, k) => k + 1
            ).map(x => {
              return {
                value: x,
                text: x
              };
            });
            this.room_options = Array.from({
                length: assessment_plan.room_count
              },
              (v, k) => k + 1
            ).map(x => {
              return {
                value: x,
                text: x
              };
            });
            this.candidate_options = Array.from({
                length: assessment_plan.candidate_count
              },
              (v, k) => k + 1
            ).map(x => {
              return {
                value: x,
                text: x
              };
            });
            this.day_options = Array.from({
                length: assessment_plan.day_count
              },
              (v, k) => k + 1
            ).map(x => {
              return {
                value: x,
                text: x
              };
            });

            if (this.day_options && this.day_options.length == 1)
              this.day_selected = this.day_options[0];
            console.log(this.day_selected, "this.day_selected");
            console.log(this.candidate_options,"this.candidate_options")
            this.fields = [
              ...this.candidate_options.map(c => c.value.toString())
            ];

            this.title =
              " ( " +
              assessment_plan.template.caption +
              " - " +
              assessment_plan.candidate_count +
              " " +
              this.$lang.candidate +
              " " +
              assessment_plan.assessor_count +
              " " +
              this.$lang.assessor +
              " " +
              assessment_plan.room_count +
              " " +
              this.$lang.room +
              " )";
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.assessment_planLoading = false));
      },
      getAssessment_plan_data() {
        return this.$httpService
          .get(
            this.$config.api_url +
            this.$config.resources.assessment_plan_pseudo_data.replace(
              "{0}",
              this.id
            )
          )
          .then(response => {
            this.assessment_plan_data = response.data.data;
            console.log(this.assessment_plan_data,"this.assessment_plan_data");
            console.log(this.day_selected.value);
            let current_plan = this.assessment_plan_data[this.day_selected.value];
            console.log(current_plan,"current_plan")
            this.items = current_plan;

            // this.items = assessment_plan_data;
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.assessment_plan_dataLoading = false));
      },
      fetchData() {
        this.getAssessment_plan().then(() => {
          this.assessment_plan_dataLoading = true;
          this.getAssessment_plan_data().finally(
            () => (this.assessment_plan_dataLoading = false)
          );
        });
      },
      getRandomColor(idx) {
        const Colors = [
          "#607d8b",
          "#ff5722",
          "#795548",
          "#9e9e9e",
          "#2f353a",
          "#81d4fa",
          "#006064",
          "#4caf50",
          "#8bc34a",
          "#cddc39",
          "#03a9f4",
          "#00bcd4",
          "#009688",
          "#673ab7",
          "#3f51b5",
          "#2196f3",
          "#f44336",
          "#e91e63",
          "#9c27b0",
          "#d50000"
        ];
        let number = Math.floor(Math.random() * 20);
        // console.log(idx,number)
        return Colors[number];
        //  var letters = "0123456789ABCDEF";
        //  var color = "#";
        //  for (var i = 0; i < 6; i++) {
        //    color += letters[Math.floor(Math.random() * 16)];
        //  }
        // return color;
      },
      randomColor(item, idx) {
        if (!item) return;

        let index = item.assessment_plan_pseudo_data_id;
        if (this.viewMode == "exercise") index = item.exercise.id;
        if (this.viewMode == "assessor") index = item.assessor;
        if (this.viewMode == "room") index = item.room;
        if (!index) return;
        if (this.viewMode == "total") {
          return "#73818f";
        }
        if (!(index in this.colorsObject)) {
          this.colorsObject[index] = this.getRandomColor();
        }
        // console.log(this.colorsObject[index],'[this.colorsObject[index]')
        return this.colorsObject[index];
      },
      isEmptyPlan(item) {
        if (!item) return true;
        let index = item.assessment_plan_pseudo_data_id;
        if (this.viewMode == "exercise") index = item.exercise.id;
        if (this.viewMode == "assessor") index = item.assessor;
        if (this.viewMode == "room") index = item.room;
        if (!index) return true;
        return false;
      },
      selectPlan(item, candidate, time) {
        if (this.isEmptyPlan(item)) return;
        this.formModal = true;
        console.log(item, candidate, time);
        this.selected_plan = item;
        this.selected_plan_id = item.assessment_plan_pseudo_data_id;
        this.mode = "edit";
        this.exercise_detail_selected = this.exercise_detail_options.find(
          x => x.value === item.exercise.id
        );
        this.assessor_selected = this.assessor_options.find(
          x => x.value === item.assessor
        ).value;
        this.room_selected = this.room_options.find(
          x => x.value === item.room
        ).value;
        this.candidate_selected = this.candidate_options.find(
          x => x.value === Number(candidate)
        ).value;
        this.time = item.start_time;
      },
      clearAssessor() {
        this.assessor_selected = null;
      },
      clearRoom() {
        this.room_selected = null;
      },
      dragStart(event) {
        console.log(event)
        var format = "Text";
        const data = event.dataTransfer.setData("id", event.target.id);
        // event.target.style.border = "3px dotted #039be5";
      },
      dragging(event) {
        event.target.style.border = "3px dotted #039be5";
      },
      dragEnter(event) {
        event.target.style.outline = "3px dotted #039be5";
      },
      dragLeave(event) {
        event.target.style.outline = "";
      },
      allowDrop(event) {
        event.preventDefault();
        if (event.target.getAttribute("draggable") == "true")
          event.dataTransfer.dropEffect = "none";
        // dropping is not allowed
        else event.dataTransfer.dropEffect = "all"; // drop it like it's hot
      },
      drop(event) {
        console.log(event,"drop")
        console.log( event.path[1].cells[0].innerHTML)
       
        event.preventDefault();
        event.target.style.outline = "";
        var data = event.dataTransfer.getData("id");
        var dragged = document.getElementById(data);
        event.target.appendChild(dragged);
        dragged.className += " dropped";
      }
    },
    created() {
      this.assessment_plan_dataLoading = true;
      this.exerciseAlgorithmDetailLoading = true;
      this.fetchData();
    }
  };

</script>

<style scoped lang="css">
  .line-height {
    line-height: 35px;
    text-align: right;
  }

  table {
    width: 100%;

    border-collapse: collapse;
    table-layout: fixed;
  }

  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .tbl-content {
    height: 50vh;
    overflow: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  th {
    padding: 15px;
    text-align: center;
    color: black;
    border: 1px solid #c8ced3;
  }

  td {
    padding: 15px;
    text-align: right;
    vertical-align: middle;
    color: black;
    border: 1px solid #c8ced3;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

</style>
<style>
  .droptarget {
    float: left;
    width: 100px;
    height: 35px;


    border: 1px solid #aaaaaa;
  }

  .itemDrag {
    cursor: pointer;
  }

  .card-body {
    background: red;
  }

</style>
