<template>
  <BaseTimer :time-left="timeLeft" :circleDasharray="circleDasharray" @onTimesUp="onTimesUp" />
</template>

<script>
const FULL_DASH_ARRAY = 283;
import BaseTimer from "./BaseTimer";
export default {
  components: { BaseTimer },
  name: "timer",
  props: {
    timeLimit: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      timePassed: 0
    };
  },
  computed: {
    timeLeft() {
      return this.timeLimit - this.timePassed;
    },
    circleDasharray() {
      return `${(this.timeFraction * FULL_DASH_ARRAY).toFixed(0)} 283`;
    },
    timeFraction() {
      const rawTimeFraction = this.timeLeft / this.timeLimit;

      return rawTimeFraction - (1 / this.timeLimit) * (1 - rawTimeFraction);
    }
  },
  methods: {
    onTimesUp() {
      clearInterval(this.timerInterval);
      this.$emit("expired")
    },
    startTimer() {
      this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
    }
  },
  mounted() {
    this.startTimer();
  }
};
</script>
<style scoped>
</style>