<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.competency"></strong>
          </div>
            <div v-show="errors.length>0" class="alert-danger">
            <h4>خطا:</h4>
            <ul v-bind:key="index" v-for="(error,index) in errors">
              <li>{{error}}</li>
            </ul>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.caption" label-for="name" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.caption"
                :rules="$v.name.$params"
              />
              <b-form-input
                id="name"
                type="text"
                :autocomplete="$lang.caption"
                :state="$v.name.$dirty ? !$v.name.$error : null"
                v-model="$v.name.$model"
              ></b-form-input>
              <b-form-invalid-feedback
                id="name-feedback"
              >{{$lang.error_required | replace($lang.caption)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.description" label-for="description" :label-cols="12">
              <requiredComponent
                slot="label"
                :label="$lang.description"
                :rules="$v.description.$params"
              />
              <b-form-textarea
                id="description"
                :state="$v.description.$dirty ? !$v.description.$error : null"
                v-model="$v.description.$model"
                type="text"
                :autocomplete="$lang.description"
                :rows="this.$config.form.textareaRows"
              ></b-form-textarea>
              <b-form-invalid-feedback
                id="description-feedback"
              >{{$lang.error_required | replace($lang.description)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.category" label-for="category_selected" :label-cols="12">

              <requiredComponent
                slot="label"
                :label="$lang.category"
                :rules="$v.category_selected.$params"
              />
              <selectFind
                :options="category_options"
                v-model="$v.category_selected.$model"
                label="text"
                id="value"
                :isValid="$v.category_selected.$dirty ? !$v.category_selected.$error : null"
                :loading="categoryLoading"
              />

              <b-form-invalid-feedback
                id="category_selected-feedback"
              >{{$lang.error_required | replace($lang.category)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="primary" v-text="$lang.submit">
                <i class="fa fa-dot-circle-o"></i>
              </b-button>
              <b-button
                class="ml-2"
                size="md"
                variant="danger"
                v-text="$lang.cancelButton"
                @click="handleBack"
              >
                <i class="fa fa-ban"></i>
              </b-button>
            </div>
          </b-form>

          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {required} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            name: {
                required
            },
            description: {
                required
            },
            category_selected: {
                required
            },
            exercise_selected: {}
        },
        name: "edit-centerExecuteCase",
        components: {},
        props: {
            backUrl: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                id: this.$route.params.id,
                name: "",
                description: "",
                category_options: [],
                exercise_options: [],
                category_selected: null,
                exercise_selected: null,
                category_id: null,
                isLoading: false,
                categoryLoading:false,
                errors:[]
            };
        },
        methods: {
            handleBack() {
                window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
            },
            clear() {
                this.name = "";
                this.description = "";
                this.category_selected = null;
                this.exercise_selected = null;
            },
            changes() {
                console.log(this.date);
            },
            getCompetencyCategory() {
                return this.$httpService
                    .get(this.$config.api_url + this.$config.metaData.competency_category)
                    .then(response => {
                        if (response.status != 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let competency_category = response.data.data;
                        competency_category = competency_category.map(x => {
                            return {
                                value: x.enum_id,
                                text: x.enum_caption
                            };
                        });

                        this.category_options = competency_category;
                        return true;
                    })
                    .catch(err => {
                        Notify.error(err.message);
                        throw "error";
                    });
            },
            getExercise() {
                return this.$httpService
                    .get(this.$config.api_url + this.$config.resources.exercise)
                    .then(response => {
                        if (response.status != 200) {
                            Notify.error(response.data.message);
                            return;
                        }
                        let exercise = response.data.data.data;
                        exercise = exercise.map(x => {
                            return {
                                value: x.id,
                                text: x.name
                            };
                        });
                        this.exercise_options = exercise;
                        return true;
                    })
                    .catch(err => {
                        Notify.error(err.message);
                        throw "error";
                    });
            },
            afterSave() {
                if (this.backUrl) {
                    this.$router.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            save() {
                this.isLoading = true;
                this.$v.$touch();
                if (this.$v.$anyError) {
                    this.isLoading = false;
                    return;
                }

                let payload = {
                    name: this.name,
                    description: this.description,
                    category_id: this.category_selected.value
                };
                this.$httpService
                    .put(
                        this.$config.api_url + this.$config.resources.competency + "/" + this.id,
                        payload
                    )
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        if (err.response.status === 400) {
                            if (typeof err.response.data.message === "object") {
                                err.response.data.message.forEach(element => {
                                    this.errors.push(element);
                                });
                            } else {
                                Notify.error(err.response.data.message);
                            }
                        } else {
                            Notify.error(err.message);
                        }

                        this.isLoading = false;
                    });
            },
            fetchData() {
                if (isNaN(this.id)) {
                    Notify.error("Not a number!");
                    return false;
                }

                this.$httpService
                    .get(this.$config.api_url + this.$config.resources.competency + "/" + this.id)
                    .then(response => {
                        let data = response.data.data;
                        console.log(data);
                        this.name = data.name;
                        this.description = data.description;
                        let category_id = data.category_id;

                        this.isLoading=false;


                        this.getCompetencyCategory()
                            .then(response => {
                                this.category_selected = this.category_options.find(
                                    x => x.value === category_id
                                );

                            })
                            .catch(error => {
                                Notify.error(err.response.data.message);
                            }).finally(()=>this.categoryLoading=false);
                    })
                    .catch(err => {
                        Notify.error(err.response.data.message);
                    });
            }
        },
        watch: {},
        created() {
            this.isLoading = true;
           this.categoryLoading=true
            this.fetchData();
        }
    };
</script>

<style scoped lang="css">
  
</style>
