<template>
  <div>
    <search
      :url="url"
      :title="$lang.searchCenter_execute_case"
      :remove_item="remove_item"
    
      :allowFields="$lang.searchCenterExecuteCase"
      config="center_execute_case"
      :toggleable="false"
      removeModalSize="xl"
      :visibleAdd="false"
      :allowEdit="false"
      :allowRemove="false"
      ref="search_center_execute_case"
      :dynamicButtons="availableButtons"
    >
      <template slot="addModal" slot-scope="search">
        <addCenterExecuteCase isModal @modal-end-up="search.close"></addCenterExecuteCase>
      </template>
      <template v-slot:buttons="prop"></template>
    </search>
    <confirm
      :title="modalTitle"
      :description="message"
      v-model="confirmModal"
      :ok-title="$lang.yes"
      :cancel-title="$lang.no"
      @ok="ok"
      @cancel="cancel"
    ></confirm>
  </div>
</template>

<script>
import search from "../search";
import addCenterExecuteCase from "./addCenterExecuteCase";
import Notify from "../../shared/toast.js";
import confirm from "../base/confirm";
export default {
  components: { search, addCenterExecuteCase, confirm },
  data() {
    return {
      modalTitle: "",
      message: "",
      confirmModal: false,
      changingItem: null,
      loadingItem: false,
      url:
        this.$config.api_url +
        this.$config.resources.center_execute_case.replace(
          "{0}",
          this.$route.params.center_execute_id
        ),
      buttons: [
        {
          
          id: 0,
          name:"searchCompetencies",
          click: this.searchCompetency,
          status_not: [],
        },
        {
          id: 1,
          name:"fileSend",
          click: this.confirmCase,
          status_not: [1]
        },
        {
          id: 2,
          name:"reject",
          click: this.rejectCase,
          status_not: [2]
        }
      ]
    };
  },
  methods: {
    clearModal() {
      this.modalTitle = "";
    },
    ok() {
      this.confirmedChangeStatus();
      this.clearModal();
    },
    cancel() {
      this.notConfirmedChangeStatus();
      this.clearModal();
    },
    confirmCase(item) {
      this.changeStatus(item, 1);
    },
    rejectCase(item) {
      this.changeStatus(item, 2);
    },
    availableButtons(item) {
       if (!item || !("status_object" in item)) return [];
      
      return this.buttons.filter(x => {
        return !x.status_not.includes(item.status_object.id);
      });
    },
    handleBack() {
      if (this.backUrl) {
        this.$route.push(this.backUrl);
      } else if (this.isModal) {
        this.$emit("modal-end-up");
        // this.handleBack();
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push("/");
      }
    },
    searchCompetency(item) {
      this.$router.push(
        "/center_execute/" +
          item.center_execute_id +
          "/case/" +
          item.id +
          "/competency/search"
      );
    },
    remove_item(item) {
      console.log("remove");
      return this.$httpService
        .delete(this.url + "/" + item.id)
        .then(response => {
          Notify.success(response.data.message);
          return true;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          throw "error";
        });
    },
    confirmedChangeStatus() {
      this.loadingItem = true;
      let payLoad = {
        status: this.status
      };
      return this.$httpService
        .patch(
          this.$config.api_url +
            this.$config.resources.center_execute_case.replace(
              "{0}",
              this.$route.params.center_execute_id
            ) +
            "/" +
            this.changingItem.id +
            "/status",
          payLoad
        )
        .then(response => {
          Notify.success(response.data.message);
          this.$refs.search_center_execute_case.getItems();
          return true;
        })
        .catch(err => {
          Notify.error(err.response.data.message);
          throw "error";
        })
        .finally(() => {
          this.loadingItem = true;
          this.status = null;
          this.changingItem = null;
          this.message = "";
          this.$refs.search_center_execute_case.getItems();
        });
    },
    notConfirmedChangeStatus() {
      this.removingItem = null;
      this.message = "";
    },
    changeStatus(item, status) {
      this.status = status;
      this.changingItem = item;
      this.message = this.$lang.are_you_sure;
      this.modalTitle = this.$lang.change_status;
      this.confirmModal = true;
    }
  },
  created() {}
};
</script>

<style>
</style>
