<template>
  <TheFooter>
    <div class="ml-auto">
      <span class="mr-1">تیم طراحی و توسعه </span>
      <a href="https://rasa-hr.com"> موسسه رسا</a>
    </div>
  </TheFooter>
</template>
<script>
import { Footer as TheFooter } from "@coreui/vue";
export default {
  name: "DefaultFooter",
  components: {
    TheFooter
  }
};
</script>
