<template>
  <div class="app">
    <DefaultHeader />
    <div class="app-body">
      <AppSidebar fixed>
        <SidebarHeader />
        <SidebarForm />
        <SidebarNav :navItems="nav"></SidebarNav>
        <SidebarFooter />
        <SidebarMinimizer />
      </AppSidebar>
      <main class="main">
        <Breadcrumb :list="list" />
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
      <AppAside fixed>
        <!--aside-->
        <DefaultAside />
      </AppAside>
    </div>
    <DefaultFooter />
  </div>
</template>

<script>
import {
  Sidebar as AppSidebar,
  SidebarFooter,
  SidebarForm,
  SidebarHeader,
  SidebarMinimizer,
  SidebarNav,
  Aside as AppAside,
  Breadcrumb
} from "@coreui/vue";
import DefaultAside from "./DefaultAside";
import DefaultHeaderDropdownAccnt from "./DefaultHeaderDropdownAccnt";
import DefaultHeader from "./DefaultHeader";
import DefaultFooter from "./DefaultFooter";
import Notify from "../shared/toast";
import { mapActions } from "vuex";

export default {
  name: "DefaultContainer",
  components: {
    AppSidebar,
    AppAside,
    Breadcrumb,
    DefaultAside,
    DefaultHeaderDropdownAccnt,
    SidebarForm,
    SidebarFooter,
    SidebarHeader,
    SidebarNav,
    SidebarMinimizer,
    DefaultFooter,
    DefaultHeader
  },
  data() {
    return {
      // nav: nav.items
      nav: []
    };
  },
  methods: {
    ...mapActions(["getUserInfo"]),
    getMenu() {
      this.$httpService
        .get(this.$config.api_url + this.$config.resources.getMenu)
        .then(response => {
          this.nav = response.data.data;
          
        })
        .catch(err => {
          if (err.response.status == 400) {
            if (typeof err.response.data.message === "object") {
              err.response.data.message.forEach(element => {
                this.errors.push(element);
              });
            } else {
              Notify.error(err.response.data.message);
            }
          }
          else if (err.response.status == 401){
            Notify.error(this.$lang.unauthorized_error_message);
          } else {
            Notify.error(this.$lang.global_error_message);
          }
        });
    },

  },
  computed: {
    name() {
      return this.$route.name;
    },
    list() {
      return this.$route.matched.filter(
        route => route.name || route.meta.label
      );
    }
  },
  created() {
    this.getMenu();

    this.getUserInfo();
  }
};
</script>
