<template>
  <AppHeaderDropdown no-caret class="header-dropdown-right" right id="ddown-left" v-if="profileUrl">
    <template slot="header">
      <span>{{user_fullName}}</span>
      <img :src="profileUrl" class="img-avatar" alt="profile picture" />
    </template>
    <template slot="dropdown">
      <b-dropdown-header tag="div" class="text-center">
        <strong>تنظیمات کاربری</strong>
      </b-dropdown-header>
      <b-dropdown-item @click="showProfile">
        <i class="fa fa-user" />پروفایل من
      </b-dropdown-item>
      <b-dropdown-item @click="showResetPassword">
        <i class="fa fa-key" /> تغییر رمز عبور
        <b-badge variant="secondary"></b-badge>
      </b-dropdown-item>

      <b-dropdown-header tag="div" class="text-center">
        <strong>حساب کاربری</strong>
      </b-dropdown-header>
      <b-dropdown-item>
        <router-link :to="{name:'schedulerPage'}">
           <i class="fa fa-envelope-o" /> اطلاعیه جدید
        <b-badge variant="success">{{ itemsCount }}</b-badge>
        </router-link>
       
      </b-dropdown-item>
      <b-dropdown-item>
        <i class="fa fa-tasks" /> پرونده های محوله
        <b-badge variant="primary">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-divider />
      <b-dropdown-item @click="logout">
        <i class="fa fa-lock" /> خروج
      </b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script>
import { HeaderDropdown as AppHeaderDropdown } from "@coreui/vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "DefaultHeaderDropdownAccnt",
  components: {
    AppHeaderDropdown
  },
  data() {
    return {
      itemsCount: 42,
      // profileUrl: this.$config.base_url + "/img/avatars/9.jpg"
      profileUrl:
        this.$config.server_url +
        this.$config.resources.upload_folder +
        "/" +
        this.$config.metaData.sample_profile_pic,

      user_fullName: ""
    };
  },
  computed: mapState(["userInfo"]),
  methods: {
    ...mapActions(["logout"]),
    showProfile() {
      this.$router.push(
        "/person/edit/" + this.$store.state.userInfo.person.code
      );
    },
    showResetPassword() {
      this.$router.push(
        "/users/change_pass/" + this.$store.state.userInfo.code
      );
    }
  },
  watch: {
    userInfo(newValue, oldValue) {
      this.user_fullName = newValue.person.name + " " + newValue.person.family;
      if (!this.$store.state.userInfo) {
        this.profileUrl =
          this.$config.server_url +
          this.$config.resources.upload_folder +
          "/" +
          this.$config.metaData.sample_profile_pic;
      } else {
        console.log(`Updating from ${oldValue} to ${newValue}`);
        let pic = this.$store.state.userInfo.person.images_kind.find(
          x => x.type === "avatar"
        );
        if (pic) {
          this.profileUrl = pic.path;
        } else {
          this.profileUrl =
            this.$config.server_url +
            this.$config.resources.upload_folder +
            "/" +
            this.$config.metaData.sample_profile_pic;
        }
      }
    }
  }
};
</script>
