<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <i class="icon-bell"></i>
      <b-badge pill variant="danger">5</b-badge>
    </template>
    <template slot="dropdown">
      <b-dropdown-header tag="div" class="text-center">
        <strong>حساب کاربری</strong>
      </b-dropdown-header>
      <b-dropdown-item>
        <i class="fa fa-envelope-o" /> اطلاعیه جدید
        <b-badge variant="success">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-item>
        <i class="fa fa-tasks" /> پرونده های محوله
        <b-badge variant="primary">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-header tag="div" class="text-center">
        <strong>تنظیمات کاربری</strong>
      </b-dropdown-header>
      <b-dropdown-item>
        <i class="fa fa-user" /> پروفایل
      </b-dropdown-item>
      <b-dropdown-item>
        <i class="fa fa-wrench" /> تنظیمات
      </b-dropdown-item>
      <b-dropdown-item>
        <i class="fa fa-key" /> تغییر رمز عبور
        <b-badge variant="secondary"></b-badge>
      </b-dropdown-item>
      <b-dropdown-divider />
      <b-dropdown-item>
        <i class="fa fa-lock" /> خروج
      </b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script>
import { HeaderDropdown as AppHeaderDropdown } from "@coreui/vue";
export default {
  name: "DefaultHeaderDropdownNotif",
  components: {
    AppHeaderDropdown
  },
  data: () => {
    return { itemsCount: 42 };
  }
};
</script>
