<template>
  <AppHeader fixed>
    <SidebarToggler class="d-lg-none" display="md" mobile />
    <b-link class="navbar-brand" to="#">
      <img
        class="navbar-brand-full"
        :src="$config.base_url+'/img/logo.png'"
        alt="Rasa Logo"
      />
      <img
        class="navbar-brand-minimized"
        :src="$config.base_url+'/img/logo_without_text.png'"
        width="30"
        height="30"
        alt="Rasa Logo"
      />
    </b-link>
    <SidebarToggler class="d-md-down-none" display="lg" :defaultOpen="true" />
    <!--<b-navbar-nav class="d-md-down-none">
      <b-nav-item class="px-3" to="/dashboard">داشبورد</b-nav-item>
      <b-nav-item class="px-3" to="/users" exact>کاربران</b-nav-item>
      <b-nav-item class="px-3">تنظیمات</b-nav-item>
    </b-navbar-nav>-->
    <b-navbar-nav class="avatar-rtl">
<!--      <DefaultHeaderDropdownNotif />-->
      <DefaultHeaderDropdownAccnt />
      <!-- <b-nav-item class="d-md-down-none">
        <i class="icon-list"></i>
      </b-nav-item>
      <b-nav-item class="d-md-down-none">
        <i class="icon-location-pin"></i>
      </b-nav-item>-->
    </b-navbar-nav>
    <AsideToggler class="d-none d-lg-block" />
    <!--<AsideToggler class="d-lg-none" mobile />-->
  </AppHeader>
</template>
<script>
import { Header as AppHeader, SidebarToggler, AsideToggler } from "@coreui/vue";
import DefaultHeaderDropdownAccnt from "./DefaultHeaderDropdownAccnt";
import DefaultHeaderDropdownNotif from "./DefaultHeaderDropdownNotif";

export default {
  name: "DefaultHeader",
  components: {
    AsideToggler,
    AppHeader,
    DefaultHeaderDropdownAccnt,
    SidebarToggler,
    DefaultHeaderDropdownNotif
  }
};
</script>
<style scoped>
.avatar-rtl {
  margin-right: auto !important;
}
</style>
