<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.company"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-row>
              <b-col xs="6" md="12">
                <b-form-group :label="$lang.company" label-for="company_id" :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.company" :rules="$v.company_id.$params" />

                  <selectAsync :options="company_options" v-model="$v.company_id.$model" label="name"
                    :asyncFind="getCompanies" :isValid="$v.company_id.$dirty ? !$v.company_id.$error : null"
                    :loading="companyLoading" />

                  <b-form-invalid-feedback id="company_id-feedback">{{$lang.error_required | replace($lang.company)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="12">
                <b-form-group :label="$lang.post" label-for="post" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.post" :rules="$v.post.$params" />
                  <b-form-input id="post" v-model="post" type="text" :autocomplete="$lang.post"></b-form-input>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="12">
                <b-form-group :label="$lang.type" label-for="is_enable" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.status" :rules="$v.is_enable.$params" />
                  <b-form-select id="is_enable" :autocomplete="$lang.status" v-model="$v.is_enable.$model"
                    :state="$v.is_enable.$dirty ? !$v.is_enable.$error : null" :options="is_enable_options">
                  </b-form-select>
                  <b-form-invalid-feedback id="value-feedback">وضعیت ضروری است</b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.from_date" label-for="from_date"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.from_date"
                    :rules="$v.from_date.$params" />
                  <date-picker v-model="$v.from_date.$model" :state="$v.from_date.$dirty ? !$v.from_date.$error : null"
                    format="YYYY/MM/DD" display-format="dddd jDD jMMMM jYYYY" min="1950/01/02" max="1999/12/31"
                    inputReq="true"
                    :class="$v.from_date.$dirty ? ($v.from_date.$error)?'invalid-date':'valid-date' : null">
                  </date-picker>
                  <b-form-invalid-feedback :style="{display:$v.from_date.$error?'block':'none'}"
                    id="gender_id-feedback">
                    {{$lang.error_required | replace($lang.personCompany.from_date)}}</b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.to_date" label-for="to_date"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.to_date" :rules="$v.to_date.$params" />
                  <date-picker v-model="$v.to_date.$model" :state="$v.to_date.$dirty ? !$v.to_date.$error : null"
                    format="YYYY/MM/DD" display-format="dddd jDD jMMMM jYYYY" min="1950/01/02" max="1999/12/31"
                    inputReq="true" :class="$v.to_date.$dirty ? ($v.to_date.$error)?'invalid-date':'valid-date' : null">
                  </date-picker>
                  <b-form-invalid-feedback :style="{display:$v.to_date.$error?'block':'none'}" id="gender_id-feedback">
                    {{$lang.error_required | replace($lang.personCompany.to_date)}}</b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.industry" label-for="industry_id"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.industry"
                    :rules="$v.industry_selected.$params" />



                  <b-form-select v-model="$v.industry_selected.$model" :options="industry_options"
                    @input="getSubIndustry">
                  </b-form-select>


                  <b-form-invalid-feedback :style="{display:$v.industry_selected.$error?'block':'none'}"
                    id="industry_id_feedback">{{$lang.error_required | replace($lang.personCompany.industry_id)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.sub_industry" label-for="sub_industry_id"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.sub_industry"
                    :rules="$v.sub_industry_selected.$params" />



                  <b-form-select v-model="$v.sub_industry_selected.$model" :options="sub_industry_options">
                  </b-form-select>

                  <b-form-invalid-feedback :style="{display:$v.sub_industry_selected.$error?'block':'none'}"
                    id="sub_industry_id_feedback">{{$lang.error_required | replace($lang.personCompany.sub_industry)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.organization_type" label-for="organization_type_id"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.organization_type"
                    :rules="$v.organization_type_selected.$params" />

                  <b-form-select v-model="$v.organization_type_selected.$model" :options="organization_type_options">
                  </b-form-select>

                  <b-form-invalid-feedback :style="{display:$v.organization_type_selected.$error?'block':'none'}"
                    id="organization_type_id_feedback">
                    {{$lang.error_required | replace($lang.personCompany.organization_type)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">

                <b-form-group :label="$lang.personCompany.primary_job_function" label-for="primary_job_function_id"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.primary_job_function"
                    :rules="$v.primary_job_function_selected.$params" />


                  <b-form-select v-model="$v.primary_job_function_selected.$model"
                    :options="primary_job_function_options" @input="getJobSubFunction"></b-form-select>


                  <b-form-invalid-feedback :style="{display:$v.primary_job_function_selected.$error?'block':'none'}"
                    id="primary_job_function_id_feedback">
                    {{$lang.error_required | replace($lang.personCompany.primary_job_function)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.job_sub_function" label-for="job_sub_function_id"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.job_sub_function"
                    :rules="$v.job_sub_function_selected.$params" />


                  <b-form-select v-model="$v.job_sub_function_selected.$model" :options="job_sub_function_options">
                  </b-form-select>


                  <b-form-invalid-feedback :style="{display:$v.job_sub_function_selected.$error?'block':'none'}"
                    id="job_sub_function_id_feedback">
                    {{$lang.error_required | replace($lang.personCompany.job_sub_function)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.base_salary" label-for="base_salary"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.base_salary"
                    :rules="$v.base_salary.$params" />
                  <b-form-input id="base_salary" v-model="$v.base_salary.$model"
                    :state="$v.base_salary.$dirty ? !$v.base_salary.$error : null" @keyup="spliceNumber" type="text"
                    :autocomplete="$lang.base_salary"></b-form-input>

                  <div class="invalid-feedback" v-if="!$v.base_salary.numeric">
                    {{$lang.error_numeric | replace($lang.personCompany.base_salary)}}
                  </div>

                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.type_of_employment" label-for="type_of_employment_id"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.type_of_employment"
                    :rules="$v.type_of_employment_selected.$params" />

                  <b-form-select v-model="$v.type_of_employment_selected.$model" :options="type_of_employment_options">
                  </b-form-select>


                  <b-form-invalid-feedback :style="{display:$v.type_of_employment_selected.$error?'block':'none'}"
                    id="type_of_employment_id_feedback">
                    {{$lang.error_required | replace($lang.personCompany.type_of_employment)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">

                <b-form-group :label="$lang.personCompany.job_level" label-for="job_level_id"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.job_level"
                    :rules="$v.job_level_selected.$params" />

                  <b-form-select v-model="$v.job_level_selected.$model" :options="job_level_options"></b-form-select>

                  <b-form-invalid-feedback :style="{display:$v.job_level_selected.$error?'block':'none'}"
                    id="job_level_id_feedback">
                    {{$lang.error_required | replace($lang.personCompany.job_level)}}
                  </b-form-invalid-feedback>
                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.annual_bonus" label-for="annual_bonus"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.annual_bonus"
                    :rules="$v.annual_bonus.$params" />
                  <b-form-input id="annual_bonus" v-model="$v.annual_bonus.$model"
                    :state="$v.annual_bonus.$dirty ? !$v.annual_bonus.$error : null" @keyup="spliceNumber" type="text"
                    :autocomplete="$lang.annual_bonus"></b-form-input>

                  <div class="invalid-feedback" v-if="!$v.annual_bonus.numeric">
                    {{$lang.error_numeric | replace($lang.personCompany.annual_bonus)}}
                  </div>

                </b-form-group>
              </b-col>
              <b-col xs="6" md="6">
                <b-form-group :label="$lang.personCompany.value_other_compensation" label-for="value_other_compensation"
                  :label-cols="this.$config.form.labelCol">
                  <requiredComponent slot="label" :label="$lang.personCompany.value_other_compensation"
                    :rules="$v.value_other_compensation.$params" />
                  <b-form-input id="value_other_compensation" v-model="$v.value_other_compensation.$model"
                    :state="$v.value_other_compensation.$dirty ? !$v.value_other_compensation.$error : null"
                    @keyup="spliceNumber" type="text" :autocomplete="$lang.value_other_compensation"></b-form-input>

                  <div class="invalid-feedback" v-if="!$v.value_other_compensation.numeric">
                    {{$lang.error_numeric | replace($lang.personCompany.value_other_compensation)}}
                  </div>

                </b-form-group>
              </b-col>
              <b-col xs="6" md="12">
                <b-form-group :label="$lang.description" label-for="description" :label-cols="12">
                  <requiredComponent slot="label" :label="$lang.description" :rules="$v.description.$params" />
                  <b-form-textarea id="description" v-model="$v.description.$model"
                    :rows="this.$config.form.textareaRows">
                  </b-form-textarea>
                </b-form-group>

              </b-col>

            </b-row>



            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" v-if="showPermissionButton" variant="success">
                <i class="fa fa-check"></i>
                {{$lang.submitButton}}
              </b-button>
              <b-button type="reset" class="ml-2" size="md" variant="danger" @click="handleBack">
                <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>
          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import Notify from "../../shared/toast";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    numeric
  } from "vuelidate/lib/validators";
  import VuePersianDatetimePicker from "vue-persian-datetime-picker";
  export default {
    mixins: [validationMixin],
    validations: {
      company_id: {
        required
      },
      post: {},
      is_enable: {
        required
      },
      from_date: {},
      to_date: {},
      industry_selected: {
        required
      },
      sub_industry_selected: {
        required
      },
      organization_type_selected: {
        required
      },
      primary_job_function_selected: {
        required
      },
      job_sub_function_selected: {
        required
      },
      type_of_employment_selected: {},
      base_salary: {

      },
      annual_bonus: {

      },
      value_other_compensation: {

      },
      job_level_selected: {},
      description: {}
    },

    name: "add-person_company",

    components: {
      datePicker: VuePersianDatetimePicker
    },
    props: {
      entity: {
        type: String,
        default: "person"
      },
      entityId: {
        type: String
      },
      companyId: {
        type: String
      },
      isModal: {
        type: Boolean,
        default: false
      },
      backUrl: {
        type: String,
        default: ""
      }
    },
    data() {
      return {
        id: this.$route.params.id,
        isLoading: false,
        permission: [],
        allowPermissions: ["admin", "edit"],
        showPermissionButton: false,
        company_id: "",
        old_company_id: "",
        post: "",
        is_enable: "",
        companyLoading: false,
        company_options: [],
        is_enable_options: [],
        description: "",
        entityKey: "person_company",
        to_date: null,
        from_date: null,
        industry_selected: null,
        base_salary: null,
        annual_bonus: null,
        value_other_compensation: null,
        organization_type_selected: null,
        sub_industry_selected: null,
        primary_job_function_selected: null,
        type_of_employment_selected: null,
        job_sub_function_selected: null,
        job_level_selected: null,
        companyLoading: false,
        industry_Loading: false,
        sub_industry_Loading: false,
        organization_type_Loading: false,
        primary_job_function_Loading: false,
        job_sub_function_Loading: false,
        type_of_employment_Loading: false,
        job_level_Loading: false,
        company_options: [],
        industry_options: [],
        sub_industry_options: [],
        job_sub_function_options: [],
        organization_type_options: [],
        primary_job_function_options: [],
        type_of_employment_options: [],
        job_level_options: [],
      };
    },
    methods: {
      spliceNumber(event) {
        let splice = event.target.value.replace(/,/gi, "").split(/(?=(?:\d{3})+$)/).join(",")
        event.target.value = splice
      },

      handleBack() {
        if (this.isModal) {
          this.$emit("modal-end-up");
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        this.company_id = "";
        this.post = "";
        this.is_enable = "";
      },
      afterSave() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      getCompanies(query) {
        if (!query || query.length < 3) {
          this.company_options = [];
          return;
        }
        this.companyLoading = true;
        this.$httpService
          .get(this.$config.api_url + this.$config.resources.company + "?name=" + query)
          .then(response => {
            let company;
            company = response.data.data.result;
            this.company_options = company;

          })
          .catch(err => {
            this.company_options = [];
          })
          .finally(() => {
            this.companyLoading = false;
          });
      },
      getValue() {
        let values;

        values = [{
            value: "1",
            text: "فعال"
          },
          {
            value: "0",
            text: "غیرفعال"
          }
        ];

        this.is_enable_options = values;
      },
      fetchData() {

        return this.$httpService
          .get(this.$config.api_url + this.$config.resources.company_person.replace(
            '{0}', this.id
          ) + "/" + this.companyId)
          .then(response => {

            let data = response.data.data;
            console.log(data, "data")
            this.permission = response.data.permissions;
            this.post = data.position;
            this.is_enable = data.is_enable;
            this.old_company_id = data.company_code;

            this.company_id = {
              value: data.company_code,
              name: data.name
            };



            this.base_salary = data.base_salary
            this.annual_bonus = data.annual_bonus
            this.value_other_compensation = data.value_other_compensation
            this.description = data.description
            this.to_date = data.to_date.gregorian
            this.from_date = data.from_date.gregorian

            this.industry_selected = data.industry ? data.industry.id : null
            this.organization_type_selected = data.organization_type ? data.organization_type.id : null
            this.sub_industry_selected = data.sub_industry ? data.sub_industry.id : null
            this.primary_job_function_selected = data.primary_job_function ? data.primary_job_function.id : null
            this.job_sub_function_selected = data.job_sub_function ? data.job_sub_function.id : null
            this.job_level_selected = data.job_level ? data.job_level.id : null
            this.type_of_employment_selected = data.type_of_employment ? data.type_of_employment.id : null

            // let industry_selected = data.industry
            // let organization_type = data.organization_type
            // let sub_industry = data.sub_industry
            // let primary_job_function = data.primary_job_function
            // let job_sub_function = data.job_sub_function
            // let job_level = data.job_level
            // let type_of_employment = data.type_of_employment




            this.isLoading = false;
            return true
          })
          .catch(err => {
            Notify.error(err.message);
            return false
          })
          .finally(() => {
            this.isLoading = false;
          });
      },
      save() {
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }

        let company_id = this.company_id.id;
        if (company_id === undefined) {
          company_id = this.old_company_id;
        }


        let other_compensation_val = this.value_other_compensation.toString().includes(",") ? parseInt(this
          .value_other_compensation.replace(/,/g, "")) : this.value_other_compensation
        let annual_bonus_val = this.annual_bonus.toString().includes(",") ? parseInt(this.annual_bonus.replace(/,/g,
          "")) : this.annual_bonus
        let base_salary_val = this.base_salary.toString().includes(",") ? parseInt(this.base_salary.replace(/,/g, "")) :
          this.base_salary


        this.isLoading = false;
        let payload = {
          company_code: company_id,
          position: this.post,
          is_enable: this.is_enable,
          from_date: this.from_date,
          to_date: this.to_date,
          industry_id: this.industry_selected,
          sub_industry_id: this.sub_industry_selected,
          organization_type_id: this.organization_type_selected,
          primary_job_function_id: this.primary_job_function_selected,
          job_sub_function_id: this.job_sub_function_selected,
          base_salary: base_salary_val,
          annual_bonus: annual_bonus_val,
          value_other_compensation: other_compensation_val,
          type_of_employment_id: this.type_of_employment_selected,
          job_level_id: this.job_level_selected,
          description: this.description
        };
        console.log(payload)
        this.$httpService
          .put(this.$config.api_url + this.$config.resources.company_person.replace(
            '{0}', this.id
          ) + '/' + this.old_company_id, payload)
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            Notify.error(err.response.data.message);
          }).finally(() => {
            this.isLoading = false;
          });

        this.isLoading = true;
      },
      getIndustry() {

        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder
            .replace("{entity}", this.entityKey)
            .replace("{enum}", "industry")
          )
          .then(response => {

            let industry = response.data.data;
            industry = industry.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption,
                id: x.id
              };
            });
            this.industry_options = industry;

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          })
      },
      getSubIndustry() {
        const industry = this.industry_options.find(x => x.value == this.industry_selected)
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder
            .replace("{entity}", this.entityKey)
            .replace("{enum}", "sub_industry") + `?parent_id=${industry ? industry.id : ``}`
          )
          .then(response => {

            let subIndustry = response.data.data;
            subIndustry = subIndustry.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption

              };
            });
            this.sub_industry_options = subIndustry;

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          })
      },
      getOrganizationType() {

        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder
            .replace("{entity}", this.entityKey)
            .replace("{enum}", "organization_type"))
          .then(response => {

            let organization_type = response.data.data;
            organization_type = organization_type.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });
            this.organization_type_options = organization_type;

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          });
      },
      getPrimaryJobFunction() {

        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder
            .replace("{entity}", this.entityKey)
            .replace("{enum}", "primary_job_function"))
          .then(response => {

            let primary_job_function = response.data.data;
            primary_job_function = primary_job_function.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption,
                id: x.id
              };
            });
            this.primary_job_function_options = primary_job_function;

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          });
      },


      getJobSubFunction() {
        let primaryFunction = this.primary_job_function_options.find(x => x.value == this.primary_job_function_selected)
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder
            .replace("{entity}", this.entityKey)
            .replace("{enum}", "job_sub_function") +
            `?parent_id=${primaryFunction ? primaryFunction.id : ``}`)
          .then(response => {

            let job_sub_function = response.data.data;
            job_sub_function = job_sub_function.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });
            this.job_sub_function_options = job_sub_function;

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          })
      },

      getTypeOfEmployment() {

        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder
            .replace("{entity}", this.entityKey)
            .replace("{enum}", "type_of_employment"))
          .then(response => {

            let type_of_employment = response.data.data;
            type_of_employment = type_of_employment.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });
            this.type_of_employment_options = type_of_employment;

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          });
      },



      getJobLevel() {

        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.entity_enum_builder
            .replace("{entity}", this.entityKey)
            .replace("{enum}", "job_level"))
          .then(response => {

            let job_level = response.data.data;
            job_level = job_level.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });
            this.job_level_options = job_level;

            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            throw "error";
          });
      },

      PermissionButtons() {
        this.permission.map(x => {
          if (this.allowPermissions.includes(x)) {
            this.showPermissionButton = true
            console.log(this.showPermissionButton)
          }
        })

      }
    },
    created() {
      this.isLoading = true;
      this.getValue();
      this.getIndustry()
      this.getSubIndustry()
      this.getOrganizationType()
      this.getPrimaryJobFunction()
      this.getJobSubFunction()
      this.getTypeOfEmployment()

      this.getJobLevel()
      this.fetchData().then(() => {
        this.PermissionButtons()
      }).finally(() => {
        this.isLoading = false;
      });
    }
  };

</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }

</style>
