<template>
  <div id="app">
    <!-- <Navbar /> -->
    <div class="container">
           <router-view></router-view>
    </div>
  </div>
</template>

<script>

import Navbar from './components/navbar.vue'


export default {
  name: 'app',
  components: {
    Navbar
  }
}
</script>

<style>




</style>
