<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.template"></strong>
          </div>

          <b-form @submit.prevent="save" v-show="!isLoading">

            <b-form-group
              :label="$lang.caption"
              label-for="caption"
              :label-cols="$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.caption"
                :rules="$v.caption.$params"
              />
              <b-form-input
                id="caption"
                type="text"
                :autocomplete="$lang.caption"
                :state="$v.caption.$dirty ? !$v.caption.$error : null"
                v-model="$v.caption.$model"></b-form-input>
              <b-form-invalid-feedback id="caption-feedback">{{$lang.error_required | replace($lang.caption)}}
              </b-form-invalid-feedback>
            </b-form-group>

            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success" >
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button
                type="reset"
                class="ml-2"
                size="md"
                variant="danger"
                @click="handleBack"
              >
                {{$lang.cancelButton}}
                 <i class="fa fa-ban"></i>
              </b-button>
            </div>

          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Notify from "../../shared/toast";
    import {validationMixin} from "vuelidate";
    import {required} from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            caption: {
                required
            },
        },
        name: "add-template",
        components: {},
        props: {
            isModal: {
                type: Boolean,
                default: false
            },
            backUrl: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                errors: [],
                isLoading: false,
                caption: ""
            };
        },
        methods: {
            handleBack() {
                if (this.isModal) {
                    this.$emit("modal-end-up");
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            clear() {
                this.caption = "";
            },
            changes() {
                console.log(this.date);
            },
            afterSave() {
                if (this.backUrl) {
                    this.$route.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                this.isLoading = true;
                let payload = {
                    caption: this.caption,
                    category_id: 1
                };
                this.$httpService
                    .post(this.$config.api_url +
                        this.$config.resources.template, payload)
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        Notify.error(err.response.data.message);
                        this.isLoading = false;
                    });
            }
        },
        created() {
            this.isLoading = true;
            this.isLoading = false;
        }
    };
</script>

<style scoped lang="css">
  .btn {
    margin-bottom: 4px;
  }
</style>
