<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            {{$lang.edit}}
            <strong v-text="$lang.template"></strong>
          </div>
          <div v-show="errors.length>0" class="alert-danger">
            <h4>{{$lang.error}}</h4>
            <ul v-bind:key="index" v-for="(error,index) in errors">
              <li>{{error}}</li>
            </ul>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.caption" label-for="caption" :label-cols="12">
              <b-form-input id="caption" type="text" :autocomplete="$lang.caption"
                :state="$v.caption.$dirty ? !$v.caption.$error : null" v-model="$v.caption.$model"></b-form-input>
              <b-form-invalid-feedback id="caption-feedback">عنوان ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$lang.category" label-for="category_selected" :label-cols="12">
              <selectFind :options="category_options" v-model="$v.category_selected.$model" label="text" id="value"
                :isValid="$v.category_selected.$dirty ? !$v.category_selected.$error : null" :loading="categoryLoading"
                :showButton="showPermissionButton" categoryName="template_category" @enumSaved="refreshReference" />

              <b-form-invalid-feedback id="category_selected-feedback">دسته ضروری است</b-form-invalid-feedback>
            </b-form-group>

            <search :url="template_competencies_url" :title="$lang.template_competency" addModalSize="xl"
              removeModalSize="xl" :editable="false" :visibleAdd="false" :visibleSearch="false" :visibleSettings="false"
              :visibleExport="false" :visibleFilters="false" :visibleViewCount="true" primaryKey="competency_id"
              :remove_item="remove_competency" :allowEdit="false" :isLoading="competencyLoading"
              ref="template_competency_search" :dynamicButtons="buttons">
              <!-- <template slot="addModal">
                <selectSearch
                  :title="$lang.competency"
                  :url="competency_url"
                  v-model="competencies"
                  :allowFields="$lang.template_competency_select_fields"
                  :limitOneSelect="false"
                ></selectSearch>
              </template>-->
              <template slot="headerButtons">
                <b-button class="mr-1 btn-lightgray" v-if="showPermissionButton" @click="showTemplateCompetencies"
                  v-b-tooltip.hover :title="$lang.search.add_tooltip">
                  <i class="fa fa-plus"></i>
                </b-button>
              </template>

              <!-- <template v-slot:buttons="prop">
                <b-dropdown-item @click="showIndicator(prop.itemsData)">
                  <span>
                    <i class="fa fa-plus fa-lg text-primary"></i>
                    <strong v-text="$lang.template_competency_indicators_tooltip"></strong>
                  </span>
                </b-dropdown-item>
              </template> -->
            </search>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_template_competencies" size="xl" hide-header ok-only @ok="addCompetencies">
              <selectSearch :title="$lang.competency" :url="competency_url" v-model="competencies"
                :allowFields="$lang.template_competency_select_fields" :limitOneSelect="false"></selectSearch>
              <template v-slot:modal-footer>
                <b-button variant="success" v-if="showPermissionButton"
                  @click="addCompetencies();view_template_competencies=false">
                  {{$lang.submitButton}}
                  <i class='fa fa-check'></i>
                </b-button>
                <b-button variant="danger" @click="view_template_competencies=false">
                  {{$lang.cancelButton}}
                  <i class='fa fa-ban'></i>
                </b-button>
              </template>
            </b-modal>

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_indicators_select" size="xl" hide-header>
              <selectSearch :title="$lang.indicator" :url="competency_indicator_url"
                :allowFields="$lang.template_competency_indicator_fields" v-model="indicators"></selectSearch>
              <template v-slot:modal-footer>
                <b-button variant="success" v-if="showPermissionButton"
                  @click="saveIndicatorsSelect();view_indicators_select=false">
                  {{$lang.submitButton}}
                  <i class='fa fa-check'></i>
                </b-button>
                <b-button variant="danger" @click="view_indicators_select=false">
                  {{$lang.cancelButton}}
                  <i class='fa fa-ban'></i>
                </b-button>
              </template>
            </b-modal>

            <search :url="template_indicators_url" :title="$lang.template_indicator_exercise" addModalSize="xl"
              removeModalSize="xl" :editable="false" :visibleSearch="false" :visibleSettings="false"
              :visibleExport="false" :visibleFilters="false" :visibleAdd="false" :visibleViewCount="true"
              :editRoute="false" @edit-item="editExercise" :remove_item="removeExercise"
              :allowFields="$lang.template_indicator_exercise_fields" :editLabel="$lang.exercise_edit"
              :removeLabel="$lang.exercise_remove" ref="template_indicators_search" :dynamicButtons="buttonsIndicators">
              <!-- <template slot="headerButtons">
                    <b-button
                      variant="primary"
                      class="mr-1"
                      @click="showTemplate_indicators"
                      v-b-tooltip.hover
                      :title="$lang.search.add_tooltip"
                    >
                      <i class="fa fa-plus"></i>
                    </b-button>
              </template>-->

              <template slot="addModal">
                <selectSearch :title="$lang.indicator" :url="template_indicators_url" v-model="indicators">
                </selectSearch>

              </template>
            </search>

            <!-- <b-button variant="primary" @click="selectIndicator=!selectIndicator">ثبت تمرین-نشانگر</b-button> -->

            <b-modal no-close-on-backdrop variant="primary" header-bg-variant="primary" content-class="border-primary"
              v-model="view_exercise_select" size="xl" ok-only :ok-title="$lang.modal_ok" hide-header>
              <selectSearch :title="exercise_title" :url="exercise_url" v-model="exercises" :maxSelectNumber="1">
              </selectSearch>
              <template v-slot:modal-footer>
                <b-button variant="success" @click="saveExerciseSelect();view_exercise_select=false">
                  {{$lang.submitButton}}
                  <i class='fa fa-check'></i>
                </b-button>

              </template>
            </b-modal>
            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success" v-if="showPermissionButton">
                {{$lang.submitButton}}
                <i class="fa fa-check"></i>
              </b-button>
              <b-button class="ml-2" size="md" variant="danger" @click="handleBack">
                {{$lang.cancelButton}}
                <i class="fa fa-ban"></i>
              </b-button>
            </div>

          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import Notify from "../../shared/toast";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required
  } from "vuelidate/lib/validators";
  import search from "../search";
  import selectSearch from "../base/selectSearch";
  export default {
    mixins: [validationMixin],
    validations: {
      caption: {
        required
      },
      category_selected: {
        required
      }
    },
    name: "edit-exercise",
    components: {
      search,
      selectSearch
    },
    data() {
      return {
        view_template_competencies: false,
        exercise_title: "",
        id: this.$route.params.id,
        caption: "",
        category_options: [],
        permission: [],
        allowPermissions: ["admin", "edit"],
        showPermissionButton:false,
        category_selected: null,
        category_id: null,
        selectCompetency: false,
        selectIndicator: false,
        template_competencies_url: this.$config.api_url +
          this.$config.resources.template_competency.replace(
            "{0}",
            this.$route.params.id
          ),
        template_indicators_url: this.$config.api_url +
          this.$config.resources.template_indicator.replace(
            "{0}",
            this.$route.params.id
          ),
        competency_url: this.$config.api_url + this.$config.resources.competency,
        competency_indicator_url: this.$config.api_url + this.$config.resources.competency_indicator,
        isLoading: false,
        errors: [],
        categoryLoading: false,
        indicators: [],
        competencies: [],
        view_indicators_select: false,
        competencyLoading: false,
        competency_indicator_exercise_url: this.$config.api_url + this.$config.resources.competency_indicator,
        competency_selected: 0,
        exercises: [],
        exercise_url: this.$config.api_url + this.$config.resources.exercise,
        view_exercise_select: false,
        template_indicator_exercise_url: this.$config.api_url +
          this.$config.resources.template_indicator_exercise.replace(
            "{0}",
            this.$route.params.id
          ),
        selected_indicator: {},
        selected_exercise: {},
        buttons: [{
            id: '0',
            name: "competencyIndicators", //درج/ویرایش نشانگر
            click: this.showIndicator
          },
          {
            id: "1",
            name: "delete",
          }
        ],
        buttonsIndicators: [{
            id: "0",
            name: "edit",
          },
          {
            id: "3",
            name: "delete",
          }
        ]
      };
    },
    methods: {
      refreshReference() {
        this.categoryLoading = true;
        this.getTemplateCategory()
          .then()
          .catch(err => {
            Notify.error(err.response.data.message);
          })
          .finally(() => (this.categoryLoading = false));
      },
      showTemplateCompetencies() {
        this.view_template_competencies = true;
      },
      hiddenExerciseSelect() {
        console.log("hidden exercise");
      },
      saveExerciseSelect() {
        if (this.exercises.length == 0) {
          if (!this.selected_exercise || !this.selected_exercise.id) return;

          let url = this.template_indicator_exercise_url
            .replace("{exercise_id}", this.selected_exercise.id)
            .replace("{indicator_id}", this.selected_indicator.id);

          this.$refs.template_indicators_search.loadingItem = true;
          return this.$httpService
            .delete(url)
            .then(response => {
              Notify.success(response.data.message);
              return true;
            })
            .catch(err => {
              if (err.response.status == 400) {
                if (typeof err.response.data.message === "object") {
                  err.response.data.message.forEach(element => {
                    this.errors.push(element);
                  });
                } else {
                  Notify.error(err.response.data.message);
                }
              } else {
                Notify.error(err.message);
              }
              return false;
            })
            .finally(() => {
              this.exercises = [];
              this.$refs.template_indicators_search.getItems();
              this.selected_indicator = {};
              this.selected_exercise = {};
            });
        } else if (this.exercises.length == 1) {
          console.log(this.exercises);
          let url = this.template_indicator_exercise_url
            .replace("{exercise_id}", this.exercises[0].id)
            .replace("{indicator_id}", this.selected_indicator.id);
          this.$refs.template_indicators_search.loadingItem = true;
          return this.$httpService
            .put(url)
            .then(response => {
              Notify.success(response.data.message);
              return true;
            })
            .catch(err => {
              Notify.error(err.response.data.message);
              return false;
            })
            .finally(() => {
              this.exercises = [];
              this.$refs.template_indicators_search.getItems();
              this.selected_indicator = {};
              this.selected_exercise = {};
            });
        } else {
          return;
        }
      },
      removeExercise(item) {
        if (item.exercise_object.id == null) {
          let promise = new Promise((resolve, reject) => {
            resolve(false);
          });
          return promise;
        }

        let url = this.template_indicator_exercise_url
          .replace("{indicator_id}", item.indicator_object.id)
          .replace("{exercise_id}", item.exercise_object.id);

        this.$refs.template_indicators_search.loadingItem = true;
        return this.$httpService
          .delete(url)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            return false;
          })
          .finally(() => {
            this.exercises = [];
            this.$refs.template_indicators_search.getItems();
            this.selected_indicator = {};
            this.selected_exercise = {};
          });
      },
      editExercise(item) {
        console.log("edit exercise", item);
        this.selected_indicator = item.indicator_object;
        this.exercise_title = this.$lang.template_exercise_for_competency_indicator
          .replace("{competency}", item.competency)
          .replace("{indicator}", item.indicator);
        let exercise = item.exercise_object;
        if (exercise.id != null) {
          this.exercises = [exercise];
          this.selected_exercise = exercise;
        }

        this.view_exercise_select = true;
      },
      remove_competency(item) {
        console.log("adawdi", item);
        return this.$httpService
          .delete(
            this.template_competencies_url + "/" + item.competency_object.id
          )
          .then(response => {
            Notify.success(response.data.message);
            this.competencies = this.competencies.filter(
              x => x.id !== item.competency_object.id
            );
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            return false;
          });
      },
      fillChoosedIndicators(competency_id) {
        return this.$httpService
          .get(
            this.$config.api_url +
            (this.$config.resources.template_competency_indicator + '?per_page=-1')
            .replace("{0}", this.id)
            .replace("{competency_id}", competency_id)
          )
          .then(response => {
            let data = response.data.data;
            if ("result" in data) {
              let template_competency_indicators = data.result;
              template_competency_indicators = template_competency_indicators.map(
                x => x.indicator
              );

              this.indicators = template_competency_indicators;
              return true;
            }
          })
          .catch(err => {
            Notify.error(err.message);
            this.indicators = [];
            return false;
          });
      },
      showIndicator(item) {
        this.competencyLoading = true;
        this.competency_selected = item.competency_object.id;
        this.competency_indicator_url =
          this.$config.api_url +
          this.$config.resources.competency_indicator.replace(
            "{0}",
            this.competency_selected
          );
        this.fillChoosedIndicators(this.competency_selected)
          .then(() => (this.view_indicators_select = true))
          .finally((this.competencyLoading = false));
      },
      handleBack() {
        window.history.length > 1 ? this.$router.go(-1) : this.$router.push("/");
      },
      clear() {
        this.caption = "";
        this.category_selected = null;
      },
      changes() {
        console.log(this.date);
      },
      getTemplateCategory() {
        return this.$httpService
          .get(this.$config.api_url + this.$config.metaData.template_category)
          .then(response => {
            let template_category = response.data.data;
            template_category = template_category.map(x => {
              return {
                value: x.enum_id,
                text: x.enum_caption
              };
            });

            this.category_options = template_category;
            return true;
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          })
          .finally(() => (this.categoryLoading = false));
      },
      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      saveIndicatorsSelect() {
        // if (this.indicators.length == 0) return;
        this.competencyLoading = true;
        console.log(this.indicators);
        let payload = {
          indicator_id: this.indicators.map(c => c.id)
        };
        return this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.template_competency_indicator
            .replace("{0}", this.id)
            .replace("{competency_id}", this.competency_selected),
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            if (err.response.status == 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }
            return false;
          })
          .finally(() => {
            this.indicators = [];
            this.$refs.template_indicators_search.getItems();
            this.competency_selected = 0;
            this.$refs.template_competency_search.getItems();
            this.competencyLoading = false;
          });
      },
      addCompetencies() {
        this.competencyLoading = true;
        console.log(this.competencies.map(c => c.id));
        let payload = {
          competency_id: this.competencies.map(c => c.id)
        };
        return this.$httpService
          .put(
            this.$config.api_url +
            this.$config.resources.template_competency.replace("{0}", this.id),
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            if (err.response.status == 400) {
              if (typeof err.response.data.message === "object") {
                err.response.data.message.forEach(element => {
                  this.errors.push(element);
                });
              } else {
                Notify.error(err.response.data.message);
              }
            } else {
              Notify.error(err.message);
            }
            return false;
          })
          .finally(() => {
            this.$refs.template_competency_search.getItems();
            this.competencyLoading = false;
          });
      },
      save() {
        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }

        this.isLoading = true;
        let payload = {
          caption: this.caption,
          category_id: this.category_selected.value
        };
        this.$httpService
          .put(
            this.$config.api_url + this.$config.resources.template + "/" + this.id,
            payload
          )
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            console.log(err.response);
            Notify.error(err.response.data.message);

            this.isLoading = false;
          });
      },
      fillChoosed() {
        return this.$httpService
          .get(this.templateCompetencyUrl)
          .then(response => {
            let data = response.data.data;
            if ("result" in data) {
              let template_competency = data.result;
              template_competency = template_competency.map(x => x.competency);

              this.competencies = template_competency;
              return true;
            }
          })
          .catch(err => {
            Notify.error(err.message);
            return false;
          });
      },
      fetchData() {
        if (isNaN(this.id)) {
          Notify.error("Not a number!");
          return false;
        }
        this.$httpService
          .get(this.$config.api_url + this.$config.resources.template + "/" + this.id)
          .then(response => {
            let data = response.data.data;
            this.permission = response.data.permissions;

            this.caption = data.caption;
            let category_selected = data.category_id;

            this.getTemplateCategory().then(() => {
              this.category_selected = this.category_options.find(
                x => x.value === category_selected
              );
            });
          })
          .then(() => this.fillChoosed())
          .then(()=>this.PermissionButtons())
          .catch(err => {})
          .finally(() => (this.isLoading = false));
      },
      PermissionButtons() {
        this.permission.map(x => {
          if (this.allowPermissions.includes(x)){
              this.showPermissionButton=true
              console.log(this.showPermissionButton)
          }
        })
        
      }
    },
    watch: {},
    created() {
      this.isLoading = true;
      this.categoryLoading = true;
      this.templateCompetencyUrl =
        this.$config.api_url +
        this.$config.resources.template_competency.replace(
          "{0}",
          this.$route.params.id
        );
      this.fetchData();
    }
  };

</script>

<style scoped lang="css">

</style>
