<template>
  <div class="animated fadeIn col-md-12">
    <search :url="url" :title="$lang.searchTemplate" :remove_item="remove_item" config="template" :toggleable="true"
      :allowRemove="true" add-modal-size="lg" remove-modal-size="xl" :isLoading="isLoading" ref="template_search"
      :dynamicButtons="buttons">
      <template slot="addModal" slot-scope="search">
        <addTemplate isModal @modal-end-up="search.close"></addTemplate>
      </template>
      <!-- <template v-slot:buttons="prop">
        <b-dropdown-item @click="cloneTemplate(prop.itemsData)">
          <span>
            <i class="fa fa-clone fa-lg color-black"></i>
            <strong v-text="$lang.search.clone_tooltip"></strong>
          </span>
        </b-dropdown-item>
         <b-button
          variant="success m-1"
          v-b-tooltip.hover
          :title="$lang.search.clone_tooltip"
        >
          <i class="fa fa-clone"></i>
      </b-button>
      </template> -->
    </search>
  </div>
</template>

<script>
  import search from "../search";
  import addTemplate from "./addTemplate";
  import Notify from "../../shared/toast.js";

  export default {
    components: {
      search,
      addTemplate
    },
    data() {
      return {
        url: this.$config.api_url + this.$config.resources.template,
        isLoading: false,
        buttons: [{
            id: "0",
            name: "edit",
          },
          {
            id: "1",
            name: "view",
          },
          {
            id: "2",
            name: "enable",
          },
          {
            id: '4',
            name: "clone",
            click: this.cloneTemplate
          },
          {
            id: "3",
            name: "delete",
          }
        ],
      };
    },
    methods: {
      editItem(item) {
        //   this.$router.push("/competency/edit/" + item.id);
        console.log(item);
      },
      remove_item(item) {
        console.log("remove");
        return this.$httpService
          .delete(this.url + "/" + item.id)
          .then(response => {
            Notify.success(response.data.message);
            return true;
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            throw "error";
          });
      },
      cloneTemplate(item) {
        this.isLoading = true;
        this.$httpService
          .post(
            this.$config.api_url +
            this.$config.resources.template_duplicate.replace("{0}", item.id)
          )
          .then(response => {

            Notify.success(response.data.message);
            this.$refs.template_search.getItems();
            this.isLoading = false;
            // this.$router.push({ name: "editTemplate", params: { id: item.id } });
          })
          .catch(err => {
            Notify.error(err.response.data.message);
          });
      }
    }
  };

</script>

<style>
</style>
