<template>
  <b-row>
    <b-col>
      <b-card :no-body="allowCollapse && !isCollapsed && allowCardNoBody">
        <div slot="header">
          <b-row>
            {{ this.$lang.selectSearch }}
            <b-col xs="6" md="6" class="d-flex align-items-center">
              <div>
                <strong>
                  {{ title }}
                  <span v-if="headerTitle && items.length > 0">({{ headerTitle }} {{ items.length }})</span>
                </strong>
              </div>
            </b-col>
            <b-col xs="6" md="6">
              <div class="float-right">

               
                  <!-- header-filter -->

                 <b-dropdown  v-if="showSomeBtn " right class="ml-2 btn-lightgray p-0" v-b-tooltip.hover :title="$lang.search.export_tooltip"
                    v-show="visibleExport">
                    <template slot="button-content">
                      <i class="fa fa-cloud-download"></i>
                    </template>
                    <b-dropdown-item>
                      <span>
                        <i class="fa fa-file-excel-o fa-lg color-black"></i>
                        <strong>Excel</strong>
                      </span>
                    </b-dropdown-item>
                    <b-dropdown-item>
                      <span>
                        <i class="fa fa-file-pdf-o fa-lg color-black"></i>
                        <strong>Pdf</strong>
                      </span>
                    </b-dropdown-item>
                    <b-dropdown-item disabled>
                      <span>
                        <i class="fa fa-file-word-o fa-lg color-black"></i>
                        <strong>Word</strong>
                      </span>
                    </b-dropdown-item>
                  </b-dropdown> 


                  <b-button v-if="showSomeBtn" class="btn-lightgray ml-2" @click="filterModal = true" v-b-tooltip.hover
                    :title="$lang.search.settings_tooltip" v-show="visibleSettings">
                    <i class="fa fa-gear"></i>
                  </b-button>
                  <div v-if="showSomeBtn" v-show="visibleViewCount && items && items.length > 0" class="btn p-0 ml-2">
                   
                    <b-form-select size="sm" id="view_count_search" class="p-1" :plain="true" :options="viewCountList"
                      v-model="viewCount"></b-form-select>
                  </div>

              
              <button type="button" class="btn btn-lightgray ml-2" v-if="(visibleExport || visibleSettings ) && items.length>0" @click="showSomeBtn =!showSomeBtn"> <i
                    class="fa fa-flickr" aria-hidden="true"></i></button>

                <b-button class="ml-2 btn-lightgray" @click="addItem"
                  v-if="buttons && buttons.includes('add') && visibleAdd" v-b-tooltip.hover
                  :title="$lang.search.add_tooltip">
                  <i class="fa fa-plus"></i>
                </b-button>
              
                <button type="button" class="btn btn-lightgray ml-2 position-relative" v-if="filterheaders.length >0" @click="showFilter">
                 <!-- <b-badge variant="dark" v-if="filterUrlLenght()">{{filterUrlLenght()}}</b-badge> -->
                 <span class="badge badge-pill badge-danger position-badge" v-if="filterUrlLenght()"> {{filterUrlLenght()}}</span>
                  <i class="fa fa-filter "></i></button>
               
                <slot name="headerButtons"></slot>
               
                <b-button v-if="allowCollapse && items.length" @click="isCollapsed = !isCollapsed"
                  :class="items.length > 0 ? 'btn-success ml-2' : 'btn-lightgray ml-2'">
                  <i :class="isCollapsed ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i>
                </b-button>
              </div>
            </b-col>
          </b-row>
        </div>
        <b-overlay :show="isOverlay" rounded="sm" :opacity="0.2">
          <template v-slot:overlay>
        
            <div position-absolute>
              <i class="fa fa-clock-od fa-6x" style="font-size:48px"></i>
            </div>
          </template>

          
          <b-collapse id="collapseSearchTable" :visible="searchTableCollapsed" class="mt-2">
            <b-row>
              <b-col  :class="classFilter">
               
                <advanceFilter v-show="filter" :headers="filterheaders" :items="filterItems" :getFilterItems="getFilter"
                  @changeUrl="filterChangeUrl" @searchTextValue="getSearchText"  :showItems="filter"/>
              </b-col>
              <b-col :class="classData">
                <div v-if="items.length > 0">
                  <c-table :table-data="availableItems" :fields="availableColumns" :perPage="viewCount" :striped="true"
                    bordered :remove="remove" :modify="editItem" :isBusy="loadingItem || isLoading"
                    :changePage="changePage" :currentPage="page" :totalRows="totalRows" :editable="editable"
                    :removable="removable" :toggleable="toggleable" :toggle="toggleItem" :editTitle="edit_label"
                    :removeTitle="remove_label" :dynamicButtons="dynamicButtons" :permissionButtons="permission">
                    <template v-slot:cell(buttons)="prop">
                      <slot name="buttons" :itemsData="prop.itemsData"></slot>
                    </template>
                  </c-table>
                </div>
                <div class="d-flex justify-content-center" v-else>
                  <h5>{{ noData }}</h5>
                </div>
              </b-col>
            </b-row>
          </b-collapse>
        </b-overlay>
        <slot name="details"></slot>
        <!-- <div class="text-center" v-show="loadingItem || isLoading">
          <b-spinner variant="primary" label="Text Centered"></b-spinner>
        </div> -->
      </b-card>
    </b-col>
    <b-modal :title="$lang.search.columns_setting" variant="primary" header-bg-variant="primary"
      content-class="border-primary" v-model="filterModal" ok-only @ok="doFilter" :ok-title="$lang.submitButton">
      <p>{{ $lang.search.columns_setting_hint }}</p>
      <b-form-group>
        <b-form-checkbox v-model="filterAllSelected" :indeterminate="indeterminate" aria-describedby="flavours"
          aria-controls="flavours" @change="toggleAllFilters" size="lg">
          <span class="column-span">
            {{
              filterAllSelected
                ? $lang.search.all_deselect
                : $lang.search.all_select
            }}
          </span>
        </b-form-checkbox>

        <b-form-checkbox-group id="checkbox-group-1" v-model="filterSelected" name="flavour-1" stacked
          class="pull-right w-100" cols="6" size="lg" @change="updateSortedColumn">
          <draggable v-model="columns" group="people" @start="drag = true" @end="drag = false"
            @change="updateSortedColumn" tags="ul" ghost-class="moving-column">
            <div v-bind:key="index" v-for="(column, index) in columns" name="checkbox-1"
              class="pl-1 flex justify-between items-center dragColumn cursor-move">
              <b-form-checkbox :value="column.label">
                <span class="m-1 column-span">{{ column.label }}</span>
              </b-form-checkbox>
            </div>
          </draggable>
        </b-form-checkbox-group>
      </b-form-group>
    </b-modal>

    <b-modal :title="$lang.search.delete_modal_title" header-bg-variant="danger" v-model="deleteModal"
      :ok-title="$lang.search.delete_modal_ok" ok-variant="danger" :cancel-title="$lang.search.delete_modal_cancel"
      cancel-variant="success" @cancel="!deleteModal" @ok="removing" :size="removeModalSize">
      <p>{{ $lang.search.delete_modal_description }}</p>
      <c-table :table-data="[confirmRemoveItem]" :fields="availableColumns.slice(0, availableColumns.length - 1)"
        :striped="true" bordered :readOnly="true" :allowPaginate="false" :allowRow="false" :editTitle="editLabel"
        :removeTitle="removeLabel" :searchMode="false"></c-table>
    </b-modal>

    <b-modal no-close-on-backdrop title v-model="addModal" hide-footer hide-header header-bg-variant="success"
      content-class="border-success" v-on:modal-end-up="handleAddModal" :size="addModalSize" @hidden="hiddenAddModal">
      <slot name="addModal" :close="handleAddModal"></slot>
    </b-modal>
  </b-row>
</template>
<script>
  import cTable from "./base/searchData";
  import bTable from "./base/tabletable";

  import draggable from "vuedraggable";
  import Notify from "../shared/toast.js";
  import {
    mapActions
  } from "vuex";

  export default {
    components: {
      cTable,
      bTable,
      draggable
    },
    props: {
      isOverlay: {
        type: Boolean,
        default: false
      },
      choosedItem: {
        type: [Object, String, Array],
        default: () => {}
      },
      headerTitle: {
        type: String,
        default: ""
      },
      forceCollapse: {
        type: Boolean,
        default: false
      },
      allowCardNoBody: {
        type: Boolean,
        default: true
      },
      allowCollapse: {
        type: Boolean,
        default: false
      },
      allowOperate: {
        type: Boolean,
        default: true
      },
      isLoading: {
        type: Boolean,
        default: false
      },
      allowEdit: {
        type: Boolean,
        default: true
      },
      allowRemove: {
        type: Boolean,
        default: true
      },
      url: {
        type: String,
        default: ""
      },
      dynamicButtons: {
        type: [Array, Function],
        default: () => []
      },
      value: {
        type: Array,
        default () {
          return [];
        }
      },
      title: {
        type: String,
        default: ""
      },
      editLabel: {
        type: String,
        default: ""
      },
      removeLabel: {
        type: String,
        default: ""
      },
      remove_item: {
        type: Function
      },
      toggle_item: {
        type: Function
      },
      editRoute: {
        type: Boolean,
        default: true
      },
      add_item: {
        type: Function
      },
      config: {
        type: String,
        default: ""
      },
      toggleable: {
        type: Boolean,
        default: false
      },
      addModalSize: {
        type: String,
        default: "md"
      },
      removeModalSize: {
        type: String,
        default: "md"
      },
      primaryKey: {
        type: String,
        default: "id"
      },
      visibleSearch: {
        type: Boolean,
        default: true
      },
      visibleSettings: {
        type: Boolean,
        default: true
      },
      visibleExport: {
        type: Boolean,
        default: true
      },
      visibleViewCount: {
        type: Boolean,
        default: true
      },
      visibleFilters: {
        type: Boolean,
        default: true
      },
      visibleAdd: {
        type: Boolean,
        default: true
      },
      // فیلدهایی که در نمایش جدول جز آن نمایش داده نشود
      allowFields: {
        type: Object,
        default () {
          return {};
        }
      },
      // فیلد هایی که در نمایش جدول نباید نمایش داده شود
      disAllowFields: {
        type: Array,
        default () {
          return ["is_enable"];
        }
      },
      // فیلد هایی که بصورت دیفالت پنهان هستند و باید از تنظیمات ستون ها آنها را نمایش داد
      hiddenFields: {
        type: Array,
        default () {
          return ["created_at", "created_by", "updated_by", "updated_at"];
        }
      },
      justifyFields: {
        type: Array,
        default () {
          return ["description"];
        }
      },
      permissionButtons: {
        type: Object,
        default () {
          return {};
        }
      },
      defaultViewCount: {
        type: Number,
        default: 10
      }
    },
    data() {
      return {
        showSomeBtn: false,
        permission: [],
        isCollapsed: false,
        loadingItem: false,
        items: [],
        itemsOriginal: [],
        noData: "",
        inputSearch: "",
        width: 800,
        myArray: [],
        drag: true,
        originalColumns: [],
        columns: [],
        filterModal: false,
        filterSelected: [],
        filterAllSelected: false,
        indeterminate: false,
        viewCountList: [5, 10, 20, 50, 100],
        viewCount: this.defaultViewCount,
        page: 1,
        buttons: [],
        buttonsAvailable: [],
        deleteModal: false,
        addModal: false,
        totalRows: 0,
        confirmRemoveItem: null,
        editable: false,
        removable: false,
        sortedColumns: [],
        edit_label: this.$lang.edit,
        remove_label: this.$lang.remove,
        searchBarCollapsed: false,
        filter: false,
        classFilter: "",
        classData: "col-12",
        filterheaders: [],
        filterItems: {},
        filterUrl: ""
      };
    },
    methods: {
      showFilter() {
        this.filter = !this.filter
        if (this.filter) {
          this.classFilter = "col-12 col-md-3";
          this.classData = "col-12 col-md-9";
        } else {
          this.classFilter = "";
          this.classData = "col-12";
        }
      },
      addModalHide() {
        this.$emit("add-modal-hide");
      },
      ...mapActions(["changeSearchConfig"]),
      toggleItem(item) {
        this.loadingItem = true;
        if (this.toggle_item != undefined) {
          this.toggle_item(item)
            .then(() => {
              this.getItems();
            })
            .catch(() => {
              this.loadingItem = false;
            });
        } else {
          let id = this.primaryKey ? this.primaryKey : "id";
        
          return this.$httpService
            .patch(this.url + "/" + item.code, {
              is_enable: !item.is_enable ? 1 : 0
            })
            .then(response => {
              Notify.success(response.data.message);
              this.getItems();
            })
            .catch(err => {
              Notify.error(err.response.data.message);
              this.loadingItem = false;
            });
        }
      },
      removing() {
        this.loadingItem = true;
        if (this.remove_item != undefined) {
          this.remove_item(this.confirmRemoveItem)
            .then(() => {
              this.getItems();
            })
            .catch(() => {
              this.loadingItem = false;
            });
        } else {
          let id = this.primaryKey ? this.primaryKey : "id";
          console.log(this.primaryKey)
          console.log(this.confirmRemoveItem,"sss")
          return this.$httpService
            .delete(this.url + "/" + this.confirmRemoveItem[this.primaryKey])
            .then(response => {
              Notify.success(response.data.message);
              this.getItems();
            })
            .catch(err => {
              Notify.error(err.response.data.message);
              this.loadingItem = false;
            });
        }
      },
      handleAddModal() {
        this.addModal = !this.addModal;
        this.hiddenAddModal();
      },
      hiddenAddModal() {
        // console.log(this.add_item);
        this.loadingItem = true;
        if (this.add_item != undefined) {
          this.add_item().finally(() => {
            this.getItems();
          });
        } else {
          this.getItems();
        }
      },
      search() {},
      doFilter() {
        this.filterModal = false;
      },
      toggleAllFilters(checked) {
        this.filterSelected = checked ?
          this.columns.map(({
            label
          }) => label).slice() : [];
      },
      updateSortedColumn() {
        this.filterSelected = this.columns.map(column => {
          if (this.filterSelected.includes(column.label)) {
            return column.label;
          }
        });
        // this.filterSelected
        // this.columns = [];
        // this.initialColumns();
        // this.columns.concat(this.sortedColumns);
        this.updateConfig;
      },
      updateConfig() {
        // save search config to vuex
        let config = {};
        config[this.config] = {
          page: this.page,
          inputSearch: this.inputSearch,
          viewCount: this.viewCount,
          filterSelected: this.filterSelected
        };

        this.changeSearchConfig(config);
        /// Tamam
      },

      extractValue(item, v) {
        if (item[v] && typeof item[v] === "object") {
          if ("jalali" in item[v]) {
            return item[v].jalali;
          } else if ("caption" in item[v]) {
            return item[v]["caption"];
          } else if ("name" in item[v]) {
            return item[v]["name"];
          } else if ("view_label" in item[v]) {
            return item[v].view_label ? item[v].view_label : "";
          }
        } else {
          return item[v];
        }
      },

      getItems(updateConfig = true) {
        this.loadingItem = true;
        this.columns = [];

        let url = this.url;

        if (url.indexOf("?") >= 0) {
          url +=
            "&page=" +
            this.page +
            "&search_txt=" +
            this.inputSearch +
            "&per_page=" +
            this.viewCount +
            this.filterUrl
        } else {
          url +=
            "?page=" +
            this.page +
            "&search_txt=" +
            this.inputSearch +
            "&per_page=" +
            this.viewCount +
            this.filterUrl
        }
        return this.$httpService
          .get(url)
          .then(response => {
            this.buttons = response.data.buttons;
            this.permission = response.data;

            // console.log(response.data.data.result ,"mehdi")
            if (!this.filterheaders.length > 0) {
              // this.filterheaders = response.data.filters
              // console.log(this.filterheaders)
              this.filterheaders = response.data.filters.map(x => {
                return {
                  key_filter_caption: x.key_filter_caption,
                  key_filter_name: x.key_filter_name,
                  key_service: x.key_service,
                  open: x.open,
                  type: x.type,
                  loader: !x.open
                }
              })
              // console.log(this.filterheaders)
              let data = [...this.filterheaders]
              for (const item of data) {
                if (item.open) {
                 
                  this.getFilter(item)
                 
                 console.log(item, "mehdi")
                }
              }
            }



            // this.getFilter(this.filterheaders)
            if (response.data.data && "result" in response.data.data) {
              let items = response.data.data.result;


              if (!items) {
                this.items = [];
                this.noData = this.$lang.noData;
                this.loadingItem = false;
                return true;
              }

              this.totalRows = response.data.data.total;
              // this.initialColumns();
              if (items.length > 0) {
                // this.columns.concat(Object.keys(items[0]));
                //use allow field from outside
                if (Object.keys(this.allowFields).length !== 0) {
                  // console.log(this.allowFields);
                  console.log(this.allowFields, "allowFields")

                  // company.company_code
                  this.columns = Object.keys(this.allowFields).map(item => {
                    return {
                      label: this.allowFields[item],
                      key: item,
                      sortable: true
                    };
                  });
                } else {
                  // extract field from api
                  Object.keys(items[0]).map(col => {
                    if (
                      !this.disAllowFields ||
                      !this.disAllowFields.includes(col)
                    ) {
                      if (col in this.$lang) {
                        this.columns.push({
                          label: this.$lang[col],
                          key: col,
                          sortable: true
                        });
                      }
                    }
                    if (col in this.$lang) {
                      this.originalColumns.push({
                        label: this.$lang[col],
                        key: col,
                        sortable: true
                      });
                    }
                  });
                }
                items = items.map(item => {
                  Object.keys(item).map(v => {
                    // برای نگهداری دیتای قبلی
                    if (typeof item[v] === "object") {
                      item[v.concat("_object")] = item[v];
                    }
                    if (item[v] && Array.isArray(item[v])) {
                      item[v] = item[v]
                        .map((value, idx) => {
                          return this.extractValue(item[v], idx);
                        })
                        .join("، ");
                    } else {
                      item[v] = this.extractValue(item, v);
                    }
                  });
                  // item.row = index + 1;
                  // item._cellVariants= { status: 'info', first_name: 'warning' }
                  // item._rowVariant= 'success'
                  return item;
                });
                this.items = items;
              } else {
                this.noData = this.$lang.noData;
                this.items = [];
              }

              if (!this.visibleFilters) {
                let labels = this.columns
                  .filter(
                    label =>
                    !this.hiddenFields || !this.hiddenFields.includes(label.key)
                  )
                  .map(({
                    label
                  }) => label);
                this.filterSelected = labels;
                // console.log(this.filterSelected, "this.filterSelected_22");
              }

              this.loadingItem = false;
              return true;
            } else {
              this.items = [];
              this.loadingItem = false;
              return true;
            }
          })
          .catch(err => {
            if ("response" in err && err.response.status == 400) {
              Notify.error(err.response.data.message);
            } else if ("response" in err && err.response.status == 403) {
              Notify.error(this.$lang.error_forbidden);
              this.$router.push({
                name: "Dashboard"
              });
            } else {
              Notify.error(err.message);
            }

            throw err;
          })
          .finally(() => {
            /* در صورتی که جستجو چیزی برنگردانده باشد
                       مقدار فیلتر ستون ها خالی است و پس از جستجو کردن و مقدار داشتن، باید دوباره از اول فیلتر ستون ها پر شود
                      */
            if (
              this.filterSelected.length == 0 &&
              this.columns &&
              this.columns.length
            )
              this.filterSelected = this.columns.map(col => col.label);

            // در صورتی که نیاز به آپدیت کانفیگ باشد، آپدیت شود
            if (updateConfig) this.updateConfig();

            this.loadingItem = false;
            this.$emit('change', this.items);
          });
      },
      initialColumns() {
        this.columns = [{
          label: "",
          key: "row",
          // width: 100,
          sortable: false
        }];
      },
      fillTable(updateConfig = false) {
        return this.getItems(updateConfig);
      },
      remove(item) {
        console.log("remove");
        this.confirmRemoveItem = item;
        this.deleteModal = true;
      },
      addItem() {
        // this.$router.push("/competency/add");
        this.addModal = true;
      },
      editItem(item) {
        if (!this.editRoute) {
          this.$emit("edit-item", item);
        } else {
          this.$router.push("edit/" + item[this.primaryKey]);
        }
      },
      changePage(page) {
        if (page != this.page) {
          this.page = page;
          this.getItems();
        }
      },
      filterUrlLenght(){
        if(this.filterUrl){
           let count= this.filterUrl.split("=")
        return count.length -1
        }
        if(this.inputSearch){
          return "1"
        }
       
      },
      getSearchText(value){
            console.log(value)
           this.inputSearch =`${value}`
             this.getItems()

      },
      filterChangeUrl(key) {
        let url = ""
        this.filterheaders.forEach((h) => {
          if (typeof key[h.key_service] != undefined) {
            if (typeof key[h.key_service] == "number" || typeof key[h.key_service] == "string") {
              url += `&${h.key_service}=${key[h.key_service]}`
            }
            if (typeof key[h.key_service] == "object") {
              key[h.key_service].forEach(x => {
                url += `&${h.key_service}[]=${x}`
              })
            }
          }

        });
        console.log(url)
        this.filterUrl = url
        this.getItems()
      },
      async getFilter(key) {

        try {
          if (!this.filterItems[key.key_filter_name] && key.key_service !== 'search_txt') {
            const data = await this.$httpService.get(
              this.$config.api_url +
              this.$config.resources.filterData.replace(
                "{key_filter_name}",
                key.key_filter_name
              )
            );
            let items = data.data.data.result;
            if (items.length > 0 && items) {

              this.filterItems[key.key_filter_name] = items;
              // console.log(this.filterItems[key.key_filter_name], "this.filterItems[key.key_filter_name] ")
              console.log(this.filterItems, "this.filterItems ")
            }


            console.log(items)
            // console.log(this.filterItems)
            // this.filterItems = this.filterItems
          }

        } catch (error) {
          console.log(error)
        }
      }
    },
    watch: {
      choosedItem() {},
      filterSelected(newVal, oldVal) {
        if (newVal.length === 0) {
          this.indeterminate = false;
          this.filterAllSelected = false;
        } else if (
          newVal.length === this.columns.map(({
            label
          }) => label).slice().length
        ) {
          this.indeterminate = false;
          this.filterAllSelected = true;
        } else {
          this.indeterminate = true;
          this.filterAllSelected = false;
        }

        if (this.items.length) this.updateConfig();
      },
      viewCount() {
        this.fillTable();
      },
      items() {},
      buttons() {
        if (this.buttons) {
          this.editable =
            this.allowEdit &&
            (this.buttons.includes("edit") || this.buttons.includes("view")) ?
            true :
            false;
          this.removable = this.allowRemove && this.buttons.includes("admin");
        }
      }
    },
    computed: {
      availableItems() {
        if (!this.choosedItem || Object.keys(this.choosedItem).length === 0)
          return this.items;
        else if (
          typeof this.choosedItem == String ||
          typeof this.choosedItem == Number
        )
          return this.items.find(x => x[this.primaryKey] == this.choosedItem);
        else if (Array.isArray(this.choosedItem)) return this.choosedItem;
        else if (typeof this.choosedItem == "object") return [this.choosedItem];
        return [];
      },
      searchTableCollapsed() {
        if (this.allowCollapse && !this.isCollapsed) return false;
        else return true;
      },
      visibleSearchBarCollapse() {
        if (
          !this.visibleSearch &&
          !this.visibleSettings &&
          !this.visibleExport &&
          !this.visibleFilters &&
          !this.visibleViewCount
        )
          return false;
        else return true;
      },
      availableColumns() {
        let cols = this.columns.map(column => {
          // if (this.disAllowFields.includes(column.key)) {
          //   column.thClass = "d-none";
          //   column.tdClass = "d-none";
          //   column.index = -1;
          // } else if (!this.allowFields) {
          //   column.thClass = "d-none";
          //   column.tdClass = "d-none";
          //   column.index = -1;
          // } else
          if (this.filterSelected.includes(column.label)) {
            column.thClass = "text-center";
            column.tdClass = "text-center";
            column.index = this.filterSelected.indexOf(column.label) + 1;
          }
          // column.key == "description" || column.key == 'internal_code'
          else if (this.justifyFields.includes(column.key)) {
            column.tdClass = "text-justify";
          } else {
            column.thClass = "d-none";
            column.tdClass = "d-none";
            column.index = -1;
          }
          return column;
        });

        let columns = [{
            label: "",
            key: "row",
            sortable: false,
            index: 0
          },
          ...cols.sort((a, b) => a.idx - b.idx)
        ];

        if (this.allowOperate && cols.length) {
          columns.push({
            label: this.$lang.search.operation,
            key: "button",
            sortable: false,
            thClass: "text-center",
            tdClass: "text-center"
          });
        }

        return columns;
      }
    },
    created() {
      if (this.editLabel != "") this.edit_label = this.editLabel;
      if (this.removeLabel != "") this.remove_label = this.removeLabel;
      let config = {};

      if (this.config && this.config in this.$store.state.searchConfig) {
        config = this.$store.state.searchConfig[this.config];
        (this.page = config.page),
        (this.viewCount = config.viewCount),
        (this.inputSearch = config.inputSearch),
        (this.filterSelected = config.filterSelected);
      }
      this.fillTable(false)
        .then(() => {
          // To-Do: check config filter Selected

          if (this.filterSelected.length) {
            let labels = this.columns
              .filter(
                label =>
                !this.hiddenFields || !this.hiddenFields.includes(label.key)
              )
              .map(({
                label
              }) => label);
            this.filterSelected = this.filterSelected.filter(x =>
              labels.includes(x)
            );

            /* در صورتی که یکی از المان های نوار بالایی جستجو فعال و قابل نمایش باشد
                    مقدار collapse برابر true می شود
                    تا این المان ها در حالت اولیه قابل نمایش باشد
                    */
            if (this.inputSearch) this.searchBarCollapsed = true;
            else this.searchBarCollapsed = this.forceCollapse;
          } else {
            let labels = this.columns
              .filter(
                label =>
                !this.hiddenFields || !this.hiddenFields.includes(label.key)
              )
              .map(({
                label
              }) => label);
            this.filterSelected = labels;
            this.updateConfig();
          }
        })
        .catch();
    }
  };

</script>
<style  lang="scss">
  .card {
    margin-bottom: 0;
  }

  .cursor-move {
    cursor: all-scroll;
  }
 .position-badge{
   position: absolute !important;
    right: -6px;
    top: -7px !important;
 }
 .dropdown-toggle{
   padding: 5px !important;
 }

</style>
