<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ایجاد
            <strong v-text="$lang.exercise_algorithm_detail"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group
              :label="$lang.run_duration"
              label-for="duration"
              :label-cols="this.$config.form.labelCol"
            >
              <requiredComponent
                slot="label"
                :label="$lang.run_duration"
                :rules="$v.duration.$params"
              />
              <b-form-input
                id="duration"
                v-model="$v.duration.$model"
                :state="$v.duration.$dirty ? !$v.duration.$error : null"
                type="number"
                min="5"
                max="600"
                :autocomplete="$lang.duration"
              ></b-form-input>
              <small class="form-text text-muted w-100 text-right">{{$lang.minute}}</small>
              <b-form-invalid-feedback
                id="duration-feedback"
              >{{$lang.error_required | replace($lang.duration)}}
              </b-form-invalid-feedback>
            </b-form-group>
            <span >{{$lang.algorithm_detail_fields.caption }} :{{this.duration}}{{ $lang.minute}}</span>
            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" size="md" variant="success">
                <i class="fa fa-check"></i>
                {{$lang.submitButton}}
              </b-button>
              <b-button type="reset" class="ml-2" size="md" variant="danger" @click="handleBack">
                <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>


          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
    import Multiselect from "vue-multiselect";
    import Notify from "../../../../shared/toast";
    import config from "../../../../shared/config";
    import {validationMixin} from "vuelidate";
    import {
        required,
        numeric,
    } from "vuelidate/lib/validators";

    export default {
        mixins: [validationMixin],
        validations: {
            duration: {
                required,
                numeric,
            }
        },

        name: "add-exercise_algorithm_detail",
        components: {Multiselect},
        props: {
            mode: {
                type: String,
                default: "add"
            },
            isModal: {
                type: Boolean,
                default: false
            },
        },
        data() {
            return {
                isLoading: false,
                exercise_id: this.$route.params.id,
                algorithm_id: this.$route.params.algorithm_id,
                duration: null,
            };
        },
        methods: {
            handleBack() {
                if (this.backUrl) {
                    this.$route.push(this.backUrl);
                } else if (this.isModal) {
                    this.$emit("modal-end-up");
                    // this.handleBack();
                } else {
                    window.history.length > 1
                        ? this.$router.go(-1)
                        : this.$router.push("/");
                }
            },
            afterSave() {
                if (this.backUrl) {
                    this.$router.push(this.backUrl);
                } else {
                    this.handleBack();
                }
            },
            clear() {
                (this.duration = "");
            },
            save() {
                this.$v.$touch();
                if (this.$v.$anyError) {
                    return;
                }

                this.isLoading = false;

                let payload = {
                    duration: this.duration,
                };

                this.$httpService
                    .post(config.api_url +
                        config.resources.exercise_algorithm_detail.replace(
                            '{0}', this.exercise_id)
                            .replace(
                                '{1}', this.algorithm_id
                            ), payload)
                    .then(response => {
                        Notify.success(response.data.message);
                        this.afterSave();
                    })
                    .catch(err => {
                        console.log(err.response);
                        Notify.error(err.response.data.message);
                        err.response.data.message.forEach(element => {
                            this.errors.push(element);
                        });
                    });

                this.isLoading = true;
            },
        },
        created() {
        },
        watch: {}
    };
</script>

<style lang="css">
  .main .container-fluid {
    padding: 0 10px !important;
  }
</style>
