<template>
  <div class="animated fadeIn col-md-12">
    <b-row>
      <b-col cols="12">
        <b-card>
          <div class="text-center" v-show="isLoading">
            <b-spinner variant="primary" label="Text Centered"></b-spinner>
          </div>
          <div slot="header">
            ویرایش
            <strong v-text="$lang.exercise_algorithm_detail"></strong>
          </div>
          <b-form @submit.prevent="save" v-show="!isLoading">
            <b-form-group :label="$lang.run_duration" label-for="duration" :label-cols="this.$config.form.labelCol">
              <requiredComponent slot="label" :label="$lang.run_duration" :rules="$v.duration.$params" />
              <b-form-input id="duration" v-model="$v.duration.$model"
                :state="$v.duration.$dirty ? !$v.duration.$error : null" type="number" min="5" max="600"
                :autocomplete="$lang.duration"></b-form-input>
              <small class="form-text text-muted w-100 text-right">{{$lang.minute}}</small>
              <b-form-invalid-feedback id="duration-feedback">مدت اجرا ضروری است</b-form-invalid-feedback>
            </b-form-group>
            <div>
              <span>{{$lang.algorithm_detail_fields.caption }} :{{this.duration}}{{ $lang.minute}}</span>
            </div>





            <div slot="footer" class="form-group form-btn">
              <b-button type="submit" v-if="showPermissionButton" size="md" variant="success">
                <i class="fa fa-check"></i>
                {{$lang.submitButton}}
              </b-button>
              <b-button type="reset" class="ml-2" size="md" variant="danger" @click="handleBack">
                <i class="fa fa-ban"></i>
                {{$lang.cancelButton}}
              </b-button>
            </div>

          </b-form>
        </b-card>
      </b-col>
      <!--/.col-->
    </b-row>
    <!--/.row-->
  </div>
</template>

<script>
  import Multiselect from "vue-multiselect";
  import Notify from "../../../../shared/toast";
  import config from "../../../../shared/config";
  import {
    validationMixin
  } from "vuelidate";
  import {
    required,
    numeric
  } from "vuelidate/lib/validators";

  export default {
    mixins: [validationMixin],
    validations: {
      caption: {

      },
      duration: {
        required,
        numeric
      }
    },

    name: "add-exercise_algorithm_detail",
    components: {
      Multiselect
    },
    props: {
      mode: {
        type: String,
        default: "add"
      },
      isModal: {
        type: Boolean,
        default: false
      },
      entityId: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        isLoading: false,
        exercise_id: this.$route.params.id,
        algorithm_id: this.$route.params.algorithm_id,
        duration: '',
        permission: [],
        allowPermissions: ["admin", "edit"],
        showPermissionButton: false,
      };
    },
    methods: {
      handleBack() {
        if (this.backUrl) {
          this.$route.push(this.backUrl);
        } else if (this.isModal) {
          this.$emit("modal-end-up");
          // this.handleBack();
        } else {
          window.history.length > 1 ?
            this.$router.go(-1) :
            this.$router.push("/");
        }
      },
      clear() {
        (this.caption = null)
        (this.duration = "");
      },
      afterSave() {
        if (this.backUrl) {
          this.$router.push(this.backUrl);
        } else {
          this.handleBack();
        }
      },
      save() {

        this.$v.$touch();
        if (this.$v.$anyError) {
          return;
        }

        this.isLoading = false;

        let payload = {
          caption: this.caption,
          duration: this.duration,
        };

        // add data for exercise_algorithm
        this.$httpService
          .put(config.api_url +
            config.resources.exercise_algorithm_detail.replace(
              '{0}', this.exercise_id
            ).replace(
              '{1}', this.algorithm_id
            ) + '/' + this.entityId, payload)
          .then(response => {
            Notify.success(response.data.message);
            this.afterSave();
          })
          .catch(err => {
            Notify.error(err.response.data.message);
            err.response.data.message.forEach(element => {
              this.errors.push(element);
            });
          });
        this.isLoading = true;
      },
      fetchData() {
        if (isNaN(this.exercise_id)) {
          Notify.error("Not a number!");
          return false;
        }

        return this.$httpService
          .get(config.api_url +
            config.resources.exercise_algorithm_detail.replace(
              '{0}', this.exercise_id
            ).replace(
              '{1}', this.algorithm_id
            ) + '/' + this.entityId)
          .then(response => {
            let data = response.data.data;
            this.permission = response.data.permissions;
            this.caption = data.caption;
            this.duration = data.duration;
            return true

          })
          .catch(err => {
            // Notify.error(err.response.message);
            Notify.error(err.message);
            return false
          });
      },
      PermissionButtons() {
        this.permission.map(x => {
          if (this.allowPermissions.includes(x)) {
            this.showPermissionButton = true
          }
        })

      }
    },
    created() {
      this.isLoading = true;
      this.fetchData().then(() => this.PermissionButtons()).finally(() => {
        this.isLoading = false
      });
    },
    watch: {

    }
  };

</script>

<style lang="css">
  .main .container-fluid {
    padding: 0 10px !important;
  }

</style>
